{
  "openapi": "3.1.0",
  "info": {
    "title": "Qwen3-Max 完整参数文档",
    "description": "Qwen3-Max 对话接口的完整 API 参考，包含所有参数和高级功能",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.evolink.ai",
      "description": "生产环境"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "Qwen3-Max 对话接口",
        "description": "- 使用 OpenAI SDK 格式调用 Qwen3-Max 模型\n- 同步处理模式，实时返回对话内容\n- **纯文本对话**：单轮或多轮上下文对话，可参考示例代码中 simple_text、multi_turn 示例\n- **系统提示词**：自定义 AI 的角色和行为，可参考示例代码中 system_prompt 示例\n- **思考模式**：支持开启思考模式，思考内容通过 reasoning_content 返回，可参考示例代码中 thinking 示例\n- **联网搜索**：支持联网搜索增强回答，可参考示例代码中 web_search 示例\n- **工具调用**：支持 Function Calling，可参考示例代码中 tool_use 示例\n- **JSON 输出**：支持 json_object 和 json_schema 格式输出",
        "operationId": "createChatCompletion",
        "tags": [
          "对话生成"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "simple_text": {
                  "summary": "单轮文本对话",
                  "value": {
                    "model": "qwen3-max-2026-01-23",
                    "messages": [
                      {
                        "role": "user",
                        "content": "请介绍一下你自己"
                      }
                    ],
                    "temperature": 0.7
                  }
                },
                "multi_turn": {
                  "summary": "多轮对话（上下文理解）",
                  "value": {
                    "model": "qwen3-max-2026-01-23",
                    "messages": [
                      {
                        "role": "user",
                        "content": "什么是量子计算？"
                      },
                      {
                        "role": "assistant",
                        "content": "量子计算是一种利用量子力学原理进行计算的技术..."
                      },
                      {
                        "role": "user",
                        "content": "它和传统计算有什么区别？"
                      }
                    ],
                    "temperature": 0.7
                  }
                },
                "system_prompt": {
                  "summary": "使用系统提示词",
                  "value": {
                    "model": "qwen3-max-2026-01-23",
                    "messages": [
                      {
                        "role": "system",
                        "content": "你是一个专业的编程助手，擅长解答各类编程问题，回答简洁准确。"
                      },
                      {
                        "role": "user",
                        "content": "Python 中 list 和 tuple 的区别是什么？"
                      }
                    ],
                    "temperature": 0.7
                  }
                },
                "thinking": {
                  "summary": "思考模式",
                  "value": {
                    "model": "qwen3-max-2026-01-23",
                    "messages": [
                      {
                        "role": "user",
                        "content": "strawberry 这个单词里有几个 r？"
                      }
                    ],
                    "stream": true,
                    "enable_thinking": true,
                    "temperature": 0.7
                  }
                },
                "web_search": {
                  "summary": "联网搜索",
                  "value": {
                    "model": "qwen3-max-2026-01-23",
                    "messages": [
                      {
                        "role": "user",
                        "content": "今天的科技新闻有哪些？"
                      }
                    ],
                    "enable_search": true,
                    "search_options": {
                      "search_strategy": "turbo"
                    },
                    "temperature": 0.7
                  }
                },
                "tool_use": {
                  "summary": "工具调用（Function Calling）",
                  "value": {
                    "model": "qwen3-max-2026-01-23",
                    "messages": [
                      {
                        "role": "user",
                        "content": "北京今天的天气怎么样？"
                      }
                    ],
                    "tools": [
                      {
                        "type": "function",
                        "function": {
                          "name": "get_weather",
                          "description": "获取指定城市的天气信息",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "string",
                                "description": "城市名称"
                              }
                            },
                            "required": ["city"]
                          }
                        }
                      }
                    ],
                    "temperature": 0.7
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "对话生成成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 400,
                    "message": "Invalid request parameters",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "未认证、Token无效或过期",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "Invalid or expired token",
                    "type": "authentication_error"
                  }
                }
              }
            }
          },
          "402": {
            "description": "配额不足、需要充值",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 402,
                    "message": "Insufficient quota",
                    "type": "insufficient_quota_error",
                    "fallback_suggestion": "https://evolink.ai/dashboard/billing"
                  }
                }
              }
            }
          },
          "403": {
            "description": "无权限访问",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 403,
                    "message": "Access denied for this model",
                    "type": "permission_error",
                    "param": "model"
                  }
                }
              }
            }
          },
          "404": {
            "description": "资源不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "message": "Specified model not found",
                    "type": "not_found_error",
                    "param": "model",
                    "fallback_suggestion": "qwen3-max-2026-01-23"
                  }
                }
              }
            }
          },
          "413": {
            "description": "请求体过大",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 413,
                    "message": "Request payload too large",
                    "type": "request_too_large_error",
                    "param": "content"
                  }
                }
              }
            }
          },
          "429": {
            "description": "请求频率超限",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "message": "Rate limit exceeded",
                    "type": "rate_limit_error",
                    "fallback_suggestion": "retry after 60 seconds"
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器内部错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 500,
                    "message": "Internal server error",
                    "type": "internal_server_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          },
          "502": {
            "description": "上游服务错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 502,
                    "message": "Upstream AI service unavailable",
                    "type": "upstream_error",
                    "fallback_suggestion": "try different model"
                  }
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 503,
                    "message": "Service temporarily unavailable",
                    "type": "service_unavailable_error",
                    "fallback_suggestion": "retry after 30 seconds"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "对话模型名称",
            "enum": [
              "qwen3-max-2026-01-23"
            ],
            "example": "qwen3-max-2026-01-23"
          },
          "messages": {
            "type": "array",
            "description": "对话消息列表，支持 system/user/assistant/tool 角色",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "minItems": 1
          },
          "stream": {
            "type": "boolean",
            "description": "是否以流式方式返回响应\n\n- `true`: 流式返回，逐块实时返回内容\n- `false`: 等待完整响应后一次性返回",
            "default": false,
            "example": false
          },
          "stream_options": {
            "type": "object",
            "description": "流式输出选项，仅 stream=true 时生效",
            "properties": {
              "include_usage": {
                "type": "boolean",
                "description": "最后一个 chunk 是否包含 token 用量信息\n\n**说明**:\n- 仅在 stream=true 时生效\n- 设置为 true 时，最后一个 chunk 会包含 usage 字段",
                "default": false
              }
            }
          },
          "temperature": {
            "type": "number",
            "description": "采样温度，控制输出的随机性\n\n**说明**:\n- 较低值(如 0.2): 更确定、更聚焦的输出\n- 较高值(如 1.5): 更随机、更有创意的输出\n- 取值范围: [0, 2)",
            "minimum": 0,
            "exclusiveMaximum": 2,
            "default": 0.7,
            "example": 0.7
          },
          "top_p": {
            "type": "number",
            "description": "核采样(Nucleus Sampling)参数\n\n**说明**:\n- 控制从累积概率前多少的 token 中采样\n- 例如 0.8 表示从累积概率达到 80% 的 token 中选择\n- 取值范围: (0, 1]\n\n**建议**: 不要同时调整 temperature 和 top_p，建议只设一个",
            "exclusiveMinimum": 0,
            "maximum": 1,
            "default": 0.8,
            "example": 0.8
          },
          "top_k": {
            "type": "integer",
            "description": "Top-K 采样参数，候选 token 数\n\n**说明**:\n- 限制每次采样时只考虑概率最高的 K 个 token\n- 当值 >100 时禁用 top_k，仅 top_p 生效\n- 较小的值会使输出更加聚焦",
            "minimum": 0,
            "default": 20,
            "example": 20
          },
          "max_tokens": {
            "type": "integer",
            "description": "最大输出 token 数\n\n**说明**:\n- 此值过小可能导致回复被截断\n- 不限制思维链长度\n- 如果到生成了最大 token 数个结果仍然没有结束，finish_reason 会是 \"length\"，否则会是 \"stop\"",
            "minimum": 1,
            "example": 2000
          },
          "presence_penalty": {
            "type": "number",
            "description": "存在惩罚，正值降低重复\n\n**说明**:\n- 正值会根据新生成的词汇是否出现在文本中来进行惩罚，增加模型讨论新话题的可能性",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 1.5,
            "example": 1.5
          },
          "frequency_penalty": {
            "type": "number",
            "description": "频率惩罚\n\n**说明**:\n- 正值会根据新生成的词汇在文本中现有的频率来进行惩罚，减少模型一字不差重复同样话语的可能性",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0.0,
            "example": 0.0
          },
          "seed": {
            "type": "integer",
            "description": "随机种子，相同 seed 结果可复现\n\n**说明**:\n- 取值范围: [0, 2³¹-1]\n- 设置相同的 seed 值可以使输出结果更具可复现性",
            "minimum": 0,
            "maximum": 2147483647,
            "example": 1234
          },
          "stop": {
            "oneOf": [
              {
                "type": "string",
                "description": "单个停止词"
              },
              {
                "type": "array",
                "description": "停止词列表",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "停止词，触发时停止生成\n\n**说明**:\n- 当模型生成的内容匹配到停止词时会停止输出\n- 停止词本身不会包含在输出中"
          },
          "n": {
            "type": "integer",
            "description": "生成响应数量\n\n**说明**:\n- 取值范围: 1-4\n- 仅非思考模式可用\n- 当 temperature 非常小靠近 0 的时候，只能返回 1 个结果",
            "minimum": 1,
            "maximum": 4,
            "default": 1,
            "example": 1
          },
          "enable_thinking": {
            "type": "boolean",
            "description": "是否开启思考模式\n\n**说明**:\n- 开启后，思考内容通过 reasoning_content 返回\n- 非流式时强制关闭\n- 思考模式下模型会先进行深度推理，再给出最终回答\n- 不传时由上游模型决定默认行为",
            "example": true
          },
          "enable_search": {
            "type": "boolean",
            "description": "是否开启联网搜索\n\n**说明**:\n- 开启后模型会根据需要进行联网搜索以增强回答\n- 会增加 token 消耗\n- 搜索费用根据搜索策略不同而不同",
            "default": false,
            "example": false
          },
          "search_options": {
            "type": "object",
            "description": "联网搜索选项，仅 enable_search=true 时生效",
            "properties": {
              "forced_search": {
                "type": "boolean",
                "description": "是否强制搜索\n\n**说明**:\n- 仅在 enable_search=true 时生效\n- 设置为 true 时，无论模型判断是否需要搜索，都会强制执行搜索",
                "default": false
              },
              "search_strategy": {
                "type": "string",
                "description": "搜索策略\n\n**说明**:\n- `turbo`: 快速搜索，费用 30 UC/次\n- `max`: 深度搜索，费用 40 UC/次\n- `agent`: 智能体搜索，费用 40 UC/次，仅适用于 qwen3-max 系列",
                "enum": [
                  "turbo",
                  "max",
                  "agent"
                ],
                "default": "turbo",
                "example": "turbo"
              },
              "enable_search_extension": {
                "type": "boolean",
                "description": "是否开启垂域搜索\n\n**说明**:\n- 仅在 enable_search=true 时生效\n- 开启后会在特定垂直领域进行更深入的搜索",
                "default": false
              }
            }
          },
          "tools": {
            "type": "array",
            "description": "工具列表，用于 Tool Use 或 Function Calling\n\n**说明**:\n- 每个工具必须包括一个类型\n- 在 function 结构体中需要包括 name、description 和 parameters",
            "items": {
              "$ref": "#/components/schemas/Tool"
            }
          },
          "tool_choice": {
            "oneOf": [
              {
                "type": "string",
                "description": "工具选择策略字符串",
                "enum": ["auto", "none"]
              },
              {
                "type": "object",
                "description": "指定工具对象"
              }
            ],
            "description": "工具选择策略\n\n**说明**:\n- `auto`: 模型自动决定是否调用工具\n- `none`: 不调用工具\n- 也可指定具体工具\n- **注意**: 思考模式不支持强制指定工具",
            "default": "auto"
          },
          "parallel_tool_calls": {
            "type": "boolean",
            "description": "是否启用并行工具调用\n\n**说明**:\n- 设置为 true 时，模型可以在一次响应中同时调用多个工具",
            "default": false,
            "example": false
          },
          "response_format": {
            "type": "object",
            "description": "输出格式设置\n\n**说明**:\n- 支持 text、json_object、json_schema 三种格式\n- 使用 json_object 或 json_schema 时，需要在 prompt 中明确引导模型输出 JSON 格式\n- 默认为 {\"type\": \"text\"}",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["text", "json_object", "json_schema"],
                "description": "输出格式类型",
                "default": "text"
              }
            }
          },
          "logprobs": {
            "type": "boolean",
            "description": "是否返回 token 对数概率\n\n**说明**:\n- 设置为 true 时，响应中会包含每个 token 的对数概率信息",
            "default": false,
            "example": false
          },
          "top_logprobs": {
            "type": "integer",
            "description": "候选 token 概率数量\n\n**说明**:\n- 仅在 logprobs=true 时生效\n- 取值范围: [0, 5]\n- 返回每个位置概率最高的 N 个候选 token 及其概率",
            "minimum": 0,
            "maximum": 5,
            "default": 0,
            "example": 0
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "消息角色\n\n- `user`: 用户消息\n- `assistant`: AI助手消息（用于多轮对话）\n- `system`: 系统提示词（设定AI的角色和行为）\n- `tool`: 工具返回结果",
            "enum": [
              "user",
              "assistant",
              "system",
              "tool"
            ],
            "example": "user"
          },
          "content": {
            "oneOf": [
              {
                "type": "string",
                "description": "纯文本消息内容",
                "example": "请介绍一下你自己"
              },
              {
                "type": "array",
                "description": "多模态消息内容，支持文本和图像混合输入",
                "items": {
                  "$ref": "#/components/schemas/ContentPart"
                }
              }
            ],
            "description": "消息内容。支持两种格式：\n\n**1. 纯文本字符串**：可直接传入字符串\n\n**2. 对象数组**（支持多模态输入）：见下方 ContentPart 定义"
          }
        }
      },
      "ContentPart": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/TextContent"
          },
          {
            "$ref": "#/components/schemas/ImageContent"
          }
        ]
      },
      "TextContent": {
        "title": "文本内容",
        "type": "object",
        "required": ["type", "text"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["text"],
            "description": "内容类型"
          },
          "text": {
            "type": "string",
            "description": "文本内容",
            "example": "请详细描述这张图片"
          }
        }
      },
      "ImageContent": {
        "title": "图像内容",
        "type": "object",
        "required": ["type", "image_url"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["image_url"],
            "description": "内容类型"
          },
          "image_url": {
            "type": "object",
            "required": ["url"],
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "图像URL地址或 Base64 编码\n\n**格式**:\n- URL格式: `https://example.com/image.png`\n- Base64格式: `data:image/<格式>;base64,<Base64编码>`",
                "example": "data:image/png;base64,iVBORw0KGgo..."
              }
            }
          }
        }
      },
      "Tool": {
        "type": "object",
        "required": ["type", "function"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["function"],
            "description": "工具类型"
          },
          "function": {
            "type": "object",
            "required": ["name", "description", "parameters"],
            "properties": {
              "name": {
                "type": "string",
                "description": "函数名称",
                "pattern": "^[a-zA-Z_][a-zA-Z0-9-_]{0,63}$",
                "example": "get_weather"
              },
              "description": {
                "type": "string",
                "description": "函数描述，介绍它能做什么功能，方便模型来判断和选择",
                "example": "获取指定城市的天气信息"
              },
              "parameters": {
                "type": "object",
                "description": "函数参数定义，内容是一个 JSON Schema 的子集"
              }
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "对话完成的唯一标识符",
            "example": "cmpl-04ea926191a14749b7f2c7a48a68abc6"
          },
          "model": {
            "type": "string",
            "description": "实际使用的模型名称",
            "example": "qwen3-max-2026-01-23"
          },
          "object": {
            "type": "string",
            "enum": ["chat.completion"],
            "description": "响应类型",
            "example": "chat.completion"
          },
          "created": {
            "type": "integer",
            "description": "创建时间戳",
            "example": 1698999496
          },
          "choices": {
            "type": "array",
            "description": "对话生成的选择列表",
            "items": {
              "$ref": "#/components/schemas/Choice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "Choice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "选择的索引",
            "example": 0
          },
          "message": {
            "$ref": "#/components/schemas/AssistantMessage"
          },
          "finish_reason": {
            "type": "string",
            "description": "完成原因\n\n- `stop`: 正常结束\n- `length`: 达到最大 token 限制\n- `content_filter`: 内容被过滤\n- `tool_calls`: 模型请求调用工具",
            "enum": ["stop", "length", "content_filter", "tool_calls"],
            "example": "stop"
          }
        }
      },
      "AssistantMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": ["assistant"],
            "description": "消息发送者的角色",
            "example": "assistant"
          },
          "content": {
            "type": "string",
            "description": "AI 回复的消息内容",
            "example": "你好！有什么可以帮助你的吗？"
          },
          "reasoning_content": {
            "type": "string",
            "description": "思考过程内容（仅 enable_thinking=true 时返回）\n\n**说明**:\n- 展示模型的思考和推理过程\n- 帮助理解模型如何得出最终答案\n- 仅在开启思考模式时返回此字段",
            "example": "用户问的是一个数学问题，我需要先分析进水速率和出水速率..."
          }
        }
      },
      "Usage": {
        "type": "object",
        "description": "Token 使用统计信息\n\n**计费说明**:\n- 输入 tokens: 20 UC / 千tokens\n- 输出 tokens（含思考 tokens）: 60 UC / 千tokens",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "输入内容的 token 数量",
            "example": 8
          },
          "completion_tokens": {
            "type": "integer",
            "description": "输出内容的 token 数量（含思考 tokens）",
            "example": 292
          },
          "total_tokens": {
            "type": "integer",
            "description": "总 token 数量",
            "example": 300
          },
          "prompt_tokens_details": {
            "type": "object",
            "description": "输入 token 详细信息",
            "properties": {
              "cached_tokens": {
                "type": "integer",
                "description": "击中缓存的 token 数量",
                "example": 8
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "HTTP状态错误代码"
              },
              "message": {
                "type": "string",
                "description": "错误描述信息"
              },
              "type": {
                "type": "string",
                "description": "错误类型"
              },
              "param": {
                "type": "string",
                "description": "相关参数名称"
              },
              "fallback_suggestion": {
                "type": "string",
                "description": "错误时的建议"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "##所有接口均需要使用Bearer Token进行认证##\n\n**获取 API Key：**\n\n访问 [API Key 管理页面](https://evolink.ai/dashboard/keys) 获取您的 API Key\n\n**使用时在请求头中添加：**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"
      }
    }
  },
  "tags": [
    {
      "name": "对话生成",
      "description": "AI对话生成相关接口"
    }
  ]
}