{
  "openapi": "3.1.0",
  "info": {
    "title": "Gemini 原生 API - 完整参数文档",
    "description": "Google Gemini 原生 API 的完整参考文档，支持文本、图像、音频、视频等多模态输入",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.evolink.ai",
      "description": "标准接口"
    },
    {
      "url": "https://code.evolink.ai",
      "description": "代码专用接口（Beta 模型）"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1beta/models/gemini-2.5-flash:{method}": {
      "post": {
        "summary": "Gemini 内容生成",
        "description": "- 使用 Google 原生 API 格式调用 gemini-2.5-flash 模型\n- 可使用同步处理模式，实时返回对话内容\n- **纯文本对话**：单轮或多轮上下文对话，可参考示例代码中 simple_text、multi_turn 示例\n- **多模态输入**：支持文本 + 图像/音频/视频混合输入，可参考示例代码中 audio_analysis、image_understanding、multi_file 示例\n- **参数调优**：通过 generationConfig 控制生成效果\n- **流式**：通过 method 参数选择生成方式",
        "operationId": "generateContent",
        "tags": [
          "内容生成"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "generateContent",
                "streamGenerateContent"
              ]
            },
            "description": "生成方法：\n- `generateContent`: 等待完整响应后一次性返回\n- `streamGenerateContent`: 流式生成，逐块实时返回内容",
            "example": "generateContent"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              },
              "examples": {
                "simple_text": {
                  "summary": "单轮纯文本对话",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "请介绍下你自己"
                          }
                        ]
                      }
                    ]
                  }
                },
                "multi_turn": {
                  "summary": "多轮对话（上下文理解）",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "什么是Python？"
                          }
                        ]
                      },
                      {
                        "role": "model",
                        "parts": [
                          {
                            "text": "Python是一种高级编程语言..."
                          }
                        ]
                      },
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "它有什么优点？"
                          }
                        ]
                      }
                    ]
                  }
                },
                "audio_analysis": {
                  "summary": "音频分析",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "请分析这段歌曲音频，回答以下问题：1. 歌曲来源和歌手来源 2. 歌曲情绪 3. 歌词完整输出"
                          },
                          {
                            "fileData": {
                              "mimeType": "audio/mp3",
                              "fileUri": "https://example.com/audio.mp3"
                            }
                          }
                        ]
                      }
                    ]
                  }
                },
                "image_understanding": {
                  "summary": "图像理解",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "请详细描述这张图片中的场景和主要元素"
                          },
                          {
                            "fileData": {
                              "mimeType": "image/jpeg",
                              "fileUri": "https://example.com/image.jpg"
                            }
                          }
                        ]
                      }
                    ]
                  }
                },
                "multi_file": {
                  "summary": "多文件输入（混合）",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "对比这两张图片和这段音频的内容关联性"
                          },
                          {
                            "fileData": {
                              "mimeType": "image/jpeg",
                              "fileUri": "https://example.com/image1.jpg"
                            }
                          },
                          {
                            "fileData": {
                              "mimeType": "image/png",
                              "fileUri": "https://example.com/image2.png"
                            }
                          },
                          {
                            "fileData": {
                              "mimeType": "audio/mp3",
                              "fileUri": "https://example.com/audio.mp3"
                            }
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "内容生成成功\n\n**响应格式说明**：\n- 当 `method=generateContent` 且无异步模式时，返回 `GenerateContentResponse`（等待完整响应后一次性返回）\n- 当 `method=streamGenerateContent` 且无异步模式时，返回 `StreamGenerateContentResponse`（流式响应，逐块返回内容）",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GenerateContentResponse"
                    },
                    {
                      "$ref": "#/components/schemas/StreamGenerateContentResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 400,
                    "message": "Invalid request parameters",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "未认证、Token无效或过期",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "Invalid or expired token",
                    "type": "authentication_error"
                  }
                }
              }
            }
          },
          "402": {
            "description": "配额不足、需要充值",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 402,
                    "message": "Insufficient quota",
                    "type": "insufficient_quota_error",
                    "fallback_suggestion": "https://evolink.ai/dashboard/billing"
                  }
                }
              }
            }
          },
          "403": {
            "description": "无权限访问",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 403,
                    "message": "Access denied for this model",
                    "type": "permission_error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "资源不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "message": "Model not found",
                    "type": "not_found_error"
                  }
                }
              }
            }
          },
          "413": {
            "description": "请求体过大、文件过大",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 413,
                    "message": "Request body too large",
                    "type": "request_too_large_error",
                    "fallback_suggestion": "reduce file size"
                  }
                }
              }
            }
          },
          "429": {
            "description": "请求频率超限",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "message": "Rate limit exceeded",
                    "type": "rate_limit_error",
                    "fallback_suggestion": "retry after 60 seconds"
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器内部错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 500,
                    "message": "Internal server error",
                    "type": "internal_server_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          },
          "502": {
            "description": "上游服务错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 502,
                    "message": "Upstream AI service unavailable",
                    "type": "upstream_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 503,
                    "message": "Service temporarily unavailable",
                    "type": "service_unavailable_error",
                    "fallback_suggestion": "retry after 30 seconds"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GenerateContentRequest": {
        "type": "object",
        "required": [
          "contents"
        ],
        "properties": {
          "contents": {
            "type": "array",
            "description": "对话内容列表，支持多轮对话和多模态输入",
            "items": {
              "$ref": "#/components/schemas/Content"
            },
            "minItems": 1
          },
          "generationConfig": {
            "$ref": "#/components/schemas/GenerationConfig",
            "description": "生成配置参数（可选）"
          }
        }
      },
      "Content": {
        "type": "object",
        "required": [
          "role",
          "parts"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "内容角色\n\n- `user`: 用户输入\n- `model`: AI 模型的回复（用于多轮对话）",
            "enum": [
              "user",
              "model"
            ],
            "example": "user"
          },
          "parts": {
            "type": "array",
            "description": "内容片段列表，支持文本和文件数据",
            "items": {
              "$ref": "#/components/schemas/Part"
            },
            "minItems": 1
          }
        }
      },
      "Part": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/TextPart"
          },
          {
            "$ref": "#/components/schemas/FilePart"
          }
        ]
      },
      "TextPart": {
        "title": "文本输入",
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "文本内容",
            "example": "你好！很高兴能向你介绍我自己。\n\n我是一个大型语言模型，由 Google 训练和开发..."
          }
        }
      },
      "FilePart": {
        "title": "多模态输入",
        "type": "object",
        "required": [
          "fileData"
        ],
        "properties": {
          "fileData": {
            "type": "object",
            "required": [
              "mimeType",
              "fileUri"
            ],
            "properties": {
              "mimeType": {
                "type": "string",
                "description": "文件MIME类型\n\n**支持的类型**:\n\n**图像**:\n- `image/jpeg`, `image/png`\n- 单张最大: 10 MB\n\n**音频**:\n- `audio/mp3`\n- 单个最大: 10 MB\n- 时长建议: 不超过 10 分钟\n\n**视频**:\n- `video/mp4`\n- 单个最大: 50 MB\n- 时长建议: 不超过 180 秒\n\n**文档**:\n- `application/pdf`\n- 单个最大: 20 MB",
                "example": "audio/mp3"
              },
              "fileUri": {
                "type": "string",
                "format": "uri",
                "description": "文件URI地址\n\n**要求**:\n- 必须是公网可访问的URL\n- URL应以文件扩展名结尾（如 .mp3, .jpg），并尽量和mimeType参数保持一致",
                "example": "https://example.com/audio.mp3"
              }
            }
          }
        }
      },
      "GenerationConfig": {
        "type": "object",
        "description": "生成配置参数",
        "properties": {
          "temperature": {
            "type": "number",
            "description": "采样温度，控制输出的随机性\n\n**说明**:\n- 较低值(如 0.2): 更确定、更聚焦的输出\n- 较高值(如 1.5): 更随机、更有创意的输出",
            "minimum": 0,
            "maximum": 2,
            "example": 0.7
          },
          "maxOutputTokens": {
            "type": "integer",
            "description": "生成回复的最大 token 数量\n\n**说明**:\n- 此值过小可能导致回复被截断",
            "minimum": 1,
            "example": 2000
          },
          "topP": {
            "type": "number",
            "description": "核采样(Nucleus Sampling)参数\n\n**说明**:\n- 控制从累积概率前多少的token中采样\n- 例如 0.9 表示从累积概率达到90%的token中选择\n- 默认值: 1.0（考虑所有token）\n\n**建议**: 不要同时调整 temperature 和 topP",
            "minimum": 0,
            "maximum": 1,
            "example": 0.9
          },
          "topK": {
            "type": "integer",
            "description": "Top-K 采样参数\n\n**说明**:\n- 例如 10 表示限制每次采样时只考虑概率最高的 10 个 token\n- 较小的值会使输出更加聚焦\n- 默认不限制",
            "minimum": 1,
            "example": 40
          }
        }
      },
      "GenerateContentResponse": {
        "title": "同步响应",
        "type": "object",
        "properties": {
          "candidates": {
            "type": "array",
            "description": "候选响应列表",
            "items": {
              "$ref": "#/components/schemas/Candidate"
            }
          },
          "promptFeedback": {
            "$ref": "#/components/schemas/PromptFeedback"
          },
          "usageMetadata": {
            "$ref": "#/components/schemas/UsageMetadata"
          }
        }
      },
      "Candidate": {
        "type": "object",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/ContentResponse"
          },
          "finishReason": {
            "type": "string",
            "description": "完成原因",
            "enum": [
              "STOP",
              "MAX_TOKENS",
              "SAFETY",
              "RECITATION",
              "OTHER"
            ],
            "example": "STOP"
          },
          "index": {
            "type": "integer",
            "description": "候选索引",
            "example": 0
          },
          "safetyRatings": {
            "type": "array",
            "nullable": true,
            "description": "安全评分",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ContentResponse": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "响应角色",
            "enum": [
              "model"
            ],
            "example": "model"
          },
          "parts": {
            "type": "array",
            "description": "响应内容片段",
            "items": {
              "$ref": "#/components/schemas/TextPart"
            }
          }
        }
      },
      "PromptFeedback": {
        "type": "object",
        "properties": {
          "safetyRatings": {
            "type": "array",
            "nullable": true,
            "description": "提示词安全评分",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "UsageMetadata": {
        "type": "object",
        "description": "使用量统计",
        "properties": {
          "promptTokenCount": {
            "type": "integer",
            "description": "输入内容的 token 数量",
            "example": 4
          },
          "candidatesTokenCount": {
            "type": "integer",
            "description": "输出内容的 token 数量",
            "example": 611
          },
          "totalTokenCount": {
            "type": "integer",
            "description": "总 token 数量",
            "example": 2422
          },
          "thoughtsTokenCount": {
            "type": "integer",
            "description": "推理 token 数量",
            "example": 1807
          },
          "promptTokensDetails": {
            "type": "array",
            "description": "输入 token 详细信息（按模态分类）",
            "items": {
              "$ref": "#/components/schemas/TokenDetail"
            }
          }
        }
      },
      "TokenDetail": {
        "type": "object",
        "description": "Token 详细信息（按模态统计）",
        "properties": {
          "modality": {
            "type": "string",
            "description": "内容模态类型",
            "enum": [
              "TEXT",
              "IMAGE",
              "AUDIO",
              "VIDEO"
            ],
            "example": "TEXT"
          },
          "tokenCount": {
            "type": "integer",
            "description": "该模态的 token 数量",
            "example": 4
          }
        }
      },
      "StreamCandidate": {
        "type": "object",
        "description": "流式响应候选项（比普通响应更简化）",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/ContentResponse"
          },
          "finishReason": {
            "type": "string",
            "description": "完成原因（仅最后一块包含此字段）",
            "enum": [
              "STOP",
              "MAX_TOKENS",
              "SAFETY",
              "RECITATION",
              "OTHER"
            ],
            "example": "STOP"
          }
        }
      },
      "StreamGenerateContentResponse": {
        "title": "流式响应",
        "type": "object",
        "description": "流式响应块\n\n**中间块**:\n```json\n{\n  \"candidates\": [\n    {\n      \"content\": {\n        \"role\": \"model\",\n        \"parts\": [{ \"text\": \"部分文本...\" }]\n      }\n    }\n  ],\n  \"usageMetadata\": {\n    \"trafficType\": \"ON_DEMAND\"\n  },\n  \"modelVersion\": \"gemini-2.5-flash\",\n  \"createTime\": \"2025-10-10T10:40:23.072315Z\",\n  \"responseId\": \"xxx\"\n}\n```\n\n**最后一块**:\n```json\n{\n  \"candidates\": [\n    {\n      \"content\": {\n        \"role\": \"model\",\n        \"parts\": [{ \"text\": \"最后的文本片段\" }]\n      },\n      \"finishReason\": \"STOP\"\n    }\n  ],\n  \"usageMetadata\": {\n    \"promptTokenCount\": 4,\n    \"candidatesTokenCount\": 522,\n    \"totalTokenCount\": 2191,\n    \"trafficType\": \"ON_DEMAND\"\n  },\n  \"modelVersion\": \"gemini-2.5-flash\",\n  \"createTime\": \"2025-10-10T10:40:23.072315Z\",\n  \"responseId\": \"xxx\"\n}\n```",
        "properties": {
          "candidates": {
            "type": "array",
            "description": "候选响应列表（流式模式下不包含 index 和 safetyRatings）",
            "items": {
              "$ref": "#/components/schemas/StreamCandidate"
            }
          },
          "usageMetadata": {
            "type": "object",
            "description": "使用量统计（中间块只有 trafficType，最后一块才包含完整统计）",
            "properties": {
              "promptTokenCount": {
                "type": "integer",
                "description": "输入内容的 token 数量（仅最后一块）",
                "example": 4
              },
              "candidatesTokenCount": {
                "type": "integer",
                "description": "输出内容的 token 数量（仅最后一块）",
                "example": 522
              },
              "totalTokenCount": {
                "type": "integer",
                "description": "总 token 数量（仅最后一块）",
                "example": 2191
              },
              "trafficType": {
                "type": "string",
                "description": "流量类型",
                "example": "ON_DEMAND"
              }
            }
          },
          "modelVersion": {
            "type": "string",
            "description": "模型版本",
            "example": "gemini-2.5-flash"
          },
          "createTime": {
            "type": "string",
            "format": "date-time",
            "description": "创建时间",
            "example": "2025-10-10T10:40:23.072315Z"
          },
          "responseId": {
            "type": "string",
            "description": "响应ID",
            "example": "l-LoaPu0BPmo1dkP6ZPHiQc"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "HTTP状态错误代码"
              },
              "message": {
                "type": "string",
                "description": "错误描述信息"
              },
              "type": {
                "type": "string",
                "description": "错误类型"
              },
              "fallback_suggestion": {
                "type": "string",
                "description": "错误时的建议"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "##所有接口均需要使用Bearer Token进行认证##\n\n**获取 API Key：**\n\n访问 [API Key 管理页面](https://evolink.ai/dashboard/keys) 获取您的 API Key\n\n**使用时在请求头中添加：**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"
      }
    }
  },
  "tags": [
    {
      "name": "内容生成",
      "description": "Gemini AI 内容生成相关接口"
    }
  ]
}
