{
  "openapi": "3.1.0",
  "info": {
    "title": "Gemini Native API - Vollständige Referenz",
    "description": "Vollständige Referenzdokumentation für die Google Gemini Native API, unterstützt multimodale Eingaben einschließlich Text, Bilder, Audio und Video",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.evolink.ai",
      "description": "Produktionsumgebung"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1beta/models/gemini-2.5-flash:{method}": {
      "post": {
        "summary": "Gemini Inhaltsgenerierung",
        "description": "- Ruft das gemini-2.5-flash-Modell im Google Native API-Format auf\n- Kann den synchronen Verarbeitungsmodus verwenden, gibt Gesprächsinhalte in Echtzeit zurück\n- **Nur-Text-Gespräch**: Einzel- oder Mehrfachrunden-Kontextdialog, siehe simple_text und multi_turn Beispiele in den Codebeispielen\n- **Multimodale Eingabe**: Unterstützt gemischte Text + Bild/Audio/Video-Eingabe, siehe audio_analysis, image_understanding und multi_file Beispiele in den Codebeispielen\n- **Parameteroptimierung**: Steuerung der Generierungsqualität über generationConfig\n- **Streaming**: Wahl des Generierungsmodus über den method-Parameter",
        "operationId": "generateContent",
        "tags": [
          "Inhaltsgenerierung"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "generateContent",
                "streamGenerateContent"
              ]
            },
            "description": "Generierungsmethode:\n- `generateContent`: Gibt die vollständige Antwort auf einmal zurück\n- `streamGenerateContent`: Streaming-Generierung, gibt Inhalte in Echtzeit-Chunks zurück",
            "example": "generateContent"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              },
              "examples": {
                "simple_text": {
                  "summary": "Einrundige Textkonversation",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Please introduce yourself"
                          }
                        ]
                      }
                    ]
                  }
                },
                "multi_turn": {
                  "summary": "Mehrstufiges Gespräch (Kontextverständnis)",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "What is Python?"
                          }
                        ]
                      },
                      {
                        "role": "model",
                        "parts": [
                          {
                            "text": "Python is a high-level programming language..."
                          }
                        ]
                      },
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "What are its advantages?"
                          }
                        ]
                      }
                    ]
                  }
                },
                "audio_analysis": {
                  "summary": "Audioanalyse",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Please analyze this song audio and answer: 1. Song source and artist 2. Song mood 3. Complete lyrics output"
                          },
                          {
                            "fileData": {
                              "mimeType": "audio/mp3",
                              "fileUri": "https://example.com/audio.mp3"
                            }
                          }
                        ]
                      }
                    ]
                  }
                },
                "image_understanding": {
                  "summary": "Bildverständnis",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Please describe the scene and main elements in this image in detail"
                          },
                          {
                            "fileData": {
                              "mimeType": "image/jpeg",
                              "fileUri": "https://example.com/image.jpg"
                            }
                          }
                        ]
                      }
                    ]
                  }
                },
                "multi_file": {
                  "summary": "Mehrfachdateieingabe (gemischt)",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Compare the relationship between these two images and this audio"
                          },
                          {
                            "fileData": {
                              "mimeType": "image/jpeg",
                              "fileUri": "https://example.com/image1.jpg"
                            }
                          },
                          {
                            "fileData": {
                              "mimeType": "image/png",
                              "fileUri": "https://example.com/image2.png"
                            }
                          },
                          {
                            "fileData": {
                              "mimeType": "audio/mp3",
                              "fileUri": "https://example.com/audio.mp3"
                            }
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inhalt erfolgreich generiert\n\n**Beschreibung des Antwortformats**:\n- Wenn `method=generateContent` und kein Async-Modus, wird `GenerateContentResponse` zurückgegeben (gibt vollständige Antwort auf einmal zurück)\n- Wenn `method=streamGenerateContent` und kein Async-Modus, wird `StreamGenerateContentResponse` zurückgegeben (Streaming-Antwort, gibt Inhalt in Teilen zurück)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GenerateContentResponse"
                    },
                    {
                      "$ref": "#/components/schemas/StreamGenerateContentResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Ungültige Anfrageparameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 400,
                    "message": "Ungültige Anfrageparameter",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Nicht autorisiert, ungültiges oder abgelaufenes Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "Invalid or expired token",
                    "type": "authentication_error"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Unzureichendes Kontingent, Aufladung erforderlich",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 402,
                    "message": "Unzureichendes Kontingent",
                    "type": "insufficient_quota_error",
                    "fallback_suggestion": "https://evolink.ai/dashboard/billing"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Zugriff verweigert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 403,
                    "message": "Access denied for this model",
                    "type": "permission_error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Ressource nicht gefunden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "message": "Model not found",
                    "type": "not_found_error"
                  }
                }
              }
            }
          },
          "413": {
            "description": "Anfragekörper zu groß, Datei zu groß",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 413,
                    "message": "Anfragekörper zu groß",
                    "type": "request_too_large_error",
                    "fallback_suggestion": "reduce file size"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Ratenlimit überschritten",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "message": "Ratenlimit überschritten",
                    "type": "rate_limit_error",
                    "fallback_suggestion": "retry after 60 seconds"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Interner Serverfehler",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 500,
                    "message": "Interner Serverfehler",
                    "type": "internal_server_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Upstream-Dienstfehler",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 502,
                    "message": "Upstream AI service unavailable",
                    "type": "upstream_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          },
          "503": {
            "description": "Dienst vorübergehend nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 503,
                    "message": "Dienst vorübergehend nicht verfügbar",
                    "type": "service_unavailable_error",
                    "fallback_suggestion": "retry after 30 seconds"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GenerateContentRequest": {
        "type": "object",
        "required": [
          "contents"
        ],
        "properties": {
          "contents": {
            "type": "array",
            "description": "Liste der Gesprächsinhalte, unterstützt mehrstufigen Dialog und multimodale Eingabe",
            "items": {
              "$ref": "#/components/schemas/Content"
            },
            "minItems": 1
          },
          "generationConfig": {
            "$ref": "#/components/schemas/GenerationConfig",
            "description": "Generierungskonfigurationsparameter (optional)"
          }
        }
      },
      "Content": {
        "type": "object",
        "required": [
          "role",
          "parts"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "Inhaltsrolle\n\n- `user`: Benutzereingabe\n- `model`: Antwort des KI-Modells (für Mehrfachrunden-Gespräch)",
            "enum": [
              "user",
              "model"
            ],
            "example": "user"
          },
          "parts": {
            "type": "array",
            "description": "Liste der Inhaltsteile, unterstützt Text- und Dateidaten",
            "items": {
              "$ref": "#/components/schemas/Part"
            },
            "minItems": 1
          }
        }
      },
      "Part": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/TextPart"
          },
          {
            "$ref": "#/components/schemas/FilePart"
          }
        ]
      },
      "TextPart": {
        "title": "Texteingabe",
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "Textinhalt",
            "example": "Hello! I'm pleased to introduce myself.\n\nI'm a large language model, trained and developed by Google..."
          }
        }
      },
      "FilePart": {
        "title": "Multimodale Eingabe",
        "type": "object",
        "required": [
          "fileData"
        ],
        "properties": {
          "fileData": {
            "type": "object",
            "required": [
              "mimeType",
              "fileUri"
            ],
            "properties": {
              "mimeType": {
                "type": "string",
                "description": "Datei-MIME-Typ\n\n**Unterstützte Typen**:\n\n**Bild**:\n- `image/jpeg`, `image/png`\n- Maximale Größe pro Bild: 10 MB\n\n**Audio**:\n- `audio/mp3`\n- Maximale Größe pro Datei: 10 MB\n- Empfohlene Dauer: nicht mehr als 10 Minuten\n\n**Video**:\n- `video/mp4`\n- Maximale Größe pro Datei: 50 MB\n- Empfohlene Dauer: nicht mehr als 180 Sekunden\n\n**Dokument**:\n- `application/pdf`\n- Maximale Größe pro Datei: 20 MB",
                "example": "audio/mp3"
              },
              "fileUri": {
                "type": "string",
                "format": "uri",
                "description": "Datei-URI-Adresse\n\n**Anforderungen**:\n- Muss eine öffentlich zugängliche URL sein\n- URL sollte mit der Dateiendung enden (z. B. .mp3, .jpg) und dem mimeType-Parameter entsprechen",
                "example": "https://example.com/audio.mp3"
              }
            }
          }
        }
      },
      "GenerationConfig": {
        "type": "object",
        "description": "Generierungskonfigurationsparameter",
        "properties": {
          "temperature": {
            "type": "number",
            "description": "Sampling-Temperatur, steuert die Zufälligkeit der Ausgabe\n\n**Beschreibung**:\n- Niedrigere Werte (z. B. 0.2): Deterministischere, fokussiertere Ausgabe\n- Höhere Werte (z. B. 1.5): Zufälligere, kreativere Ausgabe",
            "minimum": 0,
            "maximum": 2,
            "example": 0.7
          },
          "maxOutputTokens": {
            "type": "integer",
            "description": "Maximale Anzahl von Token für die generierte Antwort\n\n**Beschreibung**:\n- Ein zu kleiner Wert kann zur Kürzung der Antwort führen",
            "minimum": 1,
            "example": 2000
          },
          "topP": {
            "type": "number",
            "description": "Nucleus-Sampling-Parameter\n\n**Beschreibung**:\n- Steuert das Sampling aus Token mit kumulativer Wahrscheinlichkeit\n- Zum Beispiel bedeutet 0.9, dass aus Token mit kumulativer Wahrscheinlichkeit bis zu 90% ausgewählt wird\n- Standard: 1.0 (berücksichtigt alle Token)\n\n**Empfehlung**: Passen Sie temperature und topP nicht gleichzeitig an",
            "minimum": 0,
            "maximum": 1,
            "example": 0.9
          },
          "topK": {
            "type": "integer",
            "description": "Top-K-Sampling-Parameter\n\n**Beschreibung**:\n- Zum Beispiel bedeutet 10, dass das Sampling auf die 10 wahrscheinlichsten Token beschränkt wird\n- Kleinere Werte machen die Ausgabe fokussierter\n- Standard: kein Limit",
            "minimum": 1,
            "example": 40
          }
        }
      },
      "GenerateContentResponse": {
        "title": "Synchrone Antwort",
        "type": "object",
        "properties": {
          "candidates": {
            "type": "array",
            "description": "Liste der Kandidatenantworten",
            "items": {
              "$ref": "#/components/schemas/Candidate"
            }
          },
          "promptFeedback": {
            "$ref": "#/components/schemas/PromptFeedback"
          },
          "usageMetadata": {
            "$ref": "#/components/schemas/UsageMetadata"
          }
        }
      },
      "Candidate": {
        "type": "object",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/ContentResponse"
          },
          "finishReason": {
            "type": "string",
            "description": "Abschlussgrund",
            "enum": [
              "STOP",
              "MAX_TOKENS",
              "SAFETY",
              "RECITATION",
              "OTHER"
            ],
            "example": "STOP"
          },
          "index": {
            "type": "integer",
            "description": "Kandidatenindex",
            "example": 0
          },
          "safetyRatings": {
            "type": "array",
            "nullable": true,
            "description": "Sicherheitsbewertungen",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ContentResponse": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "Antwortrolle",
            "enum": [
              "model"
            ],
            "example": "model"
          },
          "parts": {
            "type": "array",
            "description": "Antwort-Inhaltsteile",
            "items": {
              "$ref": "#/components/schemas/TextPart"
            }
          }
        }
      },
      "PromptFeedback": {
        "type": "object",
        "properties": {
          "safetyRatings": {
            "type": "array",
            "nullable": true,
            "description": "Prompt-Sicherheitsbewertungen",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "UsageMetadata": {
        "type": "object",
        "description": "Nutzungsstatistiken",
        "properties": {
          "promptTokenCount": {
            "type": "integer",
            "description": "Anzahl der Tokens im Eingabeinhalt",
            "example": 4
          },
          "candidatesTokenCount": {
            "type": "integer",
            "description": "Anzahl der Tokens im Ausgabeinhalt",
            "example": 611
          },
          "totalTokenCount": {
            "type": "integer",
            "description": "Gesamtanzahl der Tokens",
            "example": 2422
          },
          "thoughtsTokenCount": {
            "type": "integer",
            "description": "Anzahl der Reasoning-Tokens",
            "example": 1807
          },
          "promptTokensDetails": {
            "type": "array",
            "description": "Detaillierte Eingabe-Token-Informationen (nach Modalität)",
            "items": {
              "$ref": "#/components/schemas/TokenDetail"
            }
          }
        }
      },
      "TokenDetail": {
        "type": "object",
        "description": "Token-Details (Statistiken nach Modalität)",
        "properties": {
          "modality": {
            "type": "string",
            "description": "Inhaltsmodalitätstyp",
            "enum": [
              "TEXT",
              "IMAGE",
              "AUDIO",
              "VIDEO"
            ],
            "example": "TEXT"
          },
          "tokenCount": {
            "type": "integer",
            "description": "Anzahl der Token für diese Modalität",
            "example": 4
          }
        }
      },
      "StreamCandidate": {
        "type": "object",
        "description": "Stream-Antwortkandidat (vereinfachter als reguläre Antwort)",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/ContentResponse"
          },
          "finishReason": {
            "type": "string",
            "description": "Abschlussgrund (nur im letzten Chunk enthalten)",
            "enum": [
              "STOP",
              "MAX_TOKENS",
              "SAFETY",
              "RECITATION",
              "OTHER"
            ],
            "example": "STOP"
          }
        }
      },
      "StreamGenerateContentResponse": {
        "title": "Stream-Antwort",
        "type": "object",
        "description": "Stream-Antwort-Chunk\n\n**Zwischenchunk**:\n```json\n{\n  \"candidates\": [\n    {\n      \"content\": {\n        \"role\": \"model\",\n        \"parts\": [{ \"text\": \"Partial text...\" }]\n      }\n    }\n  ],\n  \"usageMetadata\": {\n    \"trafficType\": \"ON_DEMAND\"\n  },\n  \"modelVersion\": \"gemini-2.5-flash\",\n  \"createTime\": \"2025-10-10T10:40:23.072315Z\",\n  \"responseId\": \"xxx\"\n}\n```\n\n**Letzter Chunk**:\n```json\n{\n  \"candidates\": [\n    {\n      \"content\": {\n        \"role\": \"model\",\n        \"parts\": [{ \"text\": \"Final text fragment\" }]\n      },\n      \"finishReason\": \"STOP\"\n    }\n  ],\n  \"usageMetadata\": {\n    \"promptTokenCount\": 4,\n    \"candidatesTokenCount\": 522,\n    \"totalTokenCount\": 2191,\n    \"trafficType\": \"ON_DEMAND\"\n  },\n  \"modelVersion\": \"gemini-2.5-flash\",\n  \"createTime\": \"2025-10-10T10:40:23.072315Z\",\n  \"responseId\": \"xxx\"\n}\n```",
        "properties": {
          "candidates": {
            "type": "array",
            "description": "Liste der Kandidatenantworten (Streaming-Modus enthält keine index und safetyRatings)",
            "items": {
              "$ref": "#/components/schemas/StreamCandidate"
            }
          },
          "usageMetadata": {
            "type": "object",
            "description": "Nutzungsstatistiken (Zwischenchunks haben nur trafficType, letzter Chunk enthält vollständige Statistiken)",
            "properties": {
              "promptTokenCount": {
                "type": "integer",
                "description": "Anzahl der Token im Eingabeinhalt (nur letzter Chunk)",
                "example": 4
              },
              "candidatesTokenCount": {
                "type": "integer",
                "description": "Anzahl der Token im Ausgabeinhalt (nur letzter Chunk)",
                "example": 522
              },
              "totalTokenCount": {
                "type": "integer",
                "description": "Gesamtanzahl der Token (nur letzter Chunk)",
                "example": 2191
              },
              "trafficType": {
                "type": "string",
                "description": "Verkehrstyp",
                "example": "ON_DEMAND"
              }
            }
          },
          "modelVersion": {
            "type": "string",
            "description": "Modellversion",
            "example": "gemini-2.5-flash"
          },
          "createTime": {
            "type": "string",
            "format": "date-time",
            "description": "Erstellungszeit",
            "example": "2025-10-10T10:40:23.072315Z"
          },
          "responseId": {
            "type": "string",
            "description": "Antwort-ID",
            "example": "l-LoaPu0BPmo1dkP6ZPHiQc"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "HTTP-Status-Fehlercode"
              },
              "message": {
                "type": "string",
                "description": "Fehlerbeschreibung"
              },
              "type": {
                "type": "string",
                "description": "Fehlertyp"
              },
              "fallback_suggestion": {
                "type": "string",
                "description": "Vorschlag bei Fehlerauftreten"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "##Alle APIs erfordern Bearer-Token-Authentifizierung##\n\n**API-Schlüssel erhalten:**\n\nBesuchen Sie die [API-Schlüsselverwaltungsseite](https://evolink.ai/dashboard/keys), um Ihren API-Schlüssel zu erhalten\n\n**Zum Anfrage-Header hinzufügen:**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"
      }
    }
  },
  "tags": [
    {
      "name": "Inhaltsgenerierung",
      "description": "Gemini KI-Inhaltsgenerierung bezogene APIs"
    }
  ]
}
