{
  "openapi": "3.1.0",
  "info": {
    "title": "Gemini Native API - Inicio rápido",
    "description": "Documentación de referencia completa para Google Gemini Native API, compatible con entradas multimodales incluyendo texto, imágenes, audio y video",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://direct.evolink.ai",
      "description": "Producción (recomendado)"
    },
    {
      "url": "https://api.evolink.ai",
      "description": "URL alternativa"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1beta/models/gemini-2.5-pro:generateContent": {
      "post": {
        "summary": "Gemini Native API - Referencia completa",
        "description": "- Llamar al modelo Gemini-2.5-pro usando el formato de la API nativa de Google\n- Se puede usar modo de procesamiento síncrono, devuelve el contenido de la conversación en tiempo real\n- **Conversación de texto plano**: Diálogo de un solo turno o múltiples turnos con contexto, ver ejemplos simple_text y multi_turn en las muestras de código\n- **Entrada multimodal**: Soporta entrada mixta de texto + imagen/audio/video, ver ejemplos audio_analysis, image_understanding y multi_file en las muestras de código\n- **Ajuste de parámetros**: Controlar la calidad de generación mediante generationConfig\n- **Streaming**: Reemplace `generateContent` por `streamGenerateContent` en la URL",
        "operationId": "generateContent",
        "tags": [
          "Generación de contenido"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              },
              "examples": {
                "simple_text": {
                  "summary": "Conversación de texto de un solo turno",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Please introduce yourself"
                          }
                        ]
                      }
                    ]
                  }
                },
                "multi_turn": {
                  "summary": "Conversación multi-turno (comprensión de contexto)",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "What is Python?"
                          }
                        ]
                      },
                      {
                        "role": "model",
                        "parts": [
                          {
                            "text": "Python is a high-level programming language..."
                          }
                        ]
                      },
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "What are its advantages?"
                          }
                        ]
                      }
                    ]
                  }
                },
                "audio_analysis": {
                  "summary": "Análisis de audio",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Please analyze this song audio and answer: 1. Song source and artist 2. Song mood 3. Complete lyrics output"
                          },
                          {
                            "fileData": {
                              "mimeType": "audio/mp3",
                              "fileUri": "https://example.com/audio.mp3"
                            }
                          }
                        ]
                      }
                    ]
                  }
                },
                "image_understanding": {
                  "summary": "Comprensión de imágenes",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Please describe the scene and main elements in this image in detail"
                          },
                          {
                            "fileData": {
                              "mimeType": "image/jpeg",
                              "fileUri": "https://example.com/image.jpg"
                            }
                          }
                        ]
                      }
                    ]
                  }
                },
                "multi_file": {
                  "summary": "Entrada de múltiples archivos (mixta)",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Compare the relationship between these two images and this audio"
                          },
                          {
                            "fileData": {
                              "mimeType": "image/jpeg",
                              "fileUri": "https://example.com/image1.jpg"
                            }
                          },
                          {
                            "fileData": {
                              "mimeType": "image/png",
                              "fileUri": "https://example.com/image2.png"
                            }
                          },
                          {
                            "fileData": {
                              "mimeType": "audio/mp3",
                              "fileUri": "https://example.com/audio.mp3"
                            }
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contenido generado exitosamente\n\n**Descripción del formato de respuesta**:\n- Al usar el endpoint `generateContent`, devuelve `GenerateContentResponse` (devuelve la respuesta completa de una vez)\n- Al usar el endpoint `streamGenerateContent`, devuelve `StreamGenerateContentResponse` (respuesta en streaming, devuelve contenido en fragmentos)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GenerateContentResponse"
                    },
                    {
                      "$ref": "#/components/schemas/StreamGenerateContentResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parámetros de solicitud inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 400,
                    "message": "Parámetros de solicitud inválidos",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No autorizado, token inválido o expirado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "Invalid or expired token",
                    "type": "authentication_error"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Cuota insuficiente, se requiere recarga",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 402,
                    "message": "Cuota insuficiente",
                    "type": "insufficient_quota_error",
                    "fallback_suggestion": "https://evolink.ai/dashboard/billing"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Acceso denegado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 403,
                    "message": "Access denied for this model",
                    "type": "permission_error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Recurso no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "message": "Model not found",
                    "type": "not_found_error"
                  }
                }
              }
            }
          },
          "413": {
            "description": "Cuerpo de solicitud demasiado grande, archivo demasiado grande",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 413,
                    "message": "Cuerpo de solicitud demasiado grande",
                    "type": "request_too_large_error",
                    "fallback_suggestion": "reduce file size"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Semilla aleatoria, rango `[1, 2147483647]`\n\n**Nota:**\n- Usar el mismo valor de semilla puede mantener resultados de generación consistentes\n- Dejar vacío para semilla aleatoria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "message": "Semilla aleatoria, rango `[1, 2147483647]`\n\n**Nota:**\n- Usar el mismo valor de semilla puede mantener resultados de generación consistentes\n- Dejar vacío para semilla aleatoria",
                    "type": "rate_limit_error",
                    "fallback_suggestion": "retry after 60 seconds"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 500,
                    "message": "Error interno del servidor",
                    "type": "internal_server_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Error del servicio upstream",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 502,
                    "message": "Upstream AI service unavailable",
                    "type": "upstream_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          },
          "503": {
            "description": "Servicio temporalmente no disponible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 503,
                    "message": "Servicio temporalmente no disponible",
                    "type": "service_unavailable_error",
                    "fallback_suggestion": "retry after 30 seconds"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GenerateContentRequest": {
        "type": "object",
        "required": [
          "contents"
        ],
        "properties": {
          "contents": {
            "type": "array",
            "description": "List of conversation contents, supports multi-turn dialogue and multimodal input",
            "items": {
              "$ref": "#/components/schemas/Content"
            },
            "minItems": 1
          },
          "generationConfig": {
            "$ref": "#/components/schemas/GenerationConfig",
            "description": "Generation configuration parameters (optional)"
          },
          "systemInstruction": {
            "$ref": "#/components/schemas/Content",
            "description": "System instruction (optional), mainly text content"
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "List of tools the model can call, such as function calling or code execution"
          },
          "toolConfig": {
            "type": "object",
            "description": "Tool calling configuration (optional)"
          },
          "safetySettings": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Safety settings list (optional)"
          },
          "cachedContent": {
            "type": "string",
            "description": "Cached content name, in the form cachedContents/{cachedContent}"
          }
        }
      },
      "Content": {
        "type": "object",
        "required": [
          "role",
          "parts"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "Rol del contenido\n\n- `user`: Entrada del usuario\n- `model`: Respuesta del modelo de IA (para conversación de múltiples turnos)",
            "enum": [
              "user",
              "model"
            ],
            "example": "user"
          },
          "parts": {
            "type": "array",
            "description": "Content parts list, supports text, file data, inline data, function calls, function responses, and code execution results",
            "items": {
              "$ref": "#/components/schemas/Part"
            },
            "minItems": 1
          }
        }
      },
      "Part": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/TextPart"
          },
          {
            "$ref": "#/components/schemas/FilePart"
          },
          {
            "$ref": "#/components/schemas/InlineDataPart"
          },
          {
            "$ref": "#/components/schemas/FunctionCallPart"
          },
          {
            "$ref": "#/components/schemas/FunctionResponsePart"
          },
          {
            "$ref": "#/components/schemas/ExecutableCodePart"
          },
          {
            "$ref": "#/components/schemas/CodeExecutionResultPart"
          }
        ],
        "description": "Content part union type. The thoughtSignature returned by thinking models must be echoed back in the next turn."
      },
      "TextPart": {
        "title": "Entrada de texto",
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "Contenido de texto",
            "example": "Hello! I'm pleased to introduce myself.\n\nI'm a large language model, trained and developed by Google..."
          },
          "thought": {
            "type": "boolean",
            "description": "Whether this is thought content"
          },
          "thoughtSignature": {
            "type": "string",
            "description": "Thought signature, must be echoed back in the next turn",
            "example": "<Signature_A>"
          }
        }
      },
      "FilePart": {
        "title": "Entrada multimodal",
        "type": "object",
        "required": [
          "fileData"
        ],
        "properties": {
          "fileData": {
            "type": "object",
            "required": [
              "mimeType",
              "fileUri"
            ],
            "properties": {
              "mimeType": {
                "type": "string",
                "description": "Entorno del servicio de archivos",
                "example": "audio/mp3"
              },
              "fileUri": {
                "type": "string",
                "format": "uri",
                "description": "Subida de archivos",
                "example": "https://example.com/audio.mp3"
              }
            }
          }
        }
      },
      "GenerationConfig": {
        "type": "object",
        "description": "Generation configuration parameters",
        "properties": {
          "temperature": {
            "type": "number",
            "description": "Temperatura de muestreo, controla la aleatoriedad de la salida\n\n**Descripción**:\n- Valores más bajos (ej., 0.2): Salida más determinista y enfocada\n- Valores más altos (ej., 1.5): Salida más aleatoria y creativa",
            "minimum": 0,
            "maximum": 2,
            "example": 0.7
          },
          "maxOutputTokens": {
            "type": "integer",
            "description": "Número máximo de tokens para la respuesta generada\n\n**Descripción**:\n- Un valor demasiado pequeño puede causar truncamiento de la respuesta",
            "minimum": 1,
            "example": 2000
          },
          "topP": {
            "type": "number",
            "description": "Parámetro de muestreo Nucleus\n\n**Descripción**:\n- Controla el muestreo de tokens con probabilidad acumulativa\n- Por ejemplo, 0.9 significa seleccionar de tokens con probabilidad acumulativa hasta el 90%\n- Predeterminado: 1.0 (considera todos los tokens)\n\n**Recomendación**: No ajuste temperature y topP simultáneamente",
            "minimum": 0,
            "maximum": 1,
            "example": 0.9
          },
          "topK": {
            "type": "integer",
            "description": "Parámetro de muestreo Top-K\n\n**Descripción**:\n- Por ejemplo, 10 significa limitar el muestreo a considerar solo los 10 tokens más probables\n- Valores más pequeños hacen la salida más enfocada\n- Predeterminado: sin límite",
            "minimum": 1,
            "example": 40
          },
          "candidateCount": {
            "type": "integer",
            "minimum": 1,
            "description": "Number of candidates to return",
            "example": 1
          },
          "responseMimeType": {
            "type": "string",
            "description": "MIME type of generated candidate content, for example text/plain or application/json",
            "example": "application/json"
          },
          "responseSchema": {
            "type": "object",
            "description": "Output schema definition for generated content (JSON mode / structured output)"
          },
          "responseJsonSchema": {
            "type": "object",
            "description": "JSON Schema for generated content (useful for more complex structured output)"
          },
          "thinkingConfig": {
            "type": "object",
            "description": "Thinking configuration (for models that support thinking)"
          }
        }
      },
      "GenerateContentResponse": {
        "title": "Respuesta sincrónica",
        "type": "object",
        "properties": {
          "candidates": {
            "type": "array",
            "description": "List of candidate responses",
            "items": {
              "$ref": "#/components/schemas/Candidate"
            }
          },
          "promptFeedback": {
            "$ref": "#/components/schemas/PromptFeedback"
          },
          "usageMetadata": {
            "$ref": "#/components/schemas/UsageMetadata"
          },
          "modelVersion": {
            "type": "string",
            "description": "Model version",
            "example": "gemini-3.1-pro-preview"
          },
          "responseId": {
            "type": "string",
            "description": "Response ID",
            "example": "l-LoaPu0BPmo1dkP6ZPHiQc"
          }
        }
      },
      "Candidate": {
        "type": "object",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/ContentResponse"
          },
          "finishReason": {
            "type": "string",
            "description": "Finish reason",
            "enum": [
              "FINISH_REASON_UNSPECIFIED",
              "STOP",
              "MAX_TOKENS",
              "SAFETY",
              "RECITATION",
              "LANGUAGE",
              "OTHER",
              "BLOCKLIST",
              "PROHIBITED_CONTENT",
              "SPII",
              "MALFORMED_FUNCTION_CALL",
              "IMAGE_SAFETY",
              "IMAGE_PROHIBITED_CONTENT",
              "IMAGE_OTHER",
              "NO_IMAGE",
              "IMAGE_RECITATION",
              "UNEXPECTED_TOOL_CALL",
              "TOO_MANY_TOOL_CALLS",
              "MISSING_THOUGHT_SIGNATURE"
            ],
            "example": "STOP"
          },
          "index": {
            "type": "integer",
            "description": "Índice del candidato",
            "example": 0
          },
          "safetyRatings": {
            "type": "array",
            "nullable": true,
            "description": "Calificaciones de seguridad",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ContentResponse": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "Rol de respuesta",
            "enum": [
              "model"
            ],
            "example": "model"
          },
          "parts": {
            "type": "array",
            "description": "Response content parts, supports text, inline data, function calls, function responses, and code execution results",
            "items": {
              "$ref": "#/components/schemas/Part"
            }
          }
        }
      },
      "PromptFeedback": {
        "type": "object",
        "properties": {
          "safetyRatings": {
            "type": "array",
            "nullable": true,
            "description": "Calificaciones de seguridad del prompt",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "UsageMetadata": {
        "type": "object",
        "description": "Estadísticas de uso",
        "properties": {
          "promptTokenCount": {
            "type": "integer",
            "description": "Número de tokens en el contenido de entrada",
            "example": 4
          },
          "candidatesTokenCount": {
            "type": "integer",
            "description": "Número de tokens en el contenido de salida",
            "example": 611
          },
          "totalTokenCount": {
            "type": "integer",
            "description": "Número total de tokens",
            "example": 2422
          },
          "thoughtsTokenCount": {
            "type": "integer",
            "description": "Número de tokens de razonamiento",
            "example": 1807
          },
          "promptTokensDetails": {
            "type": "array",
            "description": "Información detallada de tokens de entrada (por modalidad)",
            "items": {
              "$ref": "#/components/schemas/TokenDetail"
            }
          },
          "cachedContentTokenCount": {
            "type": "integer",
            "description": "Number of cached content tokens",
            "example": 0
          }
        }
      },
      "TokenDetail": {
        "type": "object",
        "description": "Detalles de tokens (estadísticas por modalidad)",
        "properties": {
          "modality": {
            "type": "string",
            "description": "Content modality type",
            "enum": [
              "MODALITY_UNSPECIFIED",
              "TEXT",
              "IMAGE",
              "AUDIO",
              "VIDEO",
              "DOCUMENT"
            ],
            "example": "TEXT"
          },
          "tokenCount": {
            "type": "integer",
            "description": "Número de tokens para esta modalidad",
            "example": 4
          }
        }
      },
      "StreamCandidate": {
        "type": "object",
        "description": "Stream response candidate (more simplified than regular response)",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/ContentResponse"
          },
          "finishReason": {
            "type": "string",
            "description": "Finish reason (only included in last chunk)",
            "enum": [
              "FINISH_REASON_UNSPECIFIED",
              "STOP",
              "MAX_TOKENS",
              "SAFETY",
              "RECITATION",
              "LANGUAGE",
              "OTHER",
              "BLOCKLIST",
              "PROHIBITED_CONTENT",
              "SPII",
              "MALFORMED_FUNCTION_CALL",
              "IMAGE_SAFETY",
              "IMAGE_PROHIBITED_CONTENT",
              "IMAGE_OTHER",
              "NO_IMAGE",
              "IMAGE_RECITATION",
              "UNEXPECTED_TOOL_CALL",
              "TOO_MANY_TOOL_CALLS",
              "MISSING_THOUGHT_SIGNATURE"
            ],
            "example": "STOP"
          }
        }
      },
      "StreamGenerateContentResponse": {
        "title": "Respuesta en streaming",
        "type": "object",
        "description": "Fragmento de respuesta en streaming\n\n**Fragmento intermedio**:\n```json\n{\n  \"candidates\": [\n    {\n      \"content\": {\n        \"role\": \"model\",\n        \"parts\": [{ \"text\": \"Texto parcial...\" }]\n      }\n    }\n  ],\n  \"usageMetadata\": {\n    \"trafficType\": \"ON_DEMAND\"\n  },\n  \"modelVersion\": \"gemini-2.5-pro\",\n  \"createTime\": \"2025-10-10T10:40:23.072315Z\",\n  \"responseId\": \"xxx\"\n}\n```\n\n**Último fragmento**:\n```json\n{\n  \"candidates\": [\n    {\n      \"content\": {\n        \"role\": \"model\",\n        \"parts\": [{ \"text\": \"Fragmento de texto final\" }]\n      },\n      \"finishReason\": \"STOP\"\n    }\n  ],\n  \"usageMetadata\": {\n    \"promptTokenCount\": 4,\n    \"candidatesTokenCount\": 522,\n    \"totalTokenCount\": 2191,\n    \"trafficType\": \"ON_DEMAND\"\n  },\n  \"modelVersion\": \"gemini-2.5-pro\",\n  \"createTime\": \"2025-10-10T10:40:23.072315Z\",\n  \"responseId\": \"xxx\"\n}\n```",
        "properties": {
          "candidates": {
            "type": "array",
            "description": "Lista de respuestas candidatas (el modo streaming no incluye index y safetyRatings)",
            "items": {
              "$ref": "#/components/schemas/StreamCandidate"
            }
          },
          "usageMetadata": {
            "type": "object",
            "description": "Estadísticas de uso (los fragmentos intermedios solo tienen trafficType, el último fragmento contiene estadísticas completas)",
            "properties": {
              "promptTokenCount": {
                "type": "integer",
                "description": "Número de tokens en el contenido de entrada (solo último fragmento)",
                "example": 4
              },
              "candidatesTokenCount": {
                "type": "integer",
                "description": "Número de tokens en el contenido de salida (solo último fragmento)",
                "example": 522
              },
              "totalTokenCount": {
                "type": "integer",
                "description": "Número total de tokens (solo último fragmento)",
                "example": 2191
              },
              "trafficType": {
                "type": "string",
                "description": "Tipo de tráfico",
                "example": "ON_DEMAND"
              },
              "cachedContentTokenCount": {
                "type": "integer",
                "description": "Number of cached content tokens (last chunk only)",
                "example": 0
              }
            }
          },
          "modelVersion": {
            "type": "string",
            "description": "Versión del modelo",
            "example": "gemini-2.5-pro"
          },
          "createTime": {
            "type": "string",
            "format": "date-time",
            "description": "Hora de creación",
            "example": "2025-10-10T10:40:23.072315Z"
          },
          "responseId": {
            "type": "string",
            "description": "ID de respuesta",
            "example": "l-LoaPu0BPmo1dkP6ZPHiQc"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "Código de error de estado HTTP"
              },
              "message": {
                "type": "string",
                "description": "Mensaje de descripción del error"
              },
              "type": {
                "type": "string",
                "description": "Tiempo estimado de finalización (segundos)"
              },
              "fallback_suggestion": {
                "type": "string",
                "description": "Sugerencia cuando ocurre un error"
              }
            }
          }
        }
      },
      "BlobData": {
        "type": "object",
        "properties": {
          "mimeType": {
            "type": "string",
            "description": "IANA MIME type",
            "example": "image/png"
          },
          "data": {
            "type": "string",
            "format": "byte",
            "description": "Base64-encoded raw media data"
          }
        },
        "required": [
          "mimeType",
          "data"
        ]
      },
      "InlineDataPart": {
        "title": "Inline Data",
        "type": "object",
        "required": [
          "inlineData"
        ],
        "properties": {
          "inlineData": {
            "$ref": "#/components/schemas/BlobData"
          },
          "thought": {
            "type": "boolean",
            "description": "Whether this is thought content"
          },
          "thoughtSignature": {
            "type": "string",
            "description": "Thought signature, must be echoed back in the next turn",
            "example": "<Signature_A>"
          }
        }
      },
      "FunctionCall": {
        "type": "object",
        "required": [
          "name",
          "args"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Function name",
            "example": "get_weather"
          },
          "args": {
            "type": "object",
            "description": "Function arguments"
          }
        }
      },
      "FunctionCallPart": {
        "title": "Function Call",
        "type": "object",
        "required": [
          "functionCall"
        ],
        "properties": {
          "functionCall": {
            "$ref": "#/components/schemas/FunctionCall"
          },
          "thought": {
            "type": "boolean",
            "description": "Whether this is thought content"
          },
          "thoughtSignature": {
            "type": "string",
            "description": "Thought signature, must be echoed back in the next turn",
            "example": "<Signature_A>"
          }
        }
      },
      "FunctionResponseMediaPart": {
        "type": "object",
        "required": [
          "inlineData"
        ],
        "properties": {
          "inlineData": {
            "$ref": "#/components/schemas/BlobData"
          }
        }
      },
      "FunctionResponse": {
        "type": "object",
        "required": [
          "name",
          "response"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Function name",
            "example": "get_weather"
          },
          "parts": {
            "type": "array",
            "description": "Optional multimodal response parts",
            "items": {
              "$ref": "#/components/schemas/FunctionResponseMediaPart"
            }
          },
          "response": {
            "type": "object",
            "description": "Function response payload"
          }
        }
      },
      "FunctionResponsePart": {
        "title": "Function Response",
        "type": "object",
        "required": [
          "functionResponse"
        ],
        "properties": {
          "functionResponse": {
            "$ref": "#/components/schemas/FunctionResponse"
          }
        }
      },
      "ExecutableCode": {
        "type": "object",
        "required": [
          "language",
          "code"
        ],
        "properties": {
          "language": {
            "type": "string",
            "description": "Code language",
            "example": "python"
          },
          "code": {
            "type": "string",
            "description": "Generated code"
          }
        }
      },
      "ExecutableCodePart": {
        "title": "Generated Code",
        "type": "object",
        "required": [
          "executableCode"
        ],
        "properties": {
          "executableCode": {
            "$ref": "#/components/schemas/ExecutableCode"
          }
        }
      },
      "CodeExecutionResult": {
        "type": "object",
        "required": [
          "outcome"
        ],
        "properties": {
          "outcome": {
            "type": "string",
            "description": "Code execution result",
            "enum": [
              "OUTCOME_UNSPECIFIED",
              "OUTCOME_OK",
              "OUTCOME_FAILED",
              "OUTCOME_DEADLINE_EXCEEDED"
            ],
            "example": "OUTCOME_OK"
          },
          "output": {
            "type": "string",
            "description": "Standard output, error output, or other description"
          }
        }
      },
      "CodeExecutionResultPart": {
        "title": "Code Execution Result",
        "type": "object",
        "required": [
          "codeExecutionResult"
        ],
        "properties": {
          "codeExecutionResult": {
            "$ref": "#/components/schemas/CodeExecutionResult"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "##Todas las APIs requieren autenticación Bearer Token##\n\n**Obtener API Key:**\n\nVisita la [Página de gestión de API Key](https://evolink.ai/dashboard/keys) para obtener tu API Key\n\n**Agregar al encabezado de la solicitud:**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"
      }
    }
  },
  "tags": [
    {
      "name": "Generación de contenido",
      "description": "Generación de contenido Gemini"
    }
  ]
}
