{
  "openapi": "3.1.0",
  "info": {
    "title": "Gemini Native API - Inicio rápido",
    "description": "Documentación de referencia completa para Google Gemini Native API, compatible con entradas multimodales incluyendo texto, imágenes, audio y video",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.evolink.ai",
      "description": "Entorno de producción"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1beta/models/gemini-2.5-pro:{method}": {
      "post": {
        "summary": "Gemini Native API - Referencia completa",
        "description": "- Llamar al modelo Gemini-2.5-pro usando el formato de la API nativa de Google\n- Se puede usar modo de procesamiento síncrono, devuelve el contenido de la conversación en tiempo real\n- **Conversación de texto plano**: Diálogo de un solo turno o múltiples turnos con contexto, ver ejemplos simple_text y multi_turn en las muestras de código\n- **Entrada multimodal**: Soporta entrada mixta de texto + imagen/audio/video, ver ejemplos audio_analysis, image_understanding y multi_file en las muestras de código\n- **Ajuste de parámetros**: Controlar la calidad de generación mediante generationConfig\n- **Streaming**: Elegir el modo de generación mediante el parámetro method\n- **Procesamiento asíncrono**: Habilitar modo asíncrono mediante el encabezado de solicitud `X-Async-Mode`, devuelve inmediatamente el ID de tarea",
        "operationId": "generateContent",
        "tags": [
          "Generación de contenido"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "generateContent",
                "streamGenerateContent"
              ]
            },
            "description": "Modo de generación:\n- `TEXT`: Texto a video\n- `FIRST&LAST`: Primer y último fotograma, 1-2 imágenes\n- `REFERENCE`: Imagen de referencia, máx. 3 imágenes, duración fija de 8s, relación de aspecto fija de 16:9, excepto `generate_audio`, otros parámetros avanzados no son compatibles",
            "example": "generateContent"
          },
          {
            "name": "X-Async-Mode",
            "in": "header",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Habilitar modo de procesamiento asíncrono. Cuando se establece en true, la solicitud se procesará de forma asíncrona y devolverá inmediatamente un ID de tarea en lugar de esperar la respuesta completa.\n\n**Notas**:\n- El modo asíncrono tiene la máxima prioridad, incluso si se establece el método de streaming, devolverá un ID de tarea\n- Después de recibir el ID de tarea, usa la [API de consulta de tareas](../../../task-management/get-task-detail) para obtener el resultado de la generación, que siempre estará en formato no streaming",
            "example": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              },
              "examples": {
                "simple_text": {
                  "summary": "Conversación de texto de un solo turno",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Please introduce yourself"
                          }
                        ]
                      }
                    ]
                  }
                },
                "multi_turn": {
                  "summary": "Conversación multi-turno (comprensión de contexto)",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "What is Python?"
                          }
                        ]
                      },
                      {
                        "role": "model",
                        "parts": [
                          {
                            "text": "Python is a high-level programming language..."
                          }
                        ]
                      },
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "What are its advantages?"
                          }
                        ]
                      }
                    ]
                  }
                },
                "audio_analysis": {
                  "summary": "Análisis de audio",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Please analyze this song audio and answer: 1. Song source and artist 2. Song mood 3. Complete lyrics output"
                          },
                          {
                            "fileData": {
                              "mimeType": "audio/mp3",
                              "fileUri": "https://example.com/audio.mp3"
                            }
                          }
                        ]
                      }
                    ]
                  }
                },
                "image_understanding": {
                  "summary": "Comprensión de imágenes",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Please describe the scene and main elements in this image in detail"
                          },
                          {
                            "fileData": {
                              "mimeType": "image/jpeg",
                              "fileUri": "https://example.com/image.jpg"
                            }
                          }
                        ]
                      }
                    ]
                  }
                },
                "multi_file": {
                  "summary": "Entrada de múltiples archivos (mixta)",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Compare the relationship between these two images and this audio"
                          },
                          {
                            "fileData": {
                              "mimeType": "image/jpeg",
                              "fileUri": "https://example.com/image1.jpg"
                            }
                          },
                          {
                            "fileData": {
                              "mimeType": "image/png",
                              "fileUri": "https://example.com/image2.png"
                            }
                          },
                          {
                            "fileData": {
                              "mimeType": "audio/mp3",
                              "fileUri": "https://example.com/audio.mp3"
                            }
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contenido generado exitosamente\n\n**Descripción del formato de respuesta**:\n- Cuando `X-Async-Mode=true`, devuelve `AsyncTaskResponse` (respuesta de tarea asíncrona, devuelve inmediatamente el ID de tarea)\n- Cuando `method=generateContent` y sin modo asíncrono, devuelve `GenerateContentResponse` (devuelve la respuesta completa de una vez)\n- Cuando `method=streamGenerateContent` y sin modo asíncrono, devuelve `StreamGenerateContentResponse` (respuesta en streaming, devuelve contenido en fragmentos)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GenerateContentResponse"
                    },
                    {
                      "$ref": "#/components/schemas/StreamGenerateContentResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AsyncTaskResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Parámetros de solicitud inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 400,
                    "message": "Parámetros de solicitud inválidos",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No autorizado, token inválido o expirado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "Invalid or expired token",
                    "type": "authentication_error"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Cuota insuficiente, se requiere recarga",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 402,
                    "message": "Cuota insuficiente",
                    "type": "insufficient_quota_error",
                    "fallback_suggestion": "https://evolink.ai/dashboard/billing"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Acceso denegado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 403,
                    "message": "Access denied for this model",
                    "type": "permission_error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Recurso no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "message": "Model not found",
                    "type": "not_found_error"
                  }
                }
              }
            }
          },
          "413": {
            "description": "Cuerpo de solicitud demasiado grande, archivo demasiado grande",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 413,
                    "message": "Cuerpo de solicitud demasiado grande",
                    "type": "request_too_large_error",
                    "fallback_suggestion": "reduce file size"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Semilla aleatoria, rango `[1, 2147483647]`\n\n**Nota:**\n- Usar el mismo valor de semilla puede mantener resultados de generación consistentes\n- Dejar vacío para semilla aleatoria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "message": "Semilla aleatoria, rango `[1, 2147483647]`\n\n**Nota:**\n- Usar el mismo valor de semilla puede mantener resultados de generación consistentes\n- Dejar vacío para semilla aleatoria",
                    "type": "rate_limit_error",
                    "fallback_suggestion": "retry after 60 seconds"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 500,
                    "message": "Error interno del servidor",
                    "type": "internal_server_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Error del servicio upstream",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 502,
                    "message": "Upstream AI service unavailable",
                    "type": "upstream_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          },
          "503": {
            "description": "Servicio temporalmente no disponible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 503,
                    "message": "Servicio temporalmente no disponible",
                    "type": "service_unavailable_error",
                    "fallback_suggestion": "retry after 30 seconds"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GenerateContentRequest": {
        "type": "object",
        "required": [
          "contents"
        ],
        "properties": {
          "contents": {
            "type": "array",
            "description": "Lista de contenidos de conversación, admite diálogo multi-turno y entrada multimodal",
            "items": {
              "$ref": "#/components/schemas/Content"
            },
            "minItems": 1
          },
          "generationConfig": {
            "$ref": "#/components/schemas/GenerationConfig",
            "description": "Método de generación (inicio rápido recomienda `generateContent`):\n- `generateContent`: Devuelve la respuesta completa de una vez\n- `streamGenerateContent`: Retorno en streaming, recibe contenido en fragmentos en tiempo real"
          }
        }
      },
      "Content": {
        "type": "object",
        "required": [
          "role",
          "parts"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "Rol del contenido\n\n- `user`: Entrada del usuario\n- `model`: Respuesta del modelo de IA (para conversación de múltiples turnos)",
            "enum": [
              "user",
              "model"
            ],
            "example": "user"
          },
          "parts": {
            "type": "array",
            "description": "Lista de partes de contenido, admite texto y datos de archivo",
            "items": {
              "$ref": "#/components/schemas/Part"
            },
            "minItems": 1
          }
        }
      },
      "Part": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/TextPart"
          },
          {
            "$ref": "#/components/schemas/FilePart"
          }
        ]
      },
      "TextPart": {
        "title": "Entrada de texto",
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "Contenido de texto",
            "example": "Hello! I'm pleased to introduce myself.\n\nI'm a large language model, trained and developed by Google..."
          }
        }
      },
      "FilePart": {
        "title": "Entrada multimodal",
        "type": "object",
        "required": [
          "fileData"
        ],
        "properties": {
          "fileData": {
            "type": "object",
            "required": [
              "mimeType",
              "fileUri"
            ],
            "properties": {
              "mimeType": {
                "type": "string",
                "description": "Entorno del servicio de archivos",
                "example": "audio/mp3"
              },
              "fileUri": {
                "type": "string",
                "format": "uri",
                "description": "Subida de archivos",
                "example": "https://example.com/audio.mp3"
              }
            }
          }
        }
      },
      "GenerationConfig": {
        "type": "object",
        "description": "Parámetros de configuración de generación (opcional)",
        "properties": {
          "temperature": {
            "type": "number",
            "description": "Temperatura de muestreo, controla la aleatoriedad de la salida\n\n**Descripción**:\n- Valores más bajos (ej., 0.2): Salida más determinista y enfocada\n- Valores más altos (ej., 1.5): Salida más aleatoria y creativa",
            "minimum": 0,
            "maximum": 2,
            "example": 0.7
          },
          "maxOutputTokens": {
            "type": "integer",
            "description": "Número máximo de tokens para la respuesta generada\n\n**Descripción**:\n- Un valor demasiado pequeño puede causar truncamiento de la respuesta",
            "minimum": 1,
            "example": 2000
          },
          "topP": {
            "type": "number",
            "description": "Parámetro de muestreo Nucleus\n\n**Descripción**:\n- Controla el muestreo de tokens con probabilidad acumulativa\n- Por ejemplo, 0.9 significa seleccionar de tokens con probabilidad acumulativa hasta el 90%\n- Predeterminado: 1.0 (considera todos los tokens)\n\n**Recomendación**: No ajuste temperature y topP simultáneamente",
            "minimum": 0,
            "maximum": 1,
            "example": 0.9
          },
          "topK": {
            "type": "integer",
            "description": "Parámetro de muestreo Top-K\n\n**Descripción**:\n- Por ejemplo, 10 significa limitar el muestreo a considerar solo los 10 tokens más probables\n- Valores más pequeños hacen la salida más enfocada\n- Predeterminado: sin límite",
            "minimum": 1,
            "example": 40
          }
        }
      },
      "GenerateContentResponse": {
        "title": "Respuesta sincrónica",
        "type": "object",
        "properties": {
          "candidates": {
            "type": "array",
            "description": "Lista de respuestas candidatas",
            "items": {
              "$ref": "#/components/schemas/Candidate"
            }
          },
          "promptFeedback": {
            "$ref": "#/components/schemas/PromptFeedback"
          },
          "usageMetadata": {
            "$ref": "#/components/schemas/UsageMetadata"
          }
        }
      },
      "Candidate": {
        "type": "object",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/ContentResponse"
          },
          "finishReason": {
            "type": "string",
            "description": "Razón de finalización\n\n- `stop`: Finalización natural o secuencia de parada alcanzada\n- `length`: Límite máximo de tokens alcanzado\n- `content_filter`: Salida filtrada por política de seguridad\n- `tool_calls`: El modelo llamó a una herramienta\n- `insufficient_system_resource`: Restricciones de recursos del backend",
            "enum": [
              "STOP",
              "MAX_TOKENS",
              "SAFETY",
              "RECITATION",
              "OTHER"
            ],
            "example": "STOP"
          },
          "index": {
            "type": "integer",
            "description": "Índice del candidato",
            "example": 0
          },
          "safetyRatings": {
            "type": "array",
            "nullable": true,
            "description": "Calificaciones de seguridad",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ContentResponse": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "Rol de respuesta",
            "enum": [
              "model"
            ],
            "example": "model"
          },
          "parts": {
            "type": "array",
            "description": "Partes de contenido de la respuesta",
            "items": {
              "$ref": "#/components/schemas/TextPart"
            }
          }
        }
      },
      "PromptFeedback": {
        "type": "object",
        "properties": {
          "safetyRatings": {
            "type": "array",
            "nullable": true,
            "description": "Calificaciones de seguridad del prompt",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "UsageMetadata": {
        "type": "object",
        "description": "Estadísticas de uso",
        "properties": {
          "promptTokenCount": {
            "type": "integer",
            "description": "Número de tokens en el contenido de entrada",
            "example": 4
          },
          "candidatesTokenCount": {
            "type": "integer",
            "description": "Número de tokens en el contenido de salida",
            "example": 611
          },
          "totalTokenCount": {
            "type": "integer",
            "description": "Número total de tokens",
            "example": 2422
          },
          "thoughtsTokenCount": {
            "type": "integer",
            "description": "Número de tokens de razonamiento",
            "example": 1807
          },
          "promptTokensDetails": {
            "type": "array",
            "description": "Información detallada de tokens de entrada (por modalidad)",
            "items": {
              "$ref": "#/components/schemas/TokenDetail"
            }
          }
        }
      },
      "TokenDetail": {
        "type": "object",
        "description": "Detalles de tokens (estadísticas por modalidad)",
        "properties": {
          "modality": {
            "type": "string",
            "description": "Tipo de modalidad de contenido",
            "enum": [
              "TEXT",
              "IMAGE",
              "AUDIO",
              "VIDEO"
            ],
            "example": "TEXT"
          },
          "tokenCount": {
            "type": "integer",
            "description": "Número de tokens para esta modalidad",
            "example": 4
          }
        }
      },
      "StreamCandidate": {
        "type": "object",
        "description": "Candidato de respuesta en streaming (más simplificado que la respuesta regular)",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/ContentResponse"
          },
          "finishReason": {
            "type": "string",
            "description": "Primer fotograma + Último fotograma",
            "enum": [
              "STOP",
              "MAX_TOKENS",
              "SAFETY",
              "RECITATION",
              "OTHER"
            ],
            "example": "STOP"
          }
        }
      },
      "StreamGenerateContentResponse": {
        "title": "Respuesta en streaming",
        "type": "object",
        "description": "Fragmento de respuesta en streaming\n\n**Fragmento intermedio**:\n```json\n{\n  \"candidates\": [\n    {\n      \"content\": {\n        \"role\": \"model\",\n        \"parts\": [{ \"text\": \"Texto parcial...\" }]\n      }\n    }\n  ],\n  \"usageMetadata\": {\n    \"trafficType\": \"ON_DEMAND\"\n  },\n  \"modelVersion\": \"gemini-2.5-pro\",\n  \"createTime\": \"2025-10-10T10:40:23.072315Z\",\n  \"responseId\": \"xxx\"\n}\n```\n\n**Último fragmento**:\n```json\n{\n  \"candidates\": [\n    {\n      \"content\": {\n        \"role\": \"model\",\n        \"parts\": [{ \"text\": \"Fragmento de texto final\" }]\n      },\n      \"finishReason\": \"STOP\"\n    }\n  ],\n  \"usageMetadata\": {\n    \"promptTokenCount\": 4,\n    \"candidatesTokenCount\": 522,\n    \"totalTokenCount\": 2191,\n    \"trafficType\": \"ON_DEMAND\"\n  },\n  \"modelVersion\": \"gemini-2.5-pro\",\n  \"createTime\": \"2025-10-10T10:40:23.072315Z\",\n  \"responseId\": \"xxx\"\n}\n```",
        "properties": {
          "candidates": {
            "type": "array",
            "description": "Lista de respuestas candidatas (el modo streaming no incluye index y safetyRatings)",
            "items": {
              "$ref": "#/components/schemas/StreamCandidate"
            }
          },
          "usageMetadata": {
            "type": "object",
            "description": "Estadísticas de uso (los fragmentos intermedios solo tienen trafficType, el último fragmento contiene estadísticas completas)",
            "properties": {
              "promptTokenCount": {
                "type": "integer",
                "description": "Número de tokens en el contenido de entrada (solo último fragmento)",
                "example": 4
              },
              "candidatesTokenCount": {
                "type": "integer",
                "description": "Número de tokens en el contenido de salida (solo último fragmento)",
                "example": 522
              },
              "totalTokenCount": {
                "type": "integer",
                "description": "Número total de tokens (solo último fragmento)",
                "example": 2191
              },
              "trafficType": {
                "type": "string",
                "description": "Tipo de tráfico",
                "example": "ON_DEMAND"
              }
            }
          },
          "modelVersion": {
            "type": "string",
            "description": "Versión del modelo",
            "example": "gemini-2.5-pro"
          },
          "createTime": {
            "type": "string",
            "format": "date-time",
            "description": "Hora de creación",
            "example": "2025-10-10T10:40:23.072315Z"
          },
          "responseId": {
            "type": "string",
            "description": "ID de respuesta",
            "example": "l-LoaPu0BPmo1dkP6ZPHiQc"
          }
        }
      },
      "AsyncTaskResponse": {
        "title": "Respuesta asíncrona",
        "type": "object",
        "description": "Respuesta de tarea asíncrona, devuelve el ID de tarea para consultas de resultados posteriores",
        "properties": {
          "created": {
            "type": "integer",
            "description": "Marca de tiempo de creación de la tarea",
            "example": 1760598465
          },
          "id": {
            "type": "string",
            "description": "ID de tarea, utilizado para consultar el estado y los resultados de la tarea",
            "example": "task-unified-1760598465-uqccqlpk"
          },
          "model": {
            "type": "string",
            "description": "Modelo utilizado",
            "example": "gemini-2.5-pro"
          },
          "object": {
            "type": "string",
            "description": "Tipo de tarea",
            "enum": [
              "text.generation.task"
            ],
            "example": "text.generation.task"
          },
          "progress": {
            "type": "integer",
            "description": "Porcentaje de progreso de la tarea (0-100)",
            "minimum": 0,
            "maximum": 100,
            "example": 0
          },
          "status": {
            "type": "string",
            "description": "Estado de la tarea",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed"
            ],
            "example": "pending"
          },
          "task_info": {
            "$ref": "#/components/schemas/TaskInfo",
            "description": "Información detallada de la tarea"
          },
          "type": {
            "type": "string",
            "description": "Tipo de salida de la tarea",
            "enum": [
              "text"
            ],
            "example": "text"
          },
          "usage": {
            "$ref": "#/components/schemas/Usage",
            "description": "Información de uso y facturación"
          }
        }
      },
      "TaskInfo": {
        "type": "object",
        "description": "Información detallada de la tarea",
        "properties": {
          "can_cancel": {
            "type": "boolean",
            "description": "Si la tarea puede ser cancelada",
            "example": true
          },
          "estimated_time": {
            "type": "integer",
            "description": "Créditos estimados",
            "minimum": 0,
            "example": 180
          }
        }
      },
      "Usage": {
        "type": "object",
        "description": "Información de uso y facturación",
        "properties": {
          "billing_rule": {
            "type": "string",
            "description": "Regla de facturación",
            "enum": [
              "token_based",
              "per_call",
              "per_token",
              "per_second"
            ],
            "example": "token_based"
          },
          "credits_reserved": {
            "type": "number",
            "description": "Excluir herramientas",
            "minimum": 0,
            "example": 8064
          },
          "user_group": {
            "type": "string",
            "description": "Categoría de grupo de usuario",
            "example": "default"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "Código de error de estado HTTP"
              },
              "message": {
                "type": "string",
                "description": "Mensaje de descripción del error"
              },
              "type": {
                "type": "string",
                "description": "Tiempo estimado de finalización (segundos)"
              },
              "fallback_suggestion": {
                "type": "string",
                "description": "Sugerencia cuando ocurre un error"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "##Todas las APIs requieren autenticación Bearer Token##\n\n**Obtener API Key:**\n\nVisita la [Página de gestión de API Key](https://evolink.ai/dashboard/keys) para obtener tu API Key\n\n**Agregar al encabezado de la solicitud:**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"
      }
    }
  },
  "tags": [
    {
      "name": "Generación de contenido",
      "description": "Generación de contenido Gemini"
    }
  ]
}