{
  "openapi": "3.1.0",
  "info": {
    "title": "Kimi-K2 Vollständige API-Referenz",
    "description": "Vollständige API-Referenz für die Kimi-K2 Chat-Schnittstelle, einschließlich aller Parameter und erweiterten Funktionen",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.evolink.ai",
      "description": "Produktionsumgebung"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "Kimi-K2 Chat-Schnittstelle",
        "description": "- Verwenden Sie das OpenAI SDK-Format, um das Kimi-K2 Modell aufzurufen\n- Synchroner Verarbeitungsmodus, Echtzeit-Antwort\n- **Textkonversation**: Einzel- oder Mehrrundenkontext-Dialog, siehe simple_text und multi_turn Beispiele\n- **System-Prompts**: KI-Rolle und -Verhalten anpassen, siehe system_prompt Beispiel\n- **Multimodale Eingabe**: Unterstützt gemischte Text- + Bildeingabe, siehe vision Beispiel\n- **Tool-Aufrufe**: Unterstützt Function Calling, siehe tool_use Beispiel\n- **Partial Mode**: Unterstützt Prefill-Modus, siehe partial_mode Beispiel",
        "operationId": "createChatCompletion",
        "tags": [
          "Chat-Vervollständigung"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "simple_text": {
                  "summary": "Einrundige Textkonversation",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Please introduce yourself"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "multi_turn": {
                  "summary": "Mehrstufiges Gespräch (Kontextverständnis)",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "user",
                        "content": "What is Python?"
                      },
                      {
                        "role": "assistant",
                        "content": "Python is a high-level programming language..."
                      },
                      {
                        "role": "user",
                        "content": "What are its advantages?"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "system_prompt": {
                  "summary": "Verwendung von System-Prompts",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are Kimi, an AI assistant provided by Moonshot AI. You excel at conversations in both Chinese and English. You provide safe, helpful, and accurate answers. You will reject any questions involving terrorism, racial discrimination, or violence."
                      },
                      {
                        "role": "user",
                        "content": "What is 1+1?"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "vision": {
                  "summary": "Multimodale Eingabe (Text + Bild)",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "Please describe the scene and main elements in this image in detail."
                          },
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg=="
                            }
                          }
                        ]
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "tool_use": {
                  "summary": "Tool-Aufrufe (Function Calling)",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Write code to determine if 3214567 is a prime number."
                      }
                    ],
                    "tools": [
                      {
                        "type": "function",
                        "function": {
                          "name": "CodeRunner",
                          "description": "Code-Executor, der die Ausführung von Python- und JavaScript-Code unterstützt",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "language": {
                                "type": "string",
                                "enum": [
                                  "python",
                                  "javascript"
                                ]
                              },
                              "code": {
                                "type": "string",
                                "description": "Schreiben Sie Ihren Code hier"
                              }
                            }
                          }
                        }
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "partial_mode": {
                  "summary": "Partial Mode (Prefill-Modus)",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "system",
                        "content": "Extract name, size, price and colors from the product description and output as a JSON object."
                      },
                      {
                        "role": "user",
                        "content": "The SmartHome Mini is a compact smart home assistant, available in black and silver, priced at $149, with dimensions of 256 x 128 x 128mm."
                      },
                      {
                        "role": "assistant",
                        "content": "{",
                        "partial": true
                      }
                    ],
                    "temperature": 1.0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat-Vervollständigung erfolgreich",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Ungültige Anfrageparameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 400,
                    "message": "Ungültige Anfrageparameter",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Nicht autorisiert, ungültiges oder abgelaufenes Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "Invalid or expired token",
                    "type": "authentication_error"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Unzureichendes Kontingent, Aufladung erforderlich",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 402,
                    "message": "Unzureichendes Kontingent",
                    "type": "insufficient_quota_error",
                    "fallback_suggestion": "https://evolink.ai/dashboard/billing"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Zugriff verweigert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 403,
                    "message": "Access denied for this model",
                    "type": "permission_error",
                    "param": "model"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Ressource nicht gefunden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "message": "Specified model not found",
                    "type": "not_found_error",
                    "param": "model",
                    "fallback_suggestion": "kimi-k2-thinking"
                  }
                }
              }
            }
          },
          "413": {
            "description": "Anfrage-Nutzlast zu groß",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 413,
                    "message": "Image file too large",
                    "type": "request_too_large_error",
                    "param": "content",
                    "fallback_suggestion": "compress image to under 10MB"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Ratenlimit überschritten",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "message": "Ratenlimit überschritten",
                    "type": "rate_limit_error",
                    "fallback_suggestion": "retry after 60 seconds"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Interner Serverfehler",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 500,
                    "message": "Interner Serverfehler",
                    "type": "internal_server_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Upstream-Dienstfehler",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 502,
                    "message": "Upstream AI service unavailable",
                    "type": "upstream_error",
                    "fallback_suggestion": "try different model"
                  }
                }
              }
            }
          },
          "503": {
            "description": "Dienst vorübergehend nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 503,
                    "message": "Dienst vorübergehend nicht verfügbar",
                    "type": "service_unavailable_error",
                    "fallback_suggestion": "retry after 30 seconds"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Modellname für Chat-Vervollständigung",
            "enum": [
              "kimi-k2-thinking",
              "kimi-k2-thinking-turbo"
            ],
            "example": "kimi-k2-thinking"
          },
          "messages": {
            "type": "array",
            "description": "Liste der Nachrichten für das Gespräch, unterstützt Mehrrunden-Dialog und multimodale Eingabe",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "minItems": 1
          },
          "stream": {
            "type": "boolean",
            "description": "Ob die Antwort gestreamt werden soll\n\n- `true`: Stream-Antwort, gibt Inhalte blockweise in Echtzeit zurück\n- `false`: Auf vollständige Antwort warten und alles auf einmal zurückgeben",
            "default": false,
            "example": false
          },
          "max_tokens": {
            "type": "integer",
            "description": "Maximale Anzahl der in der Antwort zu generierenden Token\n\n**Hinweis**:\n- Ein zu kleiner Wert kann zu einer abgeschnittenen Antwort führen\n- Wenn die maximale Token-Anzahl erreicht wird, ist finish_reason \"length\", andernfalls \"stop\"",
            "minimum": 1,
            "example": 2000
          },
          "temperature": {
            "type": "number",
            "description": "Sampling-Temperatur, steuert die Zufälligkeit der Ausgabe\n\n**Hinweis**:\n- Niedrigere Werte (z.B. 0,2): Deterministischere und fokussiertere Ausgabe\n- Höhere Werte (z.B. 1,5): Zufälligere und kreativere Ausgabe\n- **Empfohlener Wert für die kimi-k2-thinking Serie: 1.0**",
            "minimum": 0,
            "maximum": 2,
            "default": 1.0,
            "example": 1.0
          },
          "top_p": {
            "type": "number",
            "description": "Nucleus-Sampling-Parameter\n\n**Hinweis**:\n- Steuert das Sampling von Token mit kumulativer Wahrscheinlichkeit\n- Zum Beispiel bedeutet 0,9, dass aus Token mit den oberen 90% kumulativer Wahrscheinlichkeit gesampelt wird\n- Standard: 1.0 (berücksichtigt alle Token)\n\n**Empfehlung**: Passen Sie nicht gleichzeitig temperature und top_p an",
            "minimum": 0,
            "maximum": 1,
            "default": 1.0,
            "example": 0.9
          },
          "top_k": {
            "type": "integer",
            "description": "Top-K-Sampling-Parameter\n\n**Hinweis**:\n- Zum Beispiel begrenzt 10 das Sampling auf die 10 Token mit der höchsten Wahrscheinlichkeit\n- Kleinere Werte machen die Ausgabe fokussierter\n- Standard: keine Begrenzung",
            "minimum": 1,
            "example": 40
          },
          "n": {
            "type": "integer",
            "description": "Anzahl der zu generierenden Vervollständigungen pro Eingabenachricht\n\n**Hinweis**:\n- Standard: 1, Maximum: 5\n- Wenn die Temperatur sehr nahe bei 0 liegt, kann nur 1 Ergebnis zurückgegeben werden",
            "minimum": 1,
            "maximum": 5,
            "default": 1,
            "example": 1
          },
          "presence_penalty": {
            "type": "number",
            "description": "Anwesenheitsstrafe, Zahl zwischen -2.0 und 2.0\n\n**Hinweis**:\n- Positive Werte bestrafen neue Token basierend darauf, ob sie im Text vorkommen, und erhöhen die Wahrscheinlichkeit, neue Themen zu besprechen",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0,
            "example": 0
          },
          "frequency_penalty": {
            "type": "number",
            "description": "Häufigkeitsstrafe, Zahl zwischen -2.0 und 2.0\n\n**Hinweis**:\n- Positive Werte bestrafen neue Token basierend auf ihrer Häufigkeit im Text und verringern die Wahrscheinlichkeit, dieselben Phrasen wörtlich zu wiederholen",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0,
            "example": 0
          },
          "response_format": {
            "type": "object",
            "description": "Antwortformat-Einstellungen\n\n**Hinweis**:\n- Setzen Sie auf {\"type\": \"json_object\"}, um den JSON-Modus zu aktivieren und sicherzustellen, dass das Modell gültiges JSON generiert\n- Wenn Sie response_format mit {\"type\": \"json_object\"} verwenden, leiten Sie das Modell in Ihrem Prompt explizit an, JSON-Format auszugeben\n- Standard: {\"type\": \"text\"}\n- **Warnung**: Mischen Sie nicht den Partial Mode mit response_format=json_object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "text",
                  "json_object"
                ],
                "description": "Antwortformat-Typ",
                "default": "text"
              }
            }
          },
          "stop": {
            "oneOf": [
              {
                "type": "string",
                "description": "Einzelnes Stoppwort"
              },
              {
                "type": "array",
                "description": "Liste der Stoppwörter, maximal 5",
                "items": {
                  "type": "string"
                },
                "maxItems": 5
              }
            ],
            "description": "Stoppsequenzen, die Generierung stoppt, wenn diese Sequenzen erkannt werden\n\n**Hinweis**:\n- Die Stoppsequenzen selbst werden nicht in der Ausgabe enthalten sein\n- Maximal 5 Zeichenketten, jede nicht länger als 32 Bytes"
          },
          "tools": {
            "type": "array",
            "description": "Liste der Tools für Tool Use oder Function Calling\n\n**Hinweis**:\n- Jedes Tool muss einen Typ enthalten\n- Die Funktionsstruktur muss Name, Beschreibung und Parameter enthalten\n- Maximal 128 Funktionen im tools-Array",
            "items": {
              "$ref": "#/components/schemas/Tool"
            },
            "maxItems": 128
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "Nachrichtenrolle\n\n- `user`: Benutzernachricht\n- `assistant`: KI-Assistenten-Nachricht (für Mehrrunden-Konversation)\n- `system`: System-Prompt (definiert Rolle und Verhalten der KI)",
            "enum": [
              "user",
              "assistant",
              "system"
            ],
            "example": "user"
          },
          "content": {
            "oneOf": [
              {
                "type": "string",
                "description": "Klartext-Nachrichteninhalt",
                "example": "Please introduce yourself"
              },
              {
                "type": "array",
                "description": "Multimodaler Nachrichteninhalt, unterstützt gemischte Text- und Bildeingabe",
                "items": {
                  "$ref": "#/components/schemas/ContentPart"
                }
              }
            ],
            "description": "Nachrichteninhalt. Unterstützt zwei Formate:\n\n**1. Einfache Textzeichenkette**: Kann direkt eine Zeichenkette übergeben werden, z.B. `\"content\":\"Bitte stellen Sie sich vor\"`\n\n**2. Objekt-Array** (unterstützt multimodale Eingabe): Siehe ContentPart-Definition unten"
          },
          "name": {
            "type": "string",
            "description": "Nachrichtenname\n\n**Hinweis**:\n- Wird für Rollenspiel-Szenarien verwendet, das name-Feld kann als Teil des Ausgabepräfixes betrachtet werden",
            "example": "Kal'tsit"
          },
          "partial": {
            "type": "boolean",
            "description": "Ob der Partial Mode aktiviert werden soll\n\n**Hinweis**:\n- Nur in der letzten Nachricht mit role=assistant setzen\n- Auf true setzen, um den Partial Mode (Prefill-Modus) zu aktivieren\n- **Warnung**: Mischen Sie nicht den Partial Mode mit response_format=json_object",
            "default": false
          }
        }
      },
      "ContentPart": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/TextContent"
          },
          {
            "$ref": "#/components/schemas/ImageContent"
          }
        ]
      },
      "TextContent": {
        "title": "Textinhalt",
        "type": "object",
        "required": [
          "type",
          "text"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text"
            ],
            "description": "Inhaltstyp"
          },
          "text": {
            "type": "string",
            "description": "Textinhalt",
            "example": "Please describe this image in detail"
          }
        }
      },
      "ImageContent": {
        "title": "Bildinhalt",
        "type": "object",
        "required": [
          "type",
          "image_url"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "image_url"
            ],
            "description": "Inhaltstyp"
          },
          "image_url": {
            "type": "object",
            "required": [
              "url"
            ],
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "Bild-URL oder Base64-Kodierung\n\n**Format**:\n- URL-Format: `https://example.com/image.png`\n- Base64-Format: `data:image/<format>;base64,<Base64-Kodierung>` (Format muss kleingeschrieben sein, z.B. png, jpg, jpeg, webp)\n\n**Einschränkungen**:\n- Maximale Bildgröße: `10MB`\n- Unterstützte Formate: `.jpeg`, `.jpg`, `.png`, `.webp`",
                "example": "data:image/png;base64,iVBORw0KGgo..."
              }
            }
          }
        }
      },
      "Tool": {
        "type": "object",
        "required": [
          "type",
          "function"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "Tool-Typ"
          },
          "function": {
            "type": "object",
            "required": [
              "name",
              "description",
              "parameters"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Funktionsname\n\n**Hinweis**:\n- Muss dem Regex-Muster folgen: ^[a-zA-Z_][a-zA-Z0-9-_]{0,63}$\n- Die Verwendung klarer englischer Namen wird vom Modell besser akzeptiert",
                "pattern": "^[a-zA-Z_][a-zA-Z0-9-_]{0,63}$",
                "example": "CodeRunner"
              },
              "description": {
                "type": "string",
                "description": "Funktionsbeschreibung, erklärt was die Funktion tut, um dem Modell bei der Beurteilung und Auswahl zu helfen",
                "example": "Code-Executor, der die Ausführung von Python- und JavaScript-Code unterstützt"
              },
              "parameters": {
                "type": "object",
                "description": "Definition der Funktionsparameter\n\n**Hinweis**:\n- Die Wurzel der Parameter muss ein Objekt sein\n- Der Inhalt ist eine Teilmenge von JSON Schema"
              }
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Eindeutiger Bezeichner für die Chat-Vervollständigung",
            "example": "cmpl-04ea926191a14749b7f2c7a48a68abc6"
          },
          "model": {
            "type": "string",
            "description": "Das für die Vervollständigung verwendete Modell",
            "example": "kimi-k2-thinking"
          },
          "object": {
            "type": "string",
            "enum": [
              "chat.completion"
            ],
            "description": "Antworttyp",
            "example": "chat.completion"
          },
          "created": {
            "type": "integer",
            "description": "Unix-Zeitstempel der Erstellung der Vervollständigung",
            "example": 1698999496
          },
          "choices": {
            "type": "array",
            "description": "Liste der Vervollständigungsoptionen",
            "items": {
              "$ref": "#/components/schemas/Choice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "Choice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "Index dieser Option",
            "example": 0
          },
          "message": {
            "$ref": "#/components/schemas/AssistantMessage"
          },
          "finish_reason": {
            "type": "string",
            "description": "Grund, warum die Vervollständigung beendet wurde\n\n- `stop`: Natürlicher Abschluss\n- `length`: Maximales Token-Limit erreicht\n- `content_filter`: Inhalt wurde gefiltert",
            "enum": [
              "stop",
              "length",
              "content_filter"
            ],
            "example": "stop"
          }
        }
      },
      "AssistantMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "Rolle des Nachrichtenabsenders",
            "enum": [
              "assistant"
            ],
            "example": "assistant"
          },
          "content": {
            "type": "string",
            "description": "Antwortinhalt der KI",
            "example": "Hi there! How can I help you?"
          },
          "reasoning_content": {
            "type": "string",
            "description": "Inhalt des Denkprozesses (wird nur von Modellen der kimi-k2-thinking Serie zurückgegeben)\n\n**Hinweis**:\n- Besonderes Merkmal der Kimi K2 Thinking-Serie\n- Zeigt den Denk- und Schlussfolgerungsprozess des Modells\n- Hilft zu verstehen, wie das Modell zu seiner endgültigen Antwort gelangt",
            "example": "The user just said \"hi\". This is a very simple greeting. I should be friendly, helpful, and professional in my response..."
          }
        }
      },
      "Usage": {
        "type": "object",
        "description": "Token-Nutzungsstatistiken",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "Anzahl der Tokens in der Eingabe",
            "example": 8
          },
          "completion_tokens": {
            "type": "integer",
            "description": "Anzahl der Tokens in der Ausgabe",
            "example": 292
          },
          "total_tokens": {
            "type": "integer",
            "description": "Gesamtanzahl der verwendeten Tokens",
            "example": 300
          },
          "prompt_tokens_details": {
            "type": "object",
            "description": "Detaillierte Aufschlüsselung der Eingabe-Token",
            "properties": {
              "cached_tokens": {
                "type": "integer",
                "description": "Anzahl der zwischengespeicherten Tokens",
                "example": 8
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "HTTP-Status-Fehlercode"
              },
              "message": {
                "type": "string",
                "description": "Fehlermeldung"
              },
              "type": {
                "type": "string",
                "description": "Fehlertyp"
              },
              "param": {
                "type": "string",
                "description": "Zugehöriger Parametername"
              },
              "fallback_suggestion": {
                "type": "string",
                "description": "Vorschlag zur Fehlerbehebung"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "##Alle APIs erfordern Bearer-Token-Authentifizierung##\n\n**API-Schlüssel erhalten:**\n\nBesuchen Sie die [API-Schlüsselverwaltungsseite](https://evolink.ai/dashboard/keys), um Ihren API-Schlüssel zu erhalten\n\n**Zum Anfrage-Header hinzufügen:**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"
      }
    }
  },
  "tags": [
    {
      "name": "Chat-Vervollständigung",
      "description": "KI-Chat-Vervollständigung zugehörige Endpunkte"
    }
  ]
}