{
  "openapi": "3.1.0",
  "info": {
    "title": "Kimi-K2 完全なAPIリファレンス",
    "description": "Kimi-K2 チャットインターフェースの完全なAPIリファレンス。すべてのパラメータと高度な機能を含みます",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.evolink.ai",
      "description": "本番環境"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "Kimi-K2 チャットインターフェース",
        "description": "- OpenAI SDK形式でKimi-K2モデルを呼び出し\n- 同期処理モード、リアルタイムレスポンス\n- **テキスト会話**: シングルまたはマルチターンのコンテキスト対話、simple_textおよびmulti_turnの例を参照\n- **システムプロンプト**: AIの役割と動作をカスタマイズ、system_promptの例を参照\n- **マルチモーダル入力**: テキスト+画像の混合入力をサポート、visionの例を参照\n- **ツール呼び出し**: Function Callingをサポート、tool_useの例を参照\n- **Partial Mode**: プリフィルモードをサポート、partial_modeの例を参照",
        "operationId": "createChatCompletion",
        "tags": [
          "チャット補完"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "simple_text": {
                  "summary": "シングルターンテキスト会話",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Please introduce yourself"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "multi_turn": {
                  "summary": "マルチターン会話（コンテキスト理解）",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "user",
                        "content": "What is Python?"
                      },
                      {
                        "role": "assistant",
                        "content": "Python is a high-level programming language..."
                      },
                      {
                        "role": "user",
                        "content": "What are its advantages?"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "system_prompt": {
                  "summary": "システムプロンプトの使用",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are Kimi, an AI assistant provided by Moonshot AI. You excel at conversations in both Chinese and English. You provide safe, helpful, and accurate answers. You will reject any questions involving terrorism, racial discrimination, or violence."
                      },
                      {
                        "role": "user",
                        "content": "What is 1+1?"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "vision": {
                  "summary": "マルチモーダル入力（テキスト+画像）",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "Please describe the scene and main elements in this image in detail."
                          },
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg=="
                            }
                          }
                        ]
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "tool_use": {
                  "summary": "ツール呼び出し（Function Calling）",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Write code to determine if 3214567 is a prime number."
                      }
                    ],
                    "tools": [
                      {
                        "type": "function",
                        "function": {
                          "name": "CodeRunner",
                          "description": "PythonおよびJavaScriptコードの実行をサポートするコードエグゼキューター",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "language": {
                                "type": "string",
                                "enum": [
                                  "python",
                                  "javascript"
                                ]
                              },
                              "code": {
                                "type": "string",
                                "description": "ここにコードを記述してください"
                              }
                            }
                          }
                        }
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "partial_mode": {
                  "summary": "Partial Mode（プリフィルモード）",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "system",
                        "content": "Extract name, size, price and colors from the product description and output as a JSON object."
                      },
                      {
                        "role": "user",
                        "content": "The SmartHome Mini is a compact smart home assistant, available in black and silver, priced at $149, with dimensions of 256 x 128 x 128mm."
                      },
                      {
                        "role": "assistant",
                        "content": "{",
                        "partial": true
                      }
                    ],
                    "temperature": 1.0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "チャット補完成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "無効なリクエストパラメータ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 400,
                    "message": "無効なリクエストパラメータ",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "未認可、トークンが無効または期限切れです",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "Invalid or expired token",
                    "type": "authentication_error"
                  }
                }
              }
            }
          },
          "402": {
            "description": "クォータ不足、チャージが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 402,
                    "message": "クォータ不足",
                    "type": "insufficient_quota_error",
                    "fallback_suggestion": "https://evolink.ai/dashboard/billing"
                  }
                }
              }
            }
          },
          "403": {
            "description": "アクセス拒否",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 403,
                    "message": "Access denied for this model",
                    "type": "permission_error",
                    "param": "model"
                  }
                }
              }
            }
          },
          "404": {
            "description": "リソースが見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "message": "Specified model not found",
                    "type": "not_found_error",
                    "param": "model",
                    "fallback_suggestion": "kimi-k2-thinking"
                  }
                }
              }
            }
          },
          "413": {
            "description": "リクエストペイロードが大きすぎます",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 413,
                    "message": "Image file too large",
                    "type": "request_too_large_error",
                    "param": "content",
                    "fallback_suggestion": "compress image to under 10MB"
                  }
                }
              }
            }
          },
          "429": {
            "description": "レート制限を超過しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "message": "レート制限を超過しました",
                    "type": "rate_limit_error",
                    "fallback_suggestion": "retry after 60 seconds"
                  }
                }
              }
            }
          },
          "500": {
            "description": "内部サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 500,
                    "message": "内部サーバーエラー",
                    "type": "internal_server_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          },
          "502": {
            "description": "上流サービスエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 502,
                    "message": "Upstream AI service unavailable",
                    "type": "upstream_error",
                    "fallback_suggestion": "try different model"
                  }
                }
              }
            }
          },
          "503": {
            "description": "サービス一時利用不可",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 503,
                    "message": "サービス一時利用不可",
                    "type": "service_unavailable_error",
                    "fallback_suggestion": "retry after 30 seconds"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "チャット補完用モデル名",
            "enum": [
              "kimi-k2-thinking",
              "kimi-k2-thinking-turbo"
            ],
            "example": "kimi-k2-thinking"
          },
          "messages": {
            "type": "array",
            "description": "会話用メッセージリスト、マルチターン対話とマルチモーダル入力をサポート",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "minItems": 1
          },
          "stream": {
            "type": "boolean",
            "description": "レスポンスをストリーミングするかどうか\n\n- `true`: ストリームレスポンス、リアルタイムでチャンク単位にコンテンツを返却\n- `false`: 完全なレスポンスを待って一括で返却",
            "default": false,
            "example": false
          },
          "max_tokens": {
            "type": "integer",
            "description": "レスポンスで生成するトークンの最大数\n\n**注意**:\n- 値が小さすぎるとレスポンスが途中で切れる可能性があります\n- 最大トークン数に達した場合、finish_reasonは\"length\"になり、それ以外は\"stop\"になります",
            "minimum": 1,
            "example": 2000
          },
          "temperature": {
            "type": "number",
            "description": "サンプリング温度、出力のランダム性を制御します\n\n**注意**:\n- 低い値（例: 0.2）: より決定論的で集中した出力\n- 高い値（例: 1.5）: よりランダムで創造的な出力\n- **kimi-k2-thinkingシリーズの推奨値: 1.0**",
            "minimum": 0,
            "maximum": 2,
            "default": 1.0,
            "example": 1.0
          },
          "top_p": {
            "type": "number",
            "description": "Nucleusサンプリングパラメータ\n\n**注意**:\n- 累積確率に基づくトークンのサンプリングを制御します\n- 例えば、0.9は累積確率上位90%のトークンからサンプリングすることを意味します\n- デフォルト: 1.0（すべてのトークンを考慮）\n\n**推奨**: temperatureとtop_pを同時に調整しないでください",
            "minimum": 0,
            "maximum": 1,
            "default": 1.0,
            "example": 0.9
          },
          "top_k": {
            "type": "integer",
            "description": "Top-Kサンプリングパラメータ\n\n**注意**:\n- 例えば、10は確率上位10トークンに限定してサンプリングします\n- 値が小さいほど出力がより集中します\n- デフォルト: 制限なし",
            "minimum": 1,
            "example": 40
          },
          "n": {
            "type": "integer",
            "description": "各入力メッセージに対して生成する補完の数\n\n**注意**:\n- デフォルト: 1、最大: 5\n- temperatureが0に非常に近い場合、結果は1つのみ返されます",
            "minimum": 1,
            "maximum": 5,
            "default": 1,
            "example": 1
          },
          "presence_penalty": {
            "type": "number",
            "description": "存在ペナルティ、-2.0から2.0の間の数値\n\n**注意**:\n- 正の値はテキストに出現するかどうかに基づいて新しいトークンにペナルティを与え、新しいトピックについて議論する可能性を高めます",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0,
            "example": 0
          },
          "frequency_penalty": {
            "type": "number",
            "description": "頻度ペナルティ、-2.0から2.0の間の数値\n\n**注意**:\n- 正の値はテキスト内での出現頻度に基づいて新しいトークンにペナルティを与え、同じフレーズをそのまま繰り返す可能性を低下させます",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0,
            "example": 0
          },
          "response_format": {
            "type": "object",
            "description": "レスポンス形式の設定\n\n**注意**:\n- {\"type\": \"json_object\"}に設定するとJSONモードが有効になり、モデルが有効なJSONを生成することが保証されます\n- response_formatで{\"type\": \"json_object\"}を使用する場合、プロンプトでモデルにJSON形式の出力を明示的に指示してください\n- デフォルト: {\"type\": \"text\"}\n- **警告**: partial modeとresponse_format=json_objectを混在させないでください",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "text",
                  "json_object"
                ],
                "description": "レスポンス形式タイプ",
                "default": "text"
              }
            }
          },
          "stop": {
            "oneOf": [
              {
                "type": "string",
                "description": "単一のストップワード"
              },
              {
                "type": "array",
                "description": "ストップワードのリスト、最大5個",
                "items": {
                  "type": "string"
                },
                "maxItems": 5
              }
            ],
            "description": "ストップシーケンス、これらのシーケンスが一致すると生成が停止します\n\n**注意**:\n- ストップシーケンス自体は出力に含まれません\n- 最大5つの文字列、各文字列は32バイト以下"
          },
          "tools": {
            "type": "array",
            "description": "Tool UseまたはFunction Calling用のツールリスト\n\n**注意**:\n- 各ツールにはtypeを含める必要があります\n- function構造にはname、description、parametersを含める必要があります\n- tools配列には最大128個のfunctionを指定可能",
            "items": {
              "$ref": "#/components/schemas/Tool"
            },
            "maxItems": 128
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "メッセージの役割\n\n- `user`: ユーザーメッセージ\n- `assistant`: AIアシスタントメッセージ（マルチターン会話用）\n- `system`: システムプロンプト（AIの役割と動作を定義）",
            "enum": [
              "user",
              "assistant",
              "system"
            ],
            "example": "user"
          },
          "content": {
            "oneOf": [
              {
                "type": "string",
                "description": "プレーンテキストのメッセージ内容",
                "example": "Please introduce yourself"
              },
              {
                "type": "array",
                "description": "マルチモーダルメッセージ内容、テキストと画像の混合入力をサポート",
                "items": {
                  "$ref": "#/components/schemas/ContentPart"
                }
              }
            ],
            "description": "メッセージの内容。2つの形式をサポート:\n\n**1. プレーンテキスト文字列**: 文字列を直接渡すことができます。例: `\"content\":\"自己紹介してください\"`\n\n**2. オブジェクト配列**（マルチモーダル入力をサポート）: 以下のContentPart定義を参照"
          },
          "name": {
            "type": "string",
            "description": "メッセージ名\n\n**注意**:\n- ロールプレイシナリオで使用され、nameフィールドは出力プレフィックスの一部として見なすことができます",
            "example": "Kal'tsit"
          },
          "partial": {
            "type": "boolean",
            "description": "Partial Modeを有効にするかどうか\n\n**注意**:\n- role=assistantの最後のメッセージにのみ設定\n- trueに設定するとpartial mode（プリフィルモード）が有効になります\n- **警告**: partial modeとresponse_format=json_objectを混在させないでください",
            "default": false
          }
        }
      },
      "ContentPart": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/TextContent"
          },
          {
            "$ref": "#/components/schemas/ImageContent"
          }
        ]
      },
      "TextContent": {
        "title": "テキストコンテンツ",
        "type": "object",
        "required": [
          "type",
          "text"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text"
            ],
            "description": "コンテンツタイプ"
          },
          "text": {
            "type": "string",
            "description": "テキストコンテンツ",
            "example": "Please describe this image in detail"
          }
        }
      },
      "ImageContent": {
        "title": "画像コンテンツ",
        "type": "object",
        "required": [
          "type",
          "image_url"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "image_url"
            ],
            "description": "コンテンツタイプ"
          },
          "image_url": {
            "type": "object",
            "required": [
              "url"
            ],
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "画像URLまたはBase64エンコーディング\n\n**形式**:\n- URL形式: `https://example.com/image.png`\n- Base64形式: `data:image/<format>;base64,<Base64エンコーディング>`（formatは小文字である必要があります。例: png, jpg, jpeg, webp）\n\n**制限**:\n- 最大画像サイズ: `10MB`\n- サポートされる形式: `.jpeg`, `.jpg`, `.png`, `.webp`",
                "example": "data:image/png;base64,iVBORw0KGgo..."
              }
            }
          }
        }
      },
      "Tool": {
        "type": "object",
        "required": [
          "type",
          "function"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "ツールタイプ"
          },
          "function": {
            "type": "object",
            "required": [
              "name",
              "description",
              "parameters"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "関数名\n\n**注意**:\n- 正規表現パターンに従う必要があります: ^[a-zA-Z_][a-zA-Z0-9-_]{0,63}$\n- 明確な英語名を使用するとモデルに受け入れられやすくなります",
                "pattern": "^[a-zA-Z_][a-zA-Z0-9-_]{0,63}$",
                "example": "CodeRunner"
              },
              "description": {
                "type": "string",
                "description": "関数の説明、関数の機能を説明してモデルの判断と選択を支援します",
                "example": "PythonおよびJavaScriptコードの実行をサポートするコードエグゼキューター"
              },
              "parameters": {
                "type": "object",
                "description": "関数パラメータの定義\n\n**注意**:\n- parametersのルートはオブジェクトである必要があります\n- 内容はJSON Schemaのサブセットです"
              }
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "チャット補完の一意の識別子",
            "example": "cmpl-04ea926191a14749b7f2c7a48a68abc6"
          },
          "model": {
            "type": "string",
            "description": "補完に使用されたモデル",
            "example": "kimi-k2-thinking"
          },
          "object": {
            "type": "string",
            "enum": [
              "chat.completion"
            ],
            "description": "レスポンスタイプ",
            "example": "chat.completion"
          },
          "created": {
            "type": "integer",
            "description": "補完が作成されたUnixタイムスタンプ",
            "example": 1698999496
          },
          "choices": {
            "type": "array",
            "description": "補完選択肢のリスト",
            "items": {
              "$ref": "#/components/schemas/Choice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "Choice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "この選択肢のインデックス",
            "example": 0
          },
          "message": {
            "$ref": "#/components/schemas/AssistantMessage"
          },
          "finish_reason": {
            "type": "string",
            "description": "補完が終了した理由\n\n- `stop`: 自然な完了\n- `length`: 最大トークン制限に到達\n- `content_filter`: コンテンツがフィルタリングされました",
            "enum": [
              "stop",
              "length",
              "content_filter"
            ],
            "example": "stop"
          }
        }
      },
      "AssistantMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "メッセージ送信者のロール",
            "enum": [
              "assistant"
            ],
            "example": "assistant"
          },
          "content": {
            "type": "string",
            "description": "AIのレスポンス内容",
            "example": "Hi there! How can I help you?"
          },
          "reasoning_content": {
            "type": "string",
            "description": "推論プロセスの内容（kimi-k2-thinkingシリーズモデルのみ返されます）\n\n**注意**:\n- Kimi K2 thinkingシリーズモデルの特徴的な機能\n- モデルの思考と推論プロセスを表示します\n- モデルが最終的な回答に至る過程を理解するのに役立ちます",
            "example": "The user just said \"hi\". This is a very simple greeting. I should be friendly, helpful, and professional in my response..."
          }
        }
      },
      "Usage": {
        "type": "object",
        "description": "トークン使用統計",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "入力のトークン数",
            "example": 8
          },
          "completion_tokens": {
            "type": "integer",
            "description": "出力のトークン数",
            "example": 292
          },
          "total_tokens": {
            "type": "integer",
            "description": "使用されたトークンの合計数",
            "example": 300
          },
          "prompt_tokens_details": {
            "type": "object",
            "description": "入力トークンの詳細な内訳",
            "properties": {
              "cached_tokens": {
                "type": "integer",
                "description": "キャッシュトークン数",
                "example": 8
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "HTTP ステータスエラーコード"
              },
              "message": {
                "type": "string",
                "description": "エラーメッセージ"
              },
              "type": {
                "type": "string",
                "description": "エラータイプ"
              },
              "param": {
                "type": "string",
                "description": "関連パラメータ名"
              },
              "fallback_suggestion": {
                "type": "string",
                "description": "エラー処理の提案"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "##すべてのAPIにBearer Token認証が必要です##\n\n**APIキーの取得：**\n\n[APIキー管理ページ](https://evolink.ai/dashboard/keys)にアクセスしてAPIキーを取得してください\n\n**リクエストヘッダーに追加：**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"
      }
    }
  },
  "tags": [
    {
      "name": "チャット補完",
      "description": "AIチャット補完関連エンドポイント"
    }
  ]
}