{"openapi":"3.1.0","info":{"title":"Qwen3.5-Plus Responses API 完全なリファレンス","description":"Qwen3.5-Plus OpenAI Responses APIの完全なパラメータリファレンス","license":{"name":"MIT"},"version":"1.0.0"},"servers":[{"url":"https://api.evolink.ai","description":"本番環境"}],"security":[{"bearerAuth":[]}],"paths":{"/v1/responses":{"post":{"summary":"Qwen3.5-Plus Responses API","description":"- OpenAI Responses API互換エンドポイント\n- 組み込みツールサポート（ウェブ検索、ウェブ抽出、コードインタープリターなど）\n- `previous_response_id`によるマルチターン会話コンテキスト管理の簡素化\n- 対応モデル: `qwen3.5-plus`, `qwen3.5-plus-2026-02-15`","operationId":"createResponsesQwen35PlusJa","tags":["チャット生成"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponsesRequest"},"examples":{"simple":{"summary":"シンプルな呼び出し","value":{"model":"qwen3.5-plus","input":"こんにちは、自己紹介をしてください"}},"messages_array":{"summary":"メッセージ配列形式","value":{"model":"qwen3.5-plus","input":[{"role":"user","content":"Pythonとは何ですか？"}]}},"multi_turn":{"summary":"マルチターン会話（previous_response_idを使用）","value":{"model":"qwen3.5-plus","input":"主な特徴は何ですか？","previous_response_id":"resp_abc123"}},"web_search":{"summary":"組み込みウェブ検索","value":{"model":"qwen3.5-plus","input":"最新のAI技術トレンドは何ですか？","tools":[{"type":"web_search"}]}},"thinking_mode":{"summary":"思考モード","value":{"model":"qwen3.5-plus","input":"1から100の間のすべての素数を求めてください","enable_thinking":true}}}}}},"responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponsesResponse"}}}},"400":{"description":"不正なリクエスト","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":400,"message":"Invalid request parameters","type":"invalid_request_error"}}}}},"401":{"description":"認証エラー","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":401,"message":"Invalid or expired token","type":"authentication_error"}}}}},"402":{"description":"クォータ不足","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":402,"message":"Insufficient quota","type":"insufficient_quota_error","fallback_suggestion":"https://evolink.ai/dashboard/billing"}}}}},"429":{"description":"レート制限超過","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":429,"message":"Rate limit exceeded","type":"rate_limit_error"}}}}},"500":{"description":"内部サーバーエラー","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":500,"message":"Internal server error","type":"internal_server_error"}}}}}}}}},"components":{"schemas":{"ResponsesRequest":{"type":"object","required":["model","input"],"properties":{"model":{"type":"string","description":"モデル名","enum":["qwen3.5-plus","qwen3.5-plus-2026-02-15"],"default":"qwen3.5-plus","example":"qwen3.5-plus"},"input":{"oneOf":[{"type":"string"},{"type":"array","items":{"$ref":"#/components/schemas/ResponsesMessage"}}],"description":"入力内容: 文字列またはメッセージ配列。メッセージ配列モードでは、user.content はプレーン文字列または input_text/input_image パーツをサポートします。","example":"こんにちは、自己紹介をしてください"},"stream":{"type":"boolean","description":"ストリーミング出力を有効にするか；trueの場合、モデル応答データがリアルタイムでストリーミングされる","default":false},"temperature":{"type":"number","description":"サンプリング温度、生成テキストの多様性を制御。範囲：[0, 2)。temperatureまたはtop_pのどちらか一方のみ設定を推奨","minimum":0,"maximum":2,"example":0.7},"top_p":{"type":"number","description":"Nucleus samplingの確率閾値（0~1）。temperatureまたはtop_pのどちらか一方のみ設定を推奨","minimum":0,"maximum":1,"example":0.9},"tools":{"type":"array","description":"モデルが応答生成時に呼び出せるツール配列。組み込みツールとカスタム関数ツールをサポート","items":{"$ref":"#/components/schemas/ResponsesTool"}},"tool_choice":{"oneOf":[{"type":"string","enum":["none","auto","required"]},{"$ref":"#/components/schemas/AllowedToolsChoice"}],"description":"ツール選択戦略。auto/none/required、または allowed_tools オブジェクトを使用して、モデル呼び出しを許可リストに制限できます。","default":"auto"},"enable_thinking":{"type":"boolean","description":"思考モードを有効にするか。OpenAI標準パラメータではない","default":true},"previous_response_id":{"type":"string","description":"前回の応答の一意ID（有効期間7日）。マルチターン会話を可能にし、手動でメッセージ履歴を構築する必要がない","example":"resp_abc123"}}},"MessageSimple":{"type":"object","required":["role","content"],"properties":{"role":{"type":"string","enum":["user","assistant","system"]},"content":{"type":"string"}}},"ResponsesTool":{"type":"object","required":["type"],"properties":{"type":{"type":"string","enum":["function","web_search","web_extractor","code_interpreter","web_search_image","image_search","file_search","mcp"],"description":"ツールタイプ。web_search：ウェブ検索；web_extractor：ウェブコンテンツ抽出（web_searchと併用必須）；code_interpreter：コード実行；function：カスタム関数ツール"},"name":{"type":"string","description":"typeがfunctionの場合に必須。関数名","example":"get_weather"},"description":{"type":"string","description":"typeがfunctionの場合の関数説明","example":"指定した都市の天気情報を取得する"},"parameters":{"type":"object","description":"typeがfunctionの場合の関数パラメータ定義、JSON Schema形式"},"vector_store_ids":{"type":"array","description":"file_search 用（任意）: ベクターストア ID のリスト","items":{"type":"string"}},"server_protocol":{"type":"string","description":"mcp 用（任意）: サーバープロトコル（例: streamable_http）"},"server_label":{"type":"string","description":"mcp 用（任意）: サーバーラベル"},"server_description":{"type":"string","description":"mcp 用（任意）: サーバー説明"},"server_url":{"type":"string","description":"mcp 用（任意）: サーバー URL"},"headers":{"type":"object","description":"mcp 用（任意）: リクエストヘッダーマップ"}}},"ResponsesResponse":{"type":"object","properties":{"id":{"type":"string","description":"この応答の一意識別子、UUID形式、有効期間7日","example":"resp_abc123"},"model":{"type":"string","description":"実際に使用されたモデル名","example":"qwen3.5-plus"},"status":{"type":"string","enum":["completed","in_progress","failed","cancelled","queued","incomplete"],"description":"応答ステータス。completed：完了；in_progress：生成中；failed：失敗；cancelled：キャンセル；queued：キュー中；incomplete：未完了","example":"completed"},"created_at":{"type":"integer","description":"このリクエストのUnixタイムスタンプ（秒）","example":1760032810},"output":{"type":"array","description":"生成順に並んだ出力アイテムの配列","items":{"$ref":"#/components/schemas/OutputItem"}},"output_text":{"type":"string","description":"output配列からテキストコンテンツを直接返す便利フィールド","example":"こんにちは！私はQwen3.5-Plusです..."},"usage":{"$ref":"#/components/schemas/ResponsesUsage","description":"このリクエストのトークン消費統計"}}},"OutputItem":{"type":"object","properties":{"type":{"type":"string","enum":["message","reasoning","function_call","web_search_call","web_extractor_call","code_interpreter_call"],"description":"出力アイテムタイプ。message：最終テキスト応答；reasoning：思考連鎖；function_call：関数呼び出し；web_search_call：ウェブ検索呼び出し；web_extractor_call：ウェブコンテンツ抽出；code_interpreter_call：コードインタープリター実行","example":"message"},"content":{"type":"array","description":"typeがmessageの場合のコンテンツ配列","items":{"type":"object","properties":{"type":{"type":"string","enum":["output_text"]},"text":{"type":"string","description":"モデルが生成したテキストコンテンツ","example":"こんにちは！私はQwen3.5-Plusです..."}}}},"summary":{"type":"array","description":"typeがreasoningの場合の思考連鎖サマリー配列","items":{"type":"object","properties":{"text":{"type":"string","description":"思考連鎖サマリーテキスト"}}}},"name":{"type":"string","description":"typeがfunction_callの場合の関数名"},"arguments":{"type":"string","description":"typeがfunction_callの場合の関数呼び出し引数、JSON文字列形式"},"call_id":{"type":"string","description":"ツール呼び出しの一意識別子"}}},"ResponsesUsage":{"type":"object","properties":{"input_tokens":{"type":"integer","description":"入力トークン数（履歴コンテキストと現在の入力を含む）","example":13},"output_tokens":{"type":"integer","description":"出力トークン数（思考連鎖トークンと本文トークンを含む）","example":256},"total_tokens":{"type":"integer","description":"このリクエストで消費された総トークン数","example":269},"output_tokens_details":{"type":"object","description":"出力トークンの内訳","properties":{"reasoning_tokens":{"type":"integer","description":"思考モード有効時に使用された reasoning トークン数","example":128}}}}},"ErrorResponse":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"integer"},"message":{"type":"string"},"type":{"type":"string"},"param":{"type":"string"},"fallback_suggestion":{"type":"string"}}}}},"ResponsesMessage":{"type":"object","required":["role","content"],"properties":{"role":{"type":"string","enum":["user","assistant","system"]},"content":{"oneOf":[{"type":"string"},{"type":"array","items":{"$ref":"#/components/schemas/InputContentPart"}}],"description":"メッセージ内容: プレーン文字列、または構造化マルチモーダルコンテンツパーツ。"}}},"InputContentPart":{"oneOf":[{"$ref":"#/components/schemas/InputTextPart"},{"$ref":"#/components/schemas/InputImagePart"}],"discriminator":{"propertyName":"type"}},"InputTextPart":{"type":"object","required":["type","text"],"properties":{"type":{"type":"string","enum":["input_text"]},"text":{"type":"string"}}},"InputImagePart":{"type":"object","required":["type","image_url"],"properties":{"type":{"type":"string","enum":["input_image"]},"image_url":{"type":"string","description":"画像 URL または base64 データ"}}},"AllowedToolsChoice":{"type":"object","required":["type","mode","tools"],"properties":{"type":{"type":"string","enum":["allowed_tools"]},"mode":{"type":"string","enum":["auto","required"],"description":"auto: 許可リスト内で自動選択; required: 許可されたツールを少なくとも1つ呼び出す"},"tools":{"type":"array","description":"許可されたツール名のリスト","items":{"type":"string"}}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"##すべてのエンドポイントはBearerトークン認証が必要です##\n\n**APIキーを取得：**\n\n[APIキー管理](https://evolink.ai/dashboard/keys)にアクセス\n\n**ヘッダーに追加：**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"}}},"tags":[{"name":"チャット生成","description":"AIチャット生成エンドポイント"}]}
