{
  "openapi": "3.1.0",
  "info": {
    "title": "Référence API Complète MiniMax-M2.5",
    "description": "Référence API complète pour l'interface de chat MiniMax-M2.5",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://direct.evolink.ai",
      "description": "Production (recommandée)"
    },
    {
      "url": "https://api.evolink.ai",
      "description": "URL alternative"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "Interface de chat MiniMax-M2.5",
        "description": "- Utiliser le format SDK OpenAI pour appeler le modèle MiniMax-M2.5\n- Mode de traitement synchrone, réponse en temps réel\n- **Conversation textuelle** : Dialogue contextuel en un ou plusieurs tours\n- **Prompts système** : Personnaliser le rôle et le comportement de l'IA",
        "operationId": "createChatCompletion",
        "tags": [
          "Complétion de chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "simple_text": {
                  "summary": "Conversation textuelle à un tour",
                  "value": {
                    "model": "MiniMax-M2.5",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Veuillez vous présenter"
                      }
                    ]
                  }
                },
                "multi_turn": {
                  "summary": "Conversation multi-tours (compréhension du contexte)",
                  "value": {
                    "model": "MiniMax-M2.5",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Qu'est-ce que Python ?"
                      },
                      {
                        "role": "assistant",
                        "content": "Python est un langage de programmation de haut niveau..."
                      },
                      {
                        "role": "user",
                        "content": "Quels sont ses avantages ?"
                      }
                    ]
                  }
                },
                "system_prompt": {
                  "summary": "Utilisation du prompt système",
                  "value": {
                    "model": "MiniMax-M2.5",
                    "messages": [
                      {
                        "role": "system",
                        "content": "Vous êtes un assistant de programmation Python professionnel, répondez aux questions de manière concise."
                      },
                      {
                        "role": "user",
                        "content": "Comment lire un fichier ?"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Complétion de chat réussie",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Paramètres de requête invalides",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 400,
                    "message": "Invalid request parameters",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Non authentifié, token invalide ou expiré",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "Invalid or expired token",
                    "type": "authentication_error"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Quota insuffisant, rechargement nécessaire",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 402,
                    "message": "Insufficient quota",
                    "type": "insufficient_quota_error",
                    "fallback_suggestion": "https://evolink.ai/dashboard/billing"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Accès refusé",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 403,
                    "message": "Access denied for this model",
                    "type": "permission_error",
                    "param": "model"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Ressource non trouvée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "message": "Specified model not found",
                    "type": "not_found_error",
                    "param": "model",
                    "fallback_suggestion": "MiniMax-M2.5"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Limite de requêtes dépassée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "message": "Rate limit exceeded",
                    "type": "rate_limit_error",
                    "fallback_suggestion": "retry after 60 seconds"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 500,
                    "message": "Internal server error",
                    "type": "internal_server_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Erreur du service en amont",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 502,
                    "message": "Upstream AI service unavailable",
                    "type": "upstream_error",
                    "fallback_suggestion": "try different model"
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service temporairement indisponible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 503,
                    "message": "Service temporarily unavailable",
                    "type": "service_unavailable_error",
                    "fallback_suggestion": "retry after 30 seconds"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Nom du modèle de chat",
            "enum": [
              "MiniMax-M2.5"
            ],
            "example": "MiniMax-M2.5"
          },
          "messages": {
            "type": "array",
            "description": "Liste des messages de conversation, prend en charge le dialogue multi-tours",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "minItems": 1
          },
          "max_tokens": {
            "type": "integer",
            "description": "Nombre maximum de tokens pour le contenu généré, limite supérieure de 2048\n\n**Remarque** :\n- Le contenu dépassant la limite sera tronqué\n- Si la génération est interrompue en raison de `length`, essayez d'augmenter cette valeur",
            "minimum": 1,
            "maximum": 2048,
            "example": 2048
          },
          "stream": {
            "type": "boolean",
            "description": "Retourner la réponse en mode streaming\n\n- `true` : Réponse en streaming, retourne le contenu en blocs en temps réel\n- `false` : Attendre la réponse complète avant de retourner",
            "example": false
          },
          "temperature": {
            "type": "number",
            "description": "Température d'échantillonnage, contrôle le caractère aléatoire de la sortie\n\n**Remarque** :\n- Valeurs basses (ex. 0.1) : Sortie plus déterministe et ciblée\n- Valeurs hautes (ex. 0.9) : Sortie plus aléatoire et créative\n- Plage : (0, 1], excluant 0",
            "exclusiveMinimum": 0,
            "maximum": 1,
            "example": 0.7
          },
          "top_p": {
            "type": "number",
            "description": "Paramètre Nucleus Sampling\n\n**Remarque** :\n- Contrôle l'échantillonnage à partir des tokens avec probabilité cumulative\n- Ex. 0.9 signifie sélectionner parmi les tokens atteignant 90% de probabilité cumulative\n- Plage : (0, 1], excluant 0\n\n**Recommandation** : Ne pas ajuster temperature et top_p simultanément",
            "exclusiveMinimum": 0,
            "maximum": 1,
            "example": 0.9
          },
          "enable_search": {
            "type": "boolean",
            "description": "Activer la recherche web\n\n- `true` : Activer la recherche web, le modèle recherchera sur Internet les informations les plus récentes si nécessaire\n- `false` : Désactiver la recherche web",
            "example": true
          },
          "search_options": {
            "type": "object",
            "description": "Options de recherche web, nécessite `enable_search: true`",
            "properties": {
              "search_strategy": {
                "type": "string",
                "description": "Stratégie de recherche\n\n- `turbo` : Recherche rapide, vitesse plus élevée\n- `max` : Recherche approfondie, résultats plus complets",
                "enum": [
                  "turbo",
                  "max"
                ],
                "example": "max"
              }
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "Rôle du message\n\n- `user` : Message utilisateur\n- `assistant` : Message de l'assistant IA (pour le dialogue multi-tours)\n- `system` : Prompt système (définir le rôle et le comportement de l'IA)",
            "enum": [
              "user",
              "assistant",
              "system"
            ],
            "example": "user"
          },
          "content": {
            "type": "string",
            "description": "Contenu du message",
            "example": "Veuillez vous présenter"
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifiant unique de la complétion de chat",
            "example": "cmpl-04ea926191a14749b7f2c7a48a68abc6"
          },
          "model": {
            "type": "string",
            "description": "Nom du modèle réellement utilisé",
            "example": "MiniMax-M2.5"
          },
          "object": {
            "type": "string",
            "enum": [
              "chat.completion"
            ],
            "description": "Type de réponse",
            "example": "chat.completion"
          },
          "created": {
            "type": "integer",
            "description": "Horodatage de création",
            "example": 1698999496
          },
          "choices": {
            "type": "array",
            "description": "Liste des choix de complétion de chat",
            "items": {
              "$ref": "#/components/schemas/Choice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "Choice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "Index du choix",
            "example": 0
          },
          "message": {
            "$ref": "#/components/schemas/AssistantMessage"
          },
          "finish_reason": {
            "type": "string",
            "description": "Raison de fin\n\n- `stop` : Fin normale\n- `length` : Limite maximale de tokens atteinte\n- `content_filter` : Contenu filtré",
            "enum": [
              "stop",
              "length",
              "content_filter"
            ],
            "example": "stop"
          }
        }
      },
      "AssistantMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "Rôle de l'expéditeur du message",
            "enum": [
              "assistant"
            ],
            "example": "assistant"
          },
          "content": {
            "type": "string",
            "description": "Contenu du message de réponse IA",
            "example": "Bonjour ! Comment puis-je vous aider ?"
          }
        }
      },
      "Usage": {
        "type": "object",
        "description": "Statistiques d'utilisation des tokens",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "Nombre de tokens en entrée",
            "example": 8
          },
          "completion_tokens": {
            "type": "integer",
            "description": "Nombre de tokens en sortie",
            "example": 292
          },
          "total_tokens": {
            "type": "integer",
            "description": "Nombre total de tokens",
            "example": 300
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "Code d'erreur HTTP"
              },
              "message": {
                "type": "string",
                "description": "Description de l'erreur"
              },
              "type": {
                "type": "string",
                "description": "Type d'erreur"
              },
              "param": {
                "type": "string",
                "description": "Nom du paramètre concerné"
              },
              "fallback_suggestion": {
                "type": "string",
                "description": "Suggestion en cas d'erreur"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "##Toutes les API nécessitent une authentification Bearer Token##\n\n**Obtenir une clé API :**\n\nVisitez la [page de gestion des clés API](https://evolink.ai/dashboard/keys) pour obtenir votre clé API\n\n**Ajouter à l'en-tête de requête :**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"
      }
    }
  },
  "tags": [
    {
      "name": "Complétion de chat",
      "description": "Endpoints liés à la complétion de chat IA"
    }
  ]
}
