{"openapi":"3.1.0","info":{"title":"Qwen3.5-Plus Responses API Vollständige Referenz","description":"Vollständige Parameterreferenz für die Qwen3.5-Plus OpenAI Responses API","license":{"name":"MIT"},"version":"1.0.0"},"servers":[{"url":"https://api.evolink.ai","description":"Produktion"}],"security":[{"bearerAuth":[]}],"paths":{"/v1/responses":{"post":{"summary":"Qwen3.5-Plus Responses API","description":"- OpenAI Responses API-kompatibler Endpunkt\n- Integrierte Tool-Unterstützung (Websuche, Web-Extraktor, Code-Interpreter usw.)\n- Vereinfachte Mehrrundenkonversation über `previous_response_id`\n- Unterstützte Modelle: `qwen3.5-plus`, `qwen3.5-plus-2026-02-15`","operationId":"createResponsesQwen35PlusDe","tags":["Chat-Generierung"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponsesRequest"},"examples":{"simple":{"summary":"Einfacher Aufruf","value":{"model":"qwen3.5-plus","input":"Hallo, bitte stell dich vor"}},"messages_array":{"summary":"Nachrichten-Array-Format","value":{"model":"qwen3.5-plus","input":[{"role":"user","content":"Was ist Python?"}]}},"multi_turn":{"summary":"Mehrrundenkonversation (mit previous_response_id)","value":{"model":"qwen3.5-plus","input":"Was sind seine Hauptmerkmale?","previous_response_id":"resp_abc123"}},"web_search":{"summary":"Integrierte Websuche","value":{"model":"qwen3.5-plus","input":"Was sind die neuesten KI-Technologietrends?","tools":[{"type":"web_search"}]}},"thinking_mode":{"summary":"Denkmodus","value":{"model":"qwen3.5-plus","input":"Finden Sie alle Primzahlen zwischen 1 und 100","enable_thinking":true}}}}}},"responses":{"200":{"description":"Erfolgreich","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponsesResponse"}}}},"400":{"description":"Ungültige Anfrage","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":400,"message":"Invalid request parameters","type":"invalid_request_error"}}}}},"401":{"description":"Nicht autorisiert","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":401,"message":"Invalid or expired token","type":"authentication_error"}}}}},"402":{"description":"Unzureichendes Kontingent","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":402,"message":"Insufficient quota","type":"insufficient_quota_error","fallback_suggestion":"https://evolink.ai/dashboard/billing"}}}}},"429":{"description":"Ratenlimit überschritten","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":429,"message":"Rate limit exceeded","type":"rate_limit_error"}}}}},"500":{"description":"Interner Serverfehler","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":500,"message":"Internal server error","type":"internal_server_error"}}}}}}}}},"components":{"schemas":{"ResponsesRequest":{"type":"object","required":["model","input"],"properties":{"model":{"type":"string","description":"Modellname","enum":["qwen3.5-plus","qwen3.5-plus-2026-02-15"],"default":"qwen3.5-plus","example":"qwen3.5-plus"},"input":{"oneOf":[{"type":"string"},{"type":"array","items":{"$ref":"#/components/schemas/ResponsesMessage"}}],"description":"Eingabeinhalt: String oder Nachrichtenarray. Im Nachrichtenarray-Modus unterstützt user.content einfachen String oder input_text/input_image-Inhaltsteile.","example":"Hallo, bitte stell dich vor"},"stream":{"type":"boolean","description":"Ob Streaming-Ausgabe aktiviert werden soll; bei true werden Modellantwortdaten in Echtzeit gestreamt","default":false},"temperature":{"type":"number","description":"Abtasttemperatur, steuert die Vielfalt des generierten Textes. Bereich: [0, 2). Empfohlen: nur temperature oder top_p setzen","minimum":0,"maximum":2,"example":0.7},"top_p":{"type":"number","description":"Nucleus-Sampling-Wahrscheinlichkeitsschwelle (0~1). Empfohlen: nur temperature oder top_p setzen","minimum":0,"maximum":1,"example":0.9},"tools":{"type":"array","description":"Tool-Array, das das Modell beim Generieren von Antworten aufrufen kann. Unterstützt integrierte Tools und benutzerdefinierte Funktions-Tools","items":{"$ref":"#/components/schemas/ResponsesTool"}},"tool_choice":{"oneOf":[{"type":"string","enum":["none","auto","required"]},{"$ref":"#/components/schemas/AllowedToolsChoice"}],"description":"Tool-Auswahlstrategie. Verwenden Sie auto/none/required oder das allowed_tools-Objekt, um Modellaufrufe auf eine Allowlist zu beschränken.","default":"auto"},"enable_thinking":{"type":"boolean","description":"Ob der Denkmodus aktiviert werden soll. Kein OpenAI-Standardparameter","default":true},"previous_response_id":{"type":"string","description":"Eindeutige ID der vorherigen Antwort (gültig 7 Tage). Ermöglicht Mehrrundenkonversationen ohne manuelle Nachrichtenhistorie","example":"resp_abc123"}}},"MessageSimple":{"type":"object","required":["role","content"],"properties":{"role":{"type":"string","enum":["user","assistant","system"]},"content":{"type":"string"}}},"ResponsesTool":{"type":"object","required":["type"],"properties":{"type":{"type":"string","enum":["function","web_search","web_extractor","code_interpreter","web_search_image","image_search","file_search","mcp"],"description":"Tool-Typ. web_search: Websuche; web_extractor: Web-Inhaltsextraktion (muss mit web_search verwendet werden); code_interpreter: Code-Ausführung; function: benutzerdefiniertes Funktions-Tool"},"name":{"type":"string","description":"Erforderlich wenn type function ist. Funktionsname","example":"get_weather"},"description":{"type":"string","description":"Funktionsbeschreibung wenn type function ist","example":"Aktuelles Wetter für eine bestimmte Stadt abrufen"},"parameters":{"type":"object","description":"Funktionsparameterdefinition wenn type function ist, im JSON-Schema-Format"},"vector_store_ids":{"type":"array","description":"Optional für file_search: Liste der Vector-Store-IDs","items":{"type":"string"}},"server_protocol":{"type":"string","description":"Optional für mcp: Serverprotokoll (z. B. streamable_http)"},"server_label":{"type":"string","description":"Optional für mcp: Serverbezeichnung"},"server_description":{"type":"string","description":"Optional für mcp: Serverbeschreibung"},"server_url":{"type":"string","description":"Optional für mcp: Server-URL"},"headers":{"type":"object","description":"Optional für mcp: Header-Map der Anfrage"}}},"ResponsesResponse":{"type":"object","properties":{"id":{"type":"string","description":"Eindeutiger Bezeichner dieser Antwort, UUID-Format, gültig 7 Tage","example":"resp_abc123"},"model":{"type":"string","description":"Tatsächlich verwendeter Modellname","example":"qwen3.5-plus"},"status":{"type":"string","enum":["completed","in_progress","failed","cancelled","queued","incomplete"],"description":"Antwortstatus. completed: abgeschlossen; in_progress: wird generiert; failed: fehlgeschlagen; cancelled: abgebrochen; queued: in Warteschlange; incomplete: unvollständig","example":"completed"},"created_at":{"type":"integer","description":"Unix-Zeitstempel dieser Anfrage (Sekunden)","example":1760032810},"output":{"type":"array","description":"Array von Ausgabeelementen in Generierungsreihenfolge","items":{"$ref":"#/components/schemas/OutputItem"}},"output_text":{"type":"string","description":"Komfortfeld, das den Textinhalt aus dem output-Array direkt zurückgibt","example":"Hallo! Ich bin Qwen3.5-Plus..."},"usage":{"$ref":"#/components/schemas/ResponsesUsage","description":"Token-Verbrauchsstatistik dieser Anfrage"}}},"OutputItem":{"type":"object","properties":{"type":{"type":"string","enum":["message","reasoning","function_call","web_search_call","web_extractor_call","code_interpreter_call"],"description":"Ausgabeelementtyp. message: endgültige Textantwort; reasoning: Denkkette; function_call: Funktionsaufruf; web_search_call: Websucheaufruf; web_extractor_call: Web-Inhaltsextraktion; code_interpreter_call: Code-Interpreter-Ausführung","example":"message"},"content":{"type":"array","description":"Inhalts-Array wenn type message ist","items":{"type":"object","properties":{"type":{"type":"string","enum":["output_text"]},"text":{"type":"string","description":"Vom Modell generierter Textinhalt","example":"Hallo! Ich bin Qwen3.5-Plus..."}}}},"summary":{"type":"array","description":"Denkketten-Zusammenfassung wenn type reasoning ist","items":{"type":"object","properties":{"text":{"type":"string","description":"Denkketten-Zusammenfassungstext"}}}},"name":{"type":"string","description":"Funktionsname wenn type function_call ist"},"arguments":{"type":"string","description":"Funktionsaufrufargumente wenn type function_call ist, JSON-String-Format"},"call_id":{"type":"string","description":"Eindeutiger Bezeichner des Tool-Aufrufs"}}},"ResponsesUsage":{"type":"object","properties":{"input_tokens":{"type":"integer","description":"Eingabe-Token-Anzahl, einschließlich historischem Kontext und aktueller Eingabe","example":13},"output_tokens":{"type":"integer","description":"Ausgabe-Token-Anzahl, einschließlich Denkketten- und Haupttext-Token","example":256},"total_tokens":{"type":"integer","description":"Gesamte verbrauchte Token dieser Anfrage","example":269},"output_tokens_details":{"type":"object","description":"Aufschlüsselung der Ausgabetokens","properties":{"reasoning_tokens":{"type":"integer","description":"Anzahl der Reasoning-Tokens bei aktiviertem Denkmodus","example":128}}}}},"ErrorResponse":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"integer"},"message":{"type":"string"},"type":{"type":"string"},"param":{"type":"string"},"fallback_suggestion":{"type":"string"}}}}},"ResponsesMessage":{"type":"object","required":["role","content"],"properties":{"role":{"type":"string","enum":["user","assistant","system"]},"content":{"oneOf":[{"type":"string"},{"type":"array","items":{"$ref":"#/components/schemas/InputContentPart"}}],"description":"Nachrichteninhalt: einfacher String oder strukturierte multimodale Inhaltsteile."}}},"InputContentPart":{"oneOf":[{"$ref":"#/components/schemas/InputTextPart"},{"$ref":"#/components/schemas/InputImagePart"}],"discriminator":{"propertyName":"type"}},"InputTextPart":{"type":"object","required":["type","text"],"properties":{"type":{"type":"string","enum":["input_text"]},"text":{"type":"string"}}},"InputImagePart":{"type":"object","required":["type","image_url"],"properties":{"type":{"type":"string","enum":["input_image"]},"image_url":{"type":"string","description":"Bild-URL oder Base64-Daten"}}},"AllowedToolsChoice":{"type":"object","required":["type","mode","tools"],"properties":{"type":{"type":"string","enum":["allowed_tools"]},"mode":{"type":"string","enum":["auto","required"],"description":"auto: innerhalb der Allowlist auswählen; required: mindestens ein erlaubtes Tool aufrufen"},"tools":{"type":"array","description":"Liste erlaubter Tool-Namen","items":{"type":"string"}}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"##Alle Endpunkte erfordern Bearer-Token-Authentifizierung##\n\n**API-Schlüssel erhalten:**\n\nBesuchen Sie [API-Schlüsselverwaltung](https://evolink.ai/dashboard/keys)\n\n**Zum Header hinzufügen:**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"}}},"tags":[{"name":"Chat-Generierung","description":"KI-Chat-Generierungsendpunkte"}]}
