{
  "openapi": "3.1.0",
  "info": {
    "title": "Gemini 全モデルインターフェース（ネイティブ API 形式）",
    "description": "Gemini 全シリーズのテキストモデルを統一したネイティブインターフェース。パス内の model で具体的なモデルを選択し、テキストおよびマルチモーダル（画像 / 音声 / 動画）入力に対応します。",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://direct.evolink.ai",
      "description": "本番環境（推奨）"
    },
    {
      "url": "https://api.evolink.ai",
      "description": "代替 URL"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "summary": "Gemini コンテンツ生成（全モデル）",
        "description": "パス内の `{model}` で呼び出す Gemini テキストモデルを選択します（すべての選択可能な値は `model` パラメータの対照表を参照してください）。\n\n- Google ネイティブ API 形式を使用し、会話内容を同期的に返却します\n- **プレーンテキスト / マルチモーダル入力**：テキスト + 画像 / 音声 / 動画の混合入力\n- **ストリーミング**：パス内の `generateContent` を `streamGenerateContent` に置き換えます（`?alt=sse` を追加して SSE を取得できます）\n\n---\n\n**モデルの仕様と差異**\n- **サンプリングパラメータ** `temperature` / `topP` / `topK`：Gemini 3.x 全シリーズ共通で、カスタム値は出力に影響しません。`topK` はゲートウェイで直接破棄され（上流には送信されません）、`temperature` / `topP` が正当な範囲を超えると 400 が返ります。\n- **思考制御**：Gemini 3.x シリーズでは `thinkingConfig.thinkingLevel`（各モデルが対応する段階とデフォルトは `thinkingLevel` パラメータを参照）を使用します。Gemini 2.5 シリーズでは `thinkingConfig.thinkingBudget`（整数、`0`=無効）を使用します。両者は排他的です。\n- **関数呼び出し**：Gemini 3.x の `FunctionResponse` では、対応する `FunctionCall` と一致する `id` と `name` を必ず返す必要があります。そうでない場合はエラーになります。\n- **最終ターンのロール**：最後のメッセージの `role` を `model` にすることはできません（Gemini 3.5+ ではエラーになります）。\n- **Token 上限**：`gemini-3.6-flash` / `gemini-3.5-flash-lite` はコンテキスト 1,048,576、最大出力 65,536。その他のモデルは各自の仕様に準じます。",
        "operationId": "geminiGenerateContent",
        "tags": [
          "コンテンツ生成"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              },
              "examples": {
                "simple_text": {
                  "summary": "シングルターンテキスト会話",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Please introduce yourself"
                          }
                        ]
                      }
                    ]
                  }
                },
                "multi_turn": {
                  "summary": "マルチターン会話（コンテキスト理解）",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "What is Python?"
                          }
                        ]
                      },
                      {
                        "role": "model",
                        "parts": [
                          {
                            "text": "Python is a high-level programming language..."
                          }
                        ]
                      },
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "What are its advantages?"
                          }
                        ]
                      }
                    ]
                  }
                },
                "audio_analysis": {
                  "summary": "音声分析",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Please analyze this song audio and answer: 1. Song source and artist 2. Song mood 3. Complete lyrics output"
                          },
                          {
                            "fileData": {
                              "mimeType": "audio/mp3",
                              "fileUri": "https://example.com/audio.mp3"
                            }
                          }
                        ]
                      }
                    ]
                  }
                },
                "image_understanding": {
                  "summary": "画像理解",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Please describe the scene and main elements in this image in detail"
                          },
                          {
                            "fileData": {
                              "mimeType": "image/jpeg",
                              "fileUri": "https://example.com/image.jpg"
                            }
                          }
                        ]
                      }
                    ]
                  }
                },
                "multi_file": {
                  "summary": "マルチファイル入力（混合）",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Compare the relationship between these two images and this audio"
                          },
                          {
                            "fileData": {
                              "mimeType": "image/jpeg",
                              "fileUri": "https://example.com/image1.jpg"
                            }
                          },
                          {
                            "fileData": {
                              "mimeType": "image/png",
                              "fileUri": "https://example.com/image2.png"
                            }
                          },
                          {
                            "fileData": {
                              "mimeType": "audio/mp3",
                              "fileUri": "https://example.com/audio.mp3"
                            }
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "コンテンツが正常に生成されました\n\n**レスポンス形式の説明**：\n- `generateContent` エンドポイント使用時、`GenerateContentResponse`を返却（完全なレスポンスを一度に返却）\n- `streamGenerateContent` エンドポイント使用時、`StreamGenerateContentResponse`を返却（ストリーミングレスポンス、コンテンツをチャンクで返却）",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GenerateContentResponse"
                    },
                    {
                      "$ref": "#/components/schemas/StreamGenerateContentResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "無効なリクエストパラメータ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 400,
                    "message": "無効なリクエストパラメータ",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "未認可、トークンが無効または期限切れです",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "Invalid or expired token",
                    "type": "authentication_error"
                  }
                }
              }
            }
          },
          "402": {
            "description": "クォータ不足、チャージが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 402,
                    "message": "クォータ不足",
                    "type": "insufficient_quota_error",
                    "fallback_suggestion": "https://evolink.ai/dashboard/billing"
                  }
                }
              }
            }
          },
          "403": {
            "description": "アクセス拒否",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 403,
                    "message": "Access denied for this model",
                    "type": "permission_error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "リソースが見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "message": "Model not found",
                    "type": "not_found_error"
                  }
                }
              }
            }
          },
          "413": {
            "description": "リクエストボディが大きすぎます、ファイルが大きすぎます",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 413,
                    "message": "リクエストボディが大きすぎます",
                    "type": "request_too_large_error",
                    "fallback_suggestion": "reduce file size"
                  }
                }
              }
            }
          },
          "429": {
            "description": "レート制限を超過しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "message": "レート制限を超過しました",
                    "type": "rate_limit_error",
                    "fallback_suggestion": "retry after 60 seconds"
                  }
                }
              }
            }
          },
          "500": {
            "description": "内部サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 500,
                    "message": "内部サーバーエラー",
                    "type": "internal_server_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          },
          "502": {
            "description": "上流サービスエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 502,
                    "message": "Upstream AI service unavailable",
                    "type": "upstream_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          },
          "503": {
            "description": "サービス一時利用不可",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 503,
                    "message": "サービス一時利用不可",
                    "type": "service_unavailable_error",
                    "fallback_suggestion": "retry after 30 seconds"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "呼び出す Gemini テキストモデルを選択します：\n\n| モデル ID | シリーズ | 位置づけ |\n|---|---|---|\n| `gemini-3.6-flash` | 3.6 Flash | マルチステップ編成 / コードリファクタリング / 汎用推論 |\n| `gemini-3.5-flash` | 3.5 Flash | 汎用 Flash |\n| `gemini-3.5-flash-lite` | 3.5 Flash-Lite | 低コスト / 高スループット / 軽量 agent |\n| `gemini-3.1-pro-preview` | 3.1 Pro (Preview) | 高度な推論 |\n| `gemini-3.1-pro-preview-customtools` | 3.1 Pro · CustomTools | 高度な推論 + カスタムツール |\n| `gemini-3.1-flash-lite-preview` | 3.1 Flash-Lite (Preview) | 低コスト |\n| `gemini-3-pro-preview` | 3.0 Pro (Preview) | 高度な推論 |\n| `gemini-3-flash-preview` | 3.0 Flash (Preview) | 汎用 Flash |\n| `gemini-2.5-pro` | 2.5 Pro | 高度な推論 |\n| `gemini-2.5-flash` | 2.5 Flash | 汎用 Flash |\n| `gemini-2.5-flash-lite` | 2.5 Flash-Lite | 低コスト |",
            "schema": {
              "type": "string",
              "enum": [
                "gemini-3.6-flash",
                "gemini-3.5-flash",
                "gemini-3.5-flash-lite",
                "gemini-3.1-pro-preview",
                "gemini-3.1-pro-preview-customtools",
                "gemini-3.1-flash-lite-preview",
                "gemini-3-pro-preview",
                "gemini-3-flash-preview",
                "gemini-2.5-pro",
                "gemini-2.5-flash",
                "gemini-2.5-flash-lite"
              ],
              "example": "gemini-3.6-flash"
            }
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "GenerateContentRequest": {
        "type": "object",
        "required": [
          "contents"
        ],
        "properties": {
          "contents": {
            "type": "array",
            "description": "List of conversation contents, supports multi-turn dialogue and multimodal input",
            "items": {
              "$ref": "#/components/schemas/Content"
            },
            "minItems": 1
          },
          "generationConfig": {
            "$ref": "#/components/schemas/GenerationConfig",
            "description": "Generation configuration parameters (optional)"
          },
          "systemInstruction": {
            "$ref": "#/components/schemas/Content",
            "description": "System instruction (optional), mainly text content"
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "List of tools the model can call, such as function calling or code execution"
          },
          "toolConfig": {
            "type": "object",
            "description": "Tool calling configuration (optional)"
          },
          "safetySettings": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Safety settings list (optional)"
          },
          "cachedContent": {
            "type": "string",
            "description": "Cached content name, in the form cachedContents/{cachedContent}"
          }
        }
      },
      "Content": {
        "type": "object",
        "required": [
          "role",
          "parts"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "コンテンツロール\n\n- `user`：ユーザー入力\n- `model`：AIモデルの応答（マルチターン会話用）",
            "enum": [
              "user",
              "model"
            ],
            "example": "user"
          },
          "parts": {
            "type": "array",
            "description": "Content parts list, supports text, file data, inline data, function calls, function responses, and code execution results",
            "items": {
              "$ref": "#/components/schemas/Part"
            },
            "minItems": 1
          }
        }
      },
      "Part": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/TextPart"
          },
          {
            "$ref": "#/components/schemas/FilePart"
          },
          {
            "$ref": "#/components/schemas/InlineDataPart"
          },
          {
            "$ref": "#/components/schemas/FunctionCallPart"
          },
          {
            "$ref": "#/components/schemas/FunctionResponsePart"
          },
          {
            "$ref": "#/components/schemas/ExecutableCodePart"
          },
          {
            "$ref": "#/components/schemas/CodeExecutionResultPart"
          }
        ],
        "description": "Content part union type. The thoughtSignature returned by thinking models must be echoed back in the next turn."
      },
      "TextPart": {
        "title": "テキスト入力",
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "テキストコンテンツ",
            "example": "Hello! I'm pleased to introduce myself.\n\nI'm a large language model, trained and developed by Google..."
          },
          "thought": {
            "type": "boolean",
            "description": "Whether this is thought content"
          },
          "thoughtSignature": {
            "type": "string",
            "description": "Thought signature, must be echoed back in the next turn",
            "example": "<Signature_A>"
          }
        }
      },
      "FilePart": {
        "title": "マルチモーダル入力",
        "type": "object",
        "required": [
          "fileData"
        ],
        "properties": {
          "fileData": {
            "type": "object",
            "required": [
              "mimeType",
              "fileUri"
            ],
            "properties": {
              "mimeType": {
                "type": "string",
                "description": "ファイルMIMEタイプ\n\n**対応タイプ**：\n\n**画像**：\n- `image/jpeg`、`image/png`\n- 画像あたりの最大サイズ：10 MB\n\n**音声**：\n- `audio/mp3`\n- ファイルあたりの最大サイズ：10 MB\n- 推奨長さ：10分以内\n\n**動画**：\n- `video/mp4`\n- ファイルあたりの最大サイズ：50 MB\n- 推奨長さ：180秒以内\n\n**ドキュメント**：\n- `application/pdf`\n- ファイルあたりの最大サイズ：20 MB",
                "example": "audio/mp3"
              },
              "fileUri": {
                "type": "string",
                "format": "uri",
                "description": "ファイルURIアドレス\n\n**要件**：\n- 公開アクセス可能なURLである必要があります\n- URLはファイル拡張子（例：.mp3、.jpg）で終わり、mimeTypeパラメータと一致する必要があります",
                "example": "https://example.com/audio.mp3"
              }
            }
          }
        }
      },
      "GenerationConfig": {
        "type": "object",
        "description": "Generation configuration parameters",
        "properties": {
          "temperature": {
            "type": "number",
            "description": "サンプリング温度、出力のランダム性を制御\n\n**説明**:\n- 低い値（例: 0.2）: より決定論的で集中した出力\n- 高い値（例: 1.5）: よりランダムで創造的な出力\n\n⚠️ **Gemini 3.x 全シリーズ共通**（モデルによって異なりません）：正当な範囲内のカスタム値は出力に影響しません。このパラメータの正当な範囲を超えると、静かに無視されるのではなく 400 が返ります。",
            "minimum": 0,
            "maximum": 2,
            "example": 0.7
          },
          "maxOutputTokens": {
            "type": "integer",
            "description": "生成された応答の最大トークン数\n\n**説明**:\n- 値が小さすぎると応答が切り捨てられる可能性があります\n\n`gemini-3.6-flash` / `gemini-3.5-flash-lite` は上限 65,536 tokens。その他のモデルは各自の仕様に準じます。",
            "minimum": 1,
            "example": 2000
          },
          "topP": {
            "type": "number",
            "description": "核サンプリング(Nucleus Sampling)パラメータ\n\n**説明**:\n- 累積確率が上位どこまでのトークンからサンプリングするかを制御します\n- 例えば 0.9 は累積確率が90%に達するまでのトークンから選択することを意味します\n- デフォルト値: 0.95\n\n**推奨**: temperature と topP を同時に調整しないでください\n\n⚠️ **Gemini 3.x 全シリーズ共通**（モデルによって異なりません）：正当な範囲内のカスタム値は出力に影響しません。このパラメータの正当な範囲を超えると、静かに無視されるのではなく 400 が返ります。",
            "minimum": 0,
            "maximum": 1,
            "example": 0.9
          },
          "topK": {
            "type": "integer",
            "description": "Top-K サンプリングパラメータ\n\n**説明**:\n- 例えば 10 は、サンプリングのたびに確率が最も高い 10 個のトークンのみを考慮するよう制限することを意味します\n- 値が小さいほど出力がより集中します\n- デフォルト値: 64\n\n⚠️ このパラメータはゲートウェイで直接破棄され、上流には送信されません。すべての Gemini 3.x モデルで無効です。",
            "minimum": 1,
            "example": 40
          },
          "responseMimeType": {
            "type": "string",
            "description": "MIME type of generated candidate content, for example text/plain or application/json",
            "example": "application/json"
          },
          "responseSchema": {
            "type": "object",
            "description": "Output schema definition for generated content (JSON mode / structured output)"
          },
          "responseJsonSchema": {
            "type": "object",
            "description": "JSON Schema for generated content (useful for more complex structured output)"
          },
          "thinkingConfig": {
            "type": "object",
            "description": "思考設定。モデルの推論動作を制御します。\n\n- **Gemini 3.x シリーズ**：`thinkingLevel` を使用します（各モデルが対応する段階とデフォルトは `thinkingLevel` パラメータを参照してください）\n- **Gemini 2.5 シリーズ**：`thinkingBudget` を使用\n\n⚠️ `thinkingLevel` と `thinkingBudget` は排他的で、同時に指定するとエラーになります。",
            "properties": {
              "thinkingLevel": {
                "type": "string",
                "enum": [
                  "minimal",
                  "low",
                  "medium",
                  "high"
                ],
                "description": "思考レベル。推論の深さを制御します（大文字・小文字を区別しません）：\n- `minimal`：思考をほとんど行わず、高スループット / 低レイテンシのシナリオ（分類、抽出、ルーティングなど）向け\n- `low`：思考は少なめで、単純なタスクに適しています\n- `medium`：品質と速度のバランスが取れ、中程度の複雑さのタスクに適しています\n- `high`：深いマルチステップ推論で、複雑な推論、数学、コーディングに適しています\n\n**Gemini 3.x シリーズのみ対応**しており、各モデルが対応する段階とデフォルトは異なります（Gemini 2.5 シリーズでは `thinkingBudget` を使用します）：\n\n| モデル | 対応段階 | デフォルト |\n|---|---|---|\n| `gemini-3.6-flash` | `minimal` / `low` / `medium` / `high` | `medium` |\n| `gemini-3.5-flash` | `minimal` / `low` / `medium` / `high` | `medium` |\n| `gemini-3.5-flash-lite` | `minimal` / `low` / `medium` / `high` | `minimal` |\n| `gemini-3.1-flash-lite-preview` | `minimal` / `low` / `medium` / `high` | `minimal` |\n| `gemini-3-flash-preview` | `minimal` / `low` / `medium` / `high` | `medium` |\n| `gemini-3.1-pro-preview` | `low` / `medium` / `high` | `high` |\n| `gemini-3.1-pro-preview-customtools` | `low` / `medium` / `high` | `high` |\n| `gemini-3-pro-preview` | `low` / `medium` / `high` | `high` |\n\nモデルが対応していない段階を指定するとエラーになります（例えば Pro 系に `minimal` を渡すと上流から 400 が返ります）。",
                "example": "minimal"
              },
              "thinkingBudget": {
                "type": "integer",
                "description": "思考 token バジェット。**Gemini 2.5 シリーズ**（`gemini-2.5-flash` / `gemini-2.5-flash-lite` / `gemini-2.5-pro`）で使用します：`0`=思考を無効化、`-1`=動的バジェット、正の整数=固定バジェット（具体的な範囲は各モデルに準じます）。`thinkingLevel` と排他的です。",
                "example": -1
              }
            }
          }
        }
      },
      "GenerateContentResponse": {
        "title": "同期レスポンス",
        "type": "object",
        "properties": {
          "candidates": {
            "type": "array",
            "description": "List of candidate responses",
            "items": {
              "$ref": "#/components/schemas/Candidate"
            }
          },
          "promptFeedback": {
            "$ref": "#/components/schemas/PromptFeedback"
          },
          "usageMetadata": {
            "$ref": "#/components/schemas/UsageMetadata"
          },
          "modelVersion": {
            "type": "string",
            "description": "Model version",
            "example": "gemini-3.6-flash"
          },
          "responseId": {
            "type": "string",
            "description": "Response ID",
            "example": "l-LoaPu0BPmo1dkP6ZPHiQc"
          }
        }
      },
      "Candidate": {
        "type": "object",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/ContentResponse"
          },
          "finishReason": {
            "type": "string",
            "description": "Finish reason",
            "enum": [
              "FINISH_REASON_UNSPECIFIED",
              "STOP",
              "MAX_TOKENS",
              "SAFETY",
              "RECITATION",
              "LANGUAGE",
              "OTHER",
              "BLOCKLIST",
              "PROHIBITED_CONTENT",
              "SPII",
              "MALFORMED_FUNCTION_CALL",
              "IMAGE_SAFETY",
              "IMAGE_PROHIBITED_CONTENT",
              "IMAGE_OTHER",
              "NO_IMAGE",
              "IMAGE_RECITATION",
              "UNEXPECTED_TOOL_CALL",
              "TOO_MANY_TOOL_CALLS",
              "MISSING_THOUGHT_SIGNATURE"
            ],
            "example": "STOP"
          },
          "index": {
            "type": "integer",
            "description": "候補インデックス",
            "example": 0
          },
          "safetyRatings": {
            "type": "array",
            "nullable": true,
            "description": "安全性評価",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ContentResponse": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "レスポンスロール",
            "enum": [
              "model"
            ],
            "example": "model"
          },
          "parts": {
            "type": "array",
            "description": "Response content parts, supports text, inline data, function calls, function responses, and code execution results",
            "items": {
              "$ref": "#/components/schemas/Part"
            }
          }
        }
      },
      "PromptFeedback": {
        "type": "object",
        "properties": {
          "safetyRatings": {
            "type": "array",
            "nullable": true,
            "description": "プロンプト安全性評価",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "UsageMetadata": {
        "type": "object",
        "description": "使用統計",
        "properties": {
          "promptTokenCount": {
            "type": "integer",
            "description": "入力コンテンツのトークン数",
            "example": 4
          },
          "candidatesTokenCount": {
            "type": "integer",
            "description": "出力コンテンツのトークン数",
            "example": 611
          },
          "totalTokenCount": {
            "type": "integer",
            "description": "トークンの合計数",
            "example": 2422
          },
          "thoughtsTokenCount": {
            "type": "integer",
            "description": "推論トークン数",
            "example": 1807
          },
          "promptTokensDetails": {
            "type": "array",
            "description": "詳細な入力トークン情報（モダリティ別）",
            "items": {
              "$ref": "#/components/schemas/TokenDetail"
            }
          },
          "cachedContentTokenCount": {
            "type": "integer",
            "description": "Number of cached content tokens",
            "example": 0
          }
        }
      },
      "TokenDetail": {
        "type": "object",
        "description": "トークン詳細（モダリティ別統計）",
        "properties": {
          "modality": {
            "type": "string",
            "description": "Content modality type",
            "enum": [
              "MODALITY_UNSPECIFIED",
              "TEXT",
              "IMAGE",
              "AUDIO",
              "VIDEO",
              "DOCUMENT"
            ],
            "example": "TEXT"
          },
          "tokenCount": {
            "type": "integer",
            "description": "このモダリティのトークン数",
            "example": 4
          }
        }
      },
      "StreamCandidate": {
        "type": "object",
        "description": "Stream response candidate (more simplified than regular response)",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/ContentResponse"
          },
          "finishReason": {
            "type": "string",
            "description": "Finish reason (only included in last chunk)",
            "enum": [
              "FINISH_REASON_UNSPECIFIED",
              "STOP",
              "MAX_TOKENS",
              "SAFETY",
              "RECITATION",
              "LANGUAGE",
              "OTHER",
              "BLOCKLIST",
              "PROHIBITED_CONTENT",
              "SPII",
              "MALFORMED_FUNCTION_CALL",
              "IMAGE_SAFETY",
              "IMAGE_PROHIBITED_CONTENT",
              "IMAGE_OTHER",
              "NO_IMAGE",
              "IMAGE_RECITATION",
              "UNEXPECTED_TOOL_CALL",
              "TOO_MANY_TOOL_CALLS",
              "MISSING_THOUGHT_SIGNATURE"
            ],
            "example": "STOP"
          }
        }
      },
      "StreamGenerateContentResponse": {
        "title": "ストリームレスポンス",
        "type": "object",
        "description": "ストリームレスポンスチャンク\n\n**中間チャンク**:\n```json\n{\n  \"candidates\": [\n    {\n      \"content\": {\n        \"role\": \"model\",\n        \"parts\": [{ \"text\": \"Partial text...\" }]\n      }\n    }\n  ],\n  \"usageMetadata\": {\n    \"trafficType\": \"ON_DEMAND\"\n  },\n  \"modelVersion\": \"gemini-3.6-flash\",\n  \"createTime\": \"2025-10-10T10:40:23.072315Z\",\n  \"responseId\": \"xxx\"\n}\n```\n\n**最終チャンク**:\n```json\n{\n  \"candidates\": [\n    {\n      \"content\": {\n        \"role\": \"model\",\n        \"parts\": [{ \"text\": \"Final text fragment\" }]\n      },\n      \"finishReason\": \"STOP\"\n    }\n  ],\n  \"usageMetadata\": {\n    \"promptTokenCount\": 4,\n    \"candidatesTokenCount\": 522,\n    \"totalTokenCount\": 2191,\n    \"trafficType\": \"ON_DEMAND\"\n  },\n  \"modelVersion\": \"gemini-3.6-flash\",\n  \"createTime\": \"2025-10-10T10:40:23.072315Z\",\n  \"responseId\": \"xxx\"\n}\n```",
        "properties": {
          "candidates": {
            "type": "array",
            "description": "候補応答のリスト（ストリーミングモードにはindexとsafetyRatingsは含まれません）",
            "items": {
              "$ref": "#/components/schemas/StreamCandidate"
            }
          },
          "usageMetadata": {
            "type": "object",
            "description": "使用統計（中間チャンクには trafficType のみ、最後のチャンクに完全な統計が含まれます）",
            "properties": {
              "promptTokenCount": {
                "type": "integer",
                "description": "入力コンテンツのトークン数(最後のチャンクのみ)",
                "example": 4
              },
              "candidatesTokenCount": {
                "type": "integer",
                "description": "出力コンテンツのトークン数(最後のチャンクのみ)",
                "example": 522
              },
              "totalTokenCount": {
                "type": "integer",
                "description": "トークンの合計数（最後のチャンクのみ）",
                "example": 2191
              },
              "trafficType": {
                "type": "string",
                "description": "トラフィックタイプ",
                "example": "ON_DEMAND"
              },
              "cachedContentTokenCount": {
                "type": "integer",
                "description": "Number of cached content tokens (last chunk only)",
                "example": 0
              }
            }
          },
          "modelVersion": {
            "type": "string",
            "description": "モデルバージョン",
            "example": "gemini-3.6-flash"
          },
          "createTime": {
            "type": "string",
            "format": "date-time",
            "description": "作成日時",
            "example": "2025-10-10T10:40:23.072315Z"
          },
          "responseId": {
            "type": "string",
            "description": "レスポンスID",
            "example": "l-LoaPu0BPmo1dkP6ZPHiQc"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "HTTP ステータスエラーコード"
              },
              "message": {
                "type": "string",
                "description": "エラーの説明"
              },
              "type": {
                "type": "string",
                "description": "エラータイプ"
              },
              "fallback_suggestion": {
                "type": "string",
                "description": "エラー発生時の提案"
              }
            }
          }
        }
      },
      "BlobData": {
        "type": "object",
        "properties": {
          "mimeType": {
            "type": "string",
            "description": "IANA MIME type",
            "example": "image/png"
          },
          "data": {
            "type": "string",
            "format": "byte",
            "description": "Base64-encoded raw media data"
          }
        },
        "required": [
          "mimeType",
          "data"
        ]
      },
      "InlineDataPart": {
        "title": "Inline Data",
        "type": "object",
        "required": [
          "inlineData"
        ],
        "properties": {
          "inlineData": {
            "$ref": "#/components/schemas/BlobData"
          },
          "thought": {
            "type": "boolean",
            "description": "Whether this is thought content"
          },
          "thoughtSignature": {
            "type": "string",
            "description": "Thought signature, must be echoed back in the next turn",
            "example": "<Signature_A>"
          }
        }
      },
      "FunctionCall": {
        "type": "object",
        "required": [
          "name",
          "args"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Function name",
            "example": "get_weather"
          },
          "args": {
            "type": "object",
            "description": "Function arguments"
          },
          "id": {
            "type": "string",
            "description": "呼び出し ID。Gemini 3.x ではモデルによって生成され、並列関数呼び出しのペアリングに使用されます。",
            "example": "fc-abc123"
          }
        }
      },
      "FunctionCallPart": {
        "title": "Function Call",
        "type": "object",
        "required": [
          "functionCall"
        ],
        "properties": {
          "functionCall": {
            "$ref": "#/components/schemas/FunctionCall"
          },
          "thought": {
            "type": "boolean",
            "description": "Whether this is thought content"
          },
          "thoughtSignature": {
            "type": "string",
            "description": "Thought signature, must be echoed back in the next turn",
            "example": "<Signature_A>"
          }
        }
      },
      "FunctionResponseMediaPart": {
        "type": "object",
        "required": [
          "inlineData"
        ],
        "properties": {
          "inlineData": {
            "$ref": "#/components/schemas/BlobData"
          }
        }
      },
      "FunctionResponse": {
        "type": "object",
        "required": [
          "name",
          "response"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Function name",
            "example": "get_weather"
          },
          "parts": {
            "type": "array",
            "description": "Optional multimodal response parts",
            "items": {
              "$ref": "#/components/schemas/FunctionResponseMediaPart"
            }
          },
          "response": {
            "type": "object",
            "description": "Function response payload"
          },
          "id": {
            "type": "string",
            "description": "対応する `FunctionCall` の呼び出し ID（一部のドキュメント / SDK では `call_id` と呼ばれます）。**Gemini 3.x では必ず返す必要があり**、`name` と併せてペアリングに使用されます。そうでない場合はエラーになります。",
            "example": "fc-abc123"
          }
        }
      },
      "FunctionResponsePart": {
        "title": "Function Response",
        "type": "object",
        "required": [
          "functionResponse"
        ],
        "properties": {
          "functionResponse": {
            "$ref": "#/components/schemas/FunctionResponse"
          }
        }
      },
      "ExecutableCode": {
        "type": "object",
        "required": [
          "language",
          "code"
        ],
        "properties": {
          "language": {
            "type": "string",
            "description": "Code language",
            "example": "python"
          },
          "code": {
            "type": "string",
            "description": "Generated code"
          }
        }
      },
      "ExecutableCodePart": {
        "title": "Generated Code",
        "type": "object",
        "required": [
          "executableCode"
        ],
        "properties": {
          "executableCode": {
            "$ref": "#/components/schemas/ExecutableCode"
          }
        }
      },
      "CodeExecutionResult": {
        "type": "object",
        "required": [
          "outcome"
        ],
        "properties": {
          "outcome": {
            "type": "string",
            "description": "Code execution result",
            "enum": [
              "OUTCOME_UNSPECIFIED",
              "OUTCOME_OK",
              "OUTCOME_FAILED",
              "OUTCOME_DEADLINE_EXCEEDED"
            ],
            "example": "OUTCOME_OK"
          },
          "output": {
            "type": "string",
            "description": "Standard output, error output, or other description"
          }
        }
      },
      "CodeExecutionResultPart": {
        "title": "Code Execution Result",
        "type": "object",
        "required": [
          "codeExecutionResult"
        ],
        "properties": {
          "codeExecutionResult": {
            "$ref": "#/components/schemas/CodeExecutionResult"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "##すべてのAPIにBearer Token認証が必要です##\n\n**APIキーの取得：**\n\n[APIキー管理ページ](https://evolink.ai/dashboard/keys)にアクセスしてAPIキーを取得してください\n\n**リクエストヘッダーに追加：**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"
      }
    }
  },
  "tags": [
    {
      "name": "コンテンツ生成",
      "description": "Gemini AIコンテンツ生成関連API"
    }
  ]
}
