{"openapi":"3.1.0","info":{"title":"Qwen3.5-Plus Responses API Referencia Completa","description":"Referencia completa de parámetros de la Responses API de Qwen3.5-Plus","license":{"name":"MIT"},"version":"1.0.0"},"servers":[{"url":"https://api.evolink.ai","description":"Producción"}],"security":[{"bearerAuth":[]}],"paths":{"/v1/responses":{"post":{"summary":"Qwen3.5-Plus Responses API","description":"- Endpoint compatible con OpenAI Responses API\n- Soporte de herramientas integradas (búsqueda web, extractor web, intérprete de código, etc.)\n- Gestión simplificada de contexto multi-turno mediante `previous_response_id`\n- Modelos compatibles: `qwen3.5-plus`, `qwen3.5-plus-2026-02-15`","operationId":"createResponsesQwen35PlusEs","tags":["Generación de Chat"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponsesRequest"},"examples":{"simple":{"summary":"Llamada simple","value":{"model":"qwen3.5-plus","input":"Hola, por favor preséntate"}},"messages_array":{"summary":"Formato de array de mensajes","value":{"model":"qwen3.5-plus","input":[{"role":"user","content":"¿Qué es Python?"}]}},"multi_turn":{"summary":"Conversación multi-turno (usando previous_response_id)","value":{"model":"qwen3.5-plus","input":"¿Cuáles son sus características principales?","previous_response_id":"resp_abc123"}},"web_search":{"summary":"Búsqueda web integrada","value":{"model":"qwen3.5-plus","input":"¿Cuáles son las últimas tendencias en tecnología de IA?","tools":[{"type":"web_search"}]}},"thinking_mode":{"summary":"Modo de razonamiento","value":{"model":"qwen3.5-plus","input":"Encuentra todos los números primos entre 1 y 100","enable_thinking":true}}}}}},"responses":{"200":{"description":"Éxito","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponsesResponse"}}}},"400":{"description":"Solicitud Incorrecta","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":400,"message":"Invalid request parameters","type":"invalid_request_error"}}}}},"401":{"description":"No Autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":401,"message":"Invalid or expired token","type":"authentication_error"}}}}},"402":{"description":"Cuota Insuficiente","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":402,"message":"Insufficient quota","type":"insufficient_quota_error","fallback_suggestion":"https://evolink.ai/dashboard/billing"}}}}},"429":{"description":"Límite de Tasa Excedido","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":429,"message":"Rate limit exceeded","type":"rate_limit_error"}}}}},"500":{"description":"Error Interno del Servidor","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":500,"message":"Internal server error","type":"internal_server_error"}}}}}}}}},"components":{"schemas":{"ResponsesRequest":{"type":"object","required":["model","input"],"properties":{"model":{"type":"string","description":"Nombre del modelo","enum":["qwen3.5-plus","qwen3.5-plus-2026-02-15"],"default":"qwen3.5-plus","example":"qwen3.5-plus"},"input":{"oneOf":[{"type":"string"},{"type":"array","items":{"$ref":"#/components/schemas/ResponsesMessage"}}],"description":"Contenido de entrada: cadena o arreglo de mensajes. En modo arreglo de mensajes, user.content admite cadena simple o partes input_text/input_image.","example":"Hola, por favor preséntate"},"stream":{"type":"boolean","description":"Si activar la salida streaming; cuando es true, los datos de respuesta se transmiten en tiempo real","default":false},"temperature":{"type":"number","description":"Temperatura de muestreo, controla la diversidad del texto generado. Rango: [0, 2). Recomendado: establecer solo temperature o top_p","minimum":0,"maximum":2,"example":0.7},"top_p":{"type":"number","description":"Umbral de probabilidad de nucleus sampling (0~1). Recomendado: establecer solo temperature o top_p","minimum":0,"maximum":1,"example":0.9},"tools":{"type":"array","description":"Array de herramientas que el modelo puede llamar al generar respuestas. Soporta herramientas integradas y herramientas de función personalizadas","items":{"$ref":"#/components/schemas/ResponsesTool"}},"tool_choice":{"oneOf":[{"type":"string","enum":["none","auto","required"]},{"$ref":"#/components/schemas/AllowedToolsChoice"}],"description":"Estrategia de selección de herramientas. Use auto/none/required, o el objeto allowed_tools para restringir las llamadas del modelo a una lista permitida.","default":"auto"},"enable_thinking":{"type":"boolean","description":"Si activar el modo de razonamiento. No es un parámetro estándar de OpenAI","default":true},"previous_response_id":{"type":"string","description":"ID único de la respuesta anterior (válido 7 días). Permite conversaciones multi-turno sin construir manualmente el historial de mensajes","example":"resp_abc123"}}},"MessageSimple":{"type":"object","required":["role","content"],"properties":{"role":{"type":"string","enum":["user","assistant","system"]},"content":{"type":"string"}}},"ResponsesTool":{"type":"object","required":["type"],"properties":{"type":{"type":"string","enum":["function","web_search","web_extractor","code_interpreter","web_search_image","image_search","file_search","mcp"],"description":"Tipo de herramienta. web_search: búsqueda web; web_extractor: extracción de contenido web (debe usarse con web_search); code_interpreter: ejecución de código; function: herramienta de función personalizada"},"name":{"type":"string","description":"Requerido cuando type es function. Nombre de la función","example":"get_weather"},"description":{"type":"string","description":"Descripción de la función cuando type es function","example":"Obtener el clima actual de una ciudad específica"},"parameters":{"type":"object","description":"Definición de parámetros de la función cuando type es function, en formato JSON Schema"},"vector_store_ids":{"type":"array","description":"Opcional para file_search: lista de IDs de vector store","items":{"type":"string"}},"server_protocol":{"type":"string","description":"Opcional para mcp: protocolo del servidor (por ejemplo, streamable_http)"},"server_label":{"type":"string","description":"Opcional para mcp: etiqueta del servidor"},"server_description":{"type":"string","description":"Opcional para mcp: descripción del servidor"},"server_url":{"type":"string","description":"Opcional para mcp: URL del servidor"},"headers":{"type":"object","description":"Opcional para mcp: mapa de encabezados de la solicitud"}}},"ResponsesResponse":{"type":"object","properties":{"id":{"type":"string","description":"Identificador único de esta respuesta, formato UUID, válido 7 días","example":"resp_abc123"},"model":{"type":"string","description":"Nombre del modelo realmente utilizado","example":"qwen3.5-plus"},"status":{"type":"string","enum":["completed","in_progress","failed","cancelled","queued","incomplete"],"description":"Estado de la respuesta. completed: completado; in_progress: generando; failed: fallido; cancelled: cancelado; queued: en cola; incomplete: incompleto","example":"completed"},"created_at":{"type":"integer","description":"Timestamp Unix de esta solicitud (segundos)","example":1760032810},"output":{"type":"array","description":"Array de elementos de salida en orden de generación","items":{"$ref":"#/components/schemas/OutputItem"}},"output_text":{"type":"string","description":"Campo de conveniencia que devuelve directamente el contenido de texto del array output","example":"¡Hola! Soy Qwen3.5-Plus..."},"usage":{"$ref":"#/components/schemas/ResponsesUsage","description":"Estadísticas de consumo de tokens de esta solicitud"}}},"OutputItem":{"type":"object","properties":{"type":{"type":"string","enum":["message","reasoning","function_call","web_search_call","web_extractor_call","code_interpreter_call"],"description":"Tipo de elemento de salida. message: respuesta de texto final; reasoning: cadena de pensamiento; function_call: llamada a función; web_search_call: llamada de búsqueda web; web_extractor_call: extracción de contenido web; code_interpreter_call: ejecución del intérprete de código","example":"message"},"content":{"type":"array","description":"Array de contenido cuando type es message","items":{"type":"object","properties":{"type":{"type":"string","enum":["output_text"]},"text":{"type":"string","description":"Contenido de texto generado por el modelo","example":"¡Hola! Soy Qwen3.5-Plus..."}}}},"summary":{"type":"array","description":"Resumen de cadena de pensamiento cuando type es reasoning","items":{"type":"object","properties":{"text":{"type":"string","description":"Texto del resumen de cadena de pensamiento"}}}},"name":{"type":"string","description":"Nombre de la función cuando type es function_call"},"arguments":{"type":"string","description":"Argumentos de llamada a función cuando type es function_call, formato JSON string"},"call_id":{"type":"string","description":"Identificador único de la llamada a herramienta"}}},"ResponsesUsage":{"type":"object","properties":{"input_tokens":{"type":"integer","description":"Número de tokens de entrada, incluyendo contexto histórico e entrada actual","example":13},"output_tokens":{"type":"integer","description":"Número de tokens de salida, incluyendo tokens de cadena de pensamiento y texto principal","example":256},"total_tokens":{"type":"integer","description":"Total de tokens consumidos en esta solicitud","example":269},"output_tokens_details":{"type":"object","description":"Desglose de tokens de salida","properties":{"reasoning_tokens":{"type":"integer","description":"Tokens de razonamiento usados cuando el modo de razonamiento está habilitado","example":128}}}}},"ErrorResponse":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"integer"},"message":{"type":"string"},"type":{"type":"string"},"param":{"type":"string"},"fallback_suggestion":{"type":"string"}}}}},"ResponsesMessage":{"type":"object","required":["role","content"],"properties":{"role":{"type":"string","enum":["user","assistant","system"]},"content":{"oneOf":[{"type":"string"},{"type":"array","items":{"$ref":"#/components/schemas/InputContentPart"}}],"description":"Contenido del mensaje: cadena simple o partes de contenido multimodal estructurado."}}},"InputContentPart":{"oneOf":[{"$ref":"#/components/schemas/InputTextPart"},{"$ref":"#/components/schemas/InputImagePart"}],"discriminator":{"propertyName":"type"}},"InputTextPart":{"type":"object","required":["type","text"],"properties":{"type":{"type":"string","enum":["input_text"]},"text":{"type":"string"}}},"InputImagePart":{"type":"object","required":["type","image_url"],"properties":{"type":{"type":"string","enum":["input_image"]},"image_url":{"type":"string","description":"URL de imagen o datos base64"}}},"AllowedToolsChoice":{"type":"object","required":["type","mode","tools"],"properties":{"type":{"type":"string","enum":["allowed_tools"]},"mode":{"type":"string","enum":["auto","required"],"description":"auto: elegir dentro de la lista permitida; required: debe llamar al menos una herramienta permitida"},"tools":{"type":"array","description":"Lista de nombres de herramientas permitidas","items":{"type":"string"}}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"##Todos los endpoints requieren autenticación con Bearer Token##\n\n**Obtén tu API Key:**\n\nVisita [Gestión de API Key](https://evolink.ai/dashboard/keys)\n\n**Agregar al encabezado:**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"}}},"tags":[{"name":"Generación de Chat","description":"Endpoints de generación de chat con IA"}]}
