{
  "openapi": "3.1.0",
  "info": {
    "title": "Kimi-K2 完整参数文档",
    "description": "Kimi-K2 对话接口的完整 API 参考，包含所有参数和高级功能",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.evolink.ai",
      "description": "生产环境"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "Kimi-K2 对话接口",
        "description": "- 使用 OpenAI SDK 格式调用 Kimi-K2 模型\n- 同步处理模式，实时返回对话内容\n- **纯文本对话**：单轮或多轮上下文对话，可参考示例代码中 simple_text、multi_turn 示例\n- **系统提示词**：自定义 AI 的角色和行为，可参考示例代码中 system_prompt 示例\n- **多模态输入**：支持文本 + 图像混合输入，可参考示例代码中 vision 示例\n- **工具调用**：支持 Function Calling，可参考示例代码中 tool_use 示例\n- **Partial Mode**：支持预填充模式，可参考示例代码中 partial_mode 示例",
        "operationId": "createChatCompletion",
        "tags": [
          "对话生成"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "simple_text": {
                  "summary": "单轮文本对话",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "user",
                        "content": "请介绍一下你自己"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "multi_turn": {
                  "summary": "多轮对话（上下文理解）",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "user",
                        "content": "什么是Python？"
                      },
                      {
                        "role": "assistant",
                        "content": "Python是一种高级编程语言..."
                      },
                      {
                        "role": "user",
                        "content": "它有什么优点？"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "system_prompt": {
                  "summary": "使用系统提示词",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "system",
                        "content": "你是 Kimi，由 Moonshot AI 提供的人工智能助手，你更擅长中文和英文的对话。你会为用户提供安全，有帮助，准确的回答。"
                      },
                      {
                        "role": "user",
                        "content": "1+1等于多少？"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "vision": {
                  "summary": "多模态输入（文本 + 图像）",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "请详细描述这张图片中的场景和主要元素。"
                          },
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg=="
                            }
                          }
                        ]
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "tool_use": {
                  "summary": "工具调用（Function Calling）",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "user",
                        "content": "编程判断 3214567 是否是素数。"
                      }
                    ],
                    "tools": [
                      {
                        "type": "function",
                        "function": {
                          "name": "CodeRunner",
                          "description": "代码执行器，支持运行 python 和 javascript 代码",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "language": {
                                "type": "string",
                                "enum": ["python", "javascript"]
                              },
                              "code": {
                                "type": "string",
                                "description": "代码写在这里"
                              }
                            }
                          }
                        }
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "partial_mode": {
                  "summary": "Partial Mode（预填充模式）",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "system",
                        "content": "请从产品描述中提取名称、尺寸、价格和颜色，并在一个 JSON 对象中输出。"
                      },
                      {
                        "role": "user",
                        "content": "大米 SmartHome Mini 是一款小巧的智能家居助手，有黑色和银色两种颜色，售价为 998 元，尺寸为 256 x 128 x 128mm。"
                      },
                      {
                        "role": "assistant",
                        "content": "{",
                        "partial": true
                      }
                    ],
                    "temperature": 1.0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "对话生成成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 400,
                    "message": "Invalid request parameters",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "未认证、Token无效或过期",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "Invalid or expired token",
                    "type": "authentication_error"
                  }
                }
              }
            }
          },
          "402": {
            "description": "配额不足、需要充值",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 402,
                    "message": "Insufficient quota",
                    "type": "insufficient_quota_error",
                    "fallback_suggestion": "https://evolink.ai/dashboard/billing"
                  }
                }
              }
            }
          },
          "403": {
            "description": "无权限访问",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 403,
                    "message": "Access denied for this model",
                    "type": "permission_error",
                    "param": "model"
                  }
                }
              }
            }
          },
          "404": {
            "description": "资源不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "message": "Specified model not found",
                    "type": "not_found_error",
                    "param": "model",
                    "fallback_suggestion": "kimi-k2-thinking"
                  }
                }
              }
            }
          },
          "413": {
            "description": "请求体过大",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 413,
                    "message": "Image file too large",
                    "type": "request_too_large_error",
                    "param": "content",
                    "fallback_suggestion": "compress image to under 10MB"
                  }
                }
              }
            }
          },
          "429": {
            "description": "请求频率超限",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "message": "Rate limit exceeded",
                    "type": "rate_limit_error",
                    "fallback_suggestion": "retry after 60 seconds"
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器内部错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 500,
                    "message": "Internal server error",
                    "type": "internal_server_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          },
          "502": {
            "description": "上游服务错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 502,
                    "message": "Upstream AI service unavailable",
                    "type": "upstream_error",
                    "fallback_suggestion": "try different model"
                  }
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 503,
                    "message": "Service temporarily unavailable",
                    "type": "service_unavailable_error",
                    "fallback_suggestion": "retry after 30 seconds"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "对话模型名称",
            "enum": [
              "kimi-k2-thinking",
              "kimi-k2-thinking-turbo"
            ],
            "example": "kimi-k2-thinking"
          },
          "messages": {
            "type": "array",
            "description": "对话消息列表，支持多轮对话和多模态输入",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "minItems": 1
          },
          "stream": {
            "type": "boolean",
            "description": "是否以流式方式返回响应\n\n- `true`: 流式返回，逐块实时返回内容\n- `false`: 等待完整响应后一次性返回",
            "default": false,
            "example": false
          },
          "max_tokens": {
            "type": "integer",
            "description": "生成回复的最大 token 数量\n\n**说明**:\n- 此值过小可能导致回复被截断\n- 如果到生成了最大 token 数个结果仍然没有结束，finish_reason 会是 \"length\"，否则会是 \"stop\"",
            "minimum": 1,
            "example": 2000
          },
          "temperature": {
            "type": "number",
            "description": "采样温度，控制输出的随机性\n\n**说明**:\n- 较低值(如 0.2): 更确定、更聚焦的输出\n- 较高值(如 1.5): 更随机、更有创意的输出\n- **kimi-k2-thinking 系列模型建议设置为 1.0**",
            "minimum": 0,
            "maximum": 2,
            "default": 1.0,
            "example": 1.0
          },
          "top_p": {
            "type": "number",
            "description": "核采样(Nucleus Sampling)参数\n\n**说明**:\n- 控制从累积概率前多少的token中采样\n- 例如 0.9 表示从累积概率达到90%的token中选择\n- 默认值: 1.0（考虑所有token）\n\n**建议**: 不要同时调整 temperature 和 top_p",
            "minimum": 0,
            "maximum": 1,
            "default": 1.0,
            "example": 0.9
          },
          "top_k": {
            "type": "integer",
            "description": "Top-K 采样参数\n\n**说明**:\n- 例如 10 表示限制每次采样时只考虑概率最高的 10 个 token\n- 较小的值会使输出更加聚焦\n- 默认不限制",
            "minimum": 1,
            "example": 40
          },
          "n": {
            "type": "integer",
            "description": "为每条输入消息生成多少个结果\n\n**说明**:\n- 默认为 1，不得大于 5\n- 当 temperature 非常小靠近 0 的时候，只能返回 1 个结果",
            "minimum": 1,
            "maximum": 5,
            "default": 1,
            "example": 1
          },
          "presence_penalty": {
            "type": "number",
            "description": "存在惩罚，介于 -2.0 到 2.0 之间的数字\n\n**说明**:\n- 正值会根据新生成的词汇是否出现在文本中来进行惩罚，增加模型讨论新话题的可能性",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0,
            "example": 0
          },
          "frequency_penalty": {
            "type": "number",
            "description": "频率惩罚，介于 -2.0 到 2.0 之间的数字\n\n**说明**:\n- 正值会根据新生成的词汇在文本中现有的频率来进行惩罚，减少模型一字不差重复同样话语的可能性",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0,
            "example": 0
          },
          "response_format": {
            "type": "object",
            "description": "响应格式设置\n\n**说明**:\n- 设置为 {\"type\": \"json_object\"} 可启用 JSON 模式，从而保证模型生成的信息是有效的 JSON\n- 当你将 response_format 设置为 {\"type\": \"json_object\"} 时，你需要在 prompt 中明确地引导模型输出 JSON 格式的内容\n- 默认为 {\"type\": \"text\"}\n- **注意**: 请勿混用 partial mode 和 response_format=json_object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["text", "json_object"],
                "description": "响应格式类型",
                "default": "text"
              }
            }
          },
          "stop": {
            "oneOf": [
              {
                "type": "string",
                "description": "单个停止词"
              },
              {
                "type": "array",
                "description": "停止词列表，最多 5 个",
                "items": {
                  "type": "string"
                },
                "maxItems": 5
              }
            ],
            "description": "停止词，当全匹配这个（组）词后会停止输出\n\n**说明**:\n- 这个（组）词本身不会输出\n- 最多不能超过 5 个字符串，每个字符串不得超过 32 字节"
          },
          "tools": {
            "type": "array",
            "description": "工具列表，用于 Tool Use 或 Function Calling\n\n**说明**:\n- 工具列表，每个工具必须包括一个类型\n- 在 function 结构体中需要包括 name、description 和 parameters\n- tools 的 function 个数目前不得超过 128 个",
            "items": {
              "$ref": "#/components/schemas/Tool"
            },
            "maxItems": 128
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "消息角色\n\n- `user`: 用户消息\n- `assistant`: AI助手消息（用于多轮对话）\n- `system`: 系统提示词（设定AI的角色和行为）",
            "enum": [
              "user",
              "assistant",
              "system"
            ],
            "example": "user"
          },
          "content": {
            "oneOf": [
              {
                "type": "string",
                "description": "纯文本消息内容",
                "example": "请介绍一下你自己"
              },
              {
                "type": "array",
                "description": "多模态消息内容，支持文本和图像混合输入",
                "items": {
                  "$ref": "#/components/schemas/ContentPart"
                }
              }
            ],
            "description": "消息内容。支持两种格式：\n\n**1. 纯文本字符串**：可直接传入字符串，如 `\"content\":\"请介绍一下自己\"`\n\n**2. 对象数组**（支持多模态输入）：见下方 ContentPart 定义"
          },
          "name": {
            "type": "string",
            "description": "消息名称\n\n**说明**:\n- 用于角色扮演场景，可视 name 字段为输出前缀的一部分",
            "example": "凯尔希"
          },
          "partial": {
            "type": "boolean",
            "description": "是否启用 Partial Mode\n\n**说明**:\n- 仅在最后一个 role 为 assistant 的 messages 条目中设置\n- 设置为 true 可开启 partial mode（预填充模式）\n- **注意**: 请勿混用 partial mode 和 response_format=json_object",
            "default": false
          }
        }
      },
      "ContentPart": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/TextContent"
          },
          {
            "$ref": "#/components/schemas/ImageContent"
          }
        ]
      },
      "TextContent": {
        "title": "文本内容",
        "type": "object",
        "required": [
          "type",
          "text"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text"
            ],
            "description": "内容类型"
          },
          "text": {
            "type": "string",
            "description": "文本内容",
            "example": "请详细描述这张图片"
          }
        }
      },
      "ImageContent": {
        "title": "图像内容",
        "type": "object",
        "required": [
          "type",
          "image_url"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "image_url"
            ],
            "description": "内容类型"
          },
          "image_url": {
            "type": "object",
            "required": [
              "url"
            ],
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "图像URL地址或 Base64 编码\n\n**格式**:\n- URL格式: `https://example.com/image.png`\n- Base64格式: `data:image/<格式>;base64,<Base64编码>`（格式需小写，如 png、jpg、jpeg、webp）\n\n**限制**:\n- 单张图片最大: `10MB`\n- 支持格式: `.jpeg`, `.jpg`, `.png`, `.webp`",
                "example": "data:image/png;base64,iVBORw0KGgo..."
              }
            }
          }
        }
      },
      "Tool": {
        "type": "object",
        "required": [
          "type",
          "function"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["function"],
            "description": "工具类型"
          },
          "function": {
            "type": "object",
            "required": [
              "name",
              "description",
              "parameters"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "函数名称\n\n**说明**:\n- 需要遵守正则表达式: ^[a-zA-Z_][a-zA-Z0-9-_]{0,63}$\n- 使用容易理解的英文名称会更加被模型接受",
                "pattern": "^[a-zA-Z_][a-zA-Z0-9-_]{0,63}$",
                "example": "CodeRunner"
              },
              "description": {
                "type": "string",
                "description": "函数描述，介绍它能做什么功能，方便模型来判断和选择",
                "example": "代码执行器，支持运行 python 和 javascript 代码"
              },
              "parameters": {
                "type": "object",
                "description": "函数参数定义\n\n**说明**:\n- parameters 的 root 必须是一个 object\n- 内容是一个 JSON Schema 的子集"
              }
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "对话完成的唯一标识符",
            "example": "cmpl-04ea926191a14749b7f2c7a48a68abc6"
          },
          "model": {
            "type": "string",
            "description": "实际使用的模型名称",
            "example": "kimi-k2-thinking"
          },
          "object": {
            "type": "string",
            "enum": [
              "chat.completion"
            ],
            "description": "响应类型",
            "example": "chat.completion"
          },
          "created": {
            "type": "integer",
            "description": "创建时间戳",
            "example": 1698999496
          },
          "choices": {
            "type": "array",
            "description": "对话生成的选择列表",
            "items": {
              "$ref": "#/components/schemas/Choice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "Choice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "选择的索引",
            "example": 0
          },
          "message": {
            "$ref": "#/components/schemas/AssistantMessage"
          },
          "finish_reason": {
            "type": "string",
            "description": "完成原因\n\n- `stop`: 正常结束\n- `length`: 达到最大 token 限制\n- `content_filter`: 内容被过滤",
            "enum": [
              "stop",
              "length",
              "content_filter"
            ],
            "example": "stop"
          }
        }
      },
      "AssistantMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "消息发送者的角色",
            "enum": [
              "assistant"
            ],
            "example": "assistant"
          },
          "content": {
            "type": "string",
            "description": "AI 回复的消息内容",
            "example": "Hi there! How can I help you?"
          },
          "reasoning_content": {
            "type": "string",
            "description": "推理过程内容（仅 kimi-k2-thinking 系列模型返回）\n\n**说明**:\n- Kimi K2 thinking 系列模型的特色功能\n- 展示模型的思考和推理过程\n- 帮助理解模型如何得出最终答案",
            "example": "The user just said \"hi\". This is a very simple greeting. I should be friendly, helpful, and professional in my response..."
          }
        }
      },
      "Usage": {
        "type": "object",
        "description": "Token 使用统计信息",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "输入内容的 token 数量",
            "example": 8
          },
          "completion_tokens": {
            "type": "integer",
            "description": "输出内容的 token 数量",
            "example": 292
          },
          "total_tokens": {
            "type": "integer",
            "description": "总 token 数量",
            "example": 300
          },
          "prompt_tokens_details": {
            "type": "object",
            "description": "输入 token 详细信息",
            "properties": {
              "cached_tokens": {
                "type": "integer",
                "description": "击中缓存的 token 数量",
                "example": 8
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "HTTP状态错误代码"
              },
              "message": {
                "type": "string",
                "description": "错误描述信息"
              },
              "type": {
                "type": "string",
                "description": "错误类型"
              },
              "param": {
                "type": "string",
                "description": "相关参数名称"
              },
              "fallback_suggestion": {
                "type": "string",
                "description": "错误时的建议"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "##所有接口均需要使用Bearer Token进行认证##\n\n**获取 API Key :**\n\n访问 [API Key 管理页面](https://evolink.ai/dashboard/keys) 获取您的 API Key\n\n**使用时在请求头中添加:**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"
      }
    }
  },
  "tags": [
    {
      "name": "对话生成",
      "description": "AI对话生成相关接口"
    }
  ]
}
