{
  "openapi": "3.1.0",
  "info": {
    "title": "GPT-5.2 - Referencia completa de la API",
    "description": "Referencia completa de la API para la interfaz de chat de GPT-5.1, incluyendo todos los parámetros y funciones avanzadas",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.evolink.ai",
      "description": "Standard"
    },
    {
      "url": "https://code.evolink.ai",
      "description": "Code-Optimized (Beta Models)"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "Interfaz de Chat GPT-5.1",
        "description": "- Usar el formato del SDK de OpenAI para llamar a los modelos de la serie GPT-5.1\n- Modo de procesamiento síncrono, respuesta en tiempo real\n- **Modelos disponibles**: gpt-5.1 (base), gpt-5.1-chat (optimizado para conversación), gpt-5.1-thinking (con salida de razonamiento)\n- **Conversación de texto**: Diálogo de un solo turno o múltiples turnos con contexto\n- **Prompts del sistema**: Personalizar el rol y comportamiento de la IA\n- **Entrada multimodal**: Soporta entrada mixta de texto + imagen\n- **Llamada a herramientas**: Soporta Function Calling\n- **Salida de razonamiento**: gpt-5.1-thinking devuelve el campo reasoning_content mostrando el proceso de pensamiento",
        "operationId": "createChatCompletion",
        "tags": [
          "Completado de chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "simple_text": {
                  "summary": "Conversación de texto de un solo turno",
                  "value": {
                    "model": "gpt-5.1",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Please introduce yourself"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "multi_turn": {
                  "summary": "Conversación multi-turno (comprensión de contexto)",
                  "value": {
                    "model": "gpt-5.1",
                    "messages": [
                      {
                        "role": "user",
                        "content": "What is Python?"
                      },
                      {
                        "role": "assistant",
                        "content": "Python is a high-level programming language..."
                      },
                      {
                        "role": "user",
                        "content": "What are its advantages?"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "system_prompt": {
                  "summary": "Uso de prompts del sistema",
                  "value": {
                    "model": "gpt-5.1",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a helpful AI assistant. You provide safe, helpful, and accurate answers."
                      },
                      {
                        "role": "user",
                        "content": "What is 1+1?"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "vision": {
                  "summary": "Entrada multimodal (texto + imagen)",
                  "value": {
                    "model": "gpt-5.1",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "Please describe the scene and main elements in this image in detail."
                          },
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg=="
                            }
                          }
                        ]
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "tool_use": {
                  "summary": "Llamada a herramientas (Function Calling)",
                  "value": {
                    "model": "gpt-5.1",
                    "messages": [
                      {
                        "role": "user",
                        "content": "What's the weather like in San Francisco?"
                      }
                    ],
                    "tools": [
                      {
                        "type": "function",
                        "function": {
                          "name": "get_weather",
                          "description": "Obtener el clima actual en una ubicación dada",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "location": {
                                "type": "string",
                                "description": "La ciudad y el estado, ej. San Francisco, CA"
                              }
                            },
                            "required": [
                              "location"
                            ]
                          }
                        }
                      }
                    ],
                    "temperature": 1.0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Completado de chat exitoso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Parámetros de solicitud inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 400,
                    "message": "Parámetros de solicitud inválidos",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No autorizado, token inválido o expirado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "Invalid or expired token",
                    "type": "authentication_error"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Cuota insuficiente, se requiere recarga",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 402,
                    "message": "Cuota insuficiente",
                    "type": "insufficient_quota_error",
                    "fallback_suggestion": "https://evolink.ai/dashboard/billing"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Semilla aleatoria, rango `[1, 2147483647]`\n\n**Nota:**\n- Usar el mismo valor de semilla puede mantener resultados de generación consistentes\n- Dejar vacío para semilla aleatoria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "message": "Semilla aleatoria, rango `[1, 2147483647]`\n\n**Nota:**\n- Usar el mismo valor de semilla puede mantener resultados de generación consistentes\n- Dejar vacío para semilla aleatoria",
                    "type": "rate_limit_error",
                    "fallback_suggestion": "retry after 60 seconds"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 500,
                    "message": "Error interno del servidor",
                    "type": "internal_server_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Nombre del modelo para completado de chat\n\n- **gpt-5.1**: Modelo base para tareas generales\n- **gpt-5.1-chat**: Optimizado para tareas conversacionales\n- **gpt-5.1-thinking**: Con capacidades de razonamiento y salida del proceso de pensamiento (devuelve reasoning_content)",
            "enum": [
              "gpt-5.1",
              "gpt-5.1-chat",
              "gpt-5.1-thinking"
            ],
            "example": "gpt-5.1"
          },
          "messages": {
            "type": "array",
            "description": "Lista de mensajes para la conversación, soporta diálogo de múltiples turnos y entrada multimodal",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "minItems": 1
          },
          "stream": {
            "type": "boolean",
            "description": "Si se transmite la respuesta en streaming\n\n- `true`: Respuesta en streaming, devuelve contenido fragmento a fragmento en tiempo real\n- `false`: Esperar la respuesta completa y devolverla de una sola vez",
            "default": false,
            "example": false
          },
          "max_tokens": {
            "type": "integer",
            "description": "Número máximo de tokens a generar en la respuesta",
            "minimum": 1,
            "example": 2000
          },
          "temperature": {
            "type": "number",
            "description": "Temperatura de muestreo, controla la aleatoriedad de la salida\n\n- Valores más bajos (por ejemplo, 0.2): Salida más determinista y enfocada\n- Valores más altos (por ejemplo, 1.5): Salida más aleatoria y creativa",
            "minimum": 0,
            "maximum": 2,
            "default": 1.0,
            "example": 1.0
          },
          "top_p": {
            "type": "number",
            "description": "Parámetro de Nucleus sampling\n\n- Controla el muestreo de tokens con probabilidad acumulada\n- Por ejemplo, 0.9 significa muestrear entre tokens con el 90% superior de probabilidad acumulada",
            "minimum": 0,
            "maximum": 1,
            "default": 1.0,
            "example": 0.9
          },
          "frequency_penalty": {
            "type": "number",
            "description": "Penalización de frecuencia, número entre -2.0 y 2.0\n\n- Los valores positivos penalizan nuevos tokens según su frecuencia en el texto",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0,
            "example": 0
          },
          "presence_penalty": {
            "type": "number",
            "description": "Penalización de presencia, número entre -2.0 y 2.0\n\n- Los valores positivos penalizan nuevos tokens según si aparecen en el texto",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0,
            "example": 0
          },
          "stop": {
            "oneOf": [
              {
                "type": "string",
                "description": "Palabra de parada única"
              },
              {
                "type": "array",
                "description": "Lista de palabras de parada, máximo 4",
                "items": {
                  "type": "string"
                },
                "maxItems": 4
              }
            ],
            "description": "Secuencias de parada, la generación se detiene cuando se encuentran estas secuencias"
          },
          "tools": {
            "type": "array",
            "description": "Lista de herramientas para Function Calling",
            "items": {
              "$ref": "#/components/schemas/Tool"
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "Rol del mensaje\n\n- `user`: Mensaje del usuario\n- `assistant`: Mensaje del asistente de IA\n- `system`: Prompt del sistema",
            "enum": [
              "user",
              "assistant",
              "system"
            ],
            "example": "user"
          },
          "content": {
            "oneOf": [
              {
                "type": "string",
                "description": "Contenido del mensaje en texto plano",
                "example": "Please introduce yourself"
              },
              {
                "type": "array",
                "description": "Contenido del mensaje multimodal, soporta entrada mixta de texto e imagen",
                "items": {
                  "$ref": "#/components/schemas/ContentPart"
                }
              }
            ],
            "description": "Contenido del mensaje"
          }
        }
      },
      "ContentPart": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/TextContent"
          },
          {
            "$ref": "#/components/schemas/ImageContent"
          }
        ]
      },
      "TextContent": {
        "title": "Contenido de texto",
        "type": "object",
        "required": [
          "type",
          "text"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text"
            ],
            "description": "Tipo de contenido"
          },
          "text": {
            "type": "string",
            "description": "Contenido de texto",
            "example": "Please describe this image in detail"
          }
        }
      },
      "ImageContent": {
        "title": "Contenido de imagen",
        "type": "object",
        "required": [
          "type",
          "image_url"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "image_url"
            ],
            "description": "Tipo de contenido"
          },
          "image_url": {
            "type": "object",
            "required": [
              "url"
            ],
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "URL de imagen o codificación Base64\n\n**Formato**:\n- Formato URL: `https://example.com/image.png`\n- Formato Base64: `data:image/<format>;base64,<Base64 encoding>`",
                "example": "data:image/png;base64,iVBORw0KGgo..."
              }
            }
          }
        }
      },
      "Tool": {
        "type": "object",
        "required": [
          "type",
          "function"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "Tipo de herramienta"
          },
          "function": {
            "type": "object",
            "required": [
              "name",
              "description",
              "parameters"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Nombre de la función",
                "example": "get_weather"
              },
              "description": {
                "type": "string",
                "description": "Descripción de la función",
                "example": "Obtener el clima actual en una ubicación dada"
              },
              "parameters": {
                "type": "object",
                "description": "Definición de parámetros de la función"
              }
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identificador único para la completación de chat",
            "example": "chatcmpl-abc123"
          },
          "model": {
            "type": "string",
            "description": "El modelo utilizado para el completado",
            "example": "gpt-5.1"
          },
          "object": {
            "type": "string",
            "enum": [
              "chat.completion"
            ],
            "description": "Tipo de respuesta",
            "example": "chat.completion"
          },
          "created": {
            "type": "integer",
            "description": "Marca de tiempo Unix cuando se creó el completado",
            "example": 1698999496
          },
          "choices": {
            "type": "array",
            "description": "Lista de opciones de completado",
            "items": {
              "$ref": "#/components/schemas/Choice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "Choice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "Índice de esta opción",
            "example": 0
          },
          "message": {
            "$ref": "#/components/schemas/AssistantMessage"
          },
          "finish_reason": {
            "type": "string",
            "description": "Razón por la que finalizó el completado",
            "enum": [
              "stop",
              "length",
              "tool_calls",
              "content_filter"
            ],
            "example": "stop"
          }
        }
      },
      "AssistantMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "Rol del remitente del mensaje",
            "enum": [
              "assistant"
            ],
            "example": "assistant"
          },
          "content": {
            "type": "string",
            "description": "Contenido de la respuesta de la IA",
            "example": "Hi there! How can I help you?"
          },
          "reasoning_content": {
            "type": "string",
            "description": "Contenido del proceso de razonamiento (solo devuelto por el modelo gpt-5.1-thinking)\n\n**Nota**:\n- Muestra el proceso de pensamiento y razonamiento del modelo\n- Ayuda a comprender cómo el modelo llega a su respuesta final",
            "example": "Let me think about this step by step..."
          }
        }
      },
      "Usage": {
        "type": "object",
        "description": "Estadísticas de uso de tokens",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "Número de tokens en la entrada",
            "example": 8
          },
          "completion_tokens": {
            "type": "integer",
            "description": "Número de tokens en la salida",
            "example": 292
          },
          "total_tokens": {
            "type": "integer",
            "description": "Número total de tokens utilizados",
            "example": 300
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "Código de error de estado HTTP"
              },
              "message": {
                "type": "string",
                "description": "Tipo de error"
              },
              "type": {
                "type": "string",
                "description": "Tiempo estimado de finalización (segundos)"
              },
              "fallback_suggestion": {
                "type": "string",
                "description": "Sugerencia para manejar el error"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Todas las APIs requieren autenticación con Bearer Token\n\n**Obtener API Key:**\n\nVisita la [Página de Gestión de API Key](https://evolink.ai/dashboard/keys) para obtener tu API Key\n\n**Agregar al encabezado de solicitud:**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"
      }
    }
  },
  "tags": [
    {
      "name": "Completado de chat",
      "description": "Endpoints relacionados con el completado de chat de IA"
    }
  ]
}