{"openapi":"3.1.0","info":{"title":"Qwen3.5-Plus Responses API 전체 참조","description":"Qwen3.5-Plus OpenAI Responses API 전체 파라미터 참조","license":{"name":"MIT"},"version":"1.0.0"},"servers":[{"url":"https://api.evolink.ai","description":"프로덕션"}],"security":[{"bearerAuth":[]}],"paths":{"/v1/responses":{"post":{"summary":"Qwen3.5-Plus Responses API","description":"- OpenAI Responses API 호환 엔드포인트\n- 내장 도구 지원 (웹 검색, 웹 추출기, 코드 인터프리터 등)\n- `previous_response_id`를 통한 멀티턴 대화 컨텍스트 관리 간소화\n- 지원 모델: `qwen3.5-plus`, `qwen3.5-plus-2026-02-15`","operationId":"createResponsesQwen35PlusKo","tags":["채팅 생성"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponsesRequest"},"examples":{"simple":{"summary":"간단한 호출","value":{"model":"qwen3.5-plus","input":"안녕하세요, 자기소개를 해주세요"}},"messages_array":{"summary":"메시지 배열 형식","value":{"model":"qwen3.5-plus","input":[{"role":"user","content":"Python이란 무엇인가요?"}]}},"multi_turn":{"summary":"멀티턴 대화 (previous_response_id 사용)","value":{"model":"qwen3.5-plus","input":"주요 특징은 무엇인가요?","previous_response_id":"resp_abc123"}},"web_search":{"summary":"내장 웹 검색","value":{"model":"qwen3.5-plus","input":"최신 AI 기술 트렌드는 무엇인가요?","tools":[{"type":"web_search"}]}},"thinking_mode":{"summary":"사고 모드","value":{"model":"qwen3.5-plus","input":"1부터 100 사이의 모든 소수를 구하세요","enable_thinking":true}}}}}},"responses":{"200":{"description":"성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponsesResponse"}}}},"400":{"description":"잘못된 요청","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":400,"message":"Invalid request parameters","type":"invalid_request_error"}}}}},"401":{"description":"인증 오류","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":401,"message":"Invalid or expired token","type":"authentication_error"}}}}},"402":{"description":"할당량 부족","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":402,"message":"Insufficient quota","type":"insufficient_quota_error","fallback_suggestion":"https://evolink.ai/dashboard/billing"}}}}},"429":{"description":"요청 한도 초과","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":429,"message":"Rate limit exceeded","type":"rate_limit_error"}}}}},"500":{"description":"내부 서버 오류","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":500,"message":"Internal server error","type":"internal_server_error"}}}}}}}}},"components":{"schemas":{"ResponsesRequest":{"type":"object","required":["model","input"],"properties":{"model":{"type":"string","description":"모델 이름","enum":["qwen3.5-plus","qwen3.5-plus-2026-02-15"],"default":"qwen3.5-plus","example":"qwen3.5-plus"},"input":{"oneOf":[{"type":"string"},{"type":"array","items":{"$ref":"#/components/schemas/ResponsesMessage"}}],"description":"입력 콘텐츠: 문자열 또는 메시지 배열. 메시지 배열 모드에서 user.content는 일반 문자열 또는 input_text/input_image 파트를 지원합니다.","example":"안녕하세요, 자기소개를 해주세요"},"stream":{"type":"boolean","description":"스트리밍 출력 활성화 여부; true일 때 모델 응답 데이터가 실시간으로 스트리밍됨","default":false},"temperature":{"type":"number","description":"샘플링 온도, 생성 텍스트의 다양성 제어. 범위: [0, 2). temperature 또는 top_p 중 하나만 설정 권장","minimum":0,"maximum":2,"example":0.7},"top_p":{"type":"number","description":"Nucleus sampling 확률 임계값 (0~1). temperature 또는 top_p 중 하나만 설정 권장","minimum":0,"maximum":1,"example":0.9},"tools":{"type":"array","description":"모델이 응답 생성 시 호출할 수 있는 도구 배열. 내장 도구와 커스텀 함수 도구 지원","items":{"$ref":"#/components/schemas/ResponsesTool"}},"tool_choice":{"oneOf":[{"type":"string","enum":["none","auto","required"]},{"$ref":"#/components/schemas/AllowedToolsChoice"}],"description":"도구 선택 전략입니다. auto/none/required 또는 allowed_tools 객체를 사용해 모델 호출을 허용 목록으로 제한할 수 있습니다.","default":"auto"},"enable_thinking":{"type":"boolean","description":"사고 모드 활성화 여부. OpenAI 표준 파라미터가 아님","default":true},"previous_response_id":{"type":"string","description":"이전 응답의 고유 ID (유효기간 7일). 메시지 히스토리를 수동으로 구성하지 않고 멀티턴 대화 가능","example":"resp_abc123"}}},"MessageSimple":{"type":"object","required":["role","content"],"properties":{"role":{"type":"string","enum":["user","assistant","system"]},"content":{"type":"string"}}},"ResponsesTool":{"type":"object","required":["type"],"properties":{"type":{"type":"string","enum":["function","web_search","web_extractor","code_interpreter","web_search_image","image_search","file_search","mcp"],"description":"도구 유형. web_search: 웹 검색; web_extractor: 웹 콘텐츠 추출 (web_search와 함께 사용 필수); code_interpreter: 코드 실행; function: 커스텀 함수 도구"},"name":{"type":"string","description":"type이 function일 때 필수. 함수 이름","example":"get_weather"},"description":{"type":"string","description":"type이 function일 때의 함수 설명","example":"지정한 도시의 날씨 정보 가져오기"},"parameters":{"type":"object","description":"type이 function일 때의 함수 파라미터 정의, JSON Schema 형식"},"vector_store_ids":{"type":"array","description":"file_search용(선택): 벡터 스토어 ID 목록","items":{"type":"string"}},"server_protocol":{"type":"string","description":"mcp용(선택): 서버 프로토콜(예: streamable_http)"},"server_label":{"type":"string","description":"mcp용(선택): 서버 라벨"},"server_description":{"type":"string","description":"mcp용(선택): 서버 설명"},"server_url":{"type":"string","description":"mcp용(선택): 서버 URL"},"headers":{"type":"object","description":"mcp용(선택): 요청 헤더 맵"}}},"ResponsesResponse":{"type":"object","properties":{"id":{"type":"string","description":"이 응답의 고유 식별자, UUID 형식, 유효기간 7일","example":"resp_abc123"},"model":{"type":"string","description":"실제 사용된 모델 이름","example":"qwen3.5-plus"},"status":{"type":"string","enum":["completed","in_progress","failed","cancelled","queued","incomplete"],"description":"응답 상태. completed: 완료; in_progress: 생성 중; failed: 실패; cancelled: 취소; queued: 대기 중; incomplete: 미완료","example":"completed"},"created_at":{"type":"integer","description":"이 요청의 Unix 타임스탬프 (초)","example":1760032810},"output":{"type":"array","description":"생성 순서대로 정렬된 출력 항목 배열","items":{"$ref":"#/components/schemas/OutputItem"}},"output_text":{"type":"string","description":"output 배열에서 텍스트 내용을 직접 반환하는 편의 필드","example":"안녕하세요! 저는 Qwen3.5-Plus입니다..."},"usage":{"$ref":"#/components/schemas/ResponsesUsage","description":"이 요청의 토큰 소비 통계"}}},"OutputItem":{"type":"object","properties":{"type":{"type":"string","enum":["message","reasoning","function_call","web_search_call","web_extractor_call","code_interpreter_call"],"description":"출력 항목 유형. message: 최종 텍스트 응답; reasoning: 사고 연쇄; function_call: 함수 호출; web_search_call: 웹 검색 호출; web_extractor_call: 웹 콘텐츠 추출; code_interpreter_call: 코드 인터프리터 실행","example":"message"},"content":{"type":"array","description":"type이 message일 때의 콘텐츠 배열","items":{"type":"object","properties":{"type":{"type":"string","enum":["output_text"]},"text":{"type":"string","description":"모델이 생성한 텍스트 내용","example":"안녕하세요! 저는 Qwen3.5-Plus입니다..."}}}},"summary":{"type":"array","description":"type이 reasoning일 때의 사고 연쇄 요약 배열","items":{"type":"object","properties":{"text":{"type":"string","description":"사고 연쇄 요약 텍스트"}}}},"name":{"type":"string","description":"type이 function_call일 때의 함수 이름"},"arguments":{"type":"string","description":"type이 function_call일 때의 함수 호출 인수, JSON 문자열 형식"},"call_id":{"type":"string","description":"도구 호출의 고유 식별자"}}},"ResponsesUsage":{"type":"object","properties":{"input_tokens":{"type":"integer","description":"입력 토큰 수 (히스토리 컨텍스트 및 현재 입력 포함)","example":13},"output_tokens":{"type":"integer","description":"출력 토큰 수 (사고 연쇄 토큰 및 본문 토큰 포함)","example":256},"total_tokens":{"type":"integer","description":"이 요청에서 소비된 총 토큰 수","example":269},"output_tokens_details":{"type":"object","description":"출력 토큰 상세 내역","properties":{"reasoning_tokens":{"type":"integer","description":"사고 모드가 활성화된 경우 사용된 reasoning 토큰 수","example":128}}}}},"ErrorResponse":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"integer"},"message":{"type":"string"},"type":{"type":"string"},"param":{"type":"string"},"fallback_suggestion":{"type":"string"}}}}},"ResponsesMessage":{"type":"object","required":["role","content"],"properties":{"role":{"type":"string","enum":["user","assistant","system"]},"content":{"oneOf":[{"type":"string"},{"type":"array","items":{"$ref":"#/components/schemas/InputContentPart"}}],"description":"메시지 콘텐츠: 일반 문자열 또는 구조화된 멀티모달 콘텐츠 파트."}}},"InputContentPart":{"oneOf":[{"$ref":"#/components/schemas/InputTextPart"},{"$ref":"#/components/schemas/InputImagePart"}],"discriminator":{"propertyName":"type"}},"InputTextPart":{"type":"object","required":["type","text"],"properties":{"type":{"type":"string","enum":["input_text"]},"text":{"type":"string"}}},"InputImagePart":{"type":"object","required":["type","image_url"],"properties":{"type":{"type":"string","enum":["input_image"]},"image_url":{"type":"string","description":"이미지 URL 또는 base64 데이터"}}},"AllowedToolsChoice":{"type":"object","required":["type","mode","tools"],"properties":{"type":{"type":"string","enum":["allowed_tools"]},"mode":{"type":"string","enum":["auto","required"],"description":"auto: 허용 목록 내에서 자동 선택; required: 허용된 도구를 최소 1개 호출해야 함"},"tools":{"type":"array","description":"허용된 도구 이름 목록","items":{"type":"string"}}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"##모든 엔드포인트는 Bearer 토큰 인증이 필요합니다##\n\n**API 키 발급:**\n\n[API 키 관리](https://evolink.ai/dashboard/keys) 방문\n\n**헤더에 추가:**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"}}},"tags":[{"name":"채팅 생성","description":"AI 채팅 생성 엔드포인트"}]}
