{
  "openapi": "3.1.0",
  "info": {
    "title": "GPT-5.1 Référence API complète",
    "description": "Référence API complète pour l'interface de chat GPT-5.1, incluant tous les paramètres et fonctionnalités avancées",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.evolink.ai",
      "description": "Environnement de production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "Interface de chat GPT-5.1",
        "description": "- Utiliser le format OpenAI SDK pour appeler les modèles de la série GPT-5.1\n- Mode de traitement synchrone, réponse en temps réel\n- **Conversation textuelle** : Dialogue contextuel à un ou plusieurs tours\n- **Prompts système** : Personnaliser le rôle et le comportement de l'IA\n- **Entrée multimodale** : Prend en charge l'entrée mixte texte + image\n- **Appel d'outils** : Prend en charge Function Calling\n- Démarrage rapide ? Consultez le [Guide de démarrage rapide](./gpt-5.1-quickstart)",
        "operationId": "createChatCompletion",
        "tags": [
          "Complétion de chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "simple_text": {
                  "summary": "Conversation textuelle à tour unique",
                  "value": {
                    "model": "gpt-5.1",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Please introduce yourself"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "multi_turn": {
                  "summary": "Conversation multi-tours (compréhension du contexte)",
                  "value": {
                    "model": "gpt-5.1",
                    "messages": [
                      {
                        "role": "user",
                        "content": "What is Python?"
                      },
                      {
                        "role": "assistant",
                        "content": "Python is a high-level programming language..."
                      },
                      {
                        "role": "user",
                        "content": "What are its advantages?"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "system_prompt": {
                  "summary": "Utilisation des prompts système",
                  "value": {
                    "model": "gpt-5.1",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a helpful AI assistant. You provide safe, helpful, and accurate answers."
                      },
                      {
                        "role": "user",
                        "content": "What is 1+1?"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "vision": {
                  "summary": "Entrée multimodale (texte + image)",
                  "value": {
                    "model": "gpt-5.1",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "Please describe the scene and main elements in this image in detail."
                          },
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg=="
                            }
                          }
                        ]
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "tool_use": {
                  "summary": "Appel d'outils (Function Calling)",
                  "value": {
                    "model": "gpt-5.1",
                    "messages": [
                      {
                        "role": "user",
                        "content": "What's the weather like in San Francisco?"
                      }
                    ],
                    "tools": [
                      {
                        "type": "function",
                        "function": {
                          "name": "get_weather",
                          "description": "Obtenir la météo actuelle pour un lieu donné",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "location": {
                                "type": "string",
                                "description": "La ville et l'état, par exemple San Francisco, CA"
                              }
                            },
                            "required": [
                              "location"
                            ]
                          }
                        }
                      }
                    ],
                    "temperature": 1.0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Complétion de chat réussie",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Paramètres de requête invalides",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 400,
                    "message": "Paramètres de requête invalides",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Non autorisé, jeton invalide ou expiré",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "Invalid or expired token",
                    "type": "authentication_error"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Quota insuffisant, recharge requise",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 402,
                    "message": "Quota insuffisant",
                    "type": "insufficient_quota_error",
                    "fallback_suggestion": "https://evolink.ai/dashboard/billing"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Limite de débit dépassée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "message": "Limite de débit dépassée",
                    "type": "rate_limit_error",
                    "fallback_suggestion": "retry after 60 seconds"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 500,
                    "message": "Erreur interne du serveur",
                    "type": "internal_server_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Nom du modèle pour la complétion de chat\n\n- **gpt-5.1** : Modèle de base pour les tâches générales\n- **gpt-5.1-chat** : Optimisé pour les tâches conversationnelles\n- **gpt-5.1-thinking** : Dispose de capacités de raisonnement avec sortie du processus de réflexion (retourne reasoning_content)",
            "enum": [
              "gpt-5.1",
              "gpt-5.1-chat",
              "gpt-5.1-thinking"
            ],
            "example": "gpt-5.1"
          },
          "messages": {
            "type": "array",
            "description": "Liste des messages pour la conversation, prend en charge le dialogue multi-tours et l'entrée multimodale",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "minItems": 1
          },
          "stream": {
            "type": "boolean",
            "description": "Indique si la réponse doit être en streaming\n\n- `true` : Réponse en streaming, retourne le contenu fragment par fragment en temps réel\n- `false` : Attendre la réponse complète et la retourner en une seule fois",
            "default": false,
            "example": false
          },
          "max_tokens": {
            "type": "integer",
            "description": "Nombre maximum de tokens à générer dans la réponse",
            "minimum": 1,
            "example": 2000
          },
          "temperature": {
            "type": "number",
            "description": "Température d'échantillonnage, contrôle le caractère aléatoire de la sortie\n\n- Valeurs basses (par ex., 0.2) : Sortie plus déterministe et ciblée\n- Valeurs élevées (par ex., 1.5) : Sortie plus aléatoire et créative",
            "minimum": 0,
            "maximum": 2,
            "default": 1.0,
            "example": 1.0
          },
          "top_p": {
            "type": "number",
            "description": "Paramètre d'échantillonnage Nucleus\n\n- Contrôle l'échantillonnage à partir des tokens avec une probabilité cumulative\n- Par exemple, 0.9 signifie échantillonner parmi les tokens dont la probabilité cumulative atteint 90 %",
            "minimum": 0,
            "maximum": 1,
            "default": 1.0,
            "example": 0.9
          },
          "frequency_penalty": {
            "type": "number",
            "description": "Pénalité de fréquence, nombre entre -2.0 et 2.0\n\n- Les valeurs positives pénalisent les nouveaux tokens en fonction de leur fréquence dans le texte",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0,
            "example": 0
          },
          "presence_penalty": {
            "type": "number",
            "description": "Pénalité de présence, nombre entre -2.0 et 2.0\n\n- Les valeurs positives pénalisent les nouveaux tokens selon qu'ils apparaissent ou non dans le texte",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0,
            "example": 0
          },
          "stop": {
            "oneOf": [
              {
                "type": "string",
                "description": "Mot d'arrêt unique"
              },
              {
                "type": "array",
                "description": "Liste de mots d'arrêt, maximum 4",
                "items": {
                  "type": "string"
                },
                "maxItems": 4
              }
            ],
            "description": "Séquences d'arrêt, la génération s'arrête lorsque ces séquences sont rencontrées"
          },
          "tools": {
            "type": "array",
            "description": "Liste des outils pour Function Calling",
            "items": {
              "$ref": "#/components/schemas/Tool"
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "Rôle du message\n\n- `user` : Message de l'utilisateur\n- `assistant` : Message de l'assistant IA\n- `system` : Prompt système",
            "enum": [
              "user",
              "assistant",
              "system"
            ],
            "example": "user"
          },
          "content": {
            "oneOf": [
              {
                "type": "string",
                "description": "Contenu du message en texte brut",
                "example": "Please introduce yourself"
              },
              {
                "type": "array",
                "description": "Contenu du message multimodal, prend en charge l'entrée mixte texte et image",
                "items": {
                  "$ref": "#/components/schemas/ContentPart"
                }
              }
            ],
            "description": "Contenu du message"
          }
        }
      },
      "ContentPart": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/TextContent"
          },
          {
            "$ref": "#/components/schemas/ImageContent"
          }
        ]
      },
      "TextContent": {
        "title": "Contenu texte",
        "type": "object",
        "required": [
          "type",
          "text"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text"
            ],
            "description": "Type de contenu"
          },
          "text": {
            "type": "string",
            "description": "Contenu texte",
            "example": "Please describe this image in detail"
          }
        }
      },
      "ImageContent": {
        "title": "Contenu d'image",
        "type": "object",
        "required": [
          "type",
          "image_url"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "image_url"
            ],
            "description": "Type de contenu"
          },
          "image_url": {
            "type": "object",
            "required": [
              "url"
            ],
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "URL de l'image ou encodage Base64\n\n**Format** :\n- Format URL : `https://example.com/image.png`\n- Format Base64 : `data:image/<format>;base64,<encodage Base64>`",
                "example": "data:image/png;base64,iVBORw0KGgo..."
              }
            }
          }
        }
      },
      "Tool": {
        "type": "object",
        "required": [
          "type",
          "function"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "Type d'outil"
          },
          "function": {
            "type": "object",
            "required": [
              "name",
              "description",
              "parameters"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Nom de la fonction",
                "example": "get_weather"
              },
              "description": {
                "type": "string",
                "description": "Description de la fonction",
                "example": "Obtenir la météo actuelle pour un lieu donné"
              },
              "parameters": {
                "type": "object",
                "description": "Définition des paramètres de la fonction"
              }
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifiant unique pour la complétion de chat",
            "example": "chatcmpl-abc123"
          },
          "model": {
            "type": "string",
            "description": "Le modèle utilisé pour la complétion",
            "example": "gpt-5.1"
          },
          "object": {
            "type": "string",
            "enum": [
              "chat.completion"
            ],
            "description": "Type de réponse",
            "example": "chat.completion"
          },
          "created": {
            "type": "integer",
            "description": "Horodatage Unix de la création de la complétion",
            "example": 1698999496
          },
          "choices": {
            "type": "array",
            "description": "Liste des choix de complétion",
            "items": {
              "$ref": "#/components/schemas/Choice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "Choice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "Index de ce choix",
            "example": 0
          },
          "message": {
            "$ref": "#/components/schemas/AssistantMessage"
          },
          "finish_reason": {
            "type": "string",
            "description": "Raison pour laquelle la complétion s'est terminée",
            "enum": [
              "stop",
              "length",
              "tool_calls",
              "content_filter"
            ],
            "example": "stop"
          }
        }
      },
      "AssistantMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "Rôle de l'expéditeur du message",
            "enum": [
              "assistant"
            ],
            "example": "assistant"
          },
          "content": {
            "type": "string",
            "description": "Contenu de la réponse de l'IA",
            "example": "Hi there! How can I help you?"
          },
          "reasoning_content": {
            "type": "string",
            "description": "Contenu du processus de raisonnement (retourné uniquement par le modèle gpt-5.1-thinking)\n\n**Remarque** :\n- Affiche le processus de réflexion et de raisonnement du modèle\n- Aide à comprendre comment le modèle parvient à sa réponse finale",
            "example": "Let me think about this step by step..."
          }
        }
      },
      "Usage": {
        "type": "object",
        "description": "Statistiques d'utilisation des jetons",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "Nombre de tokens dans l'entrée",
            "example": 8
          },
          "completion_tokens": {
            "type": "integer",
            "description": "Nombre de tokens dans la sortie",
            "example": 292
          },
          "total_tokens": {
            "type": "integer",
            "description": "Nombre total de tokens utilisés",
            "example": 300
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "Code d'erreur de statut HTTP"
              },
              "message": {
                "type": "string",
                "description": "Message d'erreur"
              },
              "type": {
                "type": "string",
                "description": "Type d'erreur"
              },
              "fallback_suggestion": {
                "type": "string",
                "description": "Suggestion pour gérer l'erreur"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Toutes les APIs nécessitent une authentification par Bearer Token\n\n**Obtenir une clé API :**\n\nVisitez la [Page de gestion des clés API](https://evolink.ai/dashboard/keys) pour obtenir votre clé API\n\n**Ajouter à l'en-tête de requête :**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"
      }
    }
  },
  "tags": [
    {
      "name": "Complétion de chat",
      "description": "Points de terminaison liés à la complétion de chat IA"
    }
  ]
}