{
  "openapi": "3.1.0",
  "info": {
    "title": "Referencia completa de API MiniMax-M2.5",
    "description": "Referencia completa de la API para la interfaz de chat MiniMax-M2.5",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.evolink.ai",
      "description": "Entorno de producción"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "Interfaz de Chat MiniMax-M2.5",
        "description": "- Usa el formato del SDK de OpenAI para llamar al modelo MiniMax-M2.5\n- Modo de procesamiento síncrono, respuesta en tiempo real\n- **Conversación de texto**: Diálogo contextual de uno o varios turnos\n- **Prompts del sistema**: Personaliza el rol y comportamiento de la IA",
        "operationId": "createChatCompletion",
        "tags": [
          "Completado de chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "simple_text": {
                  "summary": "Conversación de texto de un turno",
                  "value": {
                    "model": "MiniMax-M2.5",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Por favor, preséntate"
                      }
                    ]
                  }
                },
                "multi_turn": {
                  "summary": "Conversación multi-turno (comprensión del contexto)",
                  "value": {
                    "model": "MiniMax-M2.5",
                    "messages": [
                      {
                        "role": "user",
                        "content": "¿Qué es Python?"
                      },
                      {
                        "role": "assistant",
                        "content": "Python es un lenguaje de programación de alto nivel..."
                      },
                      {
                        "role": "user",
                        "content": "¿Cuáles son sus ventajas?"
                      }
                    ]
                  }
                },
                "system_prompt": {
                  "summary": "Uso de prompt del sistema",
                  "value": {
                    "model": "MiniMax-M2.5",
                    "messages": [
                      {
                        "role": "system",
                        "content": "Eres un asistente profesional de programación Python, responde las preguntas de forma concisa."
                      },
                      {
                        "role": "user",
                        "content": "¿Cómo leer un archivo?"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Completado de chat exitoso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Parámetros de solicitud inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 400,
                    "message": "Invalid request parameters",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No autenticado, token inválido o expirado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "Invalid or expired token",
                    "type": "authentication_error"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Cuota insuficiente, recarga necesaria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 402,
                    "message": "Insufficient quota",
                    "type": "insufficient_quota_error",
                    "fallback_suggestion": "https://evolink.ai/dashboard/billing"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Acceso denegado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 403,
                    "message": "Access denied for this model",
                    "type": "permission_error",
                    "param": "model"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Recurso no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "message": "Specified model not found",
                    "type": "not_found_error",
                    "param": "model",
                    "fallback_suggestion": "MiniMax-M2.5"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Límite de solicitudes excedido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "message": "Rate limit exceeded",
                    "type": "rate_limit_error",
                    "fallback_suggestion": "retry after 60 seconds"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 500,
                    "message": "Internal server error",
                    "type": "internal_server_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Error del servicio upstream",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 502,
                    "message": "Upstream AI service unavailable",
                    "type": "upstream_error",
                    "fallback_suggestion": "try different model"
                  }
                }
              }
            }
          },
          "503": {
            "description": "Servicio temporalmente no disponible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 503,
                    "message": "Service temporarily unavailable",
                    "type": "service_unavailable_error",
                    "fallback_suggestion": "retry after 30 seconds"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Nombre del modelo de chat",
            "enum": [
              "MiniMax-M2.5"
            ],
            "example": "MiniMax-M2.5"
          },
          "messages": {
            "type": "array",
            "description": "Lista de mensajes de conversación, soporta diálogo multi-turno",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "minItems": 1
          },
          "max_tokens": {
            "type": "integer",
            "description": "Número máximo de tokens para el contenido generado, límite superior de 2048\n\n**Nota**:\n- El contenido que exceda el límite será truncado\n- Si la generación se interrumpe por `length`, intente aumentar este valor",
            "minimum": 1,
            "maximum": 2048,
            "example": 2048
          },
          "stream": {
            "type": "boolean",
            "description": "Si devolver la respuesta en modo streaming\n\n- `true`: Respuesta en streaming, devuelve contenido en bloques en tiempo real\n- `false`: Esperar la respuesta completa antes de devolver",
            "example": false
          },
          "temperature": {
            "type": "number",
            "description": "Temperatura de muestreo, controla la aleatoriedad de la salida\n\n**Nota**:\n- Valores bajos (ej. 0.1): Salida más determinista y enfocada\n- Valores altos (ej. 0.9): Salida más aleatoria y creativa\n- Rango: (0, 1], excluyendo 0",
            "exclusiveMinimum": 0,
            "maximum": 1,
            "example": 0.7
          },
          "top_p": {
            "type": "number",
            "description": "Parámetro de Nucleus Sampling\n\n**Nota**:\n- Controla el muestreo de tokens con probabilidad acumulativa\n- Ej. 0.9 significa seleccionar de tokens que alcanzan 90% de probabilidad acumulativa\n- Rango: (0, 1], excluyendo 0\n\n**Recomendación**: No ajustar temperature y top_p simultáneamente",
            "exclusiveMinimum": 0,
            "maximum": 1,
            "example": 0.9
          },
          "enable_search": {
            "type": "boolean",
            "description": "Si habilitar la búsqueda web\n\n- `true`: Habilitar búsqueda web, el modelo buscará en Internet la información más reciente según sea necesario\n- `false`: Deshabilitar búsqueda web",
            "example": true
          },
          "search_options": {
            "type": "object",
            "description": "Opciones de búsqueda web, requiere `enable_search: true`",
            "properties": {
              "search_strategy": {
                "type": "string",
                "description": "Estrategia de búsqueda\n\n- `turbo`: Búsqueda rápida, mayor velocidad\n- `max`: Búsqueda profunda, resultados más completos",
                "enum": [
                  "turbo",
                  "max"
                ],
                "example": "max"
              }
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "Rol del mensaje\n\n- `user`: Mensaje del usuario\n- `assistant`: Mensaje del asistente IA (para diálogo multi-turno)\n- `system`: Prompt del sistema (definir rol y comportamiento de la IA)",
            "enum": [
              "user",
              "assistant",
              "system"
            ],
            "example": "user"
          },
          "content": {
            "type": "string",
            "description": "Contenido del mensaje",
            "example": "Por favor, preséntate"
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identificador único del completado de chat",
            "example": "cmpl-04ea926191a14749b7f2c7a48a68abc6"
          },
          "model": {
            "type": "string",
            "description": "Nombre del modelo realmente utilizado",
            "example": "MiniMax-M2.5"
          },
          "object": {
            "type": "string",
            "enum": [
              "chat.completion"
            ],
            "description": "Tipo de respuesta",
            "example": "chat.completion"
          },
          "created": {
            "type": "integer",
            "description": "Marca de tiempo de creación",
            "example": 1698999496
          },
          "choices": {
            "type": "array",
            "description": "Lista de opciones de completado de chat",
            "items": {
              "$ref": "#/components/schemas/Choice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "Choice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "Índice de la opción",
            "example": 0
          },
          "message": {
            "$ref": "#/components/schemas/AssistantMessage"
          },
          "finish_reason": {
            "type": "string",
            "description": "Razón de finalización\n\n- `stop`: Finalización normal\n- `length`: Límite máximo de tokens alcanzado\n- `content_filter`: Contenido filtrado",
            "enum": [
              "stop",
              "length",
              "content_filter"
            ],
            "example": "stop"
          }
        }
      },
      "AssistantMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "Rol del remitente del mensaje",
            "enum": [
              "assistant"
            ],
            "example": "assistant"
          },
          "content": {
            "type": "string",
            "description": "Contenido del mensaje de respuesta IA",
            "example": "¡Hola! ¿En qué puedo ayudarte?"
          }
        }
      },
      "Usage": {
        "type": "object",
        "description": "Estadísticas de uso de tokens",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "Número de tokens de entrada",
            "example": 8
          },
          "completion_tokens": {
            "type": "integer",
            "description": "Número de tokens de salida",
            "example": 292
          },
          "total_tokens": {
            "type": "integer",
            "description": "Número total de tokens",
            "example": 300
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "Código de error HTTP"
              },
              "message": {
                "type": "string",
                "description": "Descripción del error"
              },
              "type": {
                "type": "string",
                "description": "Tipo de error"
              },
              "param": {
                "type": "string",
                "description": "Nombre del parámetro relacionado"
              },
              "fallback_suggestion": {
                "type": "string",
                "description": "Sugerencia en caso de error"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "##Todas las APIs requieren autenticación Bearer Token##\n\n**Obtener clave API:**\n\nVisita la [página de gestión de claves API](https://evolink.ai/dashboard/keys) para obtener tu clave API\n\n**Agregar al encabezado de solicitud:**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"
      }
    }
  },
  "tags": [
    {
      "name": "Completado de chat",
      "description": "Endpoints relacionados con el completado de chat IA"
    }
  ]
}
