{
  "openapi": "3.1.0",
  "info": {
    "title": "Gemini Native API - 完全なリファレンス",
    "description": "Google Gemini Native APIの完全なリファレンスドキュメント、テキスト、画像、音声、動画を含むマルチモーダル入力に対応",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.evolink.ai",
      "description": "Standard"
    },
    {
      "url": "https://code.evolink.ai",
      "description": "Code-Optimized (Beta Models)"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1beta/models/gemini-3-pro-preview:{method}": {
      "post": {
        "summary": "Geminiコンテンツ生成",
        "description": "- Google Native API形式でGemini-3-pro-previewモデルを呼び出し\n- 同期処理モードを使用可能、会話内容をリアルタイムで返却\n- **プレーンテキスト会話**: シングルターンまたはマルチターンのコンテキスト対話、コードサンプルのsimple_textおよびmulti_turnの例を参照\n- **マルチモーダル入力**: テキスト+画像/オーディオ/ビデオの混合入力をサポート、コードサンプルのaudio_analysis、image_understanding、multi_fileの例を参照\n- **パラメータチューニング**: generationConfigで生成品質を制御\n- **ストリーミング**: methodパラメータで生成モードを選択",
        "operationId": "generateContent",
        "tags": [
          "コンテンツ生成"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "generateContent",
                "streamGenerateContent"
              ]
            },
            "description": "生成メソッド：\n- `generateContent`：完全なレスポンスを一度に返却\n- `streamGenerateContent`：ストリーミング生成、コンテンツをリアルタイムでチャンクで返却",
            "example": "generateContent"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              },
              "examples": {
                "simple_text": {
                  "summary": "シングルターンテキスト会話",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Please introduce yourself"
                          }
                        ]
                      }
                    ]
                  }
                },
                "multi_turn": {
                  "summary": "マルチターン会話（コンテキスト理解）",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "What is Python?"
                          }
                        ]
                      },
                      {
                        "role": "model",
                        "parts": [
                          {
                            "text": "Python is a high-level programming language..."
                          }
                        ]
                      },
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "What are its advantages?"
                          }
                        ]
                      }
                    ]
                  }
                },
                "audio_analysis": {
                  "summary": "音声分析",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Please analyze this song audio and answer: 1. Song source and artist 2. Song mood 3. Complete lyrics output"
                          },
                          {
                            "fileData": {
                              "mimeType": "audio/mp3",
                              "fileUri": "https://example.com/audio.mp3"
                            }
                          }
                        ]
                      }
                    ]
                  }
                },
                "image_understanding": {
                  "summary": "画像理解",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Please describe the scene and main elements in this image in detail"
                          },
                          {
                            "fileData": {
                              "mimeType": "image/jpeg",
                              "fileUri": "https://example.com/image.jpg"
                            }
                          }
                        ]
                      }
                    ]
                  }
                },
                "multi_file": {
                  "summary": "マルチファイル入力（混合）",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Compare the relationship between these two images and this audio"
                          },
                          {
                            "fileData": {
                              "mimeType": "image/jpeg",
                              "fileUri": "https://example.com/image1.jpg"
                            }
                          },
                          {
                            "fileData": {
                              "mimeType": "image/png",
                              "fileUri": "https://example.com/image2.png"
                            }
                          },
                          {
                            "fileData": {
                              "mimeType": "audio/mp3",
                              "fileUri": "https://example.com/audio.mp3"
                            }
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "コンテンツが正常に生成されました\n\n**レスポンス形式の説明**：\n- `method=generateContent`で非同期モードなしの場合、`GenerateContentResponse`を返却（完全なレスポンスを一度に返却）\n- `method=streamGenerateContent`で非同期モードなしの場合、`StreamGenerateContentResponse`を返却（ストリーミングレスポンス、コンテンツをチャンクで返却）",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GenerateContentResponse"
                    },
                    {
                      "$ref": "#/components/schemas/StreamGenerateContentResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "無効なリクエストパラメータ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 400,
                    "message": "無効なリクエストパラメータ",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "未認可、トークンが無効または期限切れです",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "Invalid or expired token",
                    "type": "authentication_error"
                  }
                }
              }
            }
          },
          "402": {
            "description": "クォータ不足、チャージが必要です",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 402,
                    "message": "クォータ不足",
                    "type": "insufficient_quota_error",
                    "fallback_suggestion": "https://evolink.ai/dashboard/billing"
                  }
                }
              }
            }
          },
          "403": {
            "description": "アクセス拒否",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 403,
                    "message": "Access denied for this model",
                    "type": "permission_error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "リソースが見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "message": "Model not found",
                    "type": "not_found_error"
                  }
                }
              }
            }
          },
          "413": {
            "description": "リクエストボディが大きすぎます、ファイルが大きすぎます",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 413,
                    "message": "リクエストボディが大きすぎます",
                    "type": "request_too_large_error",
                    "fallback_suggestion": "reduce file size"
                  }
                }
              }
            }
          },
          "429": {
            "description": "レート制限を超過しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "message": "レート制限を超過しました",
                    "type": "rate_limit_error",
                    "fallback_suggestion": "retry after 60 seconds"
                  }
                }
              }
            }
          },
          "500": {
            "description": "内部サーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 500,
                    "message": "内部サーバーエラー",
                    "type": "internal_server_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          },
          "502": {
            "description": "上流サービスエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 502,
                    "message": "Upstream AI service unavailable",
                    "type": "upstream_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          },
          "503": {
            "description": "サービス一時利用不可",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 503,
                    "message": "サービス一時利用不可",
                    "type": "service_unavailable_error",
                    "fallback_suggestion": "retry after 30 seconds"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GenerateContentRequest": {
        "type": "object",
        "required": [
          "contents"
        ],
        "properties": {
          "contents": {
            "type": "array",
            "description": "会話コンテンツのリスト、マルチターン対話とマルチモーダル入力をサポート",
            "items": {
              "$ref": "#/components/schemas/Content"
            },
            "minItems": 1
          },
          "generationConfig": {
            "$ref": "#/components/schemas/GenerationConfig",
            "description": "生成設定パラメータ（オプション）"
          }
        }
      },
      "Content": {
        "type": "object",
        "required": [
          "role",
          "parts"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "コンテンツロール\n\n- `user`：ユーザー入力\n- `model`：AIモデルの応答（マルチターン会話用）",
            "enum": [
              "user",
              "model"
            ],
            "example": "user"
          },
          "parts": {
            "type": "array",
            "description": "コンテンツパーツのリスト、テキストとファイルデータをサポート",
            "items": {
              "$ref": "#/components/schemas/Part"
            },
            "minItems": 1
          }
        }
      },
      "Part": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/TextPart"
          },
          {
            "$ref": "#/components/schemas/FilePart"
          }
        ]
      },
      "TextPart": {
        "title": "テキスト入力",
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "テキストコンテンツ",
            "example": "Hello! I'm pleased to introduce myself.\n\nI'm a large language model, trained and developed by Google..."
          }
        }
      },
      "FilePart": {
        "title": "マルチモーダル入力",
        "type": "object",
        "required": [
          "fileData"
        ],
        "properties": {
          "fileData": {
            "type": "object",
            "required": [
              "mimeType",
              "fileUri"
            ],
            "properties": {
              "mimeType": {
                "type": "string",
                "description": "ファイルMIMEタイプ\n\n**対応タイプ**：\n\n**画像**：\n- `image/jpeg`、`image/png`\n- 画像あたりの最大サイズ：10 MB\n\n**音声**：\n- `audio/mp3`\n- ファイルあたりの最大サイズ：10 MB\n- 推奨長さ：10分以内\n\n**動画**：\n- `video/mp4`\n- ファイルあたりの最大サイズ：50 MB\n- 推奨長さ：180秒以内\n\n**ドキュメント**：\n- `application/pdf`\n- ファイルあたりの最大サイズ：20 MB",
                "example": "audio/mp3"
              },
              "fileUri": {
                "type": "string",
                "format": "uri",
                "description": "ファイルURIアドレス\n\n**要件**：\n- 公開アクセス可能なURLである必要があります\n- URLはファイル拡張子（例：.mp3、.jpg）で終わり、mimeTypeパラメータと一致する必要があります",
                "example": "https://example.com/audio.mp3"
              }
            }
          }
        }
      },
      "GenerationConfig": {
        "type": "object",
        "description": "生成設定パラメータ",
        "properties": {
          "temperature": {
            "type": "number",
            "description": "サンプリング温度、出力のランダム性を制御\n\n**説明**:\n- 低い値（例: 0.2）: より決定論的で集中した出力\n- 高い値（例: 1.5）: よりランダムで創造的な出力",
            "minimum": 0,
            "maximum": 2,
            "example": 0.7
          },
          "maxOutputTokens": {
            "type": "integer",
            "description": "生成された応答の最大トークン数\n\n**説明**:\n- 値が小さすぎると応答が切り捨てられる可能性があります",
            "minimum": 1,
            "example": 2000
          },
          "topP": {
            "type": "number",
            "description": "Nucleus Samplingパラメータ\n\n**説明**:\n- 累積確率を持つトークンからのサンプリングを制御\n- 例えば、0.9は累積確率が90%までのトークンから選択することを意味します\n- デフォルト: 1.0（すべてのトークンを考慮）\n\n**推奨**: temperatureとtopPを同時に調整しないでください",
            "minimum": 0,
            "maximum": 1,
            "example": 0.9
          },
          "topK": {
            "type": "integer",
            "description": "Top-K サンプリングパラメータ\n\n**説明**:\n- 例えば、10は確率が最も高い上位10トークンのみをサンプリング対象にすることを意味します\n- 値が小さいほど出力がより集中します\n- デフォルト: 制限なし",
            "minimum": 1,
            "example": 40
          }
        }
      },
      "GenerateContentResponse": {
        "title": "同期レスポンス",
        "type": "object",
        "properties": {
          "candidates": {
            "type": "array",
            "description": "候補応答のリスト",
            "items": {
              "$ref": "#/components/schemas/Candidate"
            }
          },
          "promptFeedback": {
            "$ref": "#/components/schemas/PromptFeedback"
          },
          "usageMetadata": {
            "$ref": "#/components/schemas/UsageMetadata"
          }
        }
      },
      "Candidate": {
        "type": "object",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/ContentResponse"
          },
          "finishReason": {
            "type": "string",
            "description": "終了理由",
            "enum": [
              "STOP",
              "MAX_TOKENS",
              "SAFETY",
              "RECITATION",
              "OTHER"
            ],
            "example": "STOP"
          },
          "index": {
            "type": "integer",
            "description": "候補インデックス",
            "example": 0
          },
          "safetyRatings": {
            "type": "array",
            "nullable": true,
            "description": "安全性評価",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ContentResponse": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "レスポンスロール",
            "enum": [
              "model"
            ],
            "example": "model"
          },
          "parts": {
            "type": "array",
            "description": "レスポンスコンテンツパーツ",
            "items": {
              "$ref": "#/components/schemas/TextPart"
            }
          }
        }
      },
      "PromptFeedback": {
        "type": "object",
        "properties": {
          "safetyRatings": {
            "type": "array",
            "nullable": true,
            "description": "プロンプト安全性評価",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "UsageMetadata": {
        "type": "object",
        "description": "使用統計",
        "properties": {
          "promptTokenCount": {
            "type": "integer",
            "description": "入力コンテンツのトークン数",
            "example": 4
          },
          "candidatesTokenCount": {
            "type": "integer",
            "description": "出力コンテンツのトークン数",
            "example": 611
          },
          "totalTokenCount": {
            "type": "integer",
            "description": "トークンの合計数",
            "example": 2422
          },
          "thoughtsTokenCount": {
            "type": "integer",
            "description": "推論トークン数",
            "example": 1807
          },
          "promptTokensDetails": {
            "type": "array",
            "description": "詳細な入力トークン情報（モダリティ別）",
            "items": {
              "$ref": "#/components/schemas/TokenDetail"
            }
          }
        }
      },
      "TokenDetail": {
        "type": "object",
        "description": "トークン詳細（モダリティ別統計）",
        "properties": {
          "modality": {
            "type": "string",
            "description": "コンテンツモダリティタイプ",
            "enum": [
              "TEXT",
              "IMAGE",
              "AUDIO",
              "VIDEO"
            ],
            "example": "TEXT"
          },
          "tokenCount": {
            "type": "integer",
            "description": "このモダリティのトークン数",
            "example": 4
          }
        }
      },
      "StreamCandidate": {
        "type": "object",
        "description": "ストリームレスポンス候補（通常のレスポンスより簡略化）",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/ContentResponse"
          },
          "finishReason": {
            "type": "string",
            "description": "終了理由（最後のチャンクにのみ含まれる）",
            "enum": [
              "STOP",
              "MAX_TOKENS",
              "SAFETY",
              "RECITATION",
              "OTHER"
            ],
            "example": "STOP"
          }
        }
      },
      "StreamGenerateContentResponse": {
        "title": "ストリームレスポンス",
        "type": "object",
        "description": "ストリームレスポンスチャンク\n\n**中間チャンク**:\n```json\n{\n  \"candidates\": [\n    {\n      \"content\": {\n        \"role\": \"model\",\n        \"parts\": [{ \"text\": \"Partial text...\" }]\n      }\n    }\n  ],\n  \"usageMetadata\": {\n    \"trafficType\": \"ON_DEMAND\"\n  },\n  \"modelVersion\": \"gemini-3-pro-preview\",\n  \"createTime\": \"2025-10-10T10:40:23.072315Z\",\n  \"responseId\": \"xxx\"\n}\n```\n\n**最終チャンク**:\n```json\n{\n  \"candidates\": [\n    {\n      \"content\": {\n        \"role\": \"model\",\n        \"parts\": [{ \"text\": \"Final text fragment\" }]\n      },\n      \"finishReason\": \"STOP\"\n    }\n  ],\n  \"usageMetadata\": {\n    \"promptTokenCount\": 4,\n    \"candidatesTokenCount\": 522,\n    \"totalTokenCount\": 2191,\n    \"trafficType\": \"ON_DEMAND\"\n  },\n  \"modelVersion\": \"gemini-3-pro-preview\",\n  \"createTime\": \"2025-10-10T10:40:23.072315Z\",\n  \"responseId\": \"xxx\"\n}\n```",
        "properties": {
          "candidates": {
            "type": "array",
            "description": "候補応答のリスト（ストリーミングモードにはindexとsafetyRatingsは含まれません）",
            "items": {
              "$ref": "#/components/schemas/StreamCandidate"
            }
          },
          "usageMetadata": {
            "type": "object",
            "description": "使用統計（中間チャンクには trafficType のみ、最後のチャンクに完全な統計が含まれます）",
            "properties": {
              "promptTokenCount": {
                "type": "integer",
                "description": "入力コンテンツのトークン数(最後のチャンクのみ)",
                "example": 4
              },
              "candidatesTokenCount": {
                "type": "integer",
                "description": "出力コンテンツのトークン数(最後のチャンクのみ)",
                "example": 522
              },
              "totalTokenCount": {
                "type": "integer",
                "description": "トークンの合計数（最後のチャンクのみ）",
                "example": 2191
              },
              "trafficType": {
                "type": "string",
                "description": "トラフィックタイプ",
                "example": "ON_DEMAND"
              }
            }
          },
          "modelVersion": {
            "type": "string",
            "description": "モデルバージョン",
            "example": "gemini-3-pro-preview"
          },
          "createTime": {
            "type": "string",
            "format": "date-time",
            "description": "作成日時",
            "example": "2025-10-10T10:40:23.072315Z"
          },
          "responseId": {
            "type": "string",
            "description": "レスポンスID",
            "example": "l-LoaPu0BPmo1dkP6ZPHiQc"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "HTTP ステータスエラーコード"
              },
              "message": {
                "type": "string",
                "description": "エラーの説明"
              },
              "type": {
                "type": "string",
                "description": "エラータイプ"
              },
              "fallback_suggestion": {
                "type": "string",
                "description": "エラー発生時の提案"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "##すべてのAPIにBearer Token認証が必要です##\n\n**APIキーの取得：**\n\n[APIキー管理ページ](https://evolink.ai/dashboard/keys)にアクセスしてAPIキーを取得してください\n\n**リクエストヘッダーに追加：**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"
      }
    }
  },
  "tags": [
    {
      "name": "コンテンツ生成",
      "description": "Gemini AIコンテンツ生成関連API"
    }
  ]
}
