{
  "openapi": "3.1.0",
  "info": {
    "title": "Kimi K2.5 完整参数文档",
    "description": "Kimi K2.5 多模态对话接口的完整 API 参考，支持文本、图像和视频理解",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.evolink.ai",
      "description": "生产环境"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "Kimi K2.5 多模态对话接口",
        "description": "- 使用 OpenAI SDK 格式调用 Kimi K2.5 多模态模型\n- 同步处理模式，实时返回对话内容\n- **纯文本对话**：单轮或多轮上下文对话，可参考示例代码中 simple_text、multi_turn 示例\n- **系统提示词**：自定义 AI 的角色和行为，可参考示例代码中 system_prompt 示例\n- **图像理解**：支持文本 + 图像混合输入，可参考示例代码中 vision 示例\n- **视频理解**：支持视频内容分析，可参考示例代码中 video 示例\n- **工具调用**：支持 Function Calling，可参考示例代码中 tool_use 示例",
        "operationId": "createChatCompletion",
        "tags": [
          "对话生成"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "simple_text": {
                  "summary": "单轮文本对话",
                  "value": {
                    "model": "kimi-k2.5",
                    "messages": [
                      {
                        "role": "user",
                        "content": "请介绍一下你自己"
                      }
                    ],
                    "temperature": 0.7
                  }
                },
                "multi_turn": {
                  "summary": "多轮对话（上下文理解）",
                  "value": {
                    "model": "kimi-k2.5",
                    "messages": [
                      {
                        "role": "user",
                        "content": "什么是Python？"
                      },
                      {
                        "role": "assistant",
                        "content": "Python是一种高级编程语言..."
                      },
                      {
                        "role": "user",
                        "content": "它有什么优点？"
                      }
                    ],
                    "temperature": 0.7
                  }
                },
                "system_prompt": {
                  "summary": "使用系统提示词",
                  "value": {
                    "model": "kimi-k2.5",
                    "messages": [
                      {
                        "role": "system",
                        "content": "你是 Kimi，由 Moonshot AI 提供的人工智能助手，你更擅长中文和英文的对话。你会为用户提供安全，有帮助，准确的回答。"
                      },
                      {
                        "role": "user",
                        "content": "1+1等于多少？"
                      }
                    ],
                    "temperature": 0.7
                  }
                },
                "vision": {
                  "summary": "图像理解（文本 + 图像）",
                  "value": {
                    "model": "kimi-k2.5",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "请详细描述这张图片中的场景和主要元素。"
                          },
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "https://example.com/image.jpg"
                            }
                          }
                        ]
                      }
                    ],
                    "temperature": 0.7
                  }
                },
                "video": {
                  "summary": "视频理解",
                  "value": {
                    "model": "kimi-k2.5",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "请分析这个视频的主要内容。"
                          },
                          {
                            "type": "video_url",
                            "video_url": {
                              "url": "https://example.com/video.mp4"
                            }
                          }
                        ]
                      }
                    ],
                    "temperature": 0.7
                  }
                },
                "tool_use": {
                  "summary": "工具调用（Function Calling）",
                  "value": {
                    "model": "kimi-k2.5",
                    "messages": [
                      {
                        "role": "user",
                        "content": "北京今天的天气怎么样？"
                      }
                    ],
                    "tools": [
                      {
                        "type": "function",
                        "function": {
                          "name": "get_weather",
                          "description": "获取指定城市的天气信息",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "string",
                                "description": "城市名称"
                              }
                            },
                            "required": ["city"]
                          }
                        }
                      }
                    ],
                    "temperature": 0.7
                  }
                },
                "thinking_mode": {
                  "summary": "思考模式控制",
                  "value": {
                    "model": "kimi-k2.5",
                    "messages": [
                      {
                        "role": "user",
                        "content": "请一步步解答：240的15%是多少？"
                      }
                    ],
                    "thinking": {"type": "enabled"}
                  }
                },
                "json_mode": {
                  "summary": "JSON 输出模式",
                  "value": {
                    "model": "kimi-k2.5",
                    "messages": [
                      {
                        "role": "user",
                        "content": "返回一个JSON对象，包含name、age、city字段"
                      }
                    ],
                    "response_format": {"type": "json_object"}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "对话生成成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 400,
                    "message": "Invalid request parameters",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "未认证、Token无效或过期",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "Invalid or expired token",
                    "type": "authentication_error"
                  }
                }
              }
            }
          },
          "402": {
            "description": "配额不足、需要充值",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 402,
                    "message": "Insufficient quota",
                    "type": "insufficient_quota_error",
                    "fallback_suggestion": "https://evolink.ai/dashboard/billing"
                  }
                }
              }
            }
          },
          "429": {
            "description": "请求频率超限",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "message": "Rate limit exceeded",
                    "type": "rate_limit_error",
                    "fallback_suggestion": "retry after 60 seconds"
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器内部错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 500,
                    "message": "Internal server error",
                    "type": "internal_server_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称",
            "enum": [
              "kimi-k2.5"
            ],
            "example": "kimi-k2.5"
          },
          "messages": {
            "type": "array",
            "description": "对话消息列表，支持多轮对话和多模态输入（文本、图像、视频）",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "minItems": 1
          },
          "stream": {
            "type": "boolean",
            "description": "是否以流式方式返回响应\n\n- `true`: 流式返回，逐块实时返回内容\n- `false`: 等待完整响应后一次性返回",
            "default": false,
            "example": false
          },
          "max_tokens": {
            "type": "integer",
            "description": "生成回复的最大 token 数量\n\n**说明**:\n- 此值过小可能导致回复被截断\n- Kimi K2.5 支持最大 128K 上下文窗口",
            "minimum": 1,
            "maximum": 131072,
            "example": 4096
          },
          "temperature": {
            "type": "number",
            "description": "采样温度，控制输出的随机性\n\n**说明**:\n- 较低值(如 0.2): 更确定、更聚焦的输出\n- 较高值(如 1.0): 更随机、更有创意的输出\n- 推荐值: 0.7",
            "minimum": 0,
            "maximum": 2,
            "default": 0.7,
            "example": 0.7
          },
          "top_p": {
            "type": "number",
            "description": "核采样(Nucleus Sampling)参数\n\n**说明**:\n- 控制从累积概率前多少的token中采样\n- 例如 0.9 表示从累积概率达到90%的token中选择",
            "minimum": 0,
            "maximum": 1,
            "default": 0.95,
            "example": 0.95
          },
          "n": {
            "type": "integer",
            "description": "为每条输入消息生成的对话完成选项数量",
            "minimum": 1,
            "maximum": 1,
            "default": 1,
            "example": 1
          },
          "presence_penalty": {
            "type": "number",
            "description": "存在惩罚，介于 -2.0 到 2.0 之间",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0,
            "example": 0
          },
          "frequency_penalty": {
            "type": "number",
            "description": "频率惩罚，介于 -2.0 到 2.0 之间",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0,
            "example": 0
          },
          "tools": {
            "type": "array",
            "description": "工具列表，用于 Function Calling",
            "items": {
              "$ref": "#/components/schemas/Tool"
            },
            "maxItems": 128
          },
          "thinking": {
            "type": "object",
            "description": "控制 Kimi K2.5 的思考模式。启用后，模型会展示其推理过程。",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["enabled", "disabled"],
                "description": "启用或禁用思考模式"
              }
            },
            "default": {"type": "enabled"}
          },
          "response_format": {
            "type": "object",
            "description": "输出格式控制。设置为 {\"type\": \"json_object\"} 可启用 JSON 模式。使用 JSON 模式时，必须在提示词中明确指示模型输出 JSON 格式。",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["text", "json_object"],
                "description": "响应格式类型"
              }
            },
            "default": {"type": "text"}
          },
          "stream_options": {
            "type": "object",
            "description": "流式响应选项",
            "properties": {
              "include_usage": {
                "type": "boolean",
                "description": "如果为 true，在流式响应的最后一个 chunk 中包含 token 使用统计",
                "default": false
              }
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "消息角色\n\n- `user`: 用户消息\n- `assistant`: AI助手消息\n- `system`: 系统提示词",
            "enum": [
              "user",
              "assistant",
              "system"
            ],
            "example": "user"
          },
          "content": {
            "oneOf": [
              {
                "type": "string",
                "description": "纯文本消息内容"
              },
              {
                "type": "array",
                "description": "多模态消息内容，支持文本、图像和视频混合输入",
                "items": {
                  "$ref": "#/components/schemas/ContentPart"
                }
              }
            ],
            "description": "消息内容。支持纯文本字符串或多模态对象数组"
          }
        }
      },
      "ContentPart": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/TextContent"
          },
          {
            "$ref": "#/components/schemas/ImageContent"
          },
          {
            "$ref": "#/components/schemas/VideoContent"
          }
        ]
      },
      "TextContent": {
        "title": "文本内容",
        "type": "object",
        "required": ["type", "text"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["text"],
            "description": "内容类型"
          },
          "text": {
            "type": "string",
            "description": "文本内容"
          }
        }
      },
      "ImageContent": {
        "title": "图像内容",
        "type": "object",
        "required": ["type", "image_url"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["image_url"],
            "description": "内容类型"
          },
          "image_url": {
            "type": "object",
            "required": ["url"],
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "图像URL地址或 Base64 编码\n\n**格式**:\n- URL格式: `https://example.com/image.png`\n- Base64格式: `data:image/<格式>;base64,<Base64编码>`\n\n**限制**:\n- 单张图片最大: `10MB`\n- 支持格式: `.jpeg`, `.jpg`, `.png`, `.webp`"
              }
            }
          }
        }
      },
      "VideoContent": {
        "title": "视频内容",
        "type": "object",
        "required": ["type", "video_url"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["video_url"],
            "description": "内容类型"
          },
          "video_url": {
            "type": "object",
            "required": ["url"],
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "视频URL地址\n\n**限制**:\n- 支持格式: `.mp4`, `.mov`, `.avi`\n- 建议视频时长不超过 5 分钟"
              }
            }
          }
        }
      },
      "Tool": {
        "type": "object",
        "required": ["type", "function"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["function"],
            "description": "工具类型"
          },
          "function": {
            "type": "object",
            "required": ["name", "description", "parameters"],
            "properties": {
              "name": {
                "type": "string",
                "description": "函数名称"
              },
              "description": {
                "type": "string",
                "description": "函数描述"
              },
              "parameters": {
                "type": "object",
                "description": "函数参数定义（JSON Schema 格式）"
              }
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "对话完成的唯一标识符"
          },
          "model": {
            "type": "string",
            "description": "实际使用的模型名称",
            "example": "kimi-k2.5"
          },
          "object": {
            "type": "string",
            "enum": ["chat.completion"],
            "description": "响应类型"
          },
          "created": {
            "type": "integer",
            "description": "创建时间戳"
          },
          "choices": {
            "type": "array",
            "description": "对话生成的选择列表",
            "items": {
              "$ref": "#/components/schemas/Choice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "Choice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "选择的索引"
          },
          "message": {
            "$ref": "#/components/schemas/AssistantMessage"
          },
          "finish_reason": {
            "type": "string",
            "description": "完成原因",
            "enum": ["stop", "length", "content_filter"]
          }
        }
      },
      "AssistantMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": ["assistant"],
            "description": "消息发送者的角色"
          },
          "content": {
            "type": "string",
            "description": "AI 回复的消息内容"
          }
        }
      },
      "Usage": {
        "type": "object",
        "description": "Token 使用统计信息",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "输入内容的 token 数量"
          },
          "completion_tokens": {
            "type": "integer",
            "description": "输出内容的 token 数量"
          },
          "total_tokens": {
            "type": "integer",
            "description": "总 token 数量"
          },
          "prompt_tokens_details": {
            "type": "object",
            "properties": {
              "cached_tokens": {
                "type": "integer",
                "description": "击中缓存的 token 数量"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "HTTP状态错误代码"
              },
              "message": {
                "type": "string",
                "description": "错误描述信息"
              },
              "type": {
                "type": "string",
                "description": "错误类型"
              },
              "fallback_suggestion": {
                "type": "string",
                "description": "错误时的建议"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "##所有接口均需要使用Bearer Token进行认证##\n\n**获取 API Key：**\n\n访问 [API Key 管理页面](https://evolink.ai/dashboard/keys) 获取您的 API Key\n\n**使用时在请求头中添加：**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"
      }
    }
  },
  "tags": [
    {
      "name": "对话生成",
      "description": "AI对话生成相关接口"
    }
  ]
}
