{
  "openapi": "3.1.0",
  "info": {
    "title": "Kimi K2.5 Complete API Reference",
    "description": "Complete API reference for Kimi K2.5 multimodal chat interface, supporting text, image, and video understanding",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.evolink.ai",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "Kimi K2.5 Multimodal Chat API",
        "description": "- Call Kimi K2.5 multimodal model using OpenAI SDK format\n- Synchronous processing mode with real-time response\n- **Text Chat**: Single or multi-turn conversations, see simple_text and multi_turn examples\n- **System Prompt**: Customize AI role and behavior, see system_prompt example\n- **Image Understanding**: Support text + image mixed input, see vision example\n- **Video Understanding**: Support video content analysis, see video example\n- **Tool Use**: Support Function Calling, see tool_use example",
        "operationId": "createChatCompletion",
        "tags": [
          "Chat Completion"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "simple_text": {
                  "summary": "Single-turn Text Chat",
                  "value": {
                    "model": "kimi-k2.5",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Please introduce yourself"
                      }
                    ],
                    "temperature": 0.7
                  }
                },
                "multi_turn": {
                  "summary": "Multi-turn Conversation",
                  "value": {
                    "model": "kimi-k2.5",
                    "messages": [
                      {
                        "role": "user",
                        "content": "What is Python?"
                      },
                      {
                        "role": "assistant",
                        "content": "Python is a high-level programming language..."
                      },
                      {
                        "role": "user",
                        "content": "What are its advantages?"
                      }
                    ],
                    "temperature": 0.7
                  }
                },
                "system_prompt": {
                  "summary": "Using System Prompt",
                  "value": {
                    "model": "kimi-k2.5",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are Kimi, an AI assistant by Moonshot AI. You excel at conversations in Chinese and English, providing safe, helpful, and accurate answers."
                      },
                      {
                        "role": "user",
                        "content": "What is 1+1?"
                      }
                    ],
                    "temperature": 0.7
                  }
                },
                "vision": {
                  "summary": "Image Understanding (Text + Image)",
                  "value": {
                    "model": "kimi-k2.5",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "Please describe the scene and main elements in this image."
                          },
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "https://example.com/image.jpg"
                            }
                          }
                        ]
                      }
                    ],
                    "temperature": 0.7
                  }
                },
                "video": {
                  "summary": "Video Understanding",
                  "value": {
                    "model": "kimi-k2.5",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "Please analyze the main content of this video."
                          },
                          {
                            "type": "video_url",
                            "video_url": {
                              "url": "https://example.com/video.mp4"
                            }
                          }
                        ]
                      }
                    ],
                    "temperature": 0.7
                  }
                },
                "tool_use": {
                  "summary": "Tool Use (Function Calling)",
                  "value": {
                    "model": "kimi-k2.5",
                    "messages": [
                      {
                        "role": "user",
                        "content": "What's the weather like in Beijing today?"
                      }
                    ],
                    "tools": [
                      {
                        "type": "function",
                        "function": {
                          "name": "get_weather",
                          "description": "Get weather information for a specified city",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "string",
                                "description": "City name"
                              }
                            },
                            "required": ["city"]
                          }
                        }
                      }
                    ],
                    "temperature": 0.7
                  }
                },
                "thinking_mode": {
                  "summary": "Thinking Mode Control",
                  "value": {
                    "model": "kimi-k2.5",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Solve this step by step: What is 15% of 240?"
                      }
                    ],
                    "thinking": {"type": "enabled"}
                  }
                },
                "json_mode": {
                  "summary": "JSON Output Mode",
                  "value": {
                    "model": "kimi-k2.5",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Return a JSON object with fields: name, age, city"
                      }
                    ],
                    "response_format": {"type": "json_object"}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or expired token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient quota",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": ["model", "messages"],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model name",
            "enum": ["kimi-k2.5"],
            "example": "kimi-k2.5"
          },
          "messages": {
            "type": "array",
            "description": "List of messages supporting multi-turn conversation and multimodal input (text, image, video)",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "minItems": 1
          },
          "stream": {
            "type": "boolean",
            "description": "Whether to stream the response",
            "default": false
          },
          "max_tokens": {
            "type": "integer",
            "description": "Maximum tokens to generate. Kimi K2.5 supports up to 128K context window.",
            "minimum": 1,
            "maximum": 131072,
            "example": 4096
          },
          "temperature": {
            "type": "number",
            "description": "Sampling temperature (0-2). Lower values = more deterministic, higher = more creative. Recommended: 0.7",
            "minimum": 0,
            "maximum": 2,
            "default": 0.7
          },
          "top_p": {
            "type": "number",
            "description": "Nucleus sampling parameter. Controls sampling from tokens with cumulative probability mass of top_p.",
            "minimum": 0,
            "maximum": 1,
            "default": 0.95,
            "example": 0.95
          },
          "presence_penalty": {
            "type": "number",
            "description": "Presence penalty between -2.0 and 2.0. Positive values penalize new tokens based on whether they appear in the text so far.",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0,
            "example": 0
          },
          "frequency_penalty": {
            "type": "number",
            "description": "Frequency penalty between -2.0 and 2.0. Positive values penalize new tokens based on their existing frequency in the text.",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0,
            "example": 0
          },
          "n": {
            "type": "integer",
            "description": "Number of chat completion choices to generate for each input message.",
            "minimum": 1,
            "maximum": 1,
            "default": 1,
            "example": 1
          },
          "tools": {
            "type": "array",
            "description": "List of tools for Function Calling",
            "items": {
              "$ref": "#/components/schemas/Tool"
            }
          },
          "thinking": {
            "type": "object",
            "description": "Controls thinking mode for Kimi K2.5. When enabled, the model will show its reasoning process.",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["enabled", "disabled"],
                "description": "Enable or disable thinking mode"
              }
            },
            "default": {"type": "enabled"}
          },
          "response_format": {
            "type": "object",
            "description": "Output format control. Set to {\"type\": \"json_object\"} to enable JSON mode. When using JSON mode, you must explicitly instruct the model to output JSON in your prompt.",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["text", "json_object"],
                "description": "Response format type"
              }
            },
            "default": {"type": "text"}
          },
          "stream_options": {
            "type": "object",
            "description": "Options for streaming responses",
            "properties": {
              "include_usage": {
                "type": "boolean",
                "description": "If true, includes token usage statistics in the final streaming chunk",
                "default": false
              }
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "required": ["role", "content"],
        "properties": {
          "role": {
            "type": "string",
            "enum": ["user", "assistant", "system"],
            "description": "Message role: user, assistant, or system"
          },
          "content": {
            "oneOf": [
              {"type": "string"},
              {"type": "array", "items": {"$ref": "#/components/schemas/ContentPart"}}
            ],
            "description": "Message content - plain text string or multimodal array"
          }
        }
      },
      "ContentPart": {
        "oneOf": [
          {"$ref": "#/components/schemas/TextContent"},
          {"$ref": "#/components/schemas/ImageContent"},
          {"$ref": "#/components/schemas/VideoContent"}
        ]
      },
      "TextContent": {
        "type": "object",
        "required": ["type", "text"],
        "properties": {
          "type": {"type": "string", "enum": ["text"]},
          "text": {"type": "string", "description": "Text content"}
        }
      },
      "ImageContent": {
        "type": "object",
        "required": ["type", "image_url"],
        "properties": {
          "type": {"type": "string", "enum": ["image_url"]},
          "image_url": {
            "type": "object",
            "required": ["url"],
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "Image URL or Base64. Max 10MB. Formats: jpeg, jpg, png, webp"
              }
            }
          }
        }
      },
      "VideoContent": {
        "type": "object",
        "required": ["type", "video_url"],
        "properties": {
          "type": {"type": "string", "enum": ["video_url"]},
          "video_url": {
            "type": "object",
            "required": ["url"],
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "Video URL. Formats: mp4, mov, avi. Recommended duration: under 5 minutes"
              }
            }
          }
        }
      },
      "Tool": {
        "type": "object",
        "required": ["type", "function"],
        "properties": {
          "type": {"type": "string", "enum": ["function"]},
          "function": {
            "type": "object",
            "required": ["name", "description", "parameters"],
            "properties": {
              "name": {"type": "string"},
              "description": {"type": "string"},
              "parameters": {"type": "object"}
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "model": {"type": "string", "example": "kimi-k2.5"},
          "object": {"type": "string", "enum": ["chat.completion"]},
          "created": {"type": "integer"},
          "choices": {"type": "array", "items": {"$ref": "#/components/schemas/Choice"}},
          "usage": {"$ref": "#/components/schemas/Usage"}
        }
      },
      "Choice": {
        "type": "object",
        "properties": {
          "index": {"type": "integer"},
          "message": {"$ref": "#/components/schemas/AssistantMessage"},
          "finish_reason": {"type": "string", "enum": ["stop", "length", "content_filter"]}
        }
      },
      "AssistantMessage": {
        "type": "object",
        "properties": {
          "role": {"type": "string", "enum": ["assistant"]},
          "content": {"type": "string"}
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "prompt_tokens": {"type": "integer"},
          "completion_tokens": {"type": "integer"},
          "total_tokens": {"type": "integer"},
          "prompt_tokens_details": {
            "type": "object",
            "properties": {
              "cached_tokens": {"type": "integer"}
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {"type": "integer"},
              "message": {"type": "string"},
              "type": {"type": "string"},
              "fallback_suggestion": {"type": "string"}
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "## All endpoints require Bearer Token authentication ##\n\n**Get API Key:**\n\nVisit [API Key Management](https://evolink.ai/dashboard/keys) to get your API Key\n\n**Add to request header:**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"
      }
    }
  },
  "tags": [
    {
      "name": "Chat Completion",
      "description": "AI chat completion endpoints"
    }
  ]
}
