{
  "openapi": "3.1.0",
  "info": {
    "title": "Référence API Complète Kimi-K2",
    "description": "Référence API complète pour l'interface de chat Kimi-K2, incluant tous les paramètres et fonctionnalités avancées",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.evolink.ai",
      "description": "Environnement de production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "Interface de chat Kimi-K2",
        "description": "- Utiliser le format SDK OpenAI pour appeler le modèle Kimi-K2\n- Mode de traitement synchrone, réponse en temps réel\n- **Conversation textuelle** : Dialogue contextuel en un ou plusieurs tours, voir les exemples simple_text et multi_turn\n- **Prompts système** : Personnaliser le rôle et le comportement de l'IA, voir l'exemple system_prompt\n- **Entrée multimodale** : Prend en charge l'entrée mixte texte + image, voir l'exemple vision\n- **Appel d'outils** : Prend en charge le Function Calling, voir l'exemple tool_use\n- **Partial Mode** : Prend en charge le mode prefill, voir l'exemple partial_mode",
        "operationId": "createChatCompletion",
        "tags": [
          "Complétion de chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "simple_text": {
                  "summary": "Conversation textuelle à tour unique",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Please introduce yourself"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "multi_turn": {
                  "summary": "Conversation multi-tours (compréhension du contexte)",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "user",
                        "content": "What is Python?"
                      },
                      {
                        "role": "assistant",
                        "content": "Python is a high-level programming language..."
                      },
                      {
                        "role": "user",
                        "content": "What are its advantages?"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "system_prompt": {
                  "summary": "Utilisation des prompts système",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are Kimi, an AI assistant provided by Moonshot AI. You excel at conversations in both Chinese and English. You provide safe, helpful, and accurate answers. You will reject any questions involving terrorism, racial discrimination, or violence."
                      },
                      {
                        "role": "user",
                        "content": "What is 1+1?"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "vision": {
                  "summary": "Entrée multimodale (texte + image)",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "Please describe the scene and main elements in this image in detail."
                          },
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg=="
                            }
                          }
                        ]
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "tool_use": {
                  "summary": "Appel d'outils (Function Calling)",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Write code to determine if 3214567 is a prime number."
                      }
                    ],
                    "tools": [
                      {
                        "type": "function",
                        "function": {
                          "name": "CodeRunner",
                          "description": "Exécuteur de code prenant en charge l'exécution de code python et javascript",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "language": {
                                "type": "string",
                                "enum": [
                                  "python",
                                  "javascript"
                                ]
                              },
                              "code": {
                                "type": "string",
                                "description": "Écrivez votre code ici"
                              }
                            }
                          }
                        }
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "partial_mode": {
                  "summary": "Partial Mode (mode prefill)",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "system",
                        "content": "Extract name, size, price and colors from the product description and output as a JSON object."
                      },
                      {
                        "role": "user",
                        "content": "The SmartHome Mini is a compact smart home assistant, available in black and silver, priced at $149, with dimensions of 256 x 128 x 128mm."
                      },
                      {
                        "role": "assistant",
                        "content": "{",
                        "partial": true
                      }
                    ],
                    "temperature": 1.0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Complétion de chat réussie",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Paramètres de requête invalides",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 400,
                    "message": "Paramètres de requête invalides",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Non autorisé, jeton invalide ou expiré",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "Invalid or expired token",
                    "type": "authentication_error"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Quota insuffisant, recharge requise",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 402,
                    "message": "Quota insuffisant",
                    "type": "insufficient_quota_error",
                    "fallback_suggestion": "https://evolink.ai/dashboard/billing"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Accès refusé",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 403,
                    "message": "Access denied for this model",
                    "type": "permission_error",
                    "param": "model"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Ressource introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "message": "Specified model not found",
                    "type": "not_found_error",
                    "param": "model",
                    "fallback_suggestion": "kimi-k2-thinking"
                  }
                }
              }
            }
          },
          "413": {
            "description": "Charge utile de la requête trop volumineuse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 413,
                    "message": "Image file too large",
                    "type": "request_too_large_error",
                    "param": "content",
                    "fallback_suggestion": "compress image to under 10MB"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Limite de débit dépassée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "message": "Limite de débit dépassée",
                    "type": "rate_limit_error",
                    "fallback_suggestion": "retry after 60 seconds"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 500,
                    "message": "Erreur interne du serveur",
                    "type": "internal_server_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Erreur du service en amont",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 502,
                    "message": "Upstream AI service unavailable",
                    "type": "upstream_error",
                    "fallback_suggestion": "try different model"
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service temporairement indisponible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 503,
                    "message": "Service temporairement indisponible",
                    "type": "service_unavailable_error",
                    "fallback_suggestion": "retry after 30 seconds"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Nom du modèle pour la complétion de chat",
            "enum": [
              "kimi-k2-thinking",
              "kimi-k2-thinking-turbo"
            ],
            "example": "kimi-k2-thinking"
          },
          "messages": {
            "type": "array",
            "description": "Liste des messages pour la conversation, prend en charge le dialogue multi-tours et l'entrée multimodale",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "minItems": 1
          },
          "stream": {
            "type": "boolean",
            "description": "Indique si la réponse doit être en streaming\n\n- `true` : Réponse en streaming, retourne le contenu fragment par fragment en temps réel\n- `false` : Attendre la réponse complète et la retourner en une seule fois",
            "default": false,
            "example": false
          },
          "max_tokens": {
            "type": "integer",
            "description": "Nombre maximum de tokens à générer dans la réponse\n\n**Remarque** :\n- Une valeur trop faible peut entraîner une réponse tronquée\n- Si le nombre maximum de tokens est atteint, finish_reason sera \"length\", sinon \"stop\"",
            "minimum": 1,
            "example": 2000
          },
          "temperature": {
            "type": "number",
            "description": "Température d'échantillonnage, contrôle le caractère aléatoire de la sortie\n\n**Remarque** :\n- Valeurs basses (ex. 0.2) : Sortie plus déterministe et ciblée\n- Valeurs élevées (ex. 1.5) : Sortie plus aléatoire et créative\n- **Valeur recommandée pour la série kimi-k2-thinking : 1.0**",
            "minimum": 0,
            "maximum": 2,
            "default": 1.0,
            "example": 1.0
          },
          "top_p": {
            "type": "number",
            "description": "Paramètre d'échantillonnage nucleus\n\n**Remarque** :\n- Contrôle l'échantillonnage à partir des tokens avec une probabilité cumulative\n- Par exemple, 0.9 signifie un échantillonnage parmi les tokens ayant les 90 % de probabilité cumulative les plus élevés\n- Par défaut : 1.0 (considère tous les tokens)\n\n**Suggestion** : Ne pas ajuster simultanément temperature et top_p",
            "minimum": 0,
            "maximum": 1,
            "default": 1.0,
            "example": 0.9
          },
          "top_k": {
            "type": "integer",
            "description": "Paramètre d'échantillonnage Top-K\n\n**Remarque** :\n- Par exemple, 10 limite l'échantillonnage aux 10 tokens ayant la probabilité la plus élevée\n- Des valeurs plus petites rendent la sortie plus ciblée\n- Par défaut : sans limite",
            "minimum": 1,
            "example": 40
          },
          "n": {
            "type": "integer",
            "description": "Nombre de complétions à générer pour chaque message d'entrée\n\n**Remarque** :\n- Par défaut : 1, maximum : 5\n- Lorsque la température est très proche de 0, un seul résultat peut être retourné",
            "minimum": 1,
            "maximum": 5,
            "default": 1,
            "example": 1
          },
          "presence_penalty": {
            "type": "number",
            "description": "Pénalité de présence, nombre entre -2.0 et 2.0\n\n**Remarque** :\n- Les valeurs positives pénalisent les nouveaux tokens en fonction de leur apparition dans le texte, augmentant la probabilité d'aborder de nouveaux sujets",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0,
            "example": 0
          },
          "frequency_penalty": {
            "type": "number",
            "description": "Pénalité de fréquence, nombre entre -2.0 et 2.0\n\n**Remarque** :\n- Les valeurs positives pénalisent les nouveaux tokens en fonction de leur fréquence dans le texte, réduisant la probabilité de répéter les mêmes phrases mot pour mot",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0,
            "example": 0
          },
          "response_format": {
            "type": "object",
            "description": "Paramètres du format de réponse\n\n**Remarque** :\n- Définir sur {\"type\": \"json_object\"} pour activer le mode JSON, garantissant que le modèle génère du JSON valide\n- Lors de l'utilisation de response_format avec {\"type\": \"json_object\"}, guidez explicitement le modèle pour produire un format JSON dans votre prompt\n- Par défaut : {\"type\": \"text\"}\n- **Avertissement** : Ne pas mélanger le partial mode avec response_format=json_object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "text",
                  "json_object"
                ],
                "description": "Type de format de réponse",
                "default": "text"
              }
            }
          },
          "stop": {
            "oneOf": [
              {
                "type": "string",
                "description": "Mot d'arrêt unique"
              },
              {
                "type": "array",
                "description": "Liste de mots d'arrêt, maximum 5",
                "items": {
                  "type": "string"
                },
                "maxItems": 5
              }
            ],
            "description": "Séquences d'arrêt, la génération s'arrête lorsque ces séquences sont détectées\n\n**Remarque** :\n- Les séquences d'arrêt elles-mêmes ne seront pas incluses dans la sortie\n- Maximum 5 chaînes, chacune ne dépassant pas 32 octets"
          },
          "tools": {
            "type": "array",
            "description": "Liste d'outils pour Tool Use ou Function Calling\n\n**Remarque** :\n- Chaque outil doit inclure un type\n- La structure de la fonction doit inclure name, description et parameters\n- Maximum 128 fonctions dans le tableau tools",
            "items": {
              "$ref": "#/components/schemas/Tool"
            },
            "maxItems": 128
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "Rôle du message\n\n- `user` : Message de l'utilisateur\n- `assistant` : Message de l'assistant IA (pour les conversations multi-tours)\n- `system` : Prompt système (définit le rôle et le comportement de l'IA)",
            "enum": [
              "user",
              "assistant",
              "system"
            ],
            "example": "user"
          },
          "content": {
            "oneOf": [
              {
                "type": "string",
                "description": "Contenu du message en texte brut",
                "example": "Please introduce yourself"
              },
              {
                "type": "array",
                "description": "Contenu du message multimodal, prend en charge l'entrée mixte texte et image",
                "items": {
                  "$ref": "#/components/schemas/ContentPart"
                }
              }
            ],
            "description": "Contenu du message. Prend en charge deux formats :\n\n**1. Chaîne de texte brut** : Peut directement passer une chaîne, ex. `\"content\":\"Veuillez vous présenter\"`\n\n**2. Tableau d'objets** (prend en charge l'entrée multimodale) : Voir la définition ContentPart ci-dessous"
          },
          "name": {
            "type": "string",
            "description": "Nom du message\n\n**Remarque** :\n- Utilisé pour les scénarios de jeu de rôle, le champ name peut être considéré comme faisant partie du préfixe de sortie",
            "example": "Kal'tsit"
          },
          "partial": {
            "type": "boolean",
            "description": "Activer ou non le Partial Mode\n\n**Remarque** :\n- À définir uniquement dans le dernier message avec role=assistant\n- Définir sur true pour activer le partial mode (mode prefill)\n- **Avertissement** : Ne pas mélanger le partial mode avec response_format=json_object",
            "default": false
          }
        }
      },
      "ContentPart": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/TextContent"
          },
          {
            "$ref": "#/components/schemas/ImageContent"
          }
        ]
      },
      "TextContent": {
        "title": "Contenu texte",
        "type": "object",
        "required": [
          "type",
          "text"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text"
            ],
            "description": "Type de contenu"
          },
          "text": {
            "type": "string",
            "description": "Contenu texte",
            "example": "Please describe this image in detail"
          }
        }
      },
      "ImageContent": {
        "title": "Contenu d'image",
        "type": "object",
        "required": [
          "type",
          "image_url"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "image_url"
            ],
            "description": "Type de contenu"
          },
          "image_url": {
            "type": "object",
            "required": [
              "url"
            ],
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "URL de l'image ou encodage Base64\n\n**Format** :\n- Format URL : `https://example.com/image.png`\n- Format Base64 : `data:image/<format>;base64,<Base64 encoding>` (le format doit être en minuscules, ex. png, jpg, jpeg, webp)\n\n**Limites** :\n- Taille maximale de l'image : `10MB`\n- Formats pris en charge : `.jpeg`, `.jpg`, `.png`, `.webp`",
                "example": "data:image/png;base64,iVBORw0KGgo..."
              }
            }
          }
        }
      },
      "Tool": {
        "type": "object",
        "required": [
          "type",
          "function"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "Type d'outil"
          },
          "function": {
            "type": "object",
            "required": [
              "name",
              "description",
              "parameters"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Nom de la fonction\n\n**Remarque** :\n- Doit suivre le modèle regex : ^[a-zA-Z_][a-zA-Z0-9-_]{0,63}$\n- L'utilisation de noms anglais clairs sera mieux acceptée par le modèle",
                "pattern": "^[a-zA-Z_][a-zA-Z0-9-_]{0,63}$",
                "example": "CodeRunner"
              },
              "description": {
                "type": "string",
                "description": "Description de la fonction, explique ce que fait la fonction pour aider le modèle à juger et sélectionner",
                "example": "Exécuteur de code prenant en charge l'exécution de code python et javascript"
              },
              "parameters": {
                "type": "object",
                "description": "Définition des paramètres de la fonction\n\n**Remarque** :\n- La racine des paramètres doit être un objet\n- Le contenu est un sous-ensemble de JSON Schema"
              }
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifiant unique pour la complétion de chat",
            "example": "cmpl-04ea926191a14749b7f2c7a48a68abc6"
          },
          "model": {
            "type": "string",
            "description": "Le modèle utilisé pour la complétion",
            "example": "kimi-k2-thinking"
          },
          "object": {
            "type": "string",
            "enum": [
              "chat.completion"
            ],
            "description": "Type de réponse",
            "example": "chat.completion"
          },
          "created": {
            "type": "integer",
            "description": "Horodatage Unix de la création de la complétion",
            "example": 1698999496
          },
          "choices": {
            "type": "array",
            "description": "Liste des choix de complétion",
            "items": {
              "$ref": "#/components/schemas/Choice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "Choice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "Index de ce choix",
            "example": 0
          },
          "message": {
            "$ref": "#/components/schemas/AssistantMessage"
          },
          "finish_reason": {
            "type": "string",
            "description": "Raison pour laquelle la complétion s'est terminée\n\n- `stop` : Complétion naturelle\n- `length` : Limite maximale de tokens atteinte\n- `content_filter` : Le contenu a été filtré",
            "enum": [
              "stop",
              "length",
              "content_filter"
            ],
            "example": "stop"
          }
        }
      },
      "AssistantMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "Rôle de l'expéditeur du message",
            "enum": [
              "assistant"
            ],
            "example": "assistant"
          },
          "content": {
            "type": "string",
            "description": "Contenu de la réponse de l'IA",
            "example": "Hi there! How can I help you?"
          },
          "reasoning_content": {
            "type": "string",
            "description": "Contenu du processus de raisonnement (uniquement retourné par les modèles de la série kimi-k2-thinking)\n\n**Remarque** :\n- Fonctionnalité signature des modèles de la série Kimi K2 thinking\n- Montre le processus de réflexion et de raisonnement du modèle\n- Aide à comprendre comment le modèle arrive à sa réponse finale",
            "example": "The user just said \"hi\". This is a very simple greeting. I should be friendly, helpful, and professional in my response..."
          }
        }
      },
      "Usage": {
        "type": "object",
        "description": "Statistiques d'utilisation des jetons",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "Nombre de tokens dans l'entrée",
            "example": 8
          },
          "completion_tokens": {
            "type": "integer",
            "description": "Nombre de tokens dans la sortie",
            "example": 292
          },
          "total_tokens": {
            "type": "integer",
            "description": "Nombre total de tokens utilisés",
            "example": 300
          },
          "prompt_tokens_details": {
            "type": "object",
            "description": "Détail de la répartition des tokens d'entrée",
            "properties": {
              "cached_tokens": {
                "type": "integer",
                "description": "Nombre de tokens en cache",
                "example": 8
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "Code d'erreur de statut HTTP"
              },
              "message": {
                "type": "string",
                "description": "Message d'erreur"
              },
              "type": {
                "type": "string",
                "description": "Type d'erreur"
              },
              "param": {
                "type": "string",
                "description": "Nom du paramètre concerné"
              },
              "fallback_suggestion": {
                "type": "string",
                "description": "Suggestion pour gérer l'erreur"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "##Toutes les API nécessitent une authentification Bearer Token##\n\n**Obtenir une clé API :**\n\nVisitez la [Page de gestion des clés API](https://evolink.ai/dashboard/keys) pour obtenir votre clé API\n\n**Ajouter à l'en-tête de requête :**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"
      }
    }
  },
  "tags": [
    {
      "name": "Complétion de chat",
      "description": "Points de terminaison liés à la complétion de chat IA"
    }
  ]
}