{
  "openapi": "3.1.0",
  "info": {
    "title": "API Native Gemini - Référence Complète",
    "description": "Documentation de référence complète pour l'API native Google Gemini, prenant en charge les entrées multimodales incluant texte, images, audio et vidéo",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://direct.evolink.ai",
      "description": "Production (recommandée)"
    },
    {
      "url": "https://api.evolink.ai",
      "description": "URL alternative"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1beta/models/gemini-2.5-flash-lite:generateContent": {
      "post": {
        "summary": "Génération de Contenu Gemini",
        "description": "- Appeler le modèle gemini-2.5-flash-lite au format Google Native API\n- Peut utiliser le mode de traitement synchrone, retourne le contenu de conversation en temps réel\n- **Conversation en texte brut** : Dialogue contextuel à un ou plusieurs tours, voir les exemples simple_text et multi_turn dans les échantillons de code\n- **Entrée multimodale** : Prend en charge l'entrée mixte texte + image/audio/vidéo, voir les exemples audio_analysis, image_understanding et multi_file dans les échantillons de code\n- **Réglage des paramètres** : Contrôler la qualité de génération via generationConfig\n- **Streaming** : Remplacez `generateContent` par `streamGenerateContent` dans l'URL",
        "operationId": "generateContent",
        "tags": [
          "Génération de contenu"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              },
              "examples": {
                "simple_text": {
                  "summary": "Conversation textuelle à tour unique",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Please introduce yourself"
                          }
                        ]
                      }
                    ]
                  }
                },
                "multi_turn": {
                  "summary": "Conversation multi-tours (compréhension du contexte)",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "What is Python?"
                          }
                        ]
                      },
                      {
                        "role": "model",
                        "parts": [
                          {
                            "text": "Python is a high-level programming language..."
                          }
                        ]
                      },
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "What are its advantages?"
                          }
                        ]
                      }
                    ]
                  }
                },
                "audio_analysis": {
                  "summary": "Analyse audio",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Please analyze this song audio and answer: 1. Song source and artist 2. Song mood 3. Complete lyrics output"
                          },
                          {
                            "fileData": {
                              "mimeType": "audio/mp3",
                              "fileUri": "https://example.com/audio.mp3"
                            }
                          }
                        ]
                      }
                    ]
                  }
                },
                "image_understanding": {
                  "summary": "Compréhension d'image",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Please describe the scene and main elements in this image in detail"
                          },
                          {
                            "fileData": {
                              "mimeType": "image/jpeg",
                              "fileUri": "https://example.com/image.jpg"
                            }
                          }
                        ]
                      }
                    ]
                  }
                },
                "multi_file": {
                  "summary": "Entrée multi-fichiers (mixte)",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Compare the relationship between these two images and this audio"
                          },
                          {
                            "fileData": {
                              "mimeType": "image/jpeg",
                              "fileUri": "https://example.com/image1.jpg"
                            }
                          },
                          {
                            "fileData": {
                              "mimeType": "image/png",
                              "fileUri": "https://example.com/image2.png"
                            }
                          },
                          {
                            "fileData": {
                              "mimeType": "audio/mp3",
                              "fileUri": "https://example.com/audio.mp3"
                            }
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contenu généré avec succès\n\n**Description du format de réponse** :\n- Lors de l'utilisation du endpoint `generateContent`, retourne `GenerateContentResponse` (retourne la réponse complète en une fois)\n- Lors de l'utilisation du endpoint `streamGenerateContent`, retourne `StreamGenerateContentResponse` (réponse en streaming, retourne le contenu par morceaux)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GenerateContentResponse"
                    },
                    {
                      "$ref": "#/components/schemas/StreamGenerateContentResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Paramètres de requête invalides",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 400,
                    "message": "Paramètres de requête invalides",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Non autorisé, jeton invalide ou expiré",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "Invalid or expired token",
                    "type": "authentication_error"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Quota insuffisant, recharge requise",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 402,
                    "message": "Quota insuffisant",
                    "type": "insufficient_quota_error",
                    "fallback_suggestion": "https://evolink.ai/dashboard/billing"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Accès refusé",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 403,
                    "message": "Access denied for this model",
                    "type": "permission_error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Ressource introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "message": "Model not found",
                    "type": "not_found_error"
                  }
                }
              }
            }
          },
          "413": {
            "description": "Corps de la requête trop volumineux, fichier trop volumineux",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 413,
                    "message": "Corps de la requête trop volumineux",
                    "type": "request_too_large_error",
                    "fallback_suggestion": "reduce file size"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Limite de débit dépassée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "message": "Limite de débit dépassée",
                    "type": "rate_limit_error",
                    "fallback_suggestion": "retry after 60 seconds"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 500,
                    "message": "Erreur interne du serveur",
                    "type": "internal_server_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Erreur du service en amont",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 502,
                    "message": "Upstream AI service unavailable",
                    "type": "upstream_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service temporairement indisponible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 503,
                    "message": "Service temporairement indisponible",
                    "type": "service_unavailable_error",
                    "fallback_suggestion": "retry after 30 seconds"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GenerateContentRequest": {
        "type": "object",
        "required": [
          "contents"
        ],
        "properties": {
          "contents": {
            "type": "array",
            "description": "List of conversation contents, supports multi-turn dialogue and multimodal input",
            "items": {
              "$ref": "#/components/schemas/Content"
            },
            "minItems": 1
          },
          "generationConfig": {
            "$ref": "#/components/schemas/GenerationConfig",
            "description": "Generation configuration parameters (optional)"
          },
          "systemInstruction": {
            "$ref": "#/components/schemas/Content",
            "description": "System instruction (optional), mainly text content"
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "List of tools the model can call, such as function calling or code execution"
          },
          "toolConfig": {
            "type": "object",
            "description": "Tool calling configuration (optional)"
          },
          "safetySettings": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Safety settings list (optional)"
          },
          "cachedContent": {
            "type": "string",
            "description": "Cached content name, in the form cachedContents/{cachedContent}"
          }
        }
      },
      "Content": {
        "type": "object",
        "required": [
          "role",
          "parts"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "Rôle du contenu\n\n- `user` : Entrée utilisateur\n- `model` : Réponse du modèle IA (pour conversation multi-tours)",
            "enum": [
              "user",
              "model"
            ],
            "example": "user"
          },
          "parts": {
            "type": "array",
            "description": "Content parts list, supports text, file data, inline data, function calls, function responses, and code execution results",
            "items": {
              "$ref": "#/components/schemas/Part"
            },
            "minItems": 1
          }
        }
      },
      "Part": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/TextPart"
          },
          {
            "$ref": "#/components/schemas/FilePart"
          },
          {
            "$ref": "#/components/schemas/InlineDataPart"
          },
          {
            "$ref": "#/components/schemas/FunctionCallPart"
          },
          {
            "$ref": "#/components/schemas/FunctionResponsePart"
          },
          {
            "$ref": "#/components/schemas/ExecutableCodePart"
          },
          {
            "$ref": "#/components/schemas/CodeExecutionResultPart"
          }
        ],
        "description": "Content part union type. The thoughtSignature returned by thinking models must be echoed back in the next turn."
      },
      "TextPart": {
        "title": "Entrée texte",
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "Contenu texte",
            "example": "Hello! I'm pleased to introduce myself.\n\nI'm a large language model, trained and developed by Google..."
          },
          "thought": {
            "type": "boolean",
            "description": "Whether this is thought content"
          },
          "thoughtSignature": {
            "type": "string",
            "description": "Thought signature, must be echoed back in the next turn",
            "example": "<Signature_A>"
          }
        }
      },
      "FilePart": {
        "title": "Entrée multimodale",
        "type": "object",
        "required": [
          "fileData"
        ],
        "properties": {
          "fileData": {
            "type": "object",
            "required": [
              "mimeType",
              "fileUri"
            ],
            "properties": {
              "mimeType": {
                "type": "string",
                "description": "Type MIME du fichier\n\n**Types pris en charge** :\n\n**Image** :\n- `image/jpeg`, `image/png`\n- Taille maximale par image : 10 MB\n\n**Audio** :\n- `audio/mp3`\n- Taille maximale par fichier : 10 MB\n- Durée recommandée : pas plus de 10 minutes\n\n**Vidéo** :\n- `video/mp4`\n- Taille maximale par fichier : 50 MB\n- Durée recommandée : pas plus de 180 secondes\n\n**Document** :\n- `application/pdf`\n- Taille maximale par fichier : 20 MB",
                "example": "audio/mp3"
              },
              "fileUri": {
                "type": "string",
                "format": "uri",
                "description": "Adresse URI du fichier\n\n**Exigences** :\n- Doit être une URL accessible publiquement\n- L'URL doit se terminer par une extension de fichier (par ex., .mp3, .jpg) et doit correspondre au paramètre mimeType",
                "example": "https://example.com/audio.mp3"
              }
            }
          }
        }
      },
      "GenerationConfig": {
        "type": "object",
        "description": "Generation configuration parameters",
        "properties": {
          "temperature": {
            "type": "number",
            "description": "Température d'échantillonnage, contrôle le caractère aléatoire de la sortie\n\n**Description** :\n- Valeurs basses (ex. 0.2) : Sortie plus déterministe et ciblée\n- Valeurs élevées (ex. 1.5) : Sortie plus aléatoire et créative",
            "minimum": 0,
            "maximum": 2,
            "example": 0.7
          },
          "maxOutputTokens": {
            "type": "integer",
            "description": "Nombre maximum de tokens pour la réponse générée\n\n**Description :**\n- Une valeur trop petite peut entraîner une troncature de la réponse",
            "minimum": 1,
            "example": 2000
          },
          "topP": {
            "type": "number",
            "description": "Paramètre de Nucleus Sampling\n\n**Description :**\n- Contrôle l'échantillonnage à partir de tokens avec probabilité cumulative\n- Par exemple, 0.9 signifie sélectionner parmi les tokens avec probabilité cumulative jusqu'à 90%\n- Par défaut : 1.0 (considère tous les tokens)\n\n**Recommandation** : Ne pas ajuster temperature et topP simultanément",
            "minimum": 0,
            "maximum": 1,
            "example": 0.9
          },
          "topK": {
            "type": "integer",
            "description": "Paramètre d'échantillonnage Top-K\n\n**Description** :\n- Par exemple, 10 signifie limiter l'échantillonnage pour ne considérer que les 10 jetons les plus probables\n- Des valeurs plus petites rendent la sortie plus ciblée\n- Par défaut : aucune limite",
            "minimum": 1,
            "example": 40
          },
          "candidateCount": {
            "type": "integer",
            "minimum": 1,
            "description": "Number of candidates to return",
            "example": 1
          },
          "responseMimeType": {
            "type": "string",
            "description": "MIME type of generated candidate content, for example text/plain or application/json",
            "example": "application/json"
          },
          "responseSchema": {
            "type": "object",
            "description": "Output schema definition for generated content (JSON mode / structured output)"
          },
          "responseJsonSchema": {
            "type": "object",
            "description": "JSON Schema for generated content (useful for more complex structured output)"
          },
          "thinkingConfig": {
            "type": "object",
            "description": "Thinking configuration (for models that support thinking)"
          }
        }
      },
      "GenerateContentResponse": {
        "title": "Réponse synchrone",
        "type": "object",
        "properties": {
          "candidates": {
            "type": "array",
            "description": "List of candidate responses",
            "items": {
              "$ref": "#/components/schemas/Candidate"
            }
          },
          "promptFeedback": {
            "$ref": "#/components/schemas/PromptFeedback"
          },
          "usageMetadata": {
            "$ref": "#/components/schemas/UsageMetadata"
          },
          "modelVersion": {
            "type": "string",
            "description": "Model version",
            "example": "gemini-3.1-pro-preview"
          },
          "responseId": {
            "type": "string",
            "description": "Response ID",
            "example": "l-LoaPu0BPmo1dkP6ZPHiQc"
          }
        }
      },
      "Candidate": {
        "type": "object",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/ContentResponse"
          },
          "finishReason": {
            "type": "string",
            "description": "Finish reason",
            "enum": [
              "FINISH_REASON_UNSPECIFIED",
              "STOP",
              "MAX_TOKENS",
              "SAFETY",
              "RECITATION",
              "LANGUAGE",
              "OTHER",
              "BLOCKLIST",
              "PROHIBITED_CONTENT",
              "SPII",
              "MALFORMED_FUNCTION_CALL",
              "IMAGE_SAFETY",
              "IMAGE_PROHIBITED_CONTENT",
              "IMAGE_OTHER",
              "NO_IMAGE",
              "IMAGE_RECITATION",
              "UNEXPECTED_TOOL_CALL",
              "TOO_MANY_TOOL_CALLS",
              "MISSING_THOUGHT_SIGNATURE"
            ],
            "example": "STOP"
          },
          "index": {
            "type": "integer",
            "description": "Index du candidat",
            "example": 0
          },
          "safetyRatings": {
            "type": "array",
            "nullable": true,
            "description": "Évaluations de sécurité",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ContentResponse": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "Rôle de réponse",
            "enum": [
              "model"
            ],
            "example": "model"
          },
          "parts": {
            "type": "array",
            "description": "Response content parts, supports text, inline data, function calls, function responses, and code execution results",
            "items": {
              "$ref": "#/components/schemas/Part"
            }
          }
        }
      },
      "PromptFeedback": {
        "type": "object",
        "properties": {
          "safetyRatings": {
            "type": "array",
            "nullable": true,
            "description": "Évaluations de sécurité de l'invite",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "UsageMetadata": {
        "type": "object",
        "description": "Statistiques d'utilisation",
        "properties": {
          "promptTokenCount": {
            "type": "integer",
            "description": "Nombre de tokens dans le contenu d'entrée",
            "example": 4
          },
          "candidatesTokenCount": {
            "type": "integer",
            "description": "Nombre de tokens dans le contenu de sortie",
            "example": 611
          },
          "totalTokenCount": {
            "type": "integer",
            "description": "Nombre total de jetons",
            "example": 2422
          },
          "thoughtsTokenCount": {
            "type": "integer",
            "description": "Nombre de tokens de raisonnement",
            "example": 1807
          },
          "promptTokensDetails": {
            "type": "array",
            "description": "Informations détaillées sur les jetons d'entrée (par modalité)",
            "items": {
              "$ref": "#/components/schemas/TokenDetail"
            }
          },
          "cachedContentTokenCount": {
            "type": "integer",
            "description": "Number of cached content tokens",
            "example": 0
          }
        }
      },
      "TokenDetail": {
        "type": "object",
        "description": "Détails des jetons (statistiques par modalité)",
        "properties": {
          "modality": {
            "type": "string",
            "description": "Content modality type",
            "enum": [
              "MODALITY_UNSPECIFIED",
              "TEXT",
              "IMAGE",
              "AUDIO",
              "VIDEO",
              "DOCUMENT"
            ],
            "example": "TEXT"
          },
          "tokenCount": {
            "type": "integer",
            "description": "Nombre de tokens pour cette modalité",
            "example": 4
          }
        }
      },
      "StreamCandidate": {
        "type": "object",
        "description": "Stream response candidate (more simplified than regular response)",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/ContentResponse"
          },
          "finishReason": {
            "type": "string",
            "description": "Finish reason (only included in last chunk)",
            "enum": [
              "FINISH_REASON_UNSPECIFIED",
              "STOP",
              "MAX_TOKENS",
              "SAFETY",
              "RECITATION",
              "LANGUAGE",
              "OTHER",
              "BLOCKLIST",
              "PROHIBITED_CONTENT",
              "SPII",
              "MALFORMED_FUNCTION_CALL",
              "IMAGE_SAFETY",
              "IMAGE_PROHIBITED_CONTENT",
              "IMAGE_OTHER",
              "NO_IMAGE",
              "IMAGE_RECITATION",
              "UNEXPECTED_TOOL_CALL",
              "TOO_MANY_TOOL_CALLS",
              "MISSING_THOUGHT_SIGNATURE"
            ],
            "example": "STOP"
          }
        }
      },
      "StreamGenerateContentResponse": {
        "title": "Réponse en flux",
        "type": "object",
        "description": "Fragment de réponse en flux\n\n**Fragment intermédiaire** :\n```json\n{\n  \"candidates\": [\n    {\n      \"content\": {\n        \"role\": \"model\",\n        \"parts\": [{ \"text\": \"Partial text...\" }]\n      }\n    }\n  ],\n  \"usageMetadata\": {\n    \"trafficType\": \"ON_DEMAND\"\n  },\n  \"modelVersion\": \"gemini-2.5-flash-lite\",\n  \"createTime\": \"2025-10-10T10:40:23.072315Z\",\n  \"responseId\": \"xxx\"\n}\n```\n\n**Dernier fragment** :\n```json\n{\n  \"candidates\": [\n    {\n      \"content\": {\n        \"role\": \"model\",\n        \"parts\": [{ \"text\": \"Final text fragment\" }]\n      },\n      \"finishReason\": \"STOP\"\n    }\n  ],\n  \"usageMetadata\": {\n    \"promptTokenCount\": 4,\n    \"candidatesTokenCount\": 522,\n    \"totalTokenCount\": 2191,\n    \"trafficType\": \"ON_DEMAND\"\n  },\n  \"modelVersion\": \"gemini-2.5-flash-lite\",\n  \"createTime\": \"2025-10-10T10:40:23.072315Z\",\n  \"responseId\": \"xxx\"\n}\n```",
        "properties": {
          "candidates": {
            "type": "array",
            "description": "Liste des réponses candidates (le mode streaming n'inclut pas index et safetyRatings)",
            "items": {
              "$ref": "#/components/schemas/StreamCandidate"
            }
          },
          "usageMetadata": {
            "type": "object",
            "description": "Statistiques d'utilisation (les fragments intermédiaires n'ont que trafficType, le dernier fragment contient les statistiques complètes)",
            "properties": {
              "promptTokenCount": {
                "type": "integer",
                "description": "Nombre de tokens dans le contenu d'entrée (dernier fragment uniquement)",
                "example": 4
              },
              "candidatesTokenCount": {
                "type": "integer",
                "description": "Nombre de tokens dans le contenu de sortie (dernier fragment uniquement)",
                "example": 522
              },
              "totalTokenCount": {
                "type": "integer",
                "description": "Nombre total de jetons (dernier bloc uniquement)",
                "example": 2191
              },
              "trafficType": {
                "type": "string",
                "description": "Type de trafic",
                "example": "ON_DEMAND"
              },
              "cachedContentTokenCount": {
                "type": "integer",
                "description": "Number of cached content tokens (last chunk only)",
                "example": 0
              }
            }
          },
          "modelVersion": {
            "type": "string",
            "description": "Version du modèle",
            "example": "gemini-2.5-flash-lite"
          },
          "createTime": {
            "type": "string",
            "format": "date-time",
            "description": "Heure de création",
            "example": "2025-10-10T10:40:23.072315Z"
          },
          "responseId": {
            "type": "string",
            "description": "ID de réponse",
            "example": "l-LoaPu0BPmo1dkP6ZPHiQc"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "Code d'erreur de statut HTTP"
              },
              "message": {
                "type": "string",
                "description": "Description de l'erreur"
              },
              "type": {
                "type": "string",
                "description": "Type d'erreur"
              },
              "fallback_suggestion": {
                "type": "string",
                "description": "Suggestion lorsqu'une erreur se produit"
              }
            }
          }
        }
      },
      "BlobData": {
        "type": "object",
        "properties": {
          "mimeType": {
            "type": "string",
            "description": "IANA MIME type",
            "example": "image/png"
          },
          "data": {
            "type": "string",
            "format": "byte",
            "description": "Base64-encoded raw media data"
          }
        },
        "required": [
          "mimeType",
          "data"
        ]
      },
      "InlineDataPart": {
        "title": "Inline Data",
        "type": "object",
        "required": [
          "inlineData"
        ],
        "properties": {
          "inlineData": {
            "$ref": "#/components/schemas/BlobData"
          },
          "thought": {
            "type": "boolean",
            "description": "Whether this is thought content"
          },
          "thoughtSignature": {
            "type": "string",
            "description": "Thought signature, must be echoed back in the next turn",
            "example": "<Signature_A>"
          }
        }
      },
      "FunctionCall": {
        "type": "object",
        "required": [
          "name",
          "args"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Function name",
            "example": "get_weather"
          },
          "args": {
            "type": "object",
            "description": "Function arguments"
          }
        }
      },
      "FunctionCallPart": {
        "title": "Function Call",
        "type": "object",
        "required": [
          "functionCall"
        ],
        "properties": {
          "functionCall": {
            "$ref": "#/components/schemas/FunctionCall"
          },
          "thought": {
            "type": "boolean",
            "description": "Whether this is thought content"
          },
          "thoughtSignature": {
            "type": "string",
            "description": "Thought signature, must be echoed back in the next turn",
            "example": "<Signature_A>"
          }
        }
      },
      "FunctionResponseMediaPart": {
        "type": "object",
        "required": [
          "inlineData"
        ],
        "properties": {
          "inlineData": {
            "$ref": "#/components/schemas/BlobData"
          }
        }
      },
      "FunctionResponse": {
        "type": "object",
        "required": [
          "name",
          "response"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Function name",
            "example": "get_weather"
          },
          "parts": {
            "type": "array",
            "description": "Optional multimodal response parts",
            "items": {
              "$ref": "#/components/schemas/FunctionResponseMediaPart"
            }
          },
          "response": {
            "type": "object",
            "description": "Function response payload"
          }
        }
      },
      "FunctionResponsePart": {
        "title": "Function Response",
        "type": "object",
        "required": [
          "functionResponse"
        ],
        "properties": {
          "functionResponse": {
            "$ref": "#/components/schemas/FunctionResponse"
          }
        }
      },
      "ExecutableCode": {
        "type": "object",
        "required": [
          "language",
          "code"
        ],
        "properties": {
          "language": {
            "type": "string",
            "description": "Code language",
            "example": "python"
          },
          "code": {
            "type": "string",
            "description": "Generated code"
          }
        }
      },
      "ExecutableCodePart": {
        "title": "Generated Code",
        "type": "object",
        "required": [
          "executableCode"
        ],
        "properties": {
          "executableCode": {
            "$ref": "#/components/schemas/ExecutableCode"
          }
        }
      },
      "CodeExecutionResult": {
        "type": "object",
        "required": [
          "outcome"
        ],
        "properties": {
          "outcome": {
            "type": "string",
            "description": "Code execution result",
            "enum": [
              "OUTCOME_UNSPECIFIED",
              "OUTCOME_OK",
              "OUTCOME_FAILED",
              "OUTCOME_DEADLINE_EXCEEDED"
            ],
            "example": "OUTCOME_OK"
          },
          "output": {
            "type": "string",
            "description": "Standard output, error output, or other description"
          }
        }
      },
      "CodeExecutionResultPart": {
        "title": "Code Execution Result",
        "type": "object",
        "required": [
          "codeExecutionResult"
        ],
        "properties": {
          "codeExecutionResult": {
            "$ref": "#/components/schemas/CodeExecutionResult"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "##Toutes les API nécessitent une authentification Bearer Token##\n\n**Obtenir une clé API :**\n\nVisitez la [Page de gestion des clés API](https://evolink.ai/dashboard/keys) pour obtenir votre clé API\n\n**Ajouter à l'en-tête de requête :**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"
      }
    }
  },
  "tags": [
    {
      "name": "Génération de contenu",
      "description": "APIs liées à la génération de contenu Gemini AI"
    }
  ]
}
