{
  "openapi": "3.1.0",
  "info": {
    "title": "MiniMax-M2.5 Vollständige API-Referenz",
    "description": "Vollständige API-Referenz für die MiniMax-M2.5 Chat-Schnittstelle",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.evolink.ai",
      "description": "Produktionsumgebung"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "MiniMax-M2.5 Chat-Schnittstelle",
        "description": "- Verwenden Sie das OpenAI SDK-Format, um das MiniMax-M2.5 Modell aufzurufen\n- Synchroner Verarbeitungsmodus, Echtzeit-Antwort\n- **Textkonversation**: Einzel- oder Mehrrundenkontext-Dialog\n- **System-Prompts**: KI-Rolle und -Verhalten anpassen",
        "operationId": "createChatCompletion",
        "tags": [
          "Chat-Vervollständigung"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "simple_text": {
                  "summary": "Einzelrunden-Textkonversation",
                  "value": {
                    "model": "MiniMax-M2.5",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Bitte stellen Sie sich vor"
                      }
                    ]
                  }
                },
                "multi_turn": {
                  "summary": "Mehrrunden-Konversation (Kontextverständnis)",
                  "value": {
                    "model": "MiniMax-M2.5",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Was ist Python?"
                      },
                      {
                        "role": "assistant",
                        "content": "Python ist eine höhere Programmiersprache..."
                      },
                      {
                        "role": "user",
                        "content": "Was sind seine Vorteile?"
                      }
                    ]
                  }
                },
                "system_prompt": {
                  "summary": "System-Prompt verwenden",
                  "value": {
                    "model": "MiniMax-M2.5",
                    "messages": [
                      {
                        "role": "system",
                        "content": "Sie sind ein professioneller Python-Programmierassistent, beantworten Sie Fragen prägnant."
                      },
                      {
                        "role": "user",
                        "content": "Wie liest man eine Datei?"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat-Vervollständigung erfolgreich",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Ungültige Anfrageparameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 400,
                    "message": "Invalid request parameters",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Nicht authentifiziert, ungültiges oder abgelaufenes Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "Invalid or expired token",
                    "type": "authentication_error"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Unzureichendes Guthaben, Aufladung erforderlich",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 402,
                    "message": "Insufficient quota",
                    "type": "insufficient_quota_error",
                    "fallback_suggestion": "https://evolink.ai/dashboard/billing"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Zugriff verweigert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 403,
                    "message": "Access denied for this model",
                    "type": "permission_error",
                    "param": "model"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Ressource nicht gefunden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "message": "Specified model not found",
                    "type": "not_found_error",
                    "param": "model",
                    "fallback_suggestion": "MiniMax-M2.5"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Anfragelimit überschritten",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "message": "Rate limit exceeded",
                    "type": "rate_limit_error",
                    "fallback_suggestion": "retry after 60 seconds"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Interner Serverfehler",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 500,
                    "message": "Internal server error",
                    "type": "internal_server_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Upstream-Dienstfehler",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 502,
                    "message": "Upstream AI service unavailable",
                    "type": "upstream_error",
                    "fallback_suggestion": "try different model"
                  }
                }
              }
            }
          },
          "503": {
            "description": "Dienst vorübergehend nicht verfügbar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 503,
                    "message": "Service temporarily unavailable",
                    "type": "service_unavailable_error",
                    "fallback_suggestion": "retry after 30 seconds"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Name des Chat-Modells",
            "enum": [
              "MiniMax-M2.5"
            ],
            "example": "MiniMax-M2.5"
          },
          "messages": {
            "type": "array",
            "description": "Liste der Konversationsnachrichten, unterstützt Mehrrunden-Dialog",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "minItems": 1
          },
          "max_tokens": {
            "type": "integer",
            "description": "Maximale Anzahl an Tokens für generierten Inhalt, Obergrenze ist 2048\n\n**Hinweis**:\n- Inhalt, der das Limit überschreitet, wird abgeschnitten\n- Wenn die Generierung aufgrund von `length` unterbrochen wird, versuchen Sie diesen Wert zu erhöhen",
            "minimum": 1,
            "maximum": 2048,
            "example": 2048
          },
          "stream": {
            "type": "boolean",
            "description": "Ob die Antwort im Streaming-Modus zurückgegeben werden soll\n\n- `true`: Stream-Antwort, Inhalt wird in Echtzeit-Blöcken zurückgegeben\n- `false`: Warten auf vollständige Antwort vor der Rückgabe",
            "example": false
          },
          "temperature": {
            "type": "number",
            "description": "Sampling-Temperatur, steuert die Zufälligkeit der Ausgabe\n\n**Hinweis**:\n- Niedrigere Werte (z.B. 0.1): Bestimmtere, fokussiertere Ausgabe\n- Höhere Werte (z.B. 0.9): Zufälligere, kreativere Ausgabe\n- Wertebereich: (0, 1], ohne 0",
            "exclusiveMinimum": 0,
            "maximum": 1,
            "example": 0.7
          },
          "top_p": {
            "type": "number",
            "description": "Nucleus Sampling-Parameter\n\n**Hinweis**:\n- Steuert die Abtastung aus Tokens mit kumulativer Wahrscheinlichkeit\n- z.B. 0.9 bedeutet Auswahl aus Tokens, die 90% kumulative Wahrscheinlichkeit erreichen\n- Wertebereich: (0, 1], ohne 0\n\n**Empfehlung**: Passen Sie temperature und top_p nicht gleichzeitig an",
            "exclusiveMinimum": 0,
            "maximum": 1,
            "example": 0.9
          },
          "enable_search": {
            "type": "boolean",
            "description": "Ob die Websuche aktiviert werden soll\n\n- `true`: Websuche aktivieren, das Modell durchsucht bei Bedarf das Internet nach aktuellen Informationen\n- `false`: Websuche deaktivieren",
            "example": true
          },
          "search_options": {
            "type": "object",
            "description": "Websuchoptionen, erfordert `enable_search: true`",
            "properties": {
              "search_strategy": {
                "type": "string",
                "description": "Suchstrategie\n\n- `turbo`: Schnelle Suche, höhere Geschwindigkeit\n- `max`: Tiefensuche, umfassendere Ergebnisse",
                "enum": [
                  "turbo",
                  "max"
                ],
                "example": "max"
              }
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "Nachrichtenrolle\n\n- `user`: Benutzernachricht\n- `assistant`: KI-Assistenten-Nachricht (für Mehrrunden-Dialog)\n- `system`: System-Prompt (KI-Rolle und -Verhalten definieren)",
            "enum": [
              "user",
              "assistant",
              "system"
            ],
            "example": "user"
          },
          "content": {
            "type": "string",
            "description": "Nachrichteninhalt",
            "example": "Bitte stellen Sie sich vor"
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Eindeutiger Bezeichner für die Chat-Vervollständigung",
            "example": "cmpl-04ea926191a14749b7f2c7a48a68abc6"
          },
          "model": {
            "type": "string",
            "description": "Tatsächlich verwendeter Modellname",
            "example": "MiniMax-M2.5"
          },
          "object": {
            "type": "string",
            "enum": [
              "chat.completion"
            ],
            "description": "Antworttyp",
            "example": "chat.completion"
          },
          "created": {
            "type": "integer",
            "description": "Erstellungszeitstempel",
            "example": 1698999496
          },
          "choices": {
            "type": "array",
            "description": "Liste der Chat-Vervollständigungsoptionen",
            "items": {
              "$ref": "#/components/schemas/Choice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "Choice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "Auswahlindex",
            "example": 0
          },
          "message": {
            "$ref": "#/components/schemas/AssistantMessage"
          },
          "finish_reason": {
            "type": "string",
            "description": "Abschlussgrund\n\n- `stop`: Normaler Abschluss\n- `length`: Maximales Token-Limit erreicht\n- `content_filter`: Inhalt gefiltert",
            "enum": [
              "stop",
              "length",
              "content_filter"
            ],
            "example": "stop"
          }
        }
      },
      "AssistantMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "Rolle des Nachrichtensenders",
            "enum": [
              "assistant"
            ],
            "example": "assistant"
          },
          "content": {
            "type": "string",
            "description": "KI-Antwortnachrichteninhalt",
            "example": "Hallo! Wie kann ich Ihnen helfen?"
          }
        }
      },
      "Usage": {
        "type": "object",
        "description": "Token-Nutzungsstatistiken",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "Anzahl der Token in der Eingabe",
            "example": 8
          },
          "completion_tokens": {
            "type": "integer",
            "description": "Anzahl der Token in der Ausgabe",
            "example": 292
          },
          "total_tokens": {
            "type": "integer",
            "description": "Gesamtanzahl der Token",
            "example": 300
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "HTTP-Status-Fehlercode"
              },
              "message": {
                "type": "string",
                "description": "Fehlerbeschreibung"
              },
              "type": {
                "type": "string",
                "description": "Fehlertyp"
              },
              "param": {
                "type": "string",
                "description": "Zugehöriger Parametername"
              },
              "fallback_suggestion": {
                "type": "string",
                "description": "Vorschlag bei Fehler"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "##Alle APIs erfordern Bearer-Token-Authentifizierung##\n\n**API Key erhalten:**\n\nBesuchen Sie die [API Key-Verwaltungsseite](https://evolink.ai/dashboard/keys), um Ihren API Key zu erhalten\n\n**Zum Anfrage-Header hinzufügen:**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"
      }
    }
  },
  "tags": [
    {
      "name": "Chat-Vervollständigung",
      "description": "KI-Chat-Vervollständigung bezogene Endpunkte"
    }
  ]
}
