{
  "openapi": "3.1.0",
  "info": {
    "title": "Kimi-K2 전체 API 레퍼런스",
    "description": "모든 매개변수 및 고급 기능을 포함한 Kimi-K2 채팅 인터페이스의 전체 API 레퍼런스",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.evolink.ai",
      "description": "프로덕션 환경"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "Kimi-K2 채팅 인터페이스",
        "description": "- OpenAI SDK 형식으로 Kimi-K2 모델 호출\n- 동기 처리 모드, 실시간 응답\n- **텍스트 대화**: 단일 또는 다중 턴 컨텍스트 대화, simple_text 및 multi_turn 예제 참조\n- **시스템 프롬프트**: AI 역할 및 동작 사용자 정의, system_prompt 예제 참조\n- **멀티모달 입력**: 텍스트 + 이미지 혼합 입력 지원, vision 예제 참조\n- **도구 호출**: Function Calling 지원, tool_use 예제 참조\n- **Partial Mode**: prefill 모드 지원, partial_mode 예제 참조",
        "operationId": "createChatCompletion",
        "tags": [
          "채팅 완성"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "simple_text": {
                  "summary": "단일 턴 텍스트 대화",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Please introduce yourself"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "multi_turn": {
                  "summary": "다중 턴 대화 (컨텍스트 이해)",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "user",
                        "content": "What is Python?"
                      },
                      {
                        "role": "assistant",
                        "content": "Python is a high-level programming language..."
                      },
                      {
                        "role": "user",
                        "content": "What are its advantages?"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "system_prompt": {
                  "summary": "시스템 프롬프트 사용",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are Kimi, an AI assistant provided by Moonshot AI. You excel at conversations in both Chinese and English. You provide safe, helpful, and accurate answers. You will reject any questions involving terrorism, racial discrimination, or violence."
                      },
                      {
                        "role": "user",
                        "content": "What is 1+1?"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "vision": {
                  "summary": "멀티모달 입력 (텍스트 + 이미지)",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "Please describe the scene and main elements in this image in detail."
                          },
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg=="
                            }
                          }
                        ]
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "tool_use": {
                  "summary": "도구 호출 (Function Calling)",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Write code to determine if 3214567 is a prime number."
                      }
                    ],
                    "tools": [
                      {
                        "type": "function",
                        "function": {
                          "name": "CodeRunner",
                          "description": "python 및 javascript 코드 실행을 지원하는 코드 실행기",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "language": {
                                "type": "string",
                                "enum": [
                                  "python",
                                  "javascript"
                                ]
                              },
                              "code": {
                                "type": "string",
                                "description": "여기에 코드를 작성하세요"
                              }
                            }
                          }
                        }
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "partial_mode": {
                  "summary": "Partial Mode (prefill 모드)",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "system",
                        "content": "Extract name, size, price and colors from the product description and output as a JSON object."
                      },
                      {
                        "role": "user",
                        "content": "The SmartHome Mini is a compact smart home assistant, available in black and silver, priced at $149, with dimensions of 256 x 128 x 128mm."
                      },
                      {
                        "role": "assistant",
                        "content": "{",
                        "partial": true
                      }
                    ],
                    "temperature": 1.0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "채팅 완료 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 매개변수",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 400,
                    "message": "잘못된 요청 매개변수",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증되지 않음, 유효하지 않거나 만료된 토큰",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "Invalid or expired token",
                    "type": "authentication_error"
                  }
                }
              }
            }
          },
          "402": {
            "description": "할당량 부족, 충전 필요",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 402,
                    "message": "할당량 부족",
                    "type": "insufficient_quota_error",
                    "fallback_suggestion": "https://evolink.ai/dashboard/billing"
                  }
                }
              }
            }
          },
          "403": {
            "description": "접근 거부",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 403,
                    "message": "Access denied for this model",
                    "type": "permission_error",
                    "param": "model"
                  }
                }
              }
            }
          },
          "404": {
            "description": "리소스를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "message": "Specified model not found",
                    "type": "not_found_error",
                    "param": "model",
                    "fallback_suggestion": "kimi-k2-thinking"
                  }
                }
              }
            }
          },
          "413": {
            "description": "요청 페이로드가 너무 큽니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 413,
                    "message": "Image file too large",
                    "type": "request_too_large_error",
                    "param": "content",
                    "fallback_suggestion": "compress image to under 10MB"
                  }
                }
              }
            }
          },
          "429": {
            "description": "랜덤 시드, 범위 `[0, 2147483647]`, 동일한 시드 값을 사용하면 생성 결과를 일관되게 유지할 수 있습니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "message": "랜덤 시드, 범위 `[0, 2147483647]`, 동일한 시드 값을 사용하면 생성 결과를 일관되게 유지할 수 있습니다",
                    "type": "rate_limit_error",
                    "fallback_suggestion": "retry after 60 seconds"
                  }
                }
              }
            }
          },
          "500": {
            "description": "내부 서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 500,
                    "message": "내부 서버 오류",
                    "type": "internal_server_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          },
          "502": {
            "description": "업스트림 서비스 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 502,
                    "message": "Upstream AI service unavailable",
                    "type": "upstream_error",
                    "fallback_suggestion": "try different model"
                  }
                }
              }
            }
          },
          "503": {
            "description": "서비스 일시적으로 사용 불가",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 503,
                    "message": "서비스 일시적으로 사용 불가",
                    "type": "service_unavailable_error",
                    "fallback_suggestion": "retry after 30 seconds"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "채팅 완료를 위한 모델 이름",
            "enum": [
              "kimi-k2-thinking",
              "kimi-k2-thinking-turbo"
            ],
            "example": "kimi-k2-thinking"
          },
          "messages": {
            "type": "array",
            "description": "대화를 위한 메시지 목록, 다중 턴 대화 및 멀티모달 입력 지원",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "minItems": 1
          },
          "stream": {
            "type": "boolean",
            "description": "응답을 스트리밍할지 여부\n\n- `true`: 스트림 응답, 실시간으로 청크 단위로 내용 반환\n- `false`: 완전한 응답을 기다린 후 한 번에 반환",
            "default": false,
            "example": false
          },
          "max_tokens": {
            "type": "integer",
            "description": "응답에서 생성할 최대 토큰 수\n\n**참고**:\n- 값이 너무 작으면 응답이 잘릴 수 있습니다\n- 최대 토큰에 도달하면 finish_reason이 \"length\"가 되고, 그렇지 않으면 \"stop\"이 됩니다",
            "minimum": 1,
            "example": 2000
          },
          "temperature": {
            "type": "number",
            "description": "샘플링 온도, 출력의 무작위성을 제어합니다\n\n**참고**:\n- 낮은 값 (예: 0.2): 더 결정적이고 집중된 출력\n- 높은 값 (예: 1.5): 더 무작위적이고 창의적인 출력\n- **kimi-k2-thinking 시리즈 권장 값: 1.0**",
            "minimum": 0,
            "maximum": 2,
            "default": 1.0,
            "example": 1.0
          },
          "top_p": {
            "type": "number",
            "description": "Nucleus 샘플링 매개변수\n\n**참고**:\n- 누적 확률을 기반으로 토큰 샘플링을 제어합니다\n- 예를 들어, 0.9는 상위 90% 누적 확률의 토큰에서 샘플링합니다\n- 기본값: 1.0 (모든 토큰 고려)\n\n**권장사항**: temperature와 top_p를 동시에 조정하지 마세요",
            "minimum": 0,
            "maximum": 1,
            "default": 1.0,
            "example": 0.9
          },
          "top_k": {
            "type": "integer",
            "description": "Top-K 샘플링 매개변수\n\n**참고**:\n- 예를 들어, 10은 확률이 가장 높은 상위 10개 토큰으로 샘플링을 제한합니다\n- 값이 작을수록 출력이 더 집중됩니다\n- 기본값: 제한 없음",
            "minimum": 1,
            "example": 40
          },
          "n": {
            "type": "integer",
            "description": "각 입력 메시지에 대해 생성할 완성 수\n\n**참고**:\n- 기본값: 1, 최대: 5\n- temperature가 0에 매우 가까울 때는 1개의 결과만 반환됩니다",
            "minimum": 1,
            "maximum": 5,
            "default": 1,
            "example": 1
          },
          "presence_penalty": {
            "type": "number",
            "description": "존재 페널티, -2.0에서 2.0 사이의 숫자\n\n**참고**:\n- 양수 값은 텍스트에 나타나는지 여부에 따라 새 토큰에 페널티를 부여하여 새로운 주제를 논의할 가능성을 높입니다",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0,
            "example": 0
          },
          "frequency_penalty": {
            "type": "number",
            "description": "빈도 페널티, -2.0에서 2.0 사이의 숫자\n\n**참고**:\n- 양수 값은 텍스트에서의 빈도에 따라 새 토큰에 페널티를 부여하여 동일한 문구를 그대로 반복할 가능성을 줄입니다",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0,
            "example": 0
          },
          "response_format": {
            "type": "object",
            "description": "응답 형식 설정\n\n**참고**:\n- {\"type\": \"json_object\"}로 설정하면 JSON 모드가 활성화되어 모델이 유효한 JSON을 생성합니다\n- {\"type\": \"json_object\"}와 함께 response_format을 사용할 때 프롬프트에서 모델이 JSON 형식으로 출력하도록 명시적으로 안내하세요\n- 기본값: {\"type\": \"text\"}\n- **경고**: partial mode와 response_format=json_object를 혼합하지 마세요",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "text",
                  "json_object"
                ],
                "description": "응답 형식 유형",
                "default": "text"
              }
            }
          },
          "stop": {
            "oneOf": [
              {
                "type": "string",
                "description": "단일 중지 단어"
              },
              {
                "type": "array",
                "description": "중지 단어 목록, 최대 5개",
                "items": {
                  "type": "string"
                },
                "maxItems": 5
              }
            ],
            "description": "중지 시퀀스, 이 시퀀스가 일치하면 생성이 중지됩니다\n\n**참고**:\n- 중지 시퀀스 자체는 출력에 포함되지 않습니다\n- 최대 5개 문자열, 각각 32바이트 이하"
          },
          "tools": {
            "type": "array",
            "description": "Tool Use 또는 Function Calling을 위한 도구 목록\n\n**참고**:\n- 각 도구에는 type이 포함되어야 합니다\n- function 구조에는 name, description, parameters가 포함되어야 합니다\n- tools 배열에 최대 128개의 함수",
            "items": {
              "$ref": "#/components/schemas/Tool"
            },
            "maxItems": 128
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "메시지 역할\n\n- `user`: 사용자 메시지\n- `assistant`: AI 어시스턴트 메시지 (다중 턴 대화용)\n- `system`: 시스템 프롬프트 (AI의 역할 및 동작 정의)",
            "enum": [
              "user",
              "assistant",
              "system"
            ],
            "example": "user"
          },
          "content": {
            "oneOf": [
              {
                "type": "string",
                "description": "일반 텍스트 메시지 내용",
                "example": "Please introduce yourself"
              },
              {
                "type": "array",
                "description": "멀티모달 메시지 내용, 텍스트와 이미지 혼합 입력 지원",
                "items": {
                  "$ref": "#/components/schemas/ContentPart"
                }
              }
            ],
            "description": "메시지 내용. 두 가지 형식을 지원합니다:\n\n**1. 일반 텍스트 문자열**: 문자열을 직접 전달할 수 있습니다. 예: `\"content\":\"자기소개를 해주세요\"`\n\n**2. 객체 배열** (멀티모달 입력 지원): 아래 ContentPart 정의를 참조하세요"
          },
          "name": {
            "type": "string",
            "description": "메시지 이름\n\n**참고**:\n- 역할극 시나리오에 사용되며, name 필드는 출력 접두사의 일부로 볼 수 있습니다",
            "example": "Kal'tsit"
          },
          "partial": {
            "type": "boolean",
            "description": "Partial Mode 활성화 여부\n\n**참고**:\n- role=assistant인 마지막 메시지에서만 설정\n- true로 설정하면 partial mode (prefill 모드)가 활성화됩니다\n- **경고**: partial mode와 response_format=json_object를 혼합하지 마세요",
            "default": false
          }
        }
      },
      "ContentPart": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/TextContent"
          },
          {
            "$ref": "#/components/schemas/ImageContent"
          }
        ]
      },
      "TextContent": {
        "title": "텍스트 내용",
        "type": "object",
        "required": [
          "type",
          "text"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text"
            ],
            "description": "콘텐츠 유형"
          },
          "text": {
            "type": "string",
            "description": "텍스트 내용",
            "example": "Please describe this image in detail"
          }
        }
      },
      "ImageContent": {
        "title": "이미지 콘텐츠",
        "type": "object",
        "required": [
          "type",
          "image_url"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "image_url"
            ],
            "description": "콘텐츠 유형"
          },
          "image_url": {
            "type": "object",
            "required": [
              "url"
            ],
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "이미지 URL 또는 Base64 인코딩\n\n**형식**:\n- URL 형식: `https://example.com/image.png`\n- Base64 형식: `data:image/<format>;base64,<Base64 인코딩>` (format은 소문자여야 합니다. 예: png, jpg, jpeg, webp)\n\n**제한**:\n- 최대 이미지 크기: `10MB`\n- 지원 형식: `.jpeg`, `.jpg`, `.png`, `.webp`",
                "example": "data:image/png;base64,iVBORw0KGgo..."
              }
            }
          }
        }
      },
      "Tool": {
        "type": "object",
        "required": [
          "type",
          "function"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "도구 유형"
          },
          "function": {
            "type": "object",
            "required": [
              "name",
              "description",
              "parameters"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "함수 이름\n\n**참고**:\n- 정규식 패턴을 따라야 합니다: ^[a-zA-Z_][a-zA-Z0-9-_]{0,63}$\n- 명확한 영어 이름을 사용하면 모델이 더 잘 인식합니다",
                "pattern": "^[a-zA-Z_][a-zA-Z0-9-_]{0,63}$",
                "example": "CodeRunner"
              },
              "description": {
                "type": "string",
                "description": "함수 설명, 모델이 판단하고 선택할 수 있도록 함수의 기능을 설명합니다",
                "example": "python 및 javascript 코드 실행을 지원하는 코드 실행기"
              },
              "parameters": {
                "type": "object",
                "description": "함수 매개변수 정의\n\n**참고**:\n- parameters의 루트는 반드시 object여야 합니다\n- 내용은 JSON Schema의 하위 집합입니다"
              }
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "채팅 완성의 고유 식별자",
            "example": "cmpl-04ea926191a14749b7f2c7a48a68abc6"
          },
          "model": {
            "type": "string",
            "description": "완료에 사용된 모델",
            "example": "kimi-k2-thinking"
          },
          "object": {
            "type": "string",
            "enum": [
              "chat.completion"
            ],
            "description": "응답 유형",
            "example": "chat.completion"
          },
          "created": {
            "type": "integer",
            "description": "완료가 생성된 Unix 타임스탬프",
            "example": 1698999496
          },
          "choices": {
            "type": "array",
            "description": "완료 선택 목록",
            "items": {
              "$ref": "#/components/schemas/Choice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "Choice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "이 선택의 인덱스",
            "example": 0
          },
          "message": {
            "$ref": "#/components/schemas/AssistantMessage"
          },
          "finish_reason": {
            "type": "string",
            "description": "완성이 종료된 이유\n\n- `stop`: 자연 완성\n- `length`: 최대 토큰 제한에 도달\n- `content_filter`: 콘텐츠가 필터링됨",
            "enum": [
              "stop",
              "length",
              "content_filter"
            ],
            "example": "stop"
          }
        }
      },
      "AssistantMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "메시지 발신자의 역할",
            "enum": [
              "assistant"
            ],
            "example": "assistant"
          },
          "content": {
            "type": "string",
            "description": "AI의 응답 내용",
            "example": "Hi there! How can I help you?"
          },
          "reasoning_content": {
            "type": "string",
            "description": "추론 과정 내용 (kimi-k2-thinking 시리즈 모델에서만 반환)\n\n**참고**:\n- Kimi K2 thinking 시리즈 모델의 핵심 기능\n- 모델의 사고 및 추론 과정을 보여줍니다\n- 모델이 최종 답변에 도달하는 방법을 이해하는 데 도움이 됩니다",
            "example": "The user just said \"hi\". This is a very simple greeting. I should be friendly, helpful, and professional in my response..."
          }
        }
      },
      "Usage": {
        "type": "object",
        "description": "토큰 사용 통계",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "입력의 토큰 수",
            "example": 8
          },
          "completion_tokens": {
            "type": "integer",
            "description": "출력의 토큰 수",
            "example": 292
          },
          "total_tokens": {
            "type": "integer",
            "description": "사용된 총 토큰 수",
            "example": 300
          },
          "prompt_tokens_details": {
            "type": "object",
            "description": "입력 토큰의 상세 분류",
            "properties": {
              "cached_tokens": {
                "type": "integer",
                "description": "캐시된 토큰 수",
                "example": 8
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "HTTP 상태 오류 코드"
              },
              "message": {
                "type": "string",
                "description": "오류 메시지"
              },
              "type": {
                "type": "string",
                "description": "오류 유형"
              },
              "param": {
                "type": "string",
                "description": "관련 매개변수 이름"
              },
              "fallback_suggestion": {
                "type": "string",
                "description": "오류 처리를 위한 제안"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "##모든 API는 Bearer Token 인증이 필요합니다##\n\n**API Key 받기:**\n\n[API Key 관리 페이지](https://evolink.ai/dashboard/keys)를 방문하여 API Key를 받으세요\n\n**요청 헤더에 추가:**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"
      }
    }
  },
  "tags": [
    {
      "name": "채팅 완성",
      "description": "AI 채팅 완료 관련 엔드포인트"
    }
  ]
}