{
  "openapi": "3.1.0",
  "info": {
    "title": "GPT-5.1 Vollständige API-Referenz",
    "description": "Vollständige API-Referenz für die GPT-5.1 Chat-Schnittstelle, einschließlich aller Parameter und erweiterter Funktionen",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.evolink.ai",
      "description": "Produktionsumgebung"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "GPT-5.1 Chat-Schnittstelle",
        "description": "- Aufruf der GPT-5.1 Modellreihe im OpenAI SDK-Format\n- Synchroner Verarbeitungsmodus, Echtzeit-Antwort\n- **Verfügbare Modelle**: gpt-5.1 (Basis), gpt-5.1-chat (optimiert für Konversation), gpt-5.1-thinking (mit Reasoning-Ausgabe)\n- **Textgespräch**: Einzel- oder Mehrrunden-Kontextdialog\n- **System-Prompts**: KI-Rolle und -Verhalten anpassen\n- **Multimodale Eingabe**: Unterstützt gemischte Text- + Bildeingabe\n- **Tool-Aufrufe**: Unterstützt Function Calling\n- **Reasoning-Ausgabe**: gpt-5.1-thinking gibt das Feld reasoning_content mit dem Denkprozess zurück",
        "operationId": "createChatCompletion",
        "tags": [
          "Chat-Vervollständigung"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "simple_text": {
                  "summary": "Einrundige Textkonversation",
                  "value": {
                    "model": "gpt-5.1",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Please introduce yourself"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "multi_turn": {
                  "summary": "Mehrstufiges Gespräch (Kontextverständnis)",
                  "value": {
                    "model": "gpt-5.1",
                    "messages": [
                      {
                        "role": "user",
                        "content": "What is Python?"
                      },
                      {
                        "role": "assistant",
                        "content": "Python is a high-level programming language..."
                      },
                      {
                        "role": "user",
                        "content": "What are its advantages?"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "system_prompt": {
                  "summary": "Verwendung von System-Prompts",
                  "value": {
                    "model": "gpt-5.1",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a helpful AI assistant. You provide safe, helpful, and accurate answers."
                      },
                      {
                        "role": "user",
                        "content": "What is 1+1?"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "vision": {
                  "summary": "Multimodale Eingabe (Text + Bild)",
                  "value": {
                    "model": "gpt-5.1",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "Please describe the scene and main elements in this image in detail."
                          },
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg=="
                            }
                          }
                        ]
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "tool_use": {
                  "summary": "Tool-Aufrufe (Function Calling)",
                  "value": {
                    "model": "gpt-5.1",
                    "messages": [
                      {
                        "role": "user",
                        "content": "What's the weather like in San Francisco?"
                      }
                    ],
                    "tools": [
                      {
                        "type": "function",
                        "function": {
                          "name": "get_weather",
                          "description": "Das aktuelle Wetter an einem bestimmten Ort abrufen",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "location": {
                                "type": "string",
                                "description": "Stadt und Bundesstaat, z. B. San Francisco, CA"
                              }
                            },
                            "required": [
                              "location"
                            ]
                          }
                        }
                      }
                    ],
                    "temperature": 1.0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat-Vervollständigung erfolgreich",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Ungültige Anfrageparameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 400,
                    "message": "Ungültige Anfrageparameter",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Nicht autorisiert, ungültiges oder abgelaufenes Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "Invalid or expired token",
                    "type": "authentication_error"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Unzureichendes Kontingent, Aufladung erforderlich",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 402,
                    "message": "Unzureichendes Kontingent",
                    "type": "insufficient_quota_error",
                    "fallback_suggestion": "https://evolink.ai/dashboard/billing"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Ratenlimit überschritten",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "message": "Ratenlimit überschritten",
                    "type": "rate_limit_error",
                    "fallback_suggestion": "retry after 60 seconds"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Interner Serverfehler",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 500,
                    "message": "Interner Serverfehler",
                    "type": "internal_server_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Modellname für Chat-Vervollständigung\n\n- **gpt-5.1**: Basismodell für allgemeine Aufgaben\n- **gpt-5.1-chat**: Optimiert für Konversationsaufgaben\n- **gpt-5.1-thinking**: Verfügt über Reasoning-Fähigkeiten mit Denkprozess-Ausgabe (gibt reasoning_content zurück)",
            "enum": [
              "gpt-5.1",
              "gpt-5.1-chat",
              "gpt-5.1-thinking"
            ],
            "example": "gpt-5.1"
          },
          "messages": {
            "type": "array",
            "description": "Liste der Nachrichten für das Gespräch, unterstützt Mehrrunden-Dialog und multimodale Eingabe",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "minItems": 1
          },
          "stream": {
            "type": "boolean",
            "description": "Ob die Antwort gestreamt werden soll\n\n- `true`: Stream-Antwort, gibt Inhalte blockweise in Echtzeit zurück\n- `false`: Auf vollständige Antwort warten und alles auf einmal zurückgeben",
            "default": false,
            "example": false
          },
          "max_tokens": {
            "type": "integer",
            "description": "Maximale Anzahl der zu generierenden Tokens in der Antwort",
            "minimum": 1,
            "example": 2000
          },
          "temperature": {
            "type": "number",
            "description": "Sampling-Temperatur, steuert die Zufälligkeit der Ausgabe\n\n- Niedrigere Werte (z. B. 0,2): Deterministischere und fokussiertere Ausgabe\n- Höhere Werte (z. B. 1,5): Zufälligere und kreativere Ausgabe",
            "minimum": 0,
            "maximum": 2,
            "default": 1.0,
            "example": 1.0
          },
          "top_p": {
            "type": "number",
            "description": "Nucleus-Sampling-Parameter\n\n- Steuert die Auswahl aus Tokens mit kumulativer Wahrscheinlichkeit\n- Beispiel: 0,9 bedeutet Auswahl aus Tokens mit den oberen 90 % kumulativer Wahrscheinlichkeit",
            "minimum": 0,
            "maximum": 1,
            "default": 1.0,
            "example": 0.9
          },
          "frequency_penalty": {
            "type": "number",
            "description": "Häufigkeitsstrafe, Zahl zwischen -2.0 und 2.0\n\n- Positive Werte bestrafen neue Tokens basierend auf ihrer Häufigkeit im Text",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0,
            "example": 0
          },
          "presence_penalty": {
            "type": "number",
            "description": "Präsenzstrafe, Zahl zwischen -2.0 und 2.0\n\n- Positive Werte bestrafen neue Tokens basierend darauf, ob sie im Text vorkommen",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0,
            "example": 0
          },
          "stop": {
            "oneOf": [
              {
                "type": "string",
                "description": "Einzelnes Stoppwort"
              },
              {
                "type": "array",
                "description": "Liste der Stoppwörter, maximal 4",
                "items": {
                  "type": "string"
                },
                "maxItems": 4
              }
            ],
            "description": "Stoppsequenzen, die Generierung stoppt, wenn diese Sequenzen erkannt werden"
          },
          "tools": {
            "type": "array",
            "description": "Liste der Tools für Function Calling",
            "items": {
              "$ref": "#/components/schemas/Tool"
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "Nachrichtenrolle\n\n- `user`: Benutzernachricht\n- `assistant`: KI-Assistenten-Nachricht\n- `system`: System-Prompt",
            "enum": [
              "user",
              "assistant",
              "system"
            ],
            "example": "user"
          },
          "content": {
            "oneOf": [
              {
                "type": "string",
                "description": "Klartext-Nachrichteninhalt",
                "example": "Please introduce yourself"
              },
              {
                "type": "array",
                "description": "Multimodaler Nachrichteninhalt, unterstützt gemischte Text- und Bildeingabe",
                "items": {
                  "$ref": "#/components/schemas/ContentPart"
                }
              }
            ],
            "description": "Nachrichteninhalt"
          }
        }
      },
      "ContentPart": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/TextContent"
          },
          {
            "$ref": "#/components/schemas/ImageContent"
          }
        ]
      },
      "TextContent": {
        "title": "Textinhalt",
        "type": "object",
        "required": [
          "type",
          "text"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text"
            ],
            "description": "Inhaltstyp"
          },
          "text": {
            "type": "string",
            "description": "Textinhalt",
            "example": "Please describe this image in detail"
          }
        }
      },
      "ImageContent": {
        "title": "Bildinhalt",
        "type": "object",
        "required": [
          "type",
          "image_url"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "image_url"
            ],
            "description": "Inhaltstyp"
          },
          "image_url": {
            "type": "object",
            "required": [
              "url"
            ],
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "Bild-URL oder Base64-Kodierung\n\n**Format**:\n- URL-Format: `https://example.com/image.png`\n- Base64-Format: `data:image/<format>;base64,<Base64-Kodierung>`",
                "example": "data:image/png;base64,iVBORw0KGgo..."
              }
            }
          }
        }
      },
      "Tool": {
        "type": "object",
        "required": [
          "type",
          "function"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "Tool-Typ"
          },
          "function": {
            "type": "object",
            "required": [
              "name",
              "description",
              "parameters"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Funktionsname",
                "example": "get_weather"
              },
              "description": {
                "type": "string",
                "description": "Funktionsbeschreibung",
                "example": "Das aktuelle Wetter an einem bestimmten Ort abrufen"
              },
              "parameters": {
                "type": "object",
                "description": "Funktionsparameter-Definition"
              }
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Eindeutiger Bezeichner für die Chat-Vervollständigung",
            "example": "chatcmpl-abc123"
          },
          "model": {
            "type": "string",
            "description": "Das für die Vervollständigung verwendete Modell",
            "example": "gpt-5.1"
          },
          "object": {
            "type": "string",
            "enum": [
              "chat.completion"
            ],
            "description": "Antworttyp",
            "example": "chat.completion"
          },
          "created": {
            "type": "integer",
            "description": "Unix-Zeitstempel der Erstellung der Vervollständigung",
            "example": 1698999496
          },
          "choices": {
            "type": "array",
            "description": "Liste der Vervollständigungsoptionen",
            "items": {
              "$ref": "#/components/schemas/Choice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "Choice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "Index dieser Option",
            "example": 0
          },
          "message": {
            "$ref": "#/components/schemas/AssistantMessage"
          },
          "finish_reason": {
            "type": "string",
            "description": "Grund für den Abschluss der Vervollständigung",
            "enum": [
              "stop",
              "length",
              "tool_calls",
              "content_filter"
            ],
            "example": "stop"
          }
        }
      },
      "AssistantMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "Rolle des Nachrichtenabsenders",
            "enum": [
              "assistant"
            ],
            "example": "assistant"
          },
          "content": {
            "type": "string",
            "description": "Antwortinhalt der KI",
            "example": "Hi there! How can I help you?"
          },
          "reasoning_content": {
            "type": "string",
            "description": "Inhalt des Reasoning-Prozesses (wird nur vom gpt-5.1-thinking Modell zurückgegeben)\n\n**Hinweis**:\n- Zeigt den Denk- und Reasoning-Prozess des Modells\n- Hilft zu verstehen, wie das Modell zu seiner endgültigen Antwort gelangt",
            "example": "Let me think about this step by step..."
          }
        }
      },
      "Usage": {
        "type": "object",
        "description": "Token-Nutzungsstatistiken",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "Anzahl der Tokens in der Eingabe",
            "example": 8
          },
          "completion_tokens": {
            "type": "integer",
            "description": "Anzahl der Tokens in der Ausgabe",
            "example": 292
          },
          "total_tokens": {
            "type": "integer",
            "description": "Gesamtanzahl der verwendeten Tokens",
            "example": 300
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "HTTP-Status-Fehlercode"
              },
              "message": {
                "type": "string",
                "description": "Fehlermeldung"
              },
              "type": {
                "type": "string",
                "description": "Fehlertyp"
              },
              "fallback_suggestion": {
                "type": "string",
                "description": "Vorschlag zur Fehlerbehebung"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Alle APIs erfordern Bearer-Token-Authentifizierung\n\n**API-Schlüssel erhalten:**\n\nBesuchen Sie die [API-Schlüssel-Verwaltungsseite](https://evolink.ai/dashboard/keys), um Ihren API-Schlüssel zu erhalten\n\n**Zum Request-Header hinzufügen:**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"
      }
    }
  },
  "tags": [
    {
      "name": "Chat-Vervollständigung",
      "description": "KI-Chat-Vervollständigung zugehörige Endpunkte"
    }
  ]
}