{
  "openapi": "3.1.0",
  "info": {
    "title": "Gemini Native API - 전체 레퍼런스",
    "description": "Google Gemini Native API의 전체 레퍼런스 문서, 텍스트, 이미지, 오디오 및 비디오를 포함한 멀티모달 입력 지원",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.evolink.ai",
      "description": "프로덕션 환경"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1beta/models/gemini-3-flash-preview:{method}": {
      "post": {
        "summary": "Gemini 콘텐츠 생성",
        "description": "- Google Native API 형식을 사용하여 gemini-3-flash-preview 모델 호출\n- 동기 처리 모드 사용 가능, 대화 내용을 실시간으로 반환\n- **일반 텍스트 대화**: 단일 턴 또는 다중 턴 컨텍스트 대화, 코드 샘플의 simple_text 및 multi_turn 예제 참조\n- **멀티모달 입력**: 텍스트 + 이미지/오디오/비디오 혼합 입력 지원, 코드 샘플의 audio_analysis, image_understanding, multi_file 예제 참조\n- **매개변수 튜닝**: generationConfig를 통해 생성 품질 제어\n- **스트리밍**: method 매개변수를 통해 생성 모드 선택\n- **비동기 처리**: `X-Async-Mode` 요청 헤더를 통해 비동기 모드 활성화, 즉시 작업 ID 반환",
        "operationId": "generateContent",
        "tags": [
          "콘텐츠 생성"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "generateContent",
                "streamGenerateContent"
              ]
            },
            "description": "생성 방식:\n- `generateContent`: 완전한 응답을 한 번에 반환\n- `streamGenerateContent`: 스트리밍 생성, 콘텐츠를 실시간 청크로 반환",
            "example": "generateContent"
          },
          {
            "name": "X-Async-Mode",
            "in": "header",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "비동기 처리 모드를 활성화합니다. true로 설정하면, 요청이 비동기적으로 처리되며 완전한 응답을 기다리지 않고 즉시 작업 ID를 반환합니다.\n\n**참고**:\n- 비동기 모드가 최우선이며, 스트리밍 방식이 설정되어 있어도 작업 ID를 반환합니다\n- 작업 ID를 받은 후, [작업 조회 API](../../../task-management/get-task-detail)를 사용하여 생성 결과를 가져오며, 항상 비스트리밍 형식입니다",
            "example": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              },
              "examples": {
                "simple_text": {
                  "summary": "단일 턴 텍스트 대화",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Please introduce yourself"
                          }
                        ]
                      }
                    ]
                  }
                },
                "multi_turn": {
                  "summary": "다중 턴 대화 (컨텍스트 이해)",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "What is Python?"
                          }
                        ]
                      },
                      {
                        "role": "model",
                        "parts": [
                          {
                            "text": "Python is a high-level programming language..."
                          }
                        ]
                      },
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "What are its advantages?"
                          }
                        ]
                      }
                    ]
                  }
                },
                "audio_analysis": {
                  "summary": "오디오 분석",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Please analyze this song audio and answer: 1. Song source and artist 2. Song mood 3. Complete lyrics output"
                          },
                          {
                            "fileData": {
                              "mimeType": "audio/mp3",
                              "fileUri": "https://example.com/audio.mp3"
                            }
                          }
                        ]
                      }
                    ]
                  }
                },
                "image_understanding": {
                  "summary": "이미지 이해",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Please describe the scene and main elements in this image in detail"
                          },
                          {
                            "fileData": {
                              "mimeType": "image/jpeg",
                              "fileUri": "https://example.com/image.jpg"
                            }
                          }
                        ]
                      }
                    ]
                  }
                },
                "multi_file": {
                  "summary": "다중 파일 입력 (혼합)",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "Compare the relationship between these two images and this audio"
                          },
                          {
                            "fileData": {
                              "mimeType": "image/jpeg",
                              "fileUri": "https://example.com/image1.jpg"
                            }
                          },
                          {
                            "fileData": {
                              "mimeType": "image/png",
                              "fileUri": "https://example.com/image2.png"
                            }
                          },
                          {
                            "fileData": {
                              "mimeType": "audio/mp3",
                              "fileUri": "https://example.com/audio.mp3"
                            }
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "콘텐츠가 성공적으로 생성되었습니다\n\n**응답 형식 설명**:\n- `X-Async-Mode=true`일 때, `AsyncTaskResponse` 반환 (비동기 작업 응답, 즉시 작업 ID 반환)\n- `method=generateContent`이고 비동기 모드가 아닐 때, `GenerateContentResponse` 반환 (완전한 응답을 한 번에 반환)\n- `method=streamGenerateContent`이고 비동기 모드가 아닐 때, `StreamGenerateContentResponse` 반환 (스트리밍 응답, 콘텐츠를 청크 단위로 반환)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GenerateContentResponse"
                    },
                    {
                      "$ref": "#/components/schemas/StreamGenerateContentResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AsyncTaskResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 매개변수",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 400,
                    "message": "잘못된 요청 매개변수",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증되지 않음, 유효하지 않거나 만료된 토큰",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "Invalid or expired token",
                    "type": "authentication_error"
                  }
                }
              }
            }
          },
          "402": {
            "description": "할당량 부족, 충전 필요",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 402,
                    "message": "할당량 부족",
                    "type": "insufficient_quota_error",
                    "fallback_suggestion": "https://evolink.ai/dashboard/billing"
                  }
                }
              }
            }
          },
          "403": {
            "description": "접근 거부",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 403,
                    "message": "Access denied for this model",
                    "type": "permission_error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "리소스를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "message": "Model not found",
                    "type": "not_found_error"
                  }
                }
              }
            }
          },
          "413": {
            "description": "원격 파일 URL\n\n**요구사항:**\n- 공개적으로 접근 가능한 URL이어야 합니다\n- HTTP 및 HTTPS 프로토콜 지원\n- 시스템이 이 URL에서 파일 콘텐츠를 자동으로 다운로드합니다\n- 요청당 최대 `1`개 이미지\n- 현재 `image/jpeg`, `image/png`, `image/gif`, `image/webp` 형식의 파일 업로드만 지원합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 413,
                    "message": "요청 본문이 너무 큼",
                    "type": "request_too_large_error",
                    "fallback_suggestion": "reduce file size"
                  }
                }
              }
            }
          },
          "429": {
            "description": "랜덤 시드, 범위 `[0, 2147483647]`, 동일한 시드 값을 사용하면 생성 결과를 일관되게 유지할 수 있습니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "message": "랜덤 시드, 범위 `[0, 2147483647]`, 동일한 시드 값을 사용하면 생성 결과를 일관되게 유지할 수 있습니다",
                    "type": "rate_limit_error",
                    "fallback_suggestion": "retry after 60 seconds"
                  }
                }
              }
            }
          },
          "500": {
            "description": "내부 서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 500,
                    "message": "내부 서버 오류",
                    "type": "internal_server_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          },
          "502": {
            "description": "업스트림 서비스 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 502,
                    "message": "Upstream AI service unavailable",
                    "type": "upstream_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          },
          "503": {
            "description": "서비스 일시적으로 사용 불가",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 503,
                    "message": "서비스 일시적으로 사용 불가",
                    "type": "service_unavailable_error",
                    "fallback_suggestion": "retry after 30 seconds"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GenerateContentRequest": {
        "type": "object",
        "required": [
          "contents"
        ],
        "properties": {
          "contents": {
            "type": "array",
            "description": "대화 내용 목록, 다중 턴 대화 및 멀티모달 입력 지원",
            "items": {
              "$ref": "#/components/schemas/Content"
            },
            "minItems": 1
          },
          "generationConfig": {
            "$ref": "#/components/schemas/GenerationConfig",
            "description": "생성 설정 파라미터 (선택 사항)"
          }
        }
      },
      "Content": {
        "type": "object",
        "required": [
          "role",
          "parts"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "콘텐츠 역할\n\n- `user`: 사용자 입력\n- `model`: AI 모델의 응답 (다중 턴 대화용)",
            "enum": [
              "user",
              "model"
            ],
            "example": "user"
          },
          "parts": {
            "type": "array",
            "description": "콘텐츠 파트 목록, 텍스트 및 파일 데이터 지원",
            "items": {
              "$ref": "#/components/schemas/Part"
            },
            "minItems": 1
          }
        }
      },
      "Part": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/TextPart"
          },
          {
            "$ref": "#/components/schemas/FilePart"
          }
        ]
      },
      "TextPart": {
        "title": "텍스트 입력",
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "텍스트 내용",
            "example": "Hello! I'm pleased to introduce myself.\n\nI'm a large language model, trained and developed by Google..."
          }
        }
      },
      "FilePart": {
        "title": "멀티모달 입력",
        "type": "object",
        "required": [
          "fileData"
        ],
        "properties": {
          "fileData": {
            "type": "object",
            "required": [
              "mimeType",
              "fileUri"
            ],
            "properties": {
              "mimeType": {
                "type": "string",
                "description": "파일 MIME 유형\n\n**지원 유형**:\n\n**이미지**:\n- `image/jpeg`, `image/png`\n- 이미지당 최대 크기: 10 MB\n\n**오디오**:\n- `audio/mp3`\n- 파일당 최대 크기: 10 MB\n- 권장 길이: 10분 이하\n\n**비디오**:\n- `video/mp4`\n- 파일당 최대 크기: 50 MB\n- 권장 길이: 180초 이하\n\n**문서**:\n- `application/pdf`\n- 파일당 최대 크기: 20 MB",
                "example": "audio/mp3"
              },
              "fileUri": {
                "type": "string",
                "format": "uri",
                "description": "파일 URI 주소\n\n**요구사항**:\n- 공개적으로 접근 가능한 URL이어야 합니다\n- URL은 파일 확장자로 끝나야 하며 (예: .mp3, .jpg) mimeType 파라미터와 일치해야 합니다",
                "example": "https://example.com/audio.mp3"
              }
            }
          }
        }
      },
      "GenerationConfig": {
        "type": "object",
        "description": "생성 설정 파라미터",
        "properties": {
          "temperature": {
            "type": "number",
            "description": "샘플링 온도, 출력의 무작위성을 제어합니다\n\n**설명**:\n- 낮은 값 (예: 0.2): 더 결정적이고 집중된 출력\n- 높은 값 (예: 1.5): 더 무작위적이고 창의적인 출력",
            "minimum": 0,
            "maximum": 2,
            "example": 0.7
          },
          "maxOutputTokens": {
            "type": "integer",
            "description": "생성할 최대 이미지 수, `[1,15]` 사이의 정수 값 지원\n\n**참고:**\n- 여러 이미지를 생성하려면 프롬프트에 \"2개의 다른 이미지 생성\"과 같은 프롬프트를 포함하세요\n\n- 참조 이미지 수 + 최종 생성 이미지 수 ≤ 15개\n\n- 만약: 참조 이미지 수 + 프롬프트에서 요청한 이미지 수 > 15이고, 프롬프트에서 요청한 이미지 수 ≤ 매개변수 n 값이면, 최종 생성 이미지 = 15 - 참조 이미지 수\n- 각 요청은 `n` 값을 기준으로 선불 청구되며, 실제 청구는 생성된 이미지 수를 기준으로 합니다",
            "minimum": 1,
            "example": 2000
          },
          "topP": {
            "type": "number",
            "description": "Nucleus Sampling 매개변수\n\n**설명**:\n- 누적 확률에서 토큰 샘플링을 제어합니다\n- 예를 들어, 0.9는 누적 확률 90%까지의 토큰에서 선택하는 것을 의미합니다\n- 기본값: 1.0 (모든 토큰 고려)\n\n**권장사항**: temperature와 topP를 동시에 조정하지 마세요",
            "minimum": 0,
            "maximum": 1,
            "example": 0.9
          },
          "topK": {
            "type": "integer",
            "description": "Top-K 샘플링 매개변수\n\n**설명**:\n- 예를 들어, 10은 샘플링 시 가장 확률이 높은 상위 10개 토큰만 고려하도록 제한합니다\n- 작은 값일수록 출력이 더 집중됩니다\n- 기본값: 제한 없음",
            "minimum": 1,
            "example": 40
          }
        }
      },
      "GenerateContentResponse": {
        "title": "동기 응답",
        "type": "object",
        "properties": {
          "candidates": {
            "type": "array",
            "description": "마지막 프레임 이미지 URL\n\n**참고:**\n- `image_start` (첫 프레임 이미지 URL)와 `image_end` (마지막 프레임 이미지 URL) 중 하나 이상 필요\n- 마지막 프레임은 첫 프레임이 필요합니다\n- 이미지 요구사항은 `image_start`와 동일합니다",
            "items": {
              "$ref": "#/components/schemas/Candidate"
            }
          },
          "promptFeedback": {
            "$ref": "#/components/schemas/PromptFeedback"
          },
          "usageMetadata": {
            "$ref": "#/components/schemas/UsageMetadata"
          }
        }
      },
      "Candidate": {
        "type": "object",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/ContentResponse"
          },
          "finishReason": {
            "type": "string",
            "description": "종료 이유",
            "enum": [
              "STOP",
              "MAX_TOKENS",
              "SAFETY",
              "RECITATION",
              "OTHER"
            ],
            "example": "STOP"
          },
          "index": {
            "type": "integer",
            "description": "후보 인덱스",
            "example": 0
          },
          "safetyRatings": {
            "type": "array",
            "nullable": true,
            "description": "안전 등급",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ContentResponse": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "응답 역할",
            "enum": [
              "model"
            ],
            "example": "model"
          },
          "parts": {
            "type": "array",
            "description": "응답 콘텐츠 파트",
            "items": {
              "$ref": "#/components/schemas/TextPart"
            }
          }
        }
      },
      "PromptFeedback": {
        "type": "object",
        "properties": {
          "safetyRatings": {
            "type": "array",
            "nullable": true,
            "description": "프롬프트 최적화 기능의 모드를 설정하기 위한 프롬프트 최적화 전략\n\n**옵션:**\n- `standard`: 표준 모드, 더 높은 품질 출력, 더 긴 처리 시간\n- `fast`: 빠른 모드, 더 빠른 생성 속도, 평균 품질",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "UsageMetadata": {
        "type": "object",
        "description": "사용량 통계",
        "properties": {
          "promptTokenCount": {
            "type": "integer",
            "description": "입력 콘텐츠의 토큰 수",
            "example": 4
          },
          "candidatesTokenCount": {
            "type": "integer",
            "description": "출력 콘텐츠의 토큰 수",
            "example": 611
          },
          "totalTokenCount": {
            "type": "integer",
            "description": "총 토큰 수",
            "example": 2422
          },
          "thoughtsTokenCount": {
            "type": "integer",
            "description": "추론 토큰 수",
            "example": 1807
          },
          "promptTokensDetails": {
            "type": "array",
            "description": "상세 입력 토큰 정보 (모달리티별)",
            "items": {
              "$ref": "#/components/schemas/TokenDetail"
            }
          }
        }
      },
      "TokenDetail": {
        "type": "object",
        "description": "토큰 상세 (모달리티별 통계)",
        "properties": {
          "modality": {
            "type": "string",
            "description": "콘텐츠 모달리티 유형",
            "enum": [
              "TEXT",
              "IMAGE",
              "AUDIO",
              "VIDEO"
            ],
            "example": "TEXT"
          },
          "tokenCount": {
            "type": "integer",
            "description": "이 모달리티의 토큰 수",
            "example": 4
          }
        }
      },
      "StreamCandidate": {
        "type": "object",
        "description": "스트림 응답 후보 (일반 응답보다 간소화됨)",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/ContentResponse"
          },
          "finishReason": {
            "type": "string",
            "description": "종료 이유 (마지막 청크에만 포함)",
            "enum": [
              "STOP",
              "MAX_TOKENS",
              "SAFETY",
              "RECITATION",
              "OTHER"
            ],
            "example": "STOP"
          }
        }
      },
      "StreamGenerateContentResponse": {
        "title": "스트림 응답",
        "type": "object",
        "description": "스트림 응답 청크\n\n**중간 청크**:\n```json\n{\n  \"candidates\": [\n    {\n      \"content\": {\n        \"role\": \"model\",\n        \"parts\": [{ \"text\": \"부분 텍스트...\" }]\n      }\n    }\n  ],\n  \"usageMetadata\": {\n    \"trafficType\": \"ON_DEMAND\"\n  },\n  \"modelVersion\": \"gemini-3-flash-preview\",\n  \"createTime\": \"2025-10-10T10:40:23.072315Z\",\n  \"responseId\": \"xxx\"\n}\n```\n\n**마지막 청크**:\n```json\n{\n  \"candidates\": [\n    {\n      \"content\": {\n        \"role\": \"model\",\n        \"parts\": [{ \"text\": \"최종 텍스트 조각\" }]\n      },\n      \"finishReason\": \"STOP\"\n    }\n  ],\n  \"usageMetadata\": {\n    \"promptTokenCount\": 4,\n    \"candidatesTokenCount\": 522,\n    \"totalTokenCount\": 2191,\n    \"trafficType\": \"ON_DEMAND\"\n  },\n  \"modelVersion\": \"gemini-3-flash-preview\",\n  \"createTime\": \"2025-10-10T10:40:23.072315Z\",\n  \"responseId\": \"xxx\"\n}\n```",
        "properties": {
          "candidates": {
            "type": "array",
            "description": "후보 응답 목록 (스트리밍 모드에서는 index 및 safetyRatings 미포함)",
            "items": {
              "$ref": "#/components/schemas/StreamCandidate"
            }
          },
          "usageMetadata": {
            "type": "object",
            "description": "사용량 통계 (중간 청크에는 trafficType만 있으며, 마지막 청크에 전체 통계가 포함됩니다)",
            "properties": {
              "promptTokenCount": {
                "type": "integer",
                "description": "입력 콘텐츠의 토큰 수 (마지막 청크만)",
                "example": 4
              },
              "candidatesTokenCount": {
                "type": "integer",
                "description": "출력 콘텐츠의 토큰 수 (마지막 청크만)",
                "example": 522
              },
              "totalTokenCount": {
                "type": "integer",
                "description": "총 토큰 수 (마지막 청크만)",
                "example": 2191
              },
              "trafficType": {
                "type": "string",
                "description": "트래픽 유형",
                "example": "ON_DEMAND"
              }
            }
          },
          "modelVersion": {
            "type": "string",
            "description": "모델 버전",
            "example": "gemini-3-flash-preview"
          },
          "createTime": {
            "type": "string",
            "format": "date-time",
            "description": "생성 시간",
            "example": "2025-10-10T10:40:23.072315Z"
          },
          "responseId": {
            "type": "string",
            "description": "응답 ID",
            "example": "l-LoaPu0BPmo1dkP6ZPHiQc"
          }
        }
      },
      "AsyncTaskResponse": {
        "title": "비동기 응답",
        "type": "object",
        "description": "비동기 작업 응답, 후속 결과 조회를 위한 작업 ID를 반환합니다",
        "properties": {
          "created": {
            "type": "integer",
            "description": "작업 생성 타임스탬프",
            "example": 1760598465
          },
          "id": {
            "type": "string",
            "description": "작업 ID, 작업 상태 및 결과를 조회하는 데 사용됩니다",
            "example": "task-unified-1760598465-uqccqlpk"
          },
          "model": {
            "type": "string",
            "description": "사용된 모델",
            "example": "gemini-3-flash-preview"
          },
          "object": {
            "type": "string",
            "description": "작업 유형",
            "enum": [
              "text.generation.task"
            ],
            "example": "text.generation.task"
          },
          "progress": {
            "type": "integer",
            "description": "작업 진행률 (0-100)",
            "minimum": 0,
            "maximum": 100,
            "example": 0
          },
          "status": {
            "type": "string",
            "description": "작업 상태",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed"
            ],
            "example": "pending"
          },
          "task_info": {
            "$ref": "#/components/schemas/TaskInfo",
            "description": "작업 상세 정보"
          },
          "type": {
            "type": "string",
            "description": "작업 출력 유형",
            "enum": [
              "text"
            ],
            "example": "text"
          },
          "usage": {
            "$ref": "#/components/schemas/Usage",
            "description": "사용량 및 과금 정보"
          }
        }
      },
      "TaskInfo": {
        "type": "object",
        "description": "작업 상세 정보",
        "properties": {
          "can_cancel": {
            "type": "boolean",
            "description": "작업 취소 가능 여부",
            "example": true
          },
          "estimated_time": {
            "type": "integer",
            "description": "예상 완료 시간 (초)",
            "minimum": 0,
            "example": 180
          }
        }
      },
      "Usage": {
        "type": "object",
        "description": "사용량 및 과금 정보",
        "properties": {
          "billing_rule": {
            "type": "string",
            "description": "과금 규칙",
            "enum": [
              "token_based",
              "per_call",
              "per_token",
              "per_second"
            ],
            "example": "token_based"
          },
          "credits_reserved": {
            "type": "number",
            "description": "예상 크레딧 소비",
            "minimum": 0,
            "example": 8064
          },
          "user_group": {
            "type": "string",
            "description": "사용자 그룹 카테고리",
            "example": "default"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "HTTP 상태 오류 코드"
              },
              "message": {
                "type": "string",
                "description": "오류 설명"
              },
              "type": {
                "type": "string",
                "description": "오류 유형"
              },
              "fallback_suggestion": {
                "type": "string",
                "description": "오류 발생 시 제안"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "##모든 API는 Bearer Token 인증이 필요합니다##\n\n**API Key 받기:**\n\n[API Key 관리 페이지](https://evolink.ai/dashboard/keys)를 방문하여 API Key를 받으세요\n\n**요청 헤더에 추가:**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"
      }
    }
  },
  "tags": [
    {
      "name": "콘텐츠 생성",
      "description": "Gemini AI 콘텐츠 생성 관련 API"
    }
  ]
}