{"openapi":"3.1.0","info":{"title":"Qwen3.5-Plus Responses API Référence Complète","description":"Référence complète des paramètres de la Responses API de Qwen3.5-Plus","license":{"name":"MIT"},"version":"1.0.0"},"servers":[{"url":"https://api.evolink.ai","description":"Production"}],"security":[{"bearerAuth":[]}],"paths":{"/v1/responses":{"post":{"summary":"Qwen3.5-Plus Responses API","description":"- Endpoint compatible OpenAI Responses API\n- Support des outils intégrés (recherche web, extracteur web, interpréteur de code, etc.)\n- Gestion simplifiée du contexte multi-tours via `previous_response_id`\n- Modèles pris en charge : `qwen3.5-plus`, `qwen3.5-plus-2026-02-15`","operationId":"createResponsesQwen35PlusFr","tags":["Génération de Chat"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponsesRequest"},"examples":{"simple":{"summary":"Appel simple","value":{"model":"qwen3.5-plus","input":"Bonjour, veuillez vous présenter"}},"messages_array":{"summary":"Format tableau de messages","value":{"model":"qwen3.5-plus","input":[{"role":"user","content":"Qu'est-ce que Python ?"}]}},"multi_turn":{"summary":"Conversation multi-tours (avec previous_response_id)","value":{"model":"qwen3.5-plus","input":"Quelles sont ses principales caractéristiques ?","previous_response_id":"resp_abc123"}},"web_search":{"summary":"Recherche web intégrée","value":{"model":"qwen3.5-plus","input":"Quelles sont les dernières tendances en technologie IA ?","tools":[{"type":"web_search"}]}},"thinking_mode":{"summary":"Mode de réflexion","value":{"model":"qwen3.5-plus","input":"Trouvez tous les nombres premiers entre 1 et 100","enable_thinking":true}}}}}},"responses":{"200":{"description":"Succès","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponsesResponse"}}}},"400":{"description":"Requête Invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":400,"message":"Invalid request parameters","type":"invalid_request_error"}}}}},"401":{"description":"Non Autorisé","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":401,"message":"Invalid or expired token","type":"authentication_error"}}}}},"402":{"description":"Quota Insuffisant","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":402,"message":"Insufficient quota","type":"insufficient_quota_error","fallback_suggestion":"https://evolink.ai/dashboard/billing"}}}}},"429":{"description":"Limite de Taux Dépassée","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":429,"message":"Rate limit exceeded","type":"rate_limit_error"}}}}},"500":{"description":"Erreur Interne du Serveur","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":500,"message":"Internal server error","type":"internal_server_error"}}}}}}}}},"components":{"schemas":{"ResponsesRequest":{"type":"object","required":["model","input"],"properties":{"model":{"type":"string","description":"Nom du modèle","enum":["qwen3.5-plus","qwen3.5-plus-2026-02-15"],"default":"qwen3.5-plus","example":"qwen3.5-plus"},"input":{"oneOf":[{"type":"string"},{"type":"array","items":{"$ref":"#/components/schemas/ResponsesMessage"}}],"description":"Contenu d’entrée : chaîne ou tableau de messages. En mode tableau de messages, user.content accepte une chaîne simple ou des parties input_text/input_image.","example":"Bonjour, veuillez vous présenter"},"stream":{"type":"boolean","description":"Si activer la sortie streaming ; quand true, les données de réponse sont transmises en temps réel","default":false},"temperature":{"type":"number","description":"Température d'échantillonnage, contrôle la diversité du texte généré. Plage : [0, 2). Recommandé : définir uniquement temperature ou top_p","minimum":0,"maximum":2,"example":0.7},"top_p":{"type":"number","description":"Seuil de probabilité du nucleus sampling (0~1). Recommandé : définir uniquement temperature ou top_p","minimum":0,"maximum":1,"example":0.9},"tools":{"type":"array","description":"Tableau d'outils que le modèle peut appeler lors de la génération de réponses. Supporte les outils intégrés et les outils de fonction personnalisés","items":{"$ref":"#/components/schemas/ResponsesTool"}},"tool_choice":{"oneOf":[{"type":"string","enum":["none","auto","required"]},{"$ref":"#/components/schemas/AllowedToolsChoice"}],"description":"Stratégie de sélection d’outils. Utilisez auto/none/required, ou l’objet allowed_tools pour limiter les appels du modèle à une liste autorisée.","default":"auto"},"enable_thinking":{"type":"boolean","description":"Si activer le mode de réflexion. Pas un paramètre standard OpenAI","default":true},"previous_response_id":{"type":"string","description":"ID unique de la réponse précédente (valide 7 jours). Permet des conversations multi-tours sans construire manuellement l'historique des messages","example":"resp_abc123"}}},"MessageSimple":{"type":"object","required":["role","content"],"properties":{"role":{"type":"string","enum":["user","assistant","system"]},"content":{"type":"string"}}},"ResponsesTool":{"type":"object","required":["type"],"properties":{"type":{"type":"string","enum":["function","web_search","web_extractor","code_interpreter","web_search_image","image_search","file_search","mcp"],"description":"Type d'outil. web_search : recherche web ; web_extractor : extraction de contenu web (doit être utilisé avec web_search) ; code_interpreter : exécution de code ; function : outil de fonction personnalisé"},"name":{"type":"string","description":"Requis quand type est function. Nom de la fonction","example":"get_weather"},"description":{"type":"string","description":"Description de la fonction quand type est function","example":"Obtenir la météo actuelle d'une ville spécifiée"},"parameters":{"type":"object","description":"Définition des paramètres de la fonction quand type est function, au format JSON Schema"},"vector_store_ids":{"type":"array","description":"Optionnel pour file_search : liste des IDs de vector store","items":{"type":"string"}},"server_protocol":{"type":"string","description":"Optionnel pour mcp : protocole du serveur (par exemple, streamable_http)"},"server_label":{"type":"string","description":"Optionnel pour mcp : libellé du serveur"},"server_description":{"type":"string","description":"Optionnel pour mcp : description du serveur"},"server_url":{"type":"string","description":"Optionnel pour mcp : URL du serveur"},"headers":{"type":"object","description":"Optionnel pour mcp : map d’en-têtes de la requête"}}},"ResponsesResponse":{"type":"object","properties":{"id":{"type":"string","description":"Identifiant unique de cette réponse, format UUID, valide 7 jours","example":"resp_abc123"},"model":{"type":"string","description":"Nom du modèle réellement utilisé","example":"qwen3.5-plus"},"status":{"type":"string","enum":["completed","in_progress","failed","cancelled","queued","incomplete"],"description":"Statut de la réponse. completed : terminé ; in_progress : en cours de génération ; failed : échoué ; cancelled : annulé ; queued : en file d'attente ; incomplete : incomplet","example":"completed"},"created_at":{"type":"integer","description":"Timestamp Unix de cette requête (secondes)","example":1760032810},"output":{"type":"array","description":"Tableau d'éléments de sortie dans l'ordre de génération","items":{"$ref":"#/components/schemas/OutputItem"}},"output_text":{"type":"string","description":"Champ pratique retournant directement le contenu textuel du tableau output","example":"Bonjour ! Je suis Qwen3.5-Plus..."},"usage":{"$ref":"#/components/schemas/ResponsesUsage","description":"Statistiques de consommation de tokens de cette requête"}}},"OutputItem":{"type":"object","properties":{"type":{"type":"string","enum":["message","reasoning","function_call","web_search_call","web_extractor_call","code_interpreter_call"],"description":"Type d'élément de sortie. message : réponse textuelle finale ; reasoning : chaîne de pensée ; function_call : appel de fonction ; web_search_call : appel de recherche web ; web_extractor_call : extraction de contenu web ; code_interpreter_call : exécution de l'interpréteur de code","example":"message"},"content":{"type":"array","description":"Tableau de contenu quand type est message","items":{"type":"object","properties":{"type":{"type":"string","enum":["output_text"]},"text":{"type":"string","description":"Contenu textuel généré par le modèle","example":"Bonjour ! Je suis Qwen3.5-Plus..."}}}},"summary":{"type":"array","description":"Résumé de chaîne de pensée quand type est reasoning","items":{"type":"object","properties":{"text":{"type":"string","description":"Texte du résumé de chaîne de pensée"}}}},"name":{"type":"string","description":"Nom de la fonction quand type est function_call"},"arguments":{"type":"string","description":"Arguments d'appel de fonction quand type est function_call, format JSON string"},"call_id":{"type":"string","description":"Identifiant unique de l'appel d'outil"}}},"ResponsesUsage":{"type":"object","properties":{"input_tokens":{"type":"integer","description":"Nombre de tokens d'entrée, incluant le contexte historique et l'entrée actuelle","example":13},"output_tokens":{"type":"integer","description":"Nombre de tokens de sortie, incluant les tokens de chaîne de pensée et le texte principal","example":256},"total_tokens":{"type":"integer","description":"Total des tokens consommés pour cette requête","example":269},"output_tokens_details":{"type":"object","description":"Détail des tokens de sortie","properties":{"reasoning_tokens":{"type":"integer","description":"Tokens de raisonnement utilisés lorsque le mode de réflexion est activé","example":128}}}}},"ErrorResponse":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"integer"},"message":{"type":"string"},"type":{"type":"string"},"param":{"type":"string"},"fallback_suggestion":{"type":"string"}}}}},"ResponsesMessage":{"type":"object","required":["role","content"],"properties":{"role":{"type":"string","enum":["user","assistant","system"]},"content":{"oneOf":[{"type":"string"},{"type":"array","items":{"$ref":"#/components/schemas/InputContentPart"}}],"description":"Contenu du message : chaîne simple ou parties de contenu multimodal structurées."}}},"InputContentPart":{"oneOf":[{"$ref":"#/components/schemas/InputTextPart"},{"$ref":"#/components/schemas/InputImagePart"}],"discriminator":{"propertyName":"type"}},"InputTextPart":{"type":"object","required":["type","text"],"properties":{"type":{"type":"string","enum":["input_text"]},"text":{"type":"string"}}},"InputImagePart":{"type":"object","required":["type","image_url"],"properties":{"type":{"type":"string","enum":["input_image"]},"image_url":{"type":"string","description":"URL d’image ou données base64"}}},"AllowedToolsChoice":{"type":"object","required":["type","mode","tools"],"properties":{"type":{"type":"string","enum":["allowed_tools"]},"mode":{"type":"string","enum":["auto","required"],"description":"auto : choisir dans la liste autorisée ; required : doit appeler au moins un outil autorisé"},"tools":{"type":"array","description":"Liste des noms d’outils autorisés","items":{"type":"string"}}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"##Tous les endpoints nécessitent une authentification Bearer Token##\n\n**Obtenez votre clé API :**\n\nVisitez [Gestion des clés API](https://evolink.ai/dashboard/keys)\n\n**Ajouter à l'en-tête :**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"}}},"tags":[{"name":"Génération de Chat","description":"Endpoints de génération de chat IA"}]}
