{
  "openapi": "3.1.0",
  "info": { "title": "Qwen3.5-Plus Responses API Full Reference", "description": "Qwen3.5-Plus OpenAI Responses API full parameter reference", "license": { "name": "MIT" }, "version": "1.0.0" },
  "servers": [{ "url": "https://api.evolink.ai", "description": "Production" }],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/v1/responses": {
      "post": {
        "summary": "Qwen3.5-Plus Responses API",
        "description": "- OpenAI Responses API compatible endpoint\n- Built-in tool support (web search, web extractor, code interpreter, etc.)\n- Simplify multi-turn conversation context management via `previous_response_id`\n- Supported models: `qwen3.5-plus`, `qwen3.5-plus-2026-02-15`",
        "operationId": "createResponsesQwen35PlusEn",
        "tags": ["Chat Generation"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponsesRequest" }, "examples": {
          "simple": { "summary": "Simple call", "value": { "model": "qwen3.5-plus", "input": "Hello, please introduce yourself" } },
          "messages_array": { "summary": "Message array format", "value": { "model": "qwen3.5-plus", "input": [{ "role": "user", "content": "What is Python?" }] } },
          "multi_turn": { "summary": "Multi-turn conversation (using previous_response_id)", "value": { "model": "qwen3.5-plus", "input": "What are its main features?", "previous_response_id": "resp_abc123" } },
          "web_search": { "summary": "Built-in web search", "value": { "model": "qwen3.5-plus", "input": "What are the latest AI technology trends?", "tools": [{ "type": "web_search" }] } },
          "thinking_mode": { "summary": "Thinking mode", "value": { "model": "qwen3.5-plus", "input": "Find all prime numbers between 1 and 100", "enable_thinking": true } }
        } } } },
        "responses": {
          "200": { "description": "Success", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResponsesResponse" } } } },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": { "code": 400, "message": "Invalid request parameters", "type": "invalid_request_error" } } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": { "code": 401, "message": "Invalid or expired token", "type": "authentication_error" } } } } },
          "402": { "description": "Insufficient Quota", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": { "code": 402, "message": "Insufficient quota", "type": "insufficient_quota_error", "fallback_suggestion": "https://evolink.ai/dashboard/billing" } } } } },
          "429": { "description": "Rate Limit Exceeded", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": { "code": 429, "message": "Rate limit exceeded", "type": "rate_limit_error" } } } } },
          "500": { "description": "Internal Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": { "code": 500, "message": "Internal server error", "type": "internal_server_error" } } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ResponsesRequest": {
        "type": "object", "required": ["model", "input"],
        "properties": {
          "model": { "type": "string", "description": "Model name", "enum": ["qwen3.5-plus", "qwen3.5-plus-2026-02-15"], "default": "qwen3.5-plus", "example": "qwen3.5-plus" },
          "input": { "oneOf": [{ "type": "string" }, { "type": "array", "items": { "$ref": "#/components/schemas/MessageSimple" } }], "description": "Input content; supports string or message array", "example": "Hello, please introduce yourself" },
          "stream": { "type": "boolean", "description": "Whether to enable streaming output", "default": false },
          "temperature": { "type": "number", "description": "Sampling temperature (0~2)", "minimum": 0, "maximum": 2, "example": 0.7 },
          "top_p": { "type": "number", "description": "Nucleus sampling probability threshold (0~1)", "minimum": 0, "maximum": 1, "example": 0.9 },
          "tools":{ "type": "array", "description": "Tool list; supports function and built-in tools", "items": { "$ref": "#/components/schemas/ResponsesTool" } },
          "tool_choice": { "oneOf": [{ "type": "string", "enum": ["none", "auto", "required"] }, { "type": "object" }], "description": "Tool call mode control", "default": "auto" },
          "enable_thinking": { "type": "boolean", "description": "Whether to enable thinking mode", "default": true },
          "previous_response_id": { "type": "string", "description": "Previous response ID for multi-turn conversation (valid for 7 days); no need to manually build full message history", "example": "resp_abc123" }
        }
      },
      "MessageSimple": { "type": "object", "required": ["role", "content"], "properties": { "role": { "type": "string", "enum": ["user", "assistant", "system"] }, "content": { "type": "string" } } },
      "ResponsesTool": {
        "type": "object", "required": ["type"],
        "properties": {
          "type": { "type": "string", "enum": ["function", "web_search", "web_extractor", "code_interpreter", "web_search_image", "image_search", "file_search", "mcp"], "description": "Tool type. web_search: web search; web_extractor: web content extraction (must be used with web_search); code_interpreter: code execution; web_search_image: text-to-image search; image_search: image-to-image search; file_search: knowledge base search; mcp: external service via MCP protocol; function: custom function tool" },
          "name": { "type": "string", "description": "Required when type is function. Function name", "example": "get_weather" },
          "description": { "type": "string", "description": "Function description when type is function, helps the model understand when and how to call it", "example": "Get weather information for a specified city" },
          "parameters": { "type": "object", "description": "Function parameter definition when type is function, in JSON Schema format" }
        }
      },
      "ResponsesResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "resp_abc123" },
          "model": { "type": "string", "example": "qwen3.5-plus" },
          "status": { "type": "string", "enum": ["completed", "in_progress", "failed"], "example": "completed" },
          "created_at": { "type": "integer", "example": 1760032810 },
          "output": { "type": "array", "description": "Array of output items", "items": { "$ref": "#/components/schemas/OutputItem" } },
          "output_text": { "type": "string", "description": "Convenience field returning text output content directly", "example": "Hello! I'm Qwen3.5-Plus..." },
          "usage": { "$ref": "#/components/schemas/ResponsesUsage" }
        }
      },
      "OutputItem": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "enum": ["message", "reasoning", "function_call", "web_search_call", "web_extractor_call", "code_interpreter_call"], "description": "Output type", "example": "message" },
          "content": { "type": "array", "description": "Content when type is message", "items": { "type": "object", "properties": { "type": { "type": "string", "enum": ["output_text"] }, "text": { "type": "string", "example": "Hello! I'm Qwen3.5-Plus..." } } } },
          "summary": { "type": "array", "description": "Chain-of-thought summary when type is reasoning", "items": { "type": "object", "properties": { "text": { "type": "string" } } } },
          "name": { "type": "string", "description": "Function name when type is function_call" },
          "arguments": { "type": "string", "description": "Function arguments (JSON string) when type is function_call" },
          "call_id": { "type": "string", "description": "Unique identifier for the function call" }
        }
      },
      "ResponsesUsage": { "type": "object", "properties": { "input_tokens": { "type": "integer", "example": 13 }, "output_tokens": { "type": "integer", "example": 256 }, "total_tokens": { "type": "integer", "example": 269 } } },
      "ErrorResponse": { "type": "object", "properties": { "error": { "type": "object", "properties": { "code": { "type": "integer" }, "message": { "type": "string" }, "type": { "type": "string" }, "param": { "type": "string" }, "fallback_suggestion": { "type": "string" } } } } }
    },
    "securitySchemes": { "bearerAuth": { "type": "http", "scheme": "bearer", "description": "##All endpoints require Bearer Token authentication##\n\n**Get your API Key:**\n\nVisit [API Key Management](https://evolink.ai/dashboard/keys)\n\n**Add to header:**\n```\nAuthorization: Bearer YOUR_API_KEY\n```" } }
  },
  "tags": [{ "name": "Chat Generation", "description": "AI chat generation endpoints" }]
}
