{
  "openapi": "3.1.0",
  "info": {
    "title": "Referencia completa de API Kimi-K2",
    "description": "Referencia completa de la API para la interfaz de chat Kimi-K2, incluyendo todos los parámetros y funciones avanzadas",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.evolink.ai",
      "description": "Entorno de producción"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "Interfaz de Chat Kimi-K2",
        "description": "- Usa el formato del SDK de OpenAI para llamar al modelo Kimi-K2\n- Modo de procesamiento síncrono, respuesta en tiempo real\n- **Conversación de texto**: Diálogo contextual de uno o varios turnos, consulta los ejemplos simple_text y multi_turn\n- **Prompts del sistema**: Personaliza el rol y comportamiento de la IA, consulta el ejemplo system_prompt\n- **Entrada multimodal**: Soporta entrada mixta de texto + imagen, consulta el ejemplo vision\n- **Llamada de herramientas**: Soporta Function Calling, consulta el ejemplo tool_use\n- **Partial Mode**: Soporta modo prefill, consulta el ejemplo partial_mode",
        "operationId": "createChatCompletion",
        "tags": [
          "Completado de chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "simple_text": {
                  "summary": "Conversación de texto de un solo turno",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Please introduce yourself"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "multi_turn": {
                  "summary": "Conversación multi-turno (comprensión de contexto)",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "user",
                        "content": "What is Python?"
                      },
                      {
                        "role": "assistant",
                        "content": "Python is a high-level programming language..."
                      },
                      {
                        "role": "user",
                        "content": "What are its advantages?"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "system_prompt": {
                  "summary": "Uso de prompts del sistema",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are Kimi, an AI assistant provided by Moonshot AI. You excel at conversations in both Chinese and English. You provide safe, helpful, and accurate answers. You will reject any questions involving terrorism, racial discrimination, or violence."
                      },
                      {
                        "role": "user",
                        "content": "What is 1+1?"
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "vision": {
                  "summary": "Entrada multimodal (texto + imagen)",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "Please describe the scene and main elements in this image in detail."
                          },
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg=="
                            }
                          }
                        ]
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "tool_use": {
                  "summary": "Llamada a herramientas (Function Calling)",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Write code to determine if 3214567 is a prime number."
                      }
                    ],
                    "tools": [
                      {
                        "type": "function",
                        "function": {
                          "name": "CodeRunner",
                          "description": "Ejecutor de código que soporta la ejecución de código python y javascript",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "language": {
                                "type": "string",
                                "enum": [
                                  "python",
                                  "javascript"
                                ]
                              },
                              "code": {
                                "type": "string",
                                "description": "Escribe tu código aquí"
                              }
                            }
                          }
                        }
                      }
                    ],
                    "temperature": 1.0
                  }
                },
                "partial_mode": {
                  "summary": "Partial Mode (modo prefill)",
                  "value": {
                    "model": "kimi-k2-thinking",
                    "messages": [
                      {
                        "role": "system",
                        "content": "Extract name, size, price and colors from the product description and output as a JSON object."
                      },
                      {
                        "role": "user",
                        "content": "The SmartHome Mini is a compact smart home assistant, available in black and silver, priced at $149, with dimensions of 256 x 128 x 128mm."
                      },
                      {
                        "role": "assistant",
                        "content": "{",
                        "partial": true
                      }
                    ],
                    "temperature": 1.0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Completado de chat exitoso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Parámetros de solicitud inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 400,
                    "message": "Parámetros de solicitud inválidos",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No autorizado, token inválido o expirado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "Invalid or expired token",
                    "type": "authentication_error"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Cuota insuficiente, se requiere recarga",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 402,
                    "message": "Cuota insuficiente",
                    "type": "insufficient_quota_error",
                    "fallback_suggestion": "https://evolink.ai/dashboard/billing"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Acceso denegado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 403,
                    "message": "Access denied for this model",
                    "type": "permission_error",
                    "param": "model"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Recurso no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "message": "Specified model not found",
                    "type": "not_found_error",
                    "param": "model",
                    "fallback_suggestion": "kimi-k2-thinking"
                  }
                }
              }
            }
          },
          "413": {
            "description": "Carga de solicitud demasiado grande",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 413,
                    "message": "Image file too large",
                    "type": "request_too_large_error",
                    "param": "content",
                    "fallback_suggestion": "compress image to under 10MB"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Semilla aleatoria, rango `[1, 2147483647]`\n\n**Nota:**\n- Usar el mismo valor de semilla puede mantener resultados de generación consistentes\n- Dejar vacío para semilla aleatoria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "message": "Semilla aleatoria, rango `[1, 2147483647]`\n\n**Nota:**\n- Usar el mismo valor de semilla puede mantener resultados de generación consistentes\n- Dejar vacío para semilla aleatoria",
                    "type": "rate_limit_error",
                    "fallback_suggestion": "retry after 60 seconds"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 500,
                    "message": "Error interno del servidor",
                    "type": "internal_server_error",
                    "fallback_suggestion": "try again later"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Error del servicio upstream",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 502,
                    "message": "Upstream AI service unavailable",
                    "type": "upstream_error",
                    "fallback_suggestion": "try different model"
                  }
                }
              }
            }
          },
          "503": {
            "description": "Servicio temporalmente no disponible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": 503,
                    "message": "Servicio temporalmente no disponible",
                    "type": "service_unavailable_error",
                    "fallback_suggestion": "retry after 30 seconds"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Nombre del modelo para completado de chat",
            "enum": [
              "kimi-k2-thinking",
              "kimi-k2-thinking-turbo"
            ],
            "example": "kimi-k2-thinking"
          },
          "messages": {
            "type": "array",
            "description": "Lista de mensajes para la conversación, soporta diálogo de múltiples turnos y entrada multimodal",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "minItems": 1
          },
          "stream": {
            "type": "boolean",
            "description": "Si se transmite la respuesta en streaming\n\n- `true`: Respuesta en streaming, devuelve contenido fragmento a fragmento en tiempo real\n- `false`: Esperar la respuesta completa y devolverla de una sola vez",
            "default": false,
            "example": false
          },
          "max_tokens": {
            "type": "integer",
            "description": "Número máximo de tokens a generar en la respuesta\n\n**Nota**:\n- Un valor demasiado pequeño puede causar una respuesta truncada\n- Si se alcanza el máximo de tokens, finish_reason será \"length\", de lo contrario \"stop\"",
            "minimum": 1,
            "example": 2000
          },
          "temperature": {
            "type": "number",
            "description": "Temperatura de muestreo, controla la aleatoriedad de la salida\n\n**Nota**:\n- Valores más bajos (ej., 0.2): Salida más determinista y enfocada\n- Valores más altos (ej., 1.5): Salida más aleatoria y creativa\n- **Valor recomendado para la serie kimi-k2-thinking: 1.0**",
            "minimum": 0,
            "maximum": 2,
            "default": 1.0,
            "example": 1.0
          },
          "top_p": {
            "type": "number",
            "description": "Parámetro de muestreo nucleus\n\n**Nota**:\n- Controla el muestreo de tokens con probabilidad acumulativa\n- Por ejemplo, 0.9 significa muestrear de los tokens con el 90% superior de probabilidad acumulativa\n- Valor predeterminado: 1.0 (considera todos los tokens)\n\n**Sugerencia**: No ajustes temperature y top_p simultáneamente",
            "minimum": 0,
            "maximum": 1,
            "default": 1.0,
            "example": 0.9
          },
          "top_k": {
            "type": "integer",
            "description": "Parámetro de muestreo Top-K\n\n**Nota**:\n- Por ejemplo, 10 limita el muestreo a los 10 tokens con mayor probabilidad\n- Valores más pequeños hacen la salida más enfocada\n- Valor predeterminado: sin límite",
            "minimum": 1,
            "example": 40
          },
          "n": {
            "type": "integer",
            "description": "Número de completaciones a generar por cada mensaje de entrada\n\n**Nota**:\n- Valor predeterminado: 1, máximo: 5\n- Cuando temperature es muy cercana a 0, solo se puede devolver 1 resultado",
            "minimum": 1,
            "maximum": 5,
            "default": 1,
            "example": 1
          },
          "presence_penalty": {
            "type": "number",
            "description": "Penalización de presencia, número entre -2.0 y 2.0\n\n**Nota**:\n- Los valores positivos penalizan nuevos tokens según si aparecen en el texto, aumentando la probabilidad de discutir nuevos temas",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0,
            "example": 0
          },
          "frequency_penalty": {
            "type": "number",
            "description": "Penalización de frecuencia, número entre -2.0 y 2.0\n\n**Nota**:\n- Los valores positivos penalizan nuevos tokens según su frecuencia en el texto, disminuyendo la probabilidad de repetir las mismas frases textualmente",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0,
            "example": 0
          },
          "response_format": {
            "type": "object",
            "description": "Configuración del formato de respuesta\n\n**Nota**:\n- Establece {\"type\": \"json_object\"} para habilitar el modo JSON, asegurando que el modelo genere JSON válido\n- Al usar response_format con {\"type\": \"json_object\"}, guía explícitamente al modelo para que genere formato JSON en tu prompt\n- Valor predeterminado: {\"type\": \"text\"}\n- **Advertencia**: No mezcles partial mode con response_format=json_object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "text",
                  "json_object"
                ],
                "description": "Tipo de formato de respuesta",
                "default": "text"
              }
            }
          },
          "stop": {
            "oneOf": [
              {
                "type": "string",
                "description": "Palabra de parada única"
              },
              {
                "type": "array",
                "description": "Lista de palabras de parada, máximo 5",
                "items": {
                  "type": "string"
                },
                "maxItems": 5
              }
            ],
            "description": "Secuencias de parada, la generación se detiene cuando se encuentran estas secuencias\n\n**Nota**:\n- Las secuencias de parada no se incluirán en la salida\n- Máximo 5 cadenas, cada una no mayor a 32 bytes"
          },
          "tools": {
            "type": "array",
            "description": "Lista de herramientas para Tool Use o Function Calling\n\n**Nota**:\n- Cada herramienta debe incluir un type\n- La estructura de la función debe incluir name, description y parameters\n- Máximo 128 funciones en el array tools",
            "items": {
              "$ref": "#/components/schemas/Tool"
            },
            "maxItems": 128
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "Rol del mensaje\n\n- `user`: Mensaje del usuario\n- `assistant`: Mensaje del asistente de IA (para conversación de varios turnos)\n- `system`: Prompt del sistema (define el rol y comportamiento de la IA)",
            "enum": [
              "user",
              "assistant",
              "system"
            ],
            "example": "user"
          },
          "content": {
            "oneOf": [
              {
                "type": "string",
                "description": "Contenido del mensaje en texto plano",
                "example": "Please introduce yourself"
              },
              {
                "type": "array",
                "description": "Contenido del mensaje multimodal, soporta entrada mixta de texto e imagen",
                "items": {
                  "$ref": "#/components/schemas/ContentPart"
                }
              }
            ],
            "description": "Contenido del mensaje. Soporta dos formatos:\n\n**1. Cadena de texto plano**: Puede pasar directamente una cadena, ej., `\"content\":\"Por favor preséntate\"`\n\n**2. Array de objetos** (soporta entrada multimodal): Consulta la definición de ContentPart a continuación"
          },
          "name": {
            "type": "string",
            "description": "Nombre del mensaje\n\n**Nota**:\n- Usado para escenarios de juego de roles, el campo name puede verse como parte del prefijo de salida",
            "example": "Kal'tsit"
          },
          "partial": {
            "type": "boolean",
            "description": "Si se habilita Partial Mode\n\n**Nota**:\n- Solo se establece en el último mensaje con role=assistant\n- Establece true para habilitar partial mode (modo prefill)\n- **Advertencia**: No mezcles partial mode con response_format=json_object",
            "default": false
          }
        }
      },
      "ContentPart": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/TextContent"
          },
          {
            "$ref": "#/components/schemas/ImageContent"
          }
        ]
      },
      "TextContent": {
        "title": "Contenido de texto",
        "type": "object",
        "required": [
          "type",
          "text"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text"
            ],
            "description": "Tipo de contenido"
          },
          "text": {
            "type": "string",
            "description": "Contenido de texto",
            "example": "Please describe this image in detail"
          }
        }
      },
      "ImageContent": {
        "title": "Contenido de imagen",
        "type": "object",
        "required": [
          "type",
          "image_url"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "image_url"
            ],
            "description": "Tipo de contenido"
          },
          "image_url": {
            "type": "object",
            "required": [
              "url"
            ],
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "URL de imagen o codificación Base64\n\n**Formato**:\n- Formato URL: `https://example.com/image.png`\n- Formato Base64: `data:image/<format>;base64,<codificación Base64>` (el formato debe ser en minúsculas, ej., png, jpg, jpeg, webp)\n\n**Límites**:\n- Tamaño máximo de imagen: `10MB`\n- Formatos soportados: `.jpeg`, `.jpg`, `.png`, `.webp`",
                "example": "data:image/png;base64,iVBORw0KGgo..."
              }
            }
          }
        }
      },
      "Tool": {
        "type": "object",
        "required": [
          "type",
          "function"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "Tipo de herramienta"
          },
          "function": {
            "type": "object",
            "required": [
              "name",
              "description",
              "parameters"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Nombre de la función\n\n**Nota**:\n- Debe seguir el patrón regex: ^[a-zA-Z_][a-zA-Z0-9-_]{0,63}$\n- Usar nombres claros en inglés será mejor aceptado por el modelo",
                "pattern": "^[a-zA-Z_][a-zA-Z0-9-_]{0,63}$",
                "example": "CodeRunner"
              },
              "description": {
                "type": "string",
                "description": "Descripción de la función, explica lo que hace la función para ayudar al modelo a juzgar y seleccionar",
                "example": "Ejecutor de código que soporta la ejecución de código python y javascript"
              },
              "parameters": {
                "type": "object",
                "description": "Definición de parámetros de la función\n\n**Nota**:\n- La raíz de parameters debe ser un objeto\n- El contenido es un subconjunto de JSON Schema"
              }
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identificador único para la completación de chat",
            "example": "cmpl-04ea926191a14749b7f2c7a48a68abc6"
          },
          "model": {
            "type": "string",
            "description": "El modelo utilizado para el completado",
            "example": "kimi-k2-thinking"
          },
          "object": {
            "type": "string",
            "enum": [
              "chat.completion"
            ],
            "description": "Tipo de respuesta",
            "example": "chat.completion"
          },
          "created": {
            "type": "integer",
            "description": "Marca de tiempo Unix cuando se creó el completado",
            "example": 1698999496
          },
          "choices": {
            "type": "array",
            "description": "Lista de opciones de completado",
            "items": {
              "$ref": "#/components/schemas/Choice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "Choice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "Índice de esta opción",
            "example": 0
          },
          "message": {
            "$ref": "#/components/schemas/AssistantMessage"
          },
          "finish_reason": {
            "type": "string",
            "description": "Razón por la que se completó la generación\n\n- `stop`: Completación natural\n- `length`: Se alcanzó el límite máximo de tokens\n- `content_filter`: El contenido fue filtrado",
            "enum": [
              "stop",
              "length",
              "content_filter"
            ],
            "example": "stop"
          }
        }
      },
      "AssistantMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "Rol del remitente del mensaje",
            "enum": [
              "assistant"
            ],
            "example": "assistant"
          },
          "content": {
            "type": "string",
            "description": "Contenido de la respuesta de la IA",
            "example": "Hi there! How can I help you?"
          },
          "reasoning_content": {
            "type": "string",
            "description": "Contenido del proceso de razonamiento (solo devuelto por los modelos de la serie kimi-k2-thinking)\n\n**Nota**:\n- Característica distintiva de los modelos de la serie Kimi K2 thinking\n- Muestra el proceso de pensamiento y razonamiento del modelo\n- Ayuda a comprender cómo el modelo llega a su respuesta final",
            "example": "The user just said \"hi\". This is a very simple greeting. I should be friendly, helpful, and professional in my response..."
          }
        }
      },
      "Usage": {
        "type": "object",
        "description": "Estadísticas de uso de tokens",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "Número de tokens en la entrada",
            "example": 8
          },
          "completion_tokens": {
            "type": "integer",
            "description": "Número de tokens en la salida",
            "example": 292
          },
          "total_tokens": {
            "type": "integer",
            "description": "Número total de tokens utilizados",
            "example": 300
          },
          "prompt_tokens_details": {
            "type": "object",
            "description": "Desglose detallado de los tokens de entrada",
            "properties": {
              "cached_tokens": {
                "type": "integer",
                "description": "Número de tokens en caché",
                "example": 8
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "Código de error de estado HTTP"
              },
              "message": {
                "type": "string",
                "description": "Tipo de error"
              },
              "type": {
                "type": "string",
                "description": "Tiempo estimado de finalización (segundos)"
              },
              "param": {
                "type": "string",
                "description": "Nombre del parámetro relacionado"
              },
              "fallback_suggestion": {
                "type": "string",
                "description": "Sugerencia para manejar el error"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "##Todas las APIs requieren autenticación Bearer Token##\n\n**Obtener API Key:**\n\nVisita la [Página de gestión de API Key](https://evolink.ai/dashboard/keys) para obtener tu API Key\n\n**Agregar al encabezado de la solicitud:**\n```\nAuthorization: Bearer YOUR_API_KEY\n```"
      }
    }
  },
  "tags": [
    {
      "name": "Completado de chat",
      "description": "Endpoints relacionados con el completado de chat de IA"
    }
  ]
}